@{
    Layout = null;
}

<div class="card-body">
    <div class="form-group row" >
        <div class="col-md-12">
            <button type="button" class="btn btn-primary btn-sm" onclick="AgregarComponente()"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <table id="TablaNuevoComponente" style="display:none">
                <thead>
                    <tr>
                        <th>Componente</th>
                        <th>Subtipo de Componente</th>
                        <th>Comentario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="editor-field">
                                <input id="cmbComponente" name="cmbComponente" />
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                <input id="cmbSubTipoComponente" name="cmbSubTipoComponente" />
                            </div>
                        </td>
                        <td>
                            <div class="k-textbox">
                                <input id="txtComentario" name="txtComentario" />
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <span title="Guardar" class="fa fa-save" aria-hidden="true" style="color: #2D5C88; cursor: pointer; font-size: 13px; " onclick="GuardarNuevoComponente()"></span>
                            <span>&nbsp;&nbsp;</span>
                            <span title="Cancelar" class="fa fa-angle-up" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size: 13px; " onclick="CancelarNuevoComponente()"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-hover" id="tbComponentes" style="width:100%">
            <thead>
                <tr>
                    @*<th>Tipo Activo</th>*@
                    <th style="font-size:11px">Componente</th>
                    <th style="font-size:11px">Subtipo de Componente</th>
                    <th style="font-size:11px">Nombre</th>
                    <th style="font-size:11px">Comentario</th>
                    <th style="font-size:11px">Estado</th>
                    <th style="font-size:11px">Condición</th>
                    <th style="font-size:11px">Creado por</th>
                    <th style="border-left: 1px solid #e2e2e2;font-size:11px">Opciones</th>
                </tr>
            </thead>
            <tbody id="TablaComponente"></tbody>
        </table>
    </div>
</div>
<div class="mt-2 card" id="divComponenteCondicion" style="display:none">
    <div class="card-body">
        <div id="divActualizarCondicion"></div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        CargarComponentes();

        $(".close").click(function () {
            if (@ViewBag.Crea == 1){
                location = "http://" + location.host + "/Asset/Detalle/@ViewBag.ID_ASSE";
            }
        });

    });

    function CargarComponentes() {

        $.ajax({
            url: "/Componente/ListarActivoComponentes/@ViewBag.ID_ASSE",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {

                $('#tbComponentes').dataTable().fnDestroy();
                $("#TablaComponente").empty();

                $.each(data['Data'], function (index, value) {

                    $("#TablaComponente").append(
                        '<tr id="FilaComponente' + (data['Data'][index]['IdActivoComponente']) + '" >' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['NombreComponente']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['NomSubtComp']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['Nombre']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px;">' + (data['Data'][index]['Comentario']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['Estado']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['Condicion']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td>' +
                                '<span id="SC' + (data['Data'][index]['IdActivoComponente']) + '" style="color: #3E4752; font-size: 11px; ">' + (data['Data'][index]['UsuarioAsigna']) + '</span>' +
                                '<div id="divC' + (data['Data'][index]['IdActivoComponente']) + '" style="display:none"><input id="C' + (data['Data'][index]['IdActivoComponente']) + '" type="text"> </div>' +
                            '</td>' +
                            '<td style="text-align: center; border-left: 1px solid #e2e2e2; ">' +
                                '<span id="Eliminar' + (data['Data'][index]['IdActivoComponente']) + '" title="Eliminar" class="fa fa-times" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size: 13px;" onclick="ActualizarEstado(' + (data['Data'][index]['IdActivoComponente']) + ')"></span>' +
                            '</td>' +
                        '</tr>');

                });

                $("#tbComponentes").DataTable({
                    responsive: true,
                    "bLengthChange": false,
                    //"bPaginate": false,
                    //"bInfo": false,
                    //"searching": false,
                    "pageLength": 15,
                    "language": {
                        "lengthMenu": "Mostrar _MENU_ Registros por página",
                        "info": "Mostrando página _PAGE_ de _PAGES_ de _TOTAL_ registros",
                        "infoEmpty": "No hay registros disponibles",
                        "infoFiltered": "(filtrada de _MAX_ registros)",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron registros coincidentes",
                        "paginate": {
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                    },
                });
            },
            error: function (source) {
                toastr.error("Error Carga Json","Error");
            }
        });
    }

    var x = 0;

    function EditarComponente(id) {
        $("#ST" + id).addClass("divHide");
        $("#SC" + id).addClass("divHide");
        $("#Editar" + id).addClass("divHide");
        $("#Eliminar" + id).addClass("divHide");

        $("#divT" + id).removeClass("divHide");
        $("#divC" + id).removeClass("divHide");
        $("#Guardar" + id).removeClass("divHide");
        $("#Cancelar" + id).removeClass("divHide");

    }

    function CancelarEditar(id) {
        $("#divT" + id).addClass("divHide");
        $("#divC" + id).addClass("divHide");
        $("#Guardar" + id).addClass("divHide");
        $("#Cancelar" + id).addClass("divHide");

        $("#ST" + id).removeClass("divHide");
        $("#SC" + id).removeClass("divHide");
        $("#Editar" + id).removeClass("divHide");
        $("#Eliminar" + id).removeClass("divHide");
    }

    function ActualizarComponente(id) {

        //var ta = $("#T" + id).val();
        var cp = $("#C" + id).val();

        $.ajax({
            url: "/Componente/EditarComponente/",
            data: "cp=" + cp + "&id=" + id + "&var=" + Math.random(),
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    CargarComponentes();
                    x = 0;
                }
            }
        });
    }

    function ActualizarEstado(id) {
        $("#divComponenteCondicion").removeAttr("style");
        $("#divComponenteCondicion").attr("style", "display:true");

        $("#divActualizarCondicion").empty();
        $("#divActualizarCondicion").load("/Asset/RecepcionCondicion/" + id + "?var=" + Math.random());
    }

    function AgregarComponente() {

        $("#TablaNuevoComponente").removeAttr("style");
        $("#TablaNuevoComponente").attr("style", "display:true");

        var cmbComponente = $("#cmbComponente").kendoComboBox({
            autoBind: true,
            cascadeFrom: 6,
            filter: "contains",
            dataTextField: "NombreComponente",
            dataValueField: "IdComponente",
            filter: "contains",
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Componente/ListarComponentes/@ViewBag.IdCuentaTipoActivo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var cmbSubTipoComponente = $("#cmbSubTipoComponente").kendoComboBox({
            autoBind: true,
            cascadeFrom: "cmbComponente",
            filter: "contains",
            dataTextField: "NomSubtComp",
            dataValueField: "IdStock",
            filter: "contains",
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Componente/ListarSubTipoComponentes?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

    }

    function CancelarNuevoComponente() {
        $("#TablaNuevoComponente").removeAttr("style");
        $("#TablaNuevoComponente").attr("style", "display:none");
    }

    function GuardarNuevoComponente() {

        var ta = @ViewBag.ID_ASSE;
        var cp = $("#cmbComponente").val();
        var IdStock = $("#cmbSubTipoComponente").val();
        var comentario = $("#txtComentario").val();

        $.ajax({
            url: "/Componente/GuardarNuevoComponente/",
            data: "ta=" + ta + "&cp=" + cp + "&IdStock=" + IdStock +  "&comen=" + comentario + "&var=" + Math.random(),
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    $("#cmbSubTipoComponente").data("kendoComboBox").value("");
                    $("#cmbComponente").data("kendoComboBox").value("");
                    $("#txtComentario").val("");
                    CancelarNuevoComponente();
                    CargarComponentes();
                    x = 0;
                    toastr.success("Se agregó el componente.", "Información Guardada");
                } else {
                    toastr.warning("Genere nuevos registros de stock para poder agregar componentes.", "Mensaje");
                }
            }
        });
    }

</script>
