@{
    Layout = null;
}


<div class="mb-2 card">
    <div class="card-header-tab card-header">Formatos de Entrega y Recepción de Activos</div>
    <div class="card-body">
        <div id="divFormatos"></div>
    </div>
</div>

<script type="text/javascript">
      $.ajax({
            url: "/Asset/AssetTicket/" + "@ViewBag.ID_ASSE",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                $("#divFormatos").empty();
                var actividades = "";
                $.each(data['Data'], function (index) {

                    actividades = actividades +
                    '<div class="form-group row no-gutters">'+
                            '<div class="col-sm-6 col-lg-2">'+
                                (data['Data'][index]['NAM_TYPE_FORM']) +
                            '</div>'+
                            '<div class="col-sm-6 col-lg-3">' +
                                '<a href="\\DeliveryReception/Details/'+ (data['Data'][index]['ID_TICK'])+ '" target="_BLANK" id="'+ (data['Data'][index]['ID_TICK'])+ '">'+ (data['Data'][index]['COD_TICK'])+ '</a>'+
                            '</div>'+
                            '<div class="col-sm-6 col-lg-2">'+
                                (data['Data'][index]['FIR_NAME']) + ''+ (data['Data'][index]['LAS_NAME'])+
                            '</div>'+
                            '<div class="col-sm-6 col-lg-2">'+
                                (data['Data'][index]['CREATE_TICK']) +
                            '</div>'+
                            '<div class="col-sm-6 col-lg-3">'+
                                (data['Data'][index]['ADJUNTOS']) +
                            '</div>'+
                    '</div>';

                });
                $("#divFormatos").append(actividades);
            },
            error: function (source) {
                toastr.error("Error Carga Json Comercial", "Mensaje");
            }
        });
</script>