@{
    Layout = null;
}

<div style="float:left; width:30%; margin:8px 0 15px 0;">
    @using (Html.BeginForm("ExportaPrograma", "Asset", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAssetFind", target = "upload_target" }))
    {
    <div class="titleForm"><div class="title">Asset Software</div></div>
    <div class="bodyForm">
        <div id="divFindTalent" class="inBodyForm">
            <fieldset style="font-size:.9em;">
                <legend>SOFTWARE</legend>
                <div style="display:inline-block; float:right; padding: 5px 15px 15px 5px;">
                    <div style=" float:left; padding:0px 15px 0px 0px; ">
                        <button id="printReportAsset" class="k-button">@ResourceLanguaje.Resource.BtnPrint</button>
                    </div>
                    @*<button id="cancelReportAsset" class="k-button">@ResourceLanguaje.Resource.BtnCancel</button>*@
                </div>
            </fieldset>
        </div>
    </div>
    }
</div>