@{
    ViewBag.Title = "Programas";
    Layout = null;
}

<div class="mb-3 card">
    <div class="card-header-tab card-header">
        Reporte de Activos y Programas
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-2">
                <div class="editor-label">
                    Tipo de Activo
                </div>
                <div class="editor-field">
                    <input id="IdTipoActivo" name="IdTipoActivo">
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    Programa
                </div>
                <div class="editor-field">
                    <input id="IdPrograma" name="IdPrograma" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    Estado
                </div>
                <div class="editor-field">
                    <input id="IdEstado" name="IdEstado">
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    Condición
                </div>
                <div class="editor-field">
                    <input id="IdCondicion" name="IdCondicion" />
                </div>
            </div>
            <div class="col-md-2">
                @using (Html.BeginForm("ExportarListaActivoPrograma", "Asset", FormMethod.Post, new { id = "formExportar", name = "formExportar" }))
                {
                    <br />
                    <button type="button" class="btn btn-light btn-block" onclick="ExportarProgramas();" id="exportar"><i class="fa fa-file-excel"></i> Exportar</button>
                }
            </div>
            <div class="col-md-2">
                <br />
                <button type="button" class="btn btn-primary btn-block" id="Buscar" onclick="CargarGrilla(this)"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <table id="tbPrograma" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Asignado a</th>
                        <th>Tipo de Activo</th>
                        <th>Código</th>
                        <th>Activo</th>
                        <th>Serie</th>
                        <th>Código por Programa</th>
                        <th>Programa</th>
                        <th>Serie de Programa</th>
                        <th>Proveedor</th>
                        <th>Estado</th>
                        <th>Condición</th>
                        <th>Asignado por</th>
                        <th>Fecha de Asig.</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    @*<div id="divPrograma" class="contentView"></div>
    <div id="pagerdivPrograma" class="contentViewPager" style="width:100%"></div>*@
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#IdPrograma").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Programa/ListarProgramas?var=" + Math.random()
                }
            }
        });

        $("#IdTipoActivo").kendoComboBox({
            dataTextField: "NAM_TYPE_ASSE",
            dataValueField: "ID_TYPE_ASSE",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeAsset/ListarTipoActivoProgramas?var=" + Math.random()
                }
            }
        });

        var IdEstado = $("#IdEstado").kendoComboBox({
            autoBind: true,
            dataTextField: "NAM_STAT_ASSE",
            dataValueField: "ID_STAT_ASSE",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Componente/ListarEstadoActivo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdCondicion = $("#IdCondicion").kendoComboBox({
            autoBind: true,
            cascadeFrom: "IdEstado",
            filter: "contains",
            dataTextField: "NAM_COND",
            dataValueField: "ID_COND",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Componente/ListarCondicionActivo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        CargarGrilla();
    });

    function ExportarProgramas() {
        $("#formExportar").submit();
    }

    function CargarGrilla() {
        $('#tbPrograma').dataTable().fnDestroy();

        $('#tbPrograma').DataTable({
            responsive: true,
            ajax: {
                "url": "/Asset/ReporteActivoPorPrograma/",
                "data": function (d) {
                    d.IdTipoActivo = $("#IdTipoActivo").val() == '' ? 0 : $("#IdTipoActivo").val(),
                        d.IdPrograma = $("#IdPrograma").val() == '' ? 0 : $("#IdPrograma").val(),
                        d.IdEstado = $("#IdEstado").val() == '' ? 0 : $("#IdEstado").val(),
                        d.IdCondicion = $("#IdCondicion").val() == '' ? 0 : $("#IdCondicion").val()
                }
            },
            columns: [
                { data: "UsuarioAsignado" },
                { data: "TipoActivo" },
                { data: "CodigoActivo" },
                { data: "NombreActivo" },
                { data: "SerieActivo" },
                { data: "CodigoPrograma" },
                { data: "NombrePrograma" },
                { data: "SeriePrograma" },
                { data: "Proveedor" },
                { data: "Estado" },
                { data: "Condicion" },
                { data: "UsuarioCrea" },
                { data: "FechaAsignacion" }
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros",
                "info": "Mostrando página _PAGE_ de _PAGES_ de _TOTAL_ registros",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrada de _MAX_ registros)",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron registros coincidentes",
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
        });

    }

</script>