@model ERPElectrodata.Models.ASSET

@{
    Layout = null;
}

    <div class="mb-3 card">
        <div class="card-header-tab card-header">
            Trazabilidad
        </div>
        <div class="card-body">
            <form id="Parametros">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="editor-label">
                            Activo
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ID_ASSE)
                            @Html.ValidationMessageFor(model => model.ID_ASSE)
                        </div>
                        <div style="background-color:white; background: url('/Content/Images/origen.jpg') no-repeat;height:10px; width:23px; z-index:2; position:absolute;"></div>
                        <div style="border-radius: 2px 2px 2px 2px; border: 1px solid #aaaaaa; margin-top: 6px; padding: 3px 3px 3px 3px; color: #38607d; z-index:1; text-align:justify">
                            Recuerde que la búsqueda se realizará después de ingresar el cuarto caracter.
                        </div>
                    </div>
                    <div class="col-md-2">
                        <br />
                        <button id="btnBuscar" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSActivoTraza" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#ID_ASSE").kendoComboBox({
            dataTextField: "NAM_ASSE",
            dataValueField: "ID_ASSE",
            template: '<div style="border-top:1px dashed;padding:5px 0px 5px 0px;"><div style="font-weight:bold;">${ data.NAM_TYPE_ASSE }</div>' +
                '<div>Código :&nbsp; ${ data.COD_ASSE }</div>' +
                '<div>Serial :&nbsp;${ data.SER_NUMB }</div></div>',
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                //serverPaging: true,
                //pageSize: 20,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListAllAssetByAcco?var=" + Math.random()
                }
            }
        });
        var ID_ASSE = $("#ID_ASSE").data("kendoComboBox");
        ID_ASSE.list.width(330);


        $("#btnBuscar").click(function (event) {
            event.preventDefault();

            var ID_ASSE = $("#ID_ASSE").data("kendoComboBox");
            if ((ID_ASSE.value()) != 0) {
                //window.open('/Reporting/WF_ReportHistoryByAsset.aspx?id=' + ID_ASSE.value(), '_blank');
                window.frames["RSActivoTraza"].src = "/Reporting/Activo/ActivoTraza.aspx?id=" + ID_ASSE.value();
            }
            else {
                //window.frames["RSActivoTraza"].src = "/Reporting/Activo/ActivoTraza.aspx?id=" + 0;
                toastr.warning("Seleccione un activo.", "Mensaje");
            }

            return false;
        });

    });

</script>
