@{
    ViewBag.Title = "Eliminar";
    Layout = null;
}



@using (Html.BeginForm("EliminarProgramacion", "Certificado", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEliminarCandidato", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea eliminar esta programación?</label>

                                </div>
                            </div>



                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="button" class="btn-shadow btn btn-secondary btn-sm" data-dismiss="modal" aria-label="Close"> No </button>
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-danger btn-sm"> Si, eliminar. </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script type="text/javascript">
    function MensajeEliminar(msg) {
        if (msg == "OK") {
            toastr.success("Se eliminó la programación del certificado", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();

            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
        else {
            toastr.error("Contacte al administrador", "Error");
        }
    }

</script>
