@{
    ViewBag.Title = "Eliminar";
    Layout = null;
}



@using (Html.BeginForm("ExamenRendido", "Certificado", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEliminarCandidato", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblMensajeExamen" for="lblMensajeExamen" class="">¿Rindió el examen?</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="submit" id="btnNo" class="btn-shadow btn btn-secondary btn-sm" name="examenRendido" value="no">&nbsp; No &nbsp;</button>
                                    <button type="submit" id="btnSi" class="btn-shadow btn btn-danger btn-sm" name="examenRendido" value="si">&nbsp; Si &nbsp;</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script type="text/javascript">
    function MensajeExamen(msg) {
        if (msg == "RENDIDO") {
            toastr.success("El examen fue rendido.", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();

            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
        else if (msg == "NO_RENDIDO") {
            toastr.warning("El examen no fue rendido.", "");
            var tabla = $('#tbCertificado').DataTable();
            tabla.ajax.reload();

            $("[data-dismiss=modal]").trigger({ type: "click" });

        } else {
            toastr.error("Contacte al administrador", "Error");
        }
    }

</script>
