#login
{
    display:block;
    margin: 0 auto;
    min-width:1250px;
    max-width:90%;
    /*font-family: "Calibri,Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding-top:75px;
}
/*Contenedor del Grafico y el Formulario de Logeo*/
.contGrafForm
{
width:100%;
display:inline-block;
}
.contcontGraf
{width:52%;
 display:block;
 float:left;
    }
.contGraf
{
    min-height:50px;
    background-color:#516882;
    float:right;
    width:456px;
    border: 0px solid black;
    color:White;
}
.contGraf .titleUno
{
    padding-left:20px;
    font-size:1.1em;
}
.contGraf .parrafo
{
    padding-left:20px;
    font-size:0.8em;
}
.contGraf .boton
{
    padding-left:20px;
    padding-top:5px;
    padding-bottom:20px;
    font-size:1em;
}
.contGraf img
{
    border:0px solid #aaa;
    display:block;
    text-align:center;
    margin:0 auto 0 auto;
    padding-top:20px;
    padding-bottom:20px;
}
.contForm
{
    /*min-height:50px;*/
    float:right;
    width:34%;
    border: 0px solid black;
    padding:15px 100px 0px 0px;
}
.contFormTitle
{
    color:#516882;
    font-size:1.4em;
    padding:15px 0px 10px 0px;
    
}
.k-button
 {
     padding:0px;
     width:100px;
     font-weight:normal;
 }
.k-textbox
 {
     width: 280px;
     padding:0px;
 }
.boton
{
    margin:0px;
    width:100px;
    }
    
/*#login input[type="text"], input[type="password"]
{   font-size: 0.9em;
    width:300px;
    border: 1px solid #aaa;
    background: #fff;
    color: #333;
    padding:4px;
}*/

/*Configurar Pie de Pagina Para Login*/
.pieLogin
{
    /*height:20px;
    margin: 0 auto;
    display:inline-block;
    width:800px;
    padding-top:10px;*/
    border-top:1px solid #aaa;
    display:block;
    margin: 40px auto;
    min-width:860px;
    max-width:860px;
    /*font-family: "Calibri,Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    padding-top:5px;
    font-size:0.9em;
}
.pieLoginLeft
{
    float:left;
}
.pieLoginRight
{
    float:right;
    margin-right:15px;
}
.pieLogin a
{
    text-decoration:none;
    color:Black;
}
.validation-summary-errors {
    color:#B21E1E;
    margin:0px;
    padding:0px;
}
ul {
    list-style:none;
    padding:0px;  
}
li {
    list-style:none;
    margin:0px;
    padding:0px;
}
