.leftpanel{
    top:34px;
    left:0px;
    /*background-color: #1d2939;*/
    /*background-color:#2d89ef;*/
    background-color:#09b1cf;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-height:500px;
    z-index:1;
}
.second{
    left:55px;
    top:0px;
    z-index:1;
     background-color:#87CEFA;
     width:200px;
     padding:15px;
}
ul{
    list-style:none;
    margin:0px;
    padding:20px 0px 0px 0px;
    /*padding:20px 10px 0px 10px;*/
}
ul li{
    list-style:none;
    margin:0px;
    padding:6px 10px 2px 7px;
}
ul li a{
padding-top:5px;
}
.activeMain{
    background-color:#87CEFA;
}
.cuerpoRender{
    top:34px;
    left:55px;
    position: absolute;
}