html{
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    /*font-size:13px;*/
    min-width:1345px;
}
body{
    margin:0;
    padding:0px;
    display:block;
    min-width:1345px;
    width:100%;
    /*font-size: .8em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    
}
header{
    position:fixed;
    /*background-color:#313841;*/
    /*background-color:#e4e7ea;*/
    /*background-color:#eeeeee;*/
    /*background-color:#1d2939;*/
    min-width:1345px;
    background-color:#000;
    width:100%;
    height:42px;
    padding:4px 0px 2px 0px;
    z-index:2;
    /*border-bottom:1px solid #000;*/
}
.menuVertical{
    top:42px;
    left:0px;
    /*background-color: #1d2939;*/
    /*background-color:#2d89ef;*/
    /*background-color:#09b1cf;*/
    position: fixed;
    height: 100%;
    overflow-y: auto;
    min-height:500px;
    z-index:1;
    color: #3e4752;
    background-color:#3E4752;
    /*background-color: #ececec;*/
    width:50px;
    z-index:2;
}
.activeMain{
    background-color:#333;
}
.second{
    left:50px;
    top:42px;
    z-index:2;
     background-color:#3E4752;
     /*width:200px;*/
     padding:0px;
     color:white;
}

.panelPrincipal{
    border:0px solid red;
    /*position:absolute;*/
    width:100%;
    min-width:1000px;
    /*z-index:1;*/
    
}

/*menu s*/
.menuVertical .ulx{
    list-style:none;
    margin:0px;
    padding:20px 0px 0px 0px;
}
.menuVertical .ulx li{
    list-style:none;
    margin:0px;
    padding:6px 10px 2px 7px;
}
.menuVertical .ulx li a{
    padding-top:5px;
}

/*.w0{
    position:fixed;
    width:50px;
    transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    border:1px red solid;
    z-index:2;
}*/
/*second*/
.w1{
    width:0px;   
    color:white;
    transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    overflow:hidden;
    }

.w1AnimOne{
    border-bottom:2px solid black;
    width:200px;
    padding:15px 15px 0px 15px;
    background-color:#333;
}

.w1 nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.w1 nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.w1 li {
    color: white;
    padding: 0;
    margin: 0;
}
.w1 li a {
    text-decoration: none;
    border:0px solid red;
    display:block;
    /*width:100%;*/
    padding:0px;
    margin:0;
    color:white;
    font-size:14px;
    font-weight:600;
}
.w1 li a .inLink {
    padding: 4px 0px 4px 10px;
}
.w1 li a .inLink2 {
    padding: 4px 0px 4px 30px;
} 
.w1 li a:hover {
    background-color: white;
    color: black;
    cursor:pointer;
}
.w1 h1{
    font-size:16px;
    padding:0px;
    margin:0px;
}
.w1 hr{
    /*padding-top:5px;*/
    margin-top:10px;
    margin-bottom:5px;
}

.elementHide
{
    display:none;
    visibility:hidden;
    /*height:0px;*/
}
/*Fin Second*/

/*Config Tools*/
.confTools{

}

.confTools a{
    border:0px solid red;
    /*transition:0.5s ease;
    -webkit-transition:0.5s ease;
    -moz-transition:2s ease;
    background-color:white;*/
}

.confTools a:hover{
    cursor:pointer;
    /*border-width:0;
    border-color:rgba(0,0,0,0.5);
    background-color:red;*/
}   
.confToolsniv1{
    float:right;
    top:42px;
    position:fixed;
    right:0px;
    width:350px;
    background-color:white;
    overflow:hidden;
    height:0px;
    border-left:2px solid black;
    border-right:2px solid black;
    transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
}
.animOne{
    /*border-color:rgba(0,0,0,0.5);*/
    /*z-index:4;*/
    /*opacity:0.5;*/
    border-bottom:2px solid black;
    height:135px;
}