/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    /*font-size: .8em;*/
    margin: 0px 0 0px 0;
    padding: 0px;
    width: 300px;
}

h1{
    padding:0px 0px 15px 0px;
    margin:0px;
    /*font-size:25px;*/
    font-weight:100;
}