
.espacio {
        width: 80px;
}

/*Ticket Problema*/
    .modal-contenido {
        background-color: white;
        width: 900px;
        padding: 10px 20px;
        margin: 20% auto;
        position: relative;
        top:-230px;
        border-radius: 20px;
    }
/*Fin*/

.delete-atta-bene {
    width: 12px;
    height: 12px;
    background: transparent url("/Content/Images/close.png") no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}
.frameHidden {
    display:none;
}
.afterMain {
    width:100%;
    margin-top:0px;
    display:inline-block;
}
.contentView {
    width:100%;
    /*border:1px solid #aaa ;*/ 
    border: none;
    border-radius:0px;
    margin-top:13px;
}
.contentViewPager {
    border:1px solid #eaeaea ;
    margin-top:13px;
    display:inline-block;
    width:100%;
}
/*ESTILOS PARA DETALLES*/
.FondoBlanco01
{
    border-bottom:1px dotted #999999;
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    padding: 2px 0 2px 0px;
    width:100%;
    
}
        
.FondoGris01
    {
        background-color: #F7F7F7;
        display:inline-block;
        text-align:left;
        vertical-align:middle;
        padding: 2px 0 0 0;
        width:100%;        
        
    }
    .borderDetailsRojo
    {
        border: 1px solid #BA141A;
    }

.casilla
{
    padding: 5px 15px 5px 15px;
    border-right:1px dotted #999999;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize;
    /*padding:5px;*/
}
.casilla2
{
    padding: 9px 15px 1px 15px;
    border-right:1px #999999;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize;
}
.divFile a
{
    text-decoration:none;
}
.smallTitle
{
    color:#999999;
}
.classRed
{
    color:Red;
    text-transform: capitalize;
}
.smallField
{
    color:#444444;
    text-transform: capitalize;
}
.detailsSummary
{
    clear:both;
    
}
#detSummary .messageData {
    padding-bottom:7px;
}

.messageData{
    	margin-left:90px;
	position:relative;
	/* background:#ececec url('/img/message_bg.png') repeat-x top; */
        /*background:#fff;*/
	border:1px solid #ccc;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
        /*box-shadow:2px 2px 2px #bbb;*/
}
.containerdt{
    padding:10px 15px 10px 15px;    
}
.containerdt .dadjuntos
{
    padding:5px 0px 0px 40px;
}
.containerdt .dadjuntos a
{
    text-decoration:none;
}
.containerdt .dadjuntos a:hover
{
    font-weight:bold;
    /*font-size: 1em;*/
}
.userData {
	float:left;
	width:76px;
}
.asignedImage {
	border:0px solid #ddd;
	width:70px;
	height:66px;    
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;        
}
.asignedImage img
{
    border:1px solid #ddd;
    border-radius:4px;
    width:70px;
    min-width:70px;
}
.messageArrow {
	background:url('/Content/Images/message_arrow.png') no-repeat;
        float:left;
	width:15px;
	height:17px;
        margin-top: 15px;
        left:-11px;
        position:absolute;
}
.msgBoxDetTDI1{
    text-transform: capitalize;
    background:url('/Content/Images/comment.gif') no-repeat;
    padding:0px 0px 0px 16px;
    float: left;
}
.msgBoxDetTDI2{
    text-transform: capitalize;
    background:url('/Content/Images/transfer.png') no-repeat;
    padding:0px 0px 0px 16px;
    float: left;
}
.msgBoxDetTDI3{
    text-transform: capitalize;
    background:url('/Content/Images/update.png') no-repeat;
    padding:0px 0px 0px 16px;
    float: left;
}
.msgBoxDetTDI8{
    text-transform: capitalize;
    background:url('/Content/Images/update.png') no-repeat;
    padding:0px 0px 0px 16px;
    float: left;
}
.msgBoxDetTDI9{
    text-transform: capitalize;
    padding:0px 0px 0px 16px;
    float: left;
}
.messageBoxDet {
	color:#336699;
	margin:4px 9px 3px 8px;
	padding-bottom:5px;
    padding-top:0px;
	overflow:auto;
	border-bottom:1px dotted #ccc;
    text-transform: capitalize;
}
.messageBoxDet2 {
	color:#999999;
	margin:1px 10px 0px 30px;
	padding-bottom:0px;
	overflow:auto;
	border-bottom:1px dotted #ccc;
    text-transform: capitalize;
    /*font-size: .75em*/
}
.msgBoxDetUser{
    float:left;
    border:0px solid black;
}
.msgBoxDetCreate{
    float:left;
    background:url('/Content/Images/create.png') no-repeat;
    padding-left: 15px;
    margin-left: 5px;
    /*font-size: .9em;*/
    color:#999999;
}
.msgBoxDetUserAssi{
    float:right;
    border:0px solid black;
}
.msgBoxBody{
    padding:3px 0px 6px 0px;
    margin:0px 10px 0px 10px;
    border-bottom:1px dotted #ccc;
    /*border:1px solid #ccc;*/
    overflow :auto;
    text-align: justify;
}
.listActCont
{
    border-bottom:1px dotted #999999;
    text-transform:capitalize;
    width:100%;
    display:inline-block;
    /*font-size:.9em;*/
}
.listActContGris
{
     width:37%;
     color:#336699;
     float:left;
}
.listActContGrisR
{
     width:32%;
     color:#336699;
     float:right;
     text-align:right;
}
.listActContGrisC
{
     width:31%;
     color:#336699;
     float:right;
     text-align:right;
}
.listActContBlack
{
     width:30%;
     color:Black;
     float:left;
     padding-left:5px;
}
/*FIN DE ESTILOS PARA DETALLES*/

/*ESTILOS PARA FORMULARIOS*/
form {
    /*font-size:0.95em;*/
}
.titleForm
{
    height:auto;
    /*background-color:#2D5C88;*/
    width:100%;
    background-color:#3E4752;
    /*color:white;*/
    color:white;
    border-radius:0px 0px 0px 0px;
}
.titleForm .title
{
    padding:4px 0px 5px 10px;
    text-transform:capitalize;
}
.bodyForm
{
    width:100%;
}
.inBodyForm
{
    border:1px solid #e2e2e2;
    border-radius:0px 0px 0px 0px;
}

.divFondoUno
{
    background-color: #FFFFFF;
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    padding:3px 0px 3px 0px;
    width:100%;
    display:inline-flexbox;
}

.divFondoDos
{
    background-color: rgba(241,241,241,0.5); /*#ebebeb #f5f5d5; */
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    padding:3px 0px 3px 0px;
    width:100%;
}

.divSpace3 {
    min-width:10px;
    width:2.3%;
    float:left;
    height:1px;
}

.divCont3 {
    min-width:220px;
    width:30%;
    float:left;   
}

.divCont4 {
    min-width:220px;
    width:100%;
    float:left;   
}


.divSpace2 {
    min-width:10px;
    width:3.5%;
    float:left;
    height:1px;
}
.divSpace2_a {
    min-width:10px;
    width:2%;
    float:left;
    height:1px;
}

.divCont2 {
    min-width:220px;
    width:45%;
    float:left;   
}

.divHide
{
    display:none;
    visibility:hidden;
    height:0px;
}
.divVisible
{
    visibility:visible;
}

.k-combobox {
    min-width:220px;
    max-width:220px;
    width:100%;
}
.dropdownKendo {
    min-width:220px;
    max-width:100%;
    width:100%;
}
.k-datetimepicker {
    min-width:220px;
    max-width:220px;
    width:100%;
}

.k-datepicker{
    min-width:220px;
    max-width:220px;
    width:100%;
}

.k-timepicker{
    min-width:220px;
    max-width:220px;
    width:100%;
}

.k-button {
    width:100px;
    font-weight:normal;
}
.k-textbox {
    min-width:220px;
    max-width:220px;
    width:100%;
}
.k-numerictextbox {
    min-width:220px;
    max-width:220px;
    width:100%;
}
.k-state-selected {
    /*background: #679700;*/
    border: #dadada;
    /*background-color:#ffff00;*/
}
/*.k-progress-status-wrap {
  background: #ffff00;
}*/
/*FIN DE ESTILOS PARA FORMULARIOS*/

/*ESTILO DE LAS GRILLAS*/
.titleSummary {
color:#999999;
float:left;

}
.textSummary {
padding-left:5px;
float:left;
}
.textSummary a:hover{
color:#336699;    
}

.condition
{
    text-transform: capitalize;
    border-radius:4px 0 0 0;
    color:white;
    width:10%;
    padding:3px 0px 3px 10px;
    -moz-border-radius:4px 0 0 0;-webkit-border-radius:4px 0 0 0;
    float:left; /*background-color:pink;*/
    border:0px solid white;
}

.incidentHomeList * {
    -moz-user-select: none;
	-webkit-user-select: none;
	user-select:none;
}

.incidentHomeList  {
	border:1px solid f5f5f5;
	/*-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;*/
    margin: 0px 0px 10px 0px;
    width:100%;
    background-color:#f5f5f5;    
}

.incidentHomeListBlock1 {
	margin-bottom:0;
    padding:2px 2px 0px 2px;
	border-radius:0px 0px 0 0;
    background-color:#F5F5F5;
}

.incidentHomeListHeader {
    color:#666;
    width:100%;
    display: inline-block;
    /*font-size:.9em;*/
}

.FondoNegro
{
     display: inline-block;
     background-color:#333333;
     color:White;
     width: 80%;    
}

.cabeceraLista
{
     display: inline-block;
     background-color:#333333;
     color:White;
     width: 80%;    
}

.indicador {

}
.incidentHomeListHeader a {
	color:#444;
	font-weight:bold;
}

#divPriority { 
    
    display:block; 
    float:right;
    color:white;
    width: 120px;
    font-weight: bold;
}

.incidentHomeRequesterIcon{
    background-repeat: no-repeat;
    float:left;
    width:30%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
    color:White;
    border:0px solid red;
    /*margin: 3px 0px 0px 5px;*/
}
.status
{
    text-transform: capitalize;
    border-radius:4px 0 0 0;
    color:white;
    width:20%;
    padding:3px 0px 3px 10px;
    -moz-border-radius:4px 0 0 0;-webkit-border-radius:4px 0 0 0;
    float:left; /*background-color:pink;*/
    border:0px solid white;
}

.incidentHomeExpTime{
    /*background-image:url('../Images/HomeIncident/clock.png');*/
    background-repeat: no-repeat;
    display:block; 
    float:left;
    width:18%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
    color:White;
}

.incidentHomeModified{
    background-repeat: no-repeat;
    display:block; 
    float:left;
    width:21%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
    color:White;
}
.incidentHomeCreate{
    background-repeat: no-repeat; 
    float:left;
    width:21%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
    color:White;
    border:0px solid red;
}

.incidentHomeCCIcon{
    background-repeat: no-repeat; 
    float:left;
    width:18%;
    padding:3px 0px 3px 5px;
    /*font-size: .85em;*/
    text-transform: capitalize;
    color:White;
}

.ID_PRIO_1{
    display:block; 
    float:right;
    color:white;
    width: 165px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#BA141A;
    text-transform: capitalize;
    padding:4px 10px 3px 10px;
    /*-moz-border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
    border-radius:4px 0 4px 0;*/
}
.ID_PRIO_2{
    display:block; 
    float:right;
    color:white;
    width: 165px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#F2BA0C;
    text-transform: capitalize;
    padding:4px 10px 3px 10px;
    /*-moz-border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
    border-radius:4px 0 4px 0;*/
}

.ID_PRIO_3{
    display:block; 
    float:right;
    color:white;
    width: 165px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#679700;
    text-transform: capitalize;
    padding:4px 10px 3px 10px;
    /*-moz-border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
    border-radius:4px 0 4px 0;*/
}

.ID_PRIO_4{
    display:block; 
    float:right;
    color:white;
    width: 165px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#2D5C88; 
    text-transform: capitalize;
    padding:4px 10px 3px 10px;
    /*-moz-border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
    border-radius:4px 0 4px 0;*/
}

.ID_PRIO_5{
    display:block; 
    float:right;
    color:white;
    width: 165px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#333333;
    text-transform: capitalize;
    padding:4px 10px 3px 10px;
    /*-moz-border-radius:4px 0 0 0;
    -webkit-border-radius:4px 0 0 0;
    border-radius:4px 0 4px 0;*/
}

.incidentHomeSumary100 {
    /*background-repeat:no-repeat;
    background-position:-30px;*/
    /*background-color:White;*/
    width:100%;
    height:25px;
    overflow :auto;
    margin:0px;
    padding:0px;
}

.incidentHomeSumary {
    /*background-repeat:no-repeat;
    background-position:-30px;*/
    /*background-color:White;*/
    width:80%;
    height:25px;
    overflow :auto;
    margin:0px;
    padding:0px;
}

.incidentHomeSumary a {
	/*font-size:.85em;*/
    font-weight:bold;
	padding-top:-10px;
	padding-left:10px;
	padding-bottom:6px;
    margin:0px;
	color:#444;
	display:block;
	min-height:20px;
    /*margin-right:220px;*/
    text-decoration:none;
}

.incidentHomeSumary a:hover {
    color:#005fbe;
    background-color:#F2F5F7;
}

.incidentHomeRes {
	color:black/*#888*/;
    padding-bottom:3px;
    padding-left:2px;
    /*background-color:White;*/
    border-radius:0px 0px 1px 4px;
    width:80%;
    display: inline-block;
    /*font-size:.9em;*/
    text-transform:capitalize;
}

.incidentHomeRes100 {
	color:black;
    padding-bottom:3px;
    padding-left:2px;
    border-radius:0px 0px 1px 4px;
    width:100%;
    display: inline-block;
    text-transform:capitalize;
}

.contraya
{
   padding:0px 0px 0px 5px;
}

.raya
{
   border-top:1px dotted black;
   width:75.5%;
   padding-bottom:2px; 
}

.raya100
{
   border-top:1px dotted black;
   width:100%;
   padding-bottom:2px; 
}

.incidentHomeRes a {
	/*font-weight:bold;*/
        text-decoration:none;
        text-transform: capitalize;
        
}
.ticket{
    color: black/*#336699*/;
    /*border:1px solid black;*/
    width:20%;
    float:left;
    /*padding:0px 0px 0px 10px;*/
    padding:3px 0px 3px 10px;
    text-transform: capitalize;
}
.incidentHomeRes .numTicket{
    color: black/*#336699*/
}

.cateTicket{
    color: black/*#336699*/;
    /*padding:0px 0px 0px 6px;*/
    padding:3px 0px 3px 10px;
    width:51%;
    float:left;
    text-transform: capitalize;
    /*border: 1px solid black;*/
    
}
.viaTicket{
    color: black/*#336699*/;
    width:20%;
    padding:0px 0px 0px 7px;
    float:left;
    text-transform: capitalize;
}

.incidentHomeRes .createBy{
    color: black/*#336699*/;
    width:18%;
    padding:0px 0px 0px 4px;
    float:left;
    text-transform: capitalize;
}
.incidentHomeRes .assignedTo{
    color: black/*#336699*/;
    width:18%;
    padding:0px 0px 0px 5px;
    float:left;
    text-transform: capitalize;
    /*border: 1px solid black;*/
}
.incidentHomeRes .subcateTicket{
    color: black/*#336699*/;
}
/*FIN DE ESTILO DE LAS GRILLAS*/

/*BARRA SUB MENU*/
/*nav
{
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
    border-left:1px solid #333333;
    border-right:1px solid #333333;
    background-color:#333333;
    font-size:0.9em;
    width:100%;
}
nav ul
{
   margin:0px;
   padding:0px;
   /*color:White;*/
/*}
nav li
{
    display:inline-block;
    margin-right: -4px;
    padding:0px;
    width:100px;
    
}
nav ul li a
{
    
    text-decoration:none;
    color:White;
    margin:5px 0px 5px 0;
    display:block;
    text-align:center;
    border-right:1px solid white;*/
    /*border:1px solid white;*/
/*}
nav ul li a:hover
{
    
    font-weight:bold;
    background-color:none;
}*/

/*FIN BARRA SUB MENU*/

/*BARRA MENU PRINCIPAL EN HEADER*/
#icon-change-acco{
    background-image: url("/Content/Images/obj1.png");
    background-position:-81px -30px;
    background-repeat:no-repeat;
    margin-left:5px;
    cursor:pointer;
    width:13px;
    height:16px;
}
/*FIN BARRA MENU PRINCIPAL EN HEADER*/

/*Sección de Estados (Actualmente del 1 al 4)*/
#ticketsByStatus{
    width: 100%;
    border-radius:0px;
    height:65px;
    border:0px solid black;
    /*font-size:1.1em;*/
    /*margin-top:15px;*/
}
.ticketByStatusP4_1
{
    width: 25%;
    border:0px solid black;
    height:50px;
    float:left;
    display:block;
}
.ticketByStatusP4
{
    padding:0px 0px;
}
.ticketByStatusP4 :hover
{
    cursor:pointer
}
.tabStatus1
{
    width:95%;
    border:1px solid #BA141A;
    background-color:#BA141A;
    height:60px;
    border-radius:0px 0px 0px 0px;    
    vertical-align:middle;
    display:block;
   
}
.tabStatus2
{
    width:90%;
    border:1px solid #F2BA0C;
    background-color:#F2BA0C;
    height:60px;  
    vertical-align:middle;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.tabStatus3
{
    width:90%;
    border:1px solid #679700;
    background-color:#679700;
    height:60px;  
    vertical-align:middle;
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}
.tabStatus4
{
    width:95%;
    border:1px solid #2D5C88;
    background-color:#2D5C88;
    height:60px;
    border-radius:0px 0px 0px 0px;    
    vertical-align:middle;
    display:block;
    float:right;
}

/* Gestión de Problemas*/
.tabStatus5
{
    width:95%;
    border:1px solid #58D3F7;
    background-color:#58D3F7;
    height:60px;
    border-radius:0px 0px 0px 0px;    
    vertical-align:middle;
    display:block;
    float:right;
}
/*Fin*/
.boxQty
{
    margin:10px;
    width: auto;
    height:38px;
    /*background-color:White;*/
    float:left;
    color:white;
    padding:0px 20px 0px 8px;
    display:block;
    vertical-align:middle;
    font-size:26px;
    font-weight:500;
    /*border-radius:4px;*/
    border-right:1px white solid;    
}
.tab-active-marks {
	/*position:absolute;*/
	margin:8px 25px;
	bottom:1px;
	width:13px;
	height:7px;
	background:url('../Images/HomeIncident/eu_homemain_button_mark.png') no-repeat;
}
.tab-active-marks2 {
	/*position:absolute;*/
	margin:-6px 25px;
	bottom:1px;
	width:13px;
	height:7px;
	background:url('/Content/Images/eu_homemain_button_mark.png') no-repeat;
}
.letras
{
    margin-top:11px;
    color:White;
}
.letrasActive
{
    font-weight:bolder;
}

#gridTicketsByStatus
{
    width:100%;
}

/*Fin Sección de Estados*/

/*Cambio de menu*/
#mainPrincipal{
    width: 100%;
    /*box-shadow:0px 0px 5px #666;*/
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    height:50px;
    border:0px solid black;  
    margin:-5px 0px 0px 0px;
    padding:0px 0px 45px 0px;
    
}
#mainPrincipal a
{
    text-decoration:none;
}

.mainP6
{
    width: 15%;
    border:0px solid black;
    height:50px;
    float:left;
    display:block;
}

.inmainP6
{
    width:100%;
    border:1px solid #D5D5D5;
    background-color:#F5F5F5;
    height:60px;
    border-radius:2px;    
    vertical-align:middle;
    display:block;
    z-index:1;
}

.inmainP6:hover
{
    text-decoration:none;
    /*border:1px solid #F2BA0C ;*/
    background-color:#E8E8E8;
}
.activeMP
{
    border:1px solid #F2BA0C ;
    background-color:#EAEAEA;
}

.titleMainP6
{
    padding:12px 5px 0px 10px;
    font-weight:bolder;
    /*font-size:1.2em;*/
}
.subTitleMainP6
{
    padding:0px 5px 0px 10px;
}
.space
{
    width: 2%;
    border:0px solid black;
    height:50px;
    float:left;
}
/*Fin Cambio Menu*/

/*MODAL POP UP*/
.divLoading
{
    background-image:url('/Content/Images/loading.gif');
    background-repeat:no-repeat;
    width:43px;
    height:11px;
    float:right;
    padding:35px 6px 6px 6px;
    margin-top:35px;
}

    .divpopupmodal {
        background-color: lightblue;  
        width: 100%;  
        min-height: 200px;
    }
    .modalcad {  
        background-color: white;  
        color: black;  
        display: block;  
        position: absolute;
        left: 50%;
        border: 1px solid #2D5C88;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
    }
    .titlemodalcad
    {
        top: 0;
        left: 0;
        background-color: #2D5C88;
        width: 100%;
        height: 25px;
        color: white;
        /*padding: 6px 0 0 ;*/
        padding-left:6px;
        padding-top:3px;
        padding-bottom:3px;
        /*font-size: 10pt;*/
        font-weight: 700;
        font-family: Arial;
    }
    .contenidomodalForm
    {
        padding: 6px 0 3px 0;
    }
    .contenidomodal
    {
        padding: 6px 6px 3px 6px;
    }
    .backgroundcad
    {
        background-color: black;
        opacity: 50;
        filter: alpha(opacity=50);
        background-color: rgba(0,0,0,0.50);
        width: 100%;
        
        min-height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
    }
    .closebtnmodalcad {
	    width: 20px;
	    height: 20px;
	    float: right;
	    top: 0;
        color: white;
	    /*background-image: url('/Images/App/Cancel.gif');*/
	    background-repeat: no-repeat;
	    background-position:center;
	    background-color: transparent;
	    display: block;
    }
    .closebtnmodal:hover {
	    cursor: pointer;
    }
/*FIN MODAL POP UP*/
/*css Talent*/
.casilla3
{
    padding: 9px 15px 1px 0;
    border-right:1px #999999;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize;    
}
.BtnChange
{
    width: 120px;
    padding-top: 4px;
    margin: 0 auto;
}
.MarcoFotoProfile
{
    /*width: 94px;
    height: 90px;
    padding: 4px 0 0 0;*/
    background-color:white;
    border: 1px solid #e2e2e2;
    /*border-radius: 2px 2px 2px 2px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: -51px;
}
.BordeInternoFotoProfile
{
    /*border: 1px solid #ddd;*/
    margin: 0 auto;
    text-align:center;
}
.MarcoFoto
{
    width: 94px;
    height: 90px;
    padding: 4px 0 0 0;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 2px 2px 2px 2px;
}
.BordeInternoFoto
{
    width:84px; 
    height:84px; 
    border: 1px solid #ddd;
    margin: 0 auto;
    text-align:center;
}
.BordeInternoFotoList
{
    min-width:230px; 
    width: auto;
    height:84px; 
    border-right: 1px dashed #ddd;
    padding: 0 8px 0 0;
    float:left;
    margin: 7px 8px 0 8px;
}
.ClassFoto
{
    width:85px; 
    height:85px; 
}
.ClassFotoSave
{
    width:64px; 
    height:64px;
    border:1px solid #ddd;
}
.marcoForm
{
    height:auto;
    background-color:#f3f3f3;
    width:100%;
    border-color:#f3f3f3;
    color:#7c7c7c;
    font-size:1.1em;   
}
.marcoForm .title
{
    padding:2px 0px 5px 10px;
    /*font-size:.9em;*/
    text-transform:capitalize;
}
.bodyMarcoForm
{
    width:100%;
}
.inBodyMarcoForm
{
    border:1px solid #ddd;
}

.delete-link {
    width: 12px;
    height: 12px;
    background: transparent url("/Content/Images/close.png") no-repeat 50% 50%;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}
.divOculto
{
    position: absolute;
    opacity:0.5; 
    filter:alpha(opacity=50);
    background: transparent url("/Content/Images/refresh.png") no-repeat;
    width: 84px;
    height: 84px;
    display:none;
}
.divListWhite
{
    background-color:#FFFFFF;
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    padding:3px 0 3px 0;
    width:100%;
    display:inline-flexbox;
}
.casilla4
{
    padding: 0 0 0 20px;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize;    
}
.casilla5
{
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize;    
}

.k-textboxSummary
{
    min-width:99%;
    max-width:99%;
    width:99%;
}

.divLectSpacio1 {
    width:5%;
    float:left;
    height:1px;
}
.divLectCont1 {
    width:90%;
    float:left;
    /*padding: 0 0 0 20px;*/
    /*font-size:.9em;*/
    text-transform:capitalize; 
}

.divLectSpacio2 {
    width:3.33%;
    float:left;
    height:1px;
}
.divLectCont2 {
    width:45%;
    float:left;
    /*padding: 0 0 0 20px;*/
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.divLectSpacio3 {
    width:3%;
    float:left;
    height:1px;
}
.divLectCont3 {
    width:29.33%;
    float:left;
    /*padding: 0 0 0 20px;*/
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.divLectSpacio4 {
    width:2%;
    float:left;
    height:1px;
}
.divLectCont4 {
    width:22.5%;
    float:left;
    /*padding: 0 0 0 20px;*/
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.divLectSpacio5 {
    width:1.66%;
    float:left;
    height:1px;
}
.divLectCont5 {
    width:18%;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.divLectSpacio4_ {
    width:2%;
    float:left;
    height:1px;
}
.divLectCont41_ {
    width:22%;
    float:left;
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.divLectCont42_ {
    width:8%;
    float:right;
    /*font-size:.9em;*/
    text-transform:capitalize; 
}
.inBodyFormRBL
{    
    border-bottom:1px solid #e2e2e2;
    border-left:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    /*border-radius:0px 0px 0px 0px;*/
}
.k-textboxAjuste
{
    min-width:100%;
    max-width:100%;
}
/* SubMenu */
.navSubMenu
{
    list-style-type:none;
    margin:0px 0px 8px 0px;
    padding:0px;
    border:1px solid #e2e2e2;
    background-color:#eaeaea;
    /*font-size:0.9em;*/
    width:100%;
}
.navSubMenu ul
{
   margin:0px;
   padding:0px;
   color:White;
}
.navSubMenu li
{
    display:inline-block;
    margin-right: -4px;
    padding:0px;
    width:100px;
}
.navSubMenu ul li a
{    
    text-decoration:none;
    color:black;
    margin:5px 0px 5px 0;
    display:block;
    text-align:center;
    border-right:1px solid black;
    /*border:1px solid white;*/
}
.navSubMenu ul li a:hover
{
    
    font-weight:bold;
    background-color:none;
}
.TrainingSumary {
    background-repeat:no-repeat;
    background-position:-30px;
    width:99%;
    height:60px;
    overflow :auto;
    border:1px solid #e2e2e2;    
}

.TrainingContent {
	/*font-size:.85em;*/
    font-weight:bold;
	padding-top:3px;
	padding-left:10px;
	padding-bottom:6px;
	color:#444;
	display:block;
	min-height:30px;
    text-decoration:none;
    height:75px;
}
.Training {
    background-repeat:no-repeat;
    background-position:-30px;
    background-color:White;
    width:75.5%;
    height: 90px;    
}
.TrainingHome  {
	border:1px solid #aaa;
    margin: 0px 0px 3px 0px;
    width:98%;
    margin: 0 auto;
}
.TrainingHomeListHeader {
    color:#666;
    border-radius:0px 0px 0 0;
    width:75.5%;
    display: inline-block;
    /*font-size:.9em;*/
}
.TrainingHeaderContent
{
     display: inline-block;
     border-radius:0px 4px 0px 4px;
     background-color:#333333;
     color:White;
     width: 100%;    
}
.marcoAchie1
{
    background-color:#ddd;
    width:99%;
    padding:5px 0 5px 1%;
    height:15px;
    color:black;
    text-transform:capitalize;
    border:1px solid #ddd;
}
.marcoAchie2
{
    width:99%;
    border:1px solid #e2e2e2;
    padding:5px 0 5px 1%;
}
.marcoAchie2Sangria
{
    color:#444444;
    text-transform: capitalize;
    margin: 5px 0 5px 0;
}
.TitleOP
{
     display: inline-block;
    /*font-size: 1em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
     background-color:#ddd;
     color:#444444;
     width: 75.5%;    
}
.TitleOPText{
    background-repeat: no-repeat;
    float:left;
    width:15%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
}
.TitleOPText2{
    background-repeat: no-repeat;
    float:left;
    width:20%;
    padding:3px 0px 3px 5px;
    text-transform: capitalize;
}
.OPDetails {
    /*font-size: .95em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-repeat:no-repeat;
    color:black;
    background-color:White;
    width:100%;
    height:40px;
    overflow :auto;
}
.OPDetails2 {
    /*font-size: .95em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-repeat:no-repeat;
    color:black;
    background-color:White;
    width:100%;
    height:70px;
    overflow :auto;
}
.OPContentDetails {
    background-repeat:no-repeat;
    color:black;
    background-color:White;
    width:100%;
    height:100%;
    overflow :auto;
    display:none;
}
.OPContentActConf {    
    color:black;
    background-color:White;
    width:100%;
}
.OPStatus{
    display:block; 
    float:right;
    color:white;
    width: 100px;
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    background-color:#4B627C; 
    text-transform: capitalize;
    padding:3px 10px 3px 10px;
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
    border-radius:4px 4px 4px 4px;
}
.btnExpand{
    display:block; 
    float:right;
    background-image:url('../Content/Images/expandOutHand.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
    margin:3px 5px 0 0;
}
div.btnExpand:hover {
    background-image:url('../Content/Images/expandInHand.png');
    background-repeat: no-repeat;
}
.btnContract{
    display:block; 
    float:right;
    background-image:url('../Content/Images/contractOutHand.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
    margin:3px 5px 0 0;
}
div.btnContract:hover {
    background-image:url('../Content/Images/contractInHand.png');
    background-repeat: no-repeat;
}
.btnExpandTicket{
    display:block; 
    float:right;
    background-image:url('../Content/Images/expandOutHandTicket.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
    margin:3px 5px 0 0;
}
div.btnExpandTicket:hover {
    background-image:url('../Content/Images/expandInHandTicket.png');
    background-repeat: no-repeat;
}
.btnContractTicket{
    display:block; 
    float:right;
    background-image:url('../Content/Images/contractOutHandTicket.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
    margin:3px 5px 0 0;
}
div.btnContractTicket:hover {
    background-image:url('../Content/Images/contractInHandTicket.png');
    background-repeat: no-repeat;
}
.divAjax-Loading
{
    background-image:url('/Content/Images/ajax-loading.gif');
    background-repeat: no-repeat;
    display:block; 
    float:right;    
    width:16px;
    height:11px;
    margin:6px 10px 0 0;
}

.k-textboxExpand {
    min-width:100%;
    max-width:100%;
    width:100%;
}

.ObjectiveContent {
    width: 100%; 
    display: inline-block; 
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #f6f6f6;
    background-color: #f6f6f6;  
}
.ObjectiveText {
    float: right; 
    width: 88%; 
    min-height: 40px; 
    padding: 3px 1%  3px 1%;     
    text-align:justify;
    background-color: white;
}
.ObjectContentNumber {
    /*font-size: 2em;*/ 
    float: right; 
    width: 10%; 
    min-height: 40px; 
    text-align: center; 
    vertical-align: central; 
    height:100%; 
    position:relative;
}
.ObjectNumber {
    position: absolute;
    top: 50%; 
    margin-top:-17px; 
    text-align:center; 
    width:100%;
}
.editCombo {
    position: absolute;
    background-image:url('/Content/Images/Edit.png');
    background-repeat: no-repeat;
    width:16px;
    height:16px;
    top:23px;
    right:25px;
}
.editCombo:hover
{
    background-image:url('/Content/Images/EditHover.png');
    cursor: pointer;
}
.botonDownload {
    position: absolute; 
    width: 24px; 
    height: 24px; 
    margin: 0 auto; 
    top: 50%; 
    left: 50%; 
    margin-top: -12px; 
    margin-left: -12px; 
    background: transparent url('/Content/Images/DownloadDoc.png') no-repeat;
}
.botonDownload:hover {
    background: transparent url('/Content/Images/DownloadDocHover.png') no-repeat;
    cursor: pointer;
}
.botonUpload {
    position: absolute; 
    width: 24px; 
    height: 24px; 
    margin: 0 auto; 
    top: 50%; 
    left: 50%; 
    margin-top: -12px; 
    margin-left: -12px; 
    background: transparent url('/Content/Images/UploadDoc.png') no-repeat;
}
.botonUpload:hover {
    background: transparent url('/Content/Images/UploadDocHover.png') no-repeat;
    cursor: pointer;
}
.botonSummary {
    position: absolute; 
    width: 24px; 
    height: 24px; 
    margin: 0 auto; 
    top: 50%; 
    left: 50%; 
    margin-top: -12px; 
    margin-left: -12px; 
    background: transparent url('/Content/Images/Summary.png') no-repeat;
}
.botonSummary:hover {
    background: transparent url('/Content/Images/SummaryHover.png') no-repeat;
    cursor: pointer;
}
.botonDelete {
    cursor:pointer;
    width: 28px;
    height: 17px;
    background-color: #c35a50;
    font-family:Arial;
    /*font-size:10pt;*/
    text-align:center;
    color:black;
    top:-1px;
    right:4px;
    position:absolute;
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
}
.botonDelete:hover {
    background-color: #ec6c60;
}
.GridList {
    display: inline-block;
    width: 100%;
    /*font-size: .95em;*/
    background-color: #eaeaea;
    position:relative;
}
.GridList:hover {    
    background-color: #ffffff;
}
.IconDeleteGridList {
    background: transparent url('/Content/Images/close.png') no-repeat;
    float: left;
    width: 2.5%;
    height:12px;
    margin: 5px 0 0 2px;
    text-align:center;
    cursor:pointer
}
.IconDeleteGridList:hover {
    background: transparent url('/Content/Images/close_active.png') no-repeat;
}
.poll-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.poll-results li:after {
    content: "";
    display: block;
    clear: both;
    height: 3px;
    line-height: 0;
}
.progressGrid
{
    width:100%;    
}
.gridDetails {
    width:100%;
}
.menuBandeja {
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Menu.png') no-repeat;
    cursor: pointer;
}
.menuBandeja:hover {
    background: transparent url('/Content/Images/MenuAct.png') no-repeat;
}
.AccApproval {
    margin-top:27px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Approval.png') no-repeat;
    cursor: pointer;
    float:left;
}
.AccApproval:hover {
    background: transparent url('/Content/Images/ApprovalAct.png') no-repeat;
}
.AccApprovalDisabled {
    margin-top:27px;
    width:24px;
    height:24px;
    /*background: transparent url('/Content/Images/ApprovalDisabled.png') no-repeat;*/
    float:left;
}
.AccReject {
    margin-top:27px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Reject.png') no-repeat;
    cursor: pointer;
    float:left;
}
.AccReject:hover {
    background: transparent url('/Content/Images/RejectAct.png') no-repeat;
}
.AccRejectDisabled {
    margin-top:27px;
    width:24px;
    height:24px;
    /*background: transparent url('/Content/Images/RejectDisabled.png') no-repeat;*/
    float:left;
}
.AccCancel {
    margin-top:27px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Cancel.png') no-repeat;
    cursor: pointer;
    float:left;
}
.AccCancel:hover {
    background: transparent url('/Content/Images/CancelAct.png') no-repeat;
}
.AccCancelDisabled {
    margin-top:27px;
    width:24px;
    height:24px;
    /*background: transparent url('/Content/Images/CancelDisabled.png') no-repeat;*/
    float:left;
}
.AccPayment {
    margin-top:27px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Payment.png') no-repeat;
    cursor: pointer;
    float:left;
}

.AccPaymentGC {
    margin-top:27px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/ChatActive.png') no-repeat; 
    cursor: pointer;
    float:left;
}


.AccPayment:hover {
    background: transparent url('/Content/Images/PaymentAct.png') no-repeat;
}
.AccPaymentDisabled {
    margin-top:27px;
    width:24px;
    height:24px;
    /*background: transparent url('/Content/Images/PaymentDisabled.png') no-repeat;*/
    float:left;
}
.cssCheckBox {
    cursor:pointer;
}
.fondoDetailReques {
    width:100%;
    /*font-size:.9em;*/
    background-color: #eaeaea;
}
.fondoDetailReques:hover {   
    background-color: white;
}

.divButtomPrint{
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/Printer.png') no-repeat;
    cursor: pointer;
    float:right;
    margin-left:4px;
}

.divButtomPrint2{
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/Printer2.png') no-repeat;
    cursor: pointer;
    float:right;
    /*margin:10px 10px 0px 10px;*/
}

.divButtomAdd {
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/AddNew.png') no-repeat;
    cursor: pointer;
    float:right;
    margin-left:4px;
}
.divButtomAdd:hover {
    background: transparent url('/Content/Images/AddNewAct.png') no-repeat;
}
.divTitleDocuments {
    width:100%;
    /*height:22px;*/
    padding:4px 2px 4px 2px;
    background-color:#2D5C88;
    position:relative;
    border-top:1px solid #e2e2e2;
    border-left:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
}
.divButtomVal {
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/Validar.png') no-repeat;
    cursor: pointer;
    float:right;
    margin-left:4px;
    /*position:absolute;
    right:28px;
    top: 5px;*/
}
.divButtomReject {
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/RejectRequest.png') no-repeat;
    cursor: pointer;
    float:right;
    margin-left:4px;
    /*position:absolute;
    right:5px;
    top: 5px;*/
}
.divButtomVal:hover {
    background: transparent url('/Content/Images/ValidarAct.png') no-repeat;
}
.divButtomReceive {
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/receive.png') no-repeat;
    cursor: pointer;
    float:right;
    margin-left:2px;
    /*position:absolute;
    right:5px;
    top: 5px;*/
}
.divButtomReceive:hover {
    background: transparent url('/Content/Images/receiveAct.png') no-repeat;
}

.divButtomReject:hover {
    background: transparent url('/Content/Images/RejectRequestAct.png') no-repeat;
}
.divTabStrip {
    width:100%;
    border-color: #ffffff;
    /*background-color:transparent;*/
}
.Substantiated {
    width:100%;
    margin:8px 0 8px 0;
}
.Unsubstantiated {
    width:100%;
    margin:8px 0 8px 0;
}
.cssActivities {
    width:40%;
    margin:8px 0 8px 0;
}
.divBtnReceive {
    float:right;
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/receive_2.png') no-repeat;
    cursor: pointer;    
}
.divBtnReceive:hover {
    background: transparent url('/Content/Images/receive_2Act.png') no-repeat;
}
.divBtnReceiveDisabled {
    float:right;
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/receive_2Disabled.png') no-repeat;    
}
.divBtnValida {
    float:right;
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/Validar.png') no-repeat;
    cursor: pointer;
}
.divBtnValida:hover {
    background: transparent url('/Content/Images/Validar_2Act.png') no-repeat;
}
.divBtnReject {
    float:right;
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/RejectRequest.png') no-repeat;
    cursor: pointer;
}
.divBtnReject:hover {
    background: transparent url('/Content/Images/RejectRequestAct.png') no-repeat;
}
.divBtnRejectDisabled {
    float:right;
    width:16px;
    height:16px;
    background: transparent url('/Content/Images/RejectRequestDisabled.png') no-repeat;
}
.divGridMenuAction {
    background-color: #f5f5f5;
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    height: 35px;
    width: 99.9%;
}
.Footer
{    
    height: 34px;
    width:100%;
    background-color:#f9f9f9;
    border-top: 1px solid #dddddd;
    bottom: 0;
    position: fixed;
    z-index: 999;
    /*font-size: .9em;*/
    color:#999999;
    font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif;
}
.divIconoChat {
    position:absolute;
    background-color:white;
    top:5px;
    right:5px;
    width:24px;
    height:24px;
    background: transparent url('/Content/Images/Chat.png') no-repeat;
    cursor: pointer;
}
.divIconoChat:hover {
    background: transparent url('/Content/Images/ChatActive.png') no-repeat;
}
.LoginFoo {
    background-color:#f9f9f9;
    height:34px;
    width:100%;    
    bottom: 0;
    position: fixed;
    z-index: 999;
    /*font-size: .9em;*/
    color:#6b6b6b;
    border-top:1px solid #ccc;
    font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif;
}
.LoginLogo {
    max-width: 50px;
    height: auto;
}
.LoginITMS {
    max-width: 220px;
    height: auto;
}
.LoginCerti1 {   
    max-height: 60px;
    width: auto;
    float:left;
    margin-right:10px;
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
}
.LoginCerti2 {
    max-height: 50px;
    width: auto;
    float:left;
    margin-right:10px;
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
}
.LoginCerti3 {
    max-height: 70px;
    width: auto;
    float:left;
    margin-right:10px;
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
}
.LoginCerti4 {
    max-height: 50px;
    width: auto;
    float:left;
    /*opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */*/
}

.contstaff{
            background-color:white;
            /*border-radius: 3px;*/
            box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.25);
            /*display: table-cell;*/
            padding: 10px;            
            width:95%;
            margin:0 auto;
            display:inline-block;   
}

.photo {
    background-position: center center;
    background-size: 50px 50px;
    border-radius: 50%;
    box-shadow: 0 0 1px #999 inset, 0 0 10px rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    height: 50px;
    line-height: 51px;
    vertical-align: middle;
    width: 49px;
}

.zoom {
    position: relative;
    color: red;
}
.zoom span {
    display: none
}
.zoom:hover span {
    top: 0;
    left: -370px;
    bottom:auto;
    display: inline-block;
    position: absolute;
    /*font-size: 12px;*/
    background: #3e4752;
    color:white;
    padding: 0 5px;
    margin-top: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.zoom:hover {
    text-decoration: none
}
.titleModule{
    margin-top:0px;
}

.modal-header{
    background-color:#022A41;
    color:white;
}

/*.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}*/


.AccDocumentChange {
    margin-top:27px;
    width:40px;
    height:40px;
    background: transparent url('/Content/Images/AddDocument.png') no-repeat;
    cursor: pointer;
    float:left;
}
.AccDocumentChange:hover {
    background: transparent url('/Content/Images/AddDocumentAct.png') no-repeat;
}
.AccDocumentChangeDisabled {
    margin-top:27px;
    width:40px;
    height:40px;
    /*background: transparent url('/Content/Images/ApprovalDisabled.png') no-repeat;*/
    float:left;
}

.app-page-title {
        background: #f8f8f8;
        padding: 30px 30px 10px 30px;
        margin: -30px -30px 10px;
        position: relative;
    }

        .app-page-title .page-title-wrapper {
            position: relative;
            display: flex;
            align-items: center;
        }

        .app-page-title .page-title-heading {
            font-size: 1.25rem;
            font-weight: 400;
            display: flex;
            align-content: center;
            align-items: center;
        }

        .app-page-title .page-title-icon {
            font-size: 2rem;
            display: flex;
            align-items: center;
            align-content: center;
            text-align: center;
            padding: .83333rem;
            margin: 0 30px 0 0;
            background: #fff;
            box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
            border-radius: .25rem;
            width: 60px;
            height: 60px;
        }

    .font-icon-wrapper {
        text-align: center;
        border: #e9ecef solid 1px;
        border-radius: .25rem;
        margin: 0 0 10px;
        padding: 5px;
    }

        .font-icon-wrapper.font-icon-lg {
            float: left;
            padding: 10px;
            text-align: center;
            margin-right: 15px;
            min-width: 64px;
        }

            .font-icon-wrapper.font-icon-lg i {
                font-size: 2.5rem;
            }

        .font-icon-wrapper:hover {
            background: #f8f9fa;
            color: #3f6ad8;
        }

            .font-icon-wrapper:hover p {
                color: #6c757d;
            }

        .font-icon-wrapper i {
            font-size: 1.65rem;
        }

    .icon-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .bg-sunny-morning {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
    }

    .app-page-title .page-title-subheading {
        padding: 3px 0 0;
        font-size: .88rem;
        opacity: .6;
    }
    .derecha{
        float: right;
        position: absolute;
        right:0px;
    }