@{
    ViewBag.Title = "Documentos Internos";
    //Layout = null;
}

<style>
    .k-grid-header .k-header {
        overflow: visible !important;
        white-space: normal !important;
        vertical-align: middle !important;
        font-weight: bold !important;
        color: white;
        background-color: cadetblue ;/* #3f6ad8*/
    }
   

    /*.card-header .tipo-range {
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }*/
</style>
<div class="card mb-3">
    <div class="card-header-tab card-header">
        <span>Registro de Ventas</span>
        <!--<div class="margin:5px;"><input id="list-switch" role="checkbox"></div>-->
        <!--<div class="tipo-range" style="float:right">
        <span id="valBox" style="margin:5%;">Todos</span>
        <input type="range" class="custom-range" value="0" min="0" max="2" step="1" id="range-switch" onchange="showVal(this.value)" name="rol">
        </div>-->
    </div>

    <div class="card-body">
        <div class="text-right">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio1" name="radio" checked>
                <label class="form-check-label" for="radio1"><strong>TODOS</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio2" name="radio">
                <label class="form-check-label" for="radio2"><strong>OPERACIONES</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio3" name="radio">
                <label class="form-check-label" for="radio3"><strong>MINERIA</strong></label>
            </div>
            @*@if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL"]) == 1)
            {
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio2" name="radio" checked>
                    <label class="form-check-label" for="radio2"><strong>Operaciones</strong></label>
                </div>
            }
            else if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL_OUTSOURCING"]) == 1)
            {
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio3" name="radio" checked>
                    <label class="form-check-label" for="radio3"><strong>Outsourcing</strong></label>
                </div>
            }*@


        </div>
        <hr style="color: #0056b2;" />

        <div class="form-row mb-2">
            <div class="col-md-1">
                Marca&nbsp;
            </div>
            <div class="col-md-2">
                <input id="IdMarca">
            </div>
            <div class="col-md-1">
                Experiencia&nbsp;&nbsp;
            </div>
            <div class="col-md-2">
                <input id="IdSolucionTI" name="IdSolucionTI" />
            </div>
            <div class="col-md-1">
                Tipo OP
            </div>
            <div class="col-md-2">
                <input id="IdTipoOP">
            </div>
            <div class="col-md-1" title="Número OP, Servicio">
                @*&nbsp;*@Palabra Clave (OP, Servicio)
            </div>
            <div class="col-md-2">
                <input id="PalabraClave" class="k-textbox" style="width:100%">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-1">
                Cliente
            </div>
            <div class="col-md-2">
                <input id="IdCliente" name="IdCliente" />
            </div>
            <div class="col-md-1">
                Cliente Final
            </div>
            <div class="col-md-2">
                <input id="IdClienteFinal">
            </div>
            <div class="col-md-1" style="font-size:13px">
                Fecha Contrato Inicio
            </div>
            <div class="col-md-2">
                <input id="FechaIniContrato">
            </div>
            <div class="col-md-1" style="font-size:13px">
                Fecha Contrato Fin
            </div>
            <div class="col-md-2">
                <input id="FechaFinContrato">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-1 mt-2">
                Mínimo(S/.)
            </div>
            <div class="col-md-2">
                <input id="MontoMinimoSoles" name="MontoMinimoSoles" value="1000" class="k-textbox" style="width: 100%; border-color: #DEE1E6">
            </div>
            <div class="col-md-1 mt-2">
                Máximo(S/.)
            </div>
            <div class="col-md-2">
                <input id="MontoMaximoSoles" name="MontoMaximoSoles" class="k-textbox" style="width: 100%; border-color: #DEE1E6">
            </div>
            <div class="col-md-1 mt-2">
                Mínimo($)
            </div>
            <div class="col-md-2">
                <input id="MontoMinimoDolares" name="MontoMinimoDolares" value="1000" class="k-textbox" style="width: 100%; border-color: #DEE1E6">
            </div>
            <div class="col-md-1 mt-2">
                Máximo($)
            </div>
            <div class="col-md-2">
                <input id="MontoMaximoDolares" name="MontoMaximoDolares" class="k-textbox" style="width: 100%; border-color: #DEE1E6">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-2 mt-2">
                Orden de Compra / Contrato / Servicio
            </div>
            <div class="col-md-2">
                <input id="NroDocumento" name="NroDocumento" class="k-textbox" style="width: 100%; border-color: #DEE1E6 ">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-10">
                <br />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" id="Buscar"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div id="GridList" class="contentView"></div>
            <!--<div class="row no-gutters align-items-center">
                    <div class="col-md-1"><strong>TIPO OP</strong></div>
                    <div class="col-md-1"><strong>OP</strong></div>
                    <div class="col-md-3"><strong>CLIENTE</strong></div>
                    <div class="col-md-3"><strong>CLIENTE FINAL</strong></div>
                    <div class="col-md-4"><strong>SERVICIO</strong></div>
            </div>
            <div id="listView" class="contentView"></div>-->
            <div id="pager" class="contentViewPager"></div>
    </div>
 </div>
    <!--<script type="text/x-kendo-tmpl" id="template">
        <a href="\\#/RegistroVenta/Detalle/${IDDOCUMENTOVENTA}?dv=" target="_blank" class="text-decoration-none" style="width:100%">
            <div class="card-body py-3 btn-outline-focus">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-1">${NAM_TYPE_DOCU_SALE}</div>
                    <div class="col-md-1">${NUM_DOCU_SALE}</div>
                    <div class="col-md-3">${CLIENTE}</div>
                    <div class="col-md-3">${CLIENTEFINAL}</div>
                    <div class="col-md-4">${Servicio}</div>
                </div>
            </div>
            <hr class="m-0" />
        </a>
    </script>-->

    <script>
        /*function showVal(newVal) {
            if (newVal == 0) {
                document.getElementById("valBox").innerHTML = "Todos";
                $("#Buscar").click();
            } else if (newVal == 1) {
                document.getElementById("valBox").innerHTML = "ELETRODATA";
                $("#Buscar").click();
            } else if (newVal == 2) {
                document.getElementById("valBox").innerHTML = "EXTERNO";
                $("#Buscar").click();
            }
        }*/
        ///BUSQUEDA AUTOMATICA CUANDO SE SELECCIONA EL TIPO PROYECTO/OUTSOURCING
        /*$(function () {
            $('input[type=radio]').change(function (e) {
                $("#Buscar").click();
            });
        });*/
        /*$('#').change(function () {
            if (!$(this).is(':checked') && $('input[name="nivel"]').val() == "") {
                $(this).prop('checked', true);
            }
        })*/
    </script>
    <script>
        function acc() {
            var account = document.getElementById("acc").value;
        };

       
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            /*$("#list-switch").kendoSwitch({
                messages: {
                    checked: "ELECTRODATA",
                    unchecked: "externo"
                }
            });*/
            /*$("#radiobuttongroup").kendoButtonGroup({
                selection: "single"
            });*/
            $("#IdTipoOP").kendoComboBox({
                autoBind: false,
                dataTextField: "COD_TYPE_DOCU_SALE",
                dataValueField: "ID_TYPE_DOCU_SALE",
                filter: "contains",
                suggest: true,
                dataSource: {
                    //type: "odata",
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/TypeDocumentSale/ListAll?var=" + Math.random()
                    }
                }
            });
            var IdTipoOP = $("#IdTipoOP").data("kendoComboBox");

            $("#IdSolucionTI").kendoComboBox({
                autoBind: false,
                dataTextField: "Nombre",
                dataValueField: "Id",
                filter: "contains",
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/SolucionTI/ListarTipoSolucionTI?var=" + Math.random()
                    }
                }
            });
            var IdSolucionTI = $("#IdSolucionTI").data("kendoComboBox");

            var IdCliente = $("#IdCliente").kendoComboBox({
                autoBind: false,
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                filter: "contains",
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    }
                }
            //});
            }).data("kendoComboBox");
            IdCliente.list.width(350);

            var IdClienteFinal = $("#IdClienteFinal").kendoComboBox({
                autoBind: false,
                dataTextField: "COM_NAME",
                dataValueField: "ID_ENTI",
                filter: "contains",
                suggest: true,
                dataSource: {
                    //serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    }
                }
            //});
            }).data("kendoComboBox");
            IdClienteFinal.list.width(350);

            $("#IdMarca").kendoComboBox({
                dataTextField: "NAM_MANU",
                dataValueField: "ID_MANU",
                filter: "contains",
                autoBind: false,
                suggest: true,
                editable:true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Manufacturer/List?var=" + Math.random()
                    }
                }
            });
            var IdMarca = $("#IdMarca").data("kendoComboBox");
            var FechaIniContrato = $("#FechaIniContrato").kendoDateTimePicker().data("kendoDateTimePicker");
            var FechaFinContrato = $("#FechaFinContrato").kendoDateTimePicker().data("kendoDateTimePicker");

            $("#Buscar").click(function () {

                /*$("#pager").empty();
                $("#listView").empty();

                if ($("#listView").data("kendoListView")) {
                    $("#pager").data("kendoPager").destroy();
                    $("#listView").data("kendoListView").destroy();
                }*/
                 $("#pager").empty();
                $("#GridList").empty();

                if ($("#GridList").data("kendoGrid")) {
                    $("#pager").data("kendoPager").destroy();
                    $("#GridList").data("kendoGrid").destroy();
                }

                var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/DocumentoVenta/Listar/0?var" + Math.random(),
                            type: "GET",
                            dataType: "json",
                            data: {
                                q: "#kendoui",
                                ran: Math.random(),
                                IdSolucionTI: $("#IdSolucionTI").val() == '' ? 0 : $("#IdSolucionTI").val(),
                                IdMarca: $("#IdMarca").val() == '' ? 0 : $("#IdMarca").val() == 2516 ? 0 : $("#IdMarca").val(),
                                IdCliente: $("#IdCliente").val() == '' ? 0 : $("#IdCliente").val(),
                                IdClienteFinal: $("#IdClienteFinal").val() == '' ? 0 : $("#IdClienteFinal").val(),
                                IdTipoOP: $("#IdTipoOP").val() == '' ? 0 : $("#IdTipoOP").val(),
                                PalabraClave: $("#PalabraClave").val(),
                                FechaIniContrato: $("#FechaIniContrato").val(),
                                FechaFinContrato: $("#FechaFinContrato").val(),
                                //TipoProyecto: $("#list-switch").prop('checked') == true ? 1 : 2
                                //TipoProyecto: $("#range-switch").val() == 0 ? 0 : $("#range-switch").val()
                                TipoProyecto: $("#radio1").prop('checked') == true ? 0 : $("#radio2").prop('checked') == true ? 1 : $("#radio3").prop('checked') == true ? 2 : 0,
                                //TipoProyecto: !!document.getElementById("radio2") == true ? 1 : 2
                                MontoMinimoSoles: $("#MontoMinimoSoles").val(),
                                MontoMaximoSoles: $("#MontoMaximoSoles").val(),
                                MontoMinimoDolares: $("#MontoMinimoDolares").val(),
                                MontoMaximoDolares: $("#MontoMaximoDolares").val(),
                                NroDocumento: $("#NroDocumento").val(),
                                    
                            }
                        }
                    },
                    autoSync: true,
                    serverFiltering: true,
                    serverPaging: true,
                    pageSize: 15,
                    schema: {
                        data: "Grid", 
                        total: "Cantidad"
                    }
                });

                $("#pager").kendoPager({
                    dataSource: dataSource,
                    pageSizes: [15, 30, 60],
                    refresh: true
                });
                /*
                $("#listView").kendoListView({
                    dataSource: dataSource,
                    template: kendo.template($("#template").html())
                });*/

                //$("#GridList").data("kendoGrid").setDataSource(dataSource)
                $("#GridList").kendoGrid({

                    dataSource: dataSource,
                    /*pageable: {
                        pageSizes: [15, 30, 60],
                        //refresh: true
                    },*/
                    columns: [
                        /*{ field: "IDDOCUMENTOVENTA" },*/
                        {
                            field: "NAM_TYPE_DOCU_SALE", width:120,
                            title: "TIPO OP",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center  " },
                            attributes: { style: "text-align: center" },
                            template: "#switch(NAM_TYPE_DOCU_SALE){case 'OPVP':#<div class='badge badge-warning'>#=NAM_TYPE_DOCU_SALE#</div>#break; case 'OPVN':# <div class='badge badge-info'>#=NAM_TYPE_DOCU_SALE#</div>#break; case 'OPVC':# <div class='badge badge-success'>#=NAM_TYPE_DOCU_SALE#</div>#}#"


                        },
                        {
                            field: "NUM_DOCU_SALE",width:120,
                            title: "OP CLIENTE",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                            attributes: { style: "text-align: center" }
                        },
                        {
                            field: "CLIENTE",
                            title: "CLIENTE",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                            attributes: { style: "text-align: center" },

                        },
                        {
                            field: "CLIENTEFINAL", title: "CLIENTE FINAL",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                            attributes: { style: "text-align: center" }
                        },
                        {
                            field: "Servicio", title: "SERVICIO",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center" },
                            attributes: { style: "text-align: center" }
                        },
                        {
                            width: 50,
                            template: "<div><img src='../../Content/Images/EditHover.png' onclick='EditarDoc(${ IDDOCUMENTOVENTA });' style='cursor: pointer;' /></div>",
                            headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                            attributes: { style: "text-align: center" }
                        }
                    ]

                });

            });

            $("#Buscar").click();

        });
    </script>
    <script type="text/javascript">
        function EditarDoc(code) {
            setTimeout(function () {
                location = "http://" + location.host + "/DocumentoVenta/Detalle/" + code;
            }, 1500);
        };
    </script>
