@{
    ViewBag.Title = "Documentos Internos";
    //Layout = null;
}

<div class="card mb-3">
    <div class="card-header-tab card-header">Registro de Ventas</div>
    <form id="ParametroOP" class="card-body">
        <div class="text-right">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="0" id="radio1" name="radio" checked>
                <label class="form-check-label" for="radio1"><strong>TODOS</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio2" value="1" name="radio">
                <label class="form-check-label" for="radio2"><strong>OPERACIONES</strong></label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="radio3" value="2" name="radio">
                <label class="form-check-label" for="radio3"><strong>MINERIA</strong></label>
            </div>
            @*@if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL"]) == 1)
            {
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio2" value="Operaciones" name="radio" checked>
                    <label class="form-check-label" for="radio2"><strong>Operaciones</strong></label>
                </div>
            }
            else if (Convert.ToInt32(Session["EJECUTIVOCOMERCIAL_OUTSOURCING"]) == 1)
            {
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="radio3" value="Outsourcing" name="radio" checked>
                    <label class="form-check-label" for="radio3"><strong>Outsourcing</strong></label>
                </div>
            }*@
        </div>
        <hr style="color: #0056b2;" />
        <div class="form-row mb-2">
            <div class="col-md-1">
                Marca&nbsp;
            </div>
            <div class="col-md-2">
                <input id="IdMarca" name="IdMarca">
            </div>
            <div class="col-md-1">
                Experiencia&nbsp;&nbsp;
            </div>
            <div class="col-md-2">
                <input id="IdSolucionTI" name="IdSolucionTI" />
            </div>
            <div class="col-md-1">
                Tipo OP
            </div>
            <div class="col-md-2">
                <input id="IdTipoOP" name="IdTipoOP">
            </div>
            <div class="col-md-1" title="Número OP, Servicio">
                &nbsp;Palabra Clave (OP, Servicio)
            </div>
            <div class="col-md-2">
                <input id="PalabraClave" name="PalabraClave" class="k-textbox" style="width:100%">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-1">
                Cliente
            </div>
            <div class="col-md-2">
                <input id="IdCliente" name="IdCliente" />
            </div>
            <div class="col-md-1">
                Cliente Final
            </div>
            <div class="col-md-2">
                <input id="IdClienteFinal" name="IdClienteFinal">
            </div>
            <div class="col-md-1" style="font-size:13px">
                Fecha Contrato Inicio
            </div>
            <div class="col-md-2">
                <input id="FechaIniContrato" name="FechaInicio">
            </div>
            <div class="col-md-1" style="font-size:13px">
                Fecha Contrato Fin
            </div>
            <div class="col-md-2">
                <input id="FechaFinContrato" name="FechaFin">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-1">
                Mínimo(S/.)
            </div>
            <div class="col-md-2">
                <input id="MontoMinimoSoles" name="MontoMinimoSoles" value="1000" class="k-textbox" style="width:100%">
            </div>
            <div class="col-md-1">
                Máximo(S/.)
            </div>
            <div class="col-md-2">
                <input id="MontoMaximoSoles" name="MontoMaximoSoles" class="k-textbox" style="width:100%">
            </div>
            <div class="col-md-1">
                Mínimo($)
            </div>
            <div class="col-md-2">
                <input id="MontoMinimoDolares" name="MontoMinimoDolares" value="1000" class="k-textbox" style="width:100%">
            </div>
            <div class="col-md-1">
                Máximo($)
            </div>
            <div class="col-md-2">
                <input id="MontoMaximoDolares" name="MontoMaximoDolares" class="k-textbox" style="width:100%">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-2 mt-2">
                Orden de Compra / Contrato / Servicio
            </div>
            <div class="col-md-2">
                <input id="NroDocumento" name="NroDocumento" class="k-textbox" style="width: 100%; border-color: #DEE1E6 ">
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-10">
                <br />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" id="Buscar">Buscar</button>
            </div>
        </div>
    </form>
</div>

<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSDocumentoVenta" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReport() {
        window.frames["RSDocumentoVenta"].src = "/Reporting/ControlDocumentario/DocumentoVenta/ListarSoluciones.aspx?var=" + Math.random() + "&" + $("#ParametroOP").serialize();
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        //var estadoTipo = document.querySelector('input[name="radio"]:checked').value;

        $("#IdTipoOP").kendoComboBox({
            autoBind: false,
            dataTextField: "COD_TYPE_DOCU_SALE",
            dataValueField: "ID_TYPE_DOCU_SALE",
            filter: "contains",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TypeDocumentSale/ListAll?var=" + Math.random()
                }
            }
        });
        var IdTipoOP = $("#IdTipoOP").data("kendoComboBox");

        $("#IdSolucionTI").kendoComboBox({
            autoBind: false,
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SolucionTI/ListarTipoSolucionTI?var=" + Math.random()
                }
            }
        });
        var IdSolucionTI = $("#IdSolucionTI").data("kendoComboBox");

        var IdCliente = $("#IdCliente").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        IdCliente.list.width(350);

        var IdClienteFinal = $("#IdClienteFinal").kendoComboBox({
            autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            suggest: true,
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        IdClienteFinal.list.width(350);

        $("#IdMarca").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: false,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        });
        var IdMarca = $("#IdMarca").data("kendoComboBox");

        var FechaIniContrato = $("#FechaIniContrato").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaFinContrato = $("#FechaFinContrato").kendoDateTimePicker().data("kendoDateTimePicker");

        $("#Buscar").click(function () {
            GenerateReport();
        });

    });

</script>
