@{
    ViewBag.Title = "Assistance";
    Layout = null;
}
<table width="600px" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="width: 600px; font-family: 'Segoe UI'; color: #505050;font-size:14px; ">
    <tr>
        <td style="width: 20px;">&nbsp;</td>
        <td style="width:135px;">&nbsp;</td>
        <td style="width:12px;">&nbsp;</td>
        <td style="width:135px;">&nbsp;</td>
        <td style="width:4px;">&nbsp;</td>
        <td style="width:135px;">&nbsp;</td>
        <td style="width:4px;">&nbsp;</td>
        <td style="width:135px;">&nbsp;</td>
        <td style="width:20px;">&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1; ">
        <td>&nbsp;</td>
        <td colspan="7" style="text-align:right;font-size:20px;font-weight:600;">On Finger</td>
        <td>&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td>&nbsp;</td>
        <td colspan="7" style="font-size: 18px; font-weight: 600;">@String.Format("{0:dddd MMMM dd yyyy HH:mm}", DateTime.Now)</td>
        <td>&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td>&nbsp;</td>
        <td colspan="7" style="font-size: 22px; font-weight: 600;">Information Technologies Management System</td>
        <td>&nbsp;</td>
    </tr>
    <tr style="background-color: #F1F1F1;">
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr style="background-color: #808080;color:white;">
        <td style="padding: 4px 0px 4px 0px;">&nbsp;</td>
        <td colspan="7" style="padding: 4px 0px 4px 0px;">English Version</td>
        <td style="padding: 4px 0px 4px 0px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="background-color: #46A4C1; color:white; text-align:center;">&nbsp;November</td>
        <td>&nbsp;</td>
        <td style="text-align:left;">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3" style="text-align:left;" >&nbsp; </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td rowspan="3" style="font-size: 45px; background-color: #46A4C1; color: white; text-align: center; font-weight:500;" >@String.Format("{0:HH:mm}",DateTime.Now)</td>
        <td>&nbsp;</td>
        <td colspan="5" rowspan="3" style ="text-align:justify;">Dear Elmer Salazar, your assistance has been registered, please complete tde addicional information in the following link.
        @*Estimado Elmer Salazar, se ha registrado tu asistenacia, por favor completar la información adicional desde el siguiente link*@</td>
        @*<td>:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>*@
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style=" background-color: #46A4C1; color: white; text-align: center;">2013</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr style="background-color: #808080;color:white;">
        <td style="padding: 4px 0px 4px 0px;">&nbsp;</td>
        <td colspan="7" style="padding: 4px 0px 4px 0px;">Versi&oacute;n En Espa&ntilde;ol</td>
        <td style="padding: 4px 0px 4px 0px;">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="background-color: #46A4C1; color:white; text-align:center;">&nbsp;November</td>
        <td>&nbsp;</td>
        <td style="text-align:left;">&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3" style="text-align:left;">&nbsp; </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td rowspan="3" style="font-size: 45px; background-color: #46A4C1; color: white; text-align: center; font-weight:500;">@String.Format("{0:HH:mm}", DateTime.Now)</td>
        <td>&nbsp;</td>
        <td colspan="5" rowspan="3" style="text-align:justify;">
            Estimado Elmer Salazar, se ha registrado tu asistenacia, por favor completar la información adicional desde el siguiente link
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style=" background-color: #46A4C1; color: white; text-align: center;">2013</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>

