@{
    Layout = null;
}
<div style="padding:15px;">
    <div style="width:100%;display:inline-block;">
        <div style="width:49.5%; float:left">
            <a href="#">Letter Presentation</a><br />
            <a href="#">Presentation</a>
        </div>
        <div style="width:49.5%; float:right">
            @using (Html.BeginForm("Create", "DocumentsSalesOpp", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDocumentsSalesOpp", target = "upload_target" }))
            {
                <input id="fabric" placeholder="Select Document"  />

                <div style="margin-left:-10px;">
                    <input name="files" id="files" type="file" style="margin-left:-10px; padding-left:-10px;" />    
                </div>
                

                <div style="display:inline-block; float:right; padding:0px 0px 0px 0px;">
                    <div style=" float:left; padding:0px 0px 0px 0px; ">
                        <button id="submit" class="k-button">Create</button>
                    </div>
                    
                </div>

            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#files").kendoUpload({
            localization: {
                select: "@ResourceLanguaje.Resource.Attach"
            }
        });

        $("#fabric").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Letter Presentation", value: "1" },
                { text: "Presentation", value: "2" }
            ],
            filter: "contains",
            suggest: true,
            index: 3
        });

    });
</script>
