@model ERPElectrodata.Models.TipoAtencion
@{
    ViewBag.Title = "EditarTipoAtencion";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card card">
            @using (Html.BeginForm("AgregarTipoAtencion", "ServiceNow", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAgregarTipoAtencion", target = "upload_target" }))
            {
                <input type="hidden" id="id_TipoAtencion" name="id_TipoAtencion" value="@Model.id_TipoAtencion" />
                <input type="hidden" id="created_at" name="created_at" value="@Model.created_at" />
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label id="" for="" class="">Tipo de atención</label>
                                            <input class="form-control" type="text" id="TipoAtencion1" name="TipoAtencion1" value="@Model.TipoAtencion1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block text-right card-footer">
                    <button class="btn-shadow btn btn-primary" id="submit" type="submit">Guardar</button>
                </div>
            }

        </div>
    </div>
    <button id="closeModal" data-dismiss="modal" hidden></button>
</div>