@model ERPElectrodata.Models.GpoAsignacion
@{
    ViewBag.Title = "EditarGrupoAsignacion";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="main-card card">
            @using (Html.BeginForm("EditarGrupoAsignacion", "ServiceNow", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditarGrupoAsignacion", target = "upload_target" }))
            {
                <input type="hidden" id="id_GpoAsignacion" name="id_GpoAsignacion" value="@Model.id_GpoAsignacion" />
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label id="" for="" class="">Grupo de Asignación</label>
                                            <input class="form-control" type="text" id="GpoAsignacion1" name="GpoAsignacion1" value="@Model.GpoAsignacion1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block text-right card-footer">
                    <button class="btn-shadow btn btn-primary" id="submit" type="submit">Guardar</button>
                </div>
            }

        </div>
    </div>
    <button id="closeModal" data-dismiss="modal" hidden></button>
</div>
