@{
    ViewBag.Title = "VerCategoria";
    Layout = null;
}
<div class="card-header d-flex">
    <div>
        Equivalencia
    </div>
    <div style="flex-grow:1" class="justify-content-end d-flex">
        <button class="btn btn-primary" data-toggle="modal" data-target="#miModal" onclick="agregarFilaEquivalencia()">Nuevo</button>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card">
                <div class="card-body">
                    <table id="tbEquivalencia" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Area</th>
                                <th>Correo Edata</th>
                                <th>Usuario red</th>
                                <th>Correo Hudbay</th>
                                <th>Grupo de Asignación</th>
                                <th>Fecha creación</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const table = $("#tbEquivalencia").DataTable({
            scrollX: true,
            ajax: "/ServiceNow/ObtenerListaEquivalencia",
            columns: [
                { data: "id_Equivalencia" },
                { data: "Nombre" },
                { data: "Area" },
                { data: "correoEdata" },
                { data: "usuarioRed" },
                { data: "correoHudbay" },
                { data: "GpoAsignacion1" },
                {
                    data: "created_at",
                    render: function (data, type, row) {
                        if (data !== null) {
                            let dateInMilliseconds = parseInt(data.replace(/\/Date\((\d+)\)\//, '$1'));
                            let fecha = new Date(dateInMilliseconds);
                            return fecha.toLocaleString();
                        }
                        return data
                    }
                },
                {
                    data: "id_Equivalencia",
                    render: function (data, type, row) {
                        return '<button class="btn btn-primary" data-toggle="modal" data-target="#miModal" onclick="editarFilaEquivalencia(' + data + ')">Editar</button>';
                    }
                },
            ]
        })
    })
    function editarFilaEquivalencia(id) {
        $("#lblTitulo").text("Editar Equivalencia");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");
        $('#modal-content').load("/ServiceNow/EditarEquivalencia/" + id);
    }
    function agregarFilaEquivalencia() {
        $("#lblTitulo").text("Agregar Equivalencia");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");
        $('#modal-content').load("/ServiceNow/AgregarEquivalencia/");
    }
</script>
