@{
    ViewBag.Title = "VerCategoria";
    Layout = null;
}
<div class="card-header d-flex">
    <div>
        Tipo de Atención
    </div>
    <div style="flex-grow:1" class="justify-content-end d-flex">
        <button class="btn btn-primary" data-toggle="modal" data-target="#miModal" onclick="agregarFilaTipoAtencion()">Nuevo</button>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card">
                <div class="card-body">
                    <table id="tbTipoAtencion" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tipo de Atención</th>
                                <th>Fecha de creación</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const table = $("#tbTipoAtencion").DataTable({
            scrollX: true,
            ajax: "/ServiceNow/ObtenerListaTipoAtencion",
            columns: [
                { data: "id_TipoAtencion" },
                { data: "TipoAtencion1" },
                {
                    data: "created_at",
                    render: function (data, type, row) {
                        if (data !== null) {
                            let dateInMilliseconds = parseInt(data.replace(/\/Date\((\d+)\)\//, '$1'));
                            let fecha = new Date(dateInMilliseconds);
                            return fecha.toLocaleString();
                        }
                        return data
                    }
                },
                {
                    data: "id_TipoAtencion",
                    render: function (data, type, row) {
                        return '<button class="btn btn-primary" data-toggle="modal" data-target="#miModal" onclick="editarFilaTipoAtencion(' + data + ')">Editar</button>';
                    }
                },
            ]
        })
    })
    function editarFilaTipoAtencion(id) {
        $("#lblTitulo").text("Editar Tipo de Atención");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");
        $('#modal-content').load("/ServiceNow/EditarTipoAtencion/" + id);
    }
    function agregarFilaTipoAtencion() {
        $("#lblTitulo").text("Agregar Tipo de Atención");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");
        $('#modal-content').load("/ServiceNow/AgregarTipoAtencion/");
    }
</script>
