@{
    ViewBag.Title = "EditarDetalleCambio";
    Layout = null;
}

<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>

@using (Html.BeginForm("EditarFechasCambio", "ChangeRequest", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditarDetalleCambio", name = "FrmEditarDetalleCambio", target = "FrmEditarDetalleCambio" }))
{
    <input type="hidden" id="IdDetalleCambio" name="IdDetalleCambio" value="@ViewBag.IdDetalleCambio" />
    <div class="mb-3 card">
        <div class="card-header">Fechas Reales</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    Fecha Inicio Real <b style="color:red">(*)</b>
                    <div class="input-group">
                        <div class="input-group-prepend datepicker-trigger">
                            <div class="input-group-text">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtFechaInicioReal" name="dtFechaInicioReal" value="@ViewBag.FechaInicioReal" />
                    </div>
                </div>
                <div class="col-md-6">
                    Fecha Fin Real <b style="color:red">(*)</b>
                    <div class="input-group">
                        <div class="input-group-prepend datepicker-trigger">
                            <div class="input-group-text">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtFechaFinReal" name="dtFechaFinReal" value="@ViewBag.FechaFinReal" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br />
                </div>
                <div class="col-md-6">
                    &nbsp;
                    <button id="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i>  Guardar</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<iframe id="FrmEditarDetalleCambio" name="FrmEditarDetalleCambio" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>


<script type="text/javascript">

    $(document).ready(function () {
        $('#dtFechaInicioReal').datepicker({
            autoclose: true
        });
        $('#dtFechaFinReal').datepicker({
            autoclose: true
        });
    });


    function MensajeConfirmacion(msj, flag) {
        if (flag == 1) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success(msj, "Sistema Integrado de Gestión");
            CargarDetalleCambio();
        } else {
            toastr.warning(msj, "¡Alerta!");
        }
    }

</script>