@{
    Layout = null;
}

<link href="~/Content/themes/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/themes/ionicons/css/ionicons.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>


<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

<style>
    .color {
        width: 70%;
        padding:2px 15px;
        color:white;
        font-size:11px;
    }
    .rojo {
        background: #BA141A;
    }
    .amarillo {
        background: #F2BA0C;
    }
    .verde {
        background: #679700;
    }
    #leyenda {
        width:100%;
        margin:0 auto;
    }
    #tamModalProductos{
        width:85% !important;
    }
    #tamModalRenovacion {
        width:26% !important;
        margin:10% auto;
    }
    #btnOP {
        cursor:pointer;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">Notificaciones - Gestión de Activos</div>
    <div class="panel-body">
        <div id="mensajes"></div>
        <table id="tablaNotificaciones" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th width="5%;">#</th>
                    <th width="40%;">Notificación</th>
                    <th>Detalle</th>
                    @*<th width="20%;">Aprobador</th>*@
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th width="5%;">#</th>
                    <th width="40%;>Notificación</thwidth="60%;>
                    <th>Detalle</th>
                    @*<th  width="20%;">Aprobador</th>*@
                </tr>
            </tfoot>
        </table>
     </div>
</div>

<!-- MODAL DE PRODUCTOS OPs -->
<div class="modal fade" id="modalProductos" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamModalProductos">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <div id="divProductosOP"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE RENOVACION OPs -->
<div class="modal fade" id="modalRenovacion" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamModalRenovacion">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <div id="divRenovacionOP"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        cargarNotificaciones();
    });

    function cargarNotificaciones() {
        $('#tablaNotificaciones').dataTable().fnDestroy();
        $('#tablaNotificaciones').DataTable({
            "order": [[0, "asc"]],
            dom: 'Bfrtip',
            ajax: "/ChangeRequest/ListarNotificaciones",
            columns: [
			    { data: "Orden" },
			    { data: "Notificacion" },
			    { data: "Detalle" },
			    //{ data: "ExtAprobador" },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }

    function IrResumenCambio(id,activo) {
        location.href = "http://" + location.host + "/ChangeRequest/ResumenGestionCambio/" + id;
        if (activo == 0) {
            $.ajax({
                url: "/ChangeRequest/ActualizarVistaNotificaciones?Id=" + id,
                type: "GET",
                cache: false,
                dataType: "text",
                success: function (resp) {
                    if (resp == "OK") {
                        cargarNotificaciones();
                        CantidadNotificaciones();
                        ObtenerNotificaciones();
                    }
                },
                error: function (source) {

                }
            });
        }
    }
</script>
