@{
    ViewBag.Title = "Index1";
    Layout = null;
}

<nav>
    <ul>
        @*<li id="liTransaction"><a href="#" id="aTransaction">New Transaction</a></li>
        <li id="liFindTrans"><a href="#" id="aFindTrans">Find Transaction</a></li>*@
        @*<li onclick="DeliverySustain(this)" id="liDelivery"><a href="#" id="aDelivery">@ResourceLanguaje.Resource.AccountabilityAccount</a></li>*@
    </ul>
</nav>
<div class="afterMain">
    <div id="divContent">
    </div>
</div>

@*<script type="text/javascript">

    $(document).ready(function () {
        SelectMenu('Delivery', 'FindTrans');
        $("#divContent").empty();
        $("#divContent").load("/DeliverySustain/Index?var=" + Math.random());
    });

    function DeliverySustain(parm) {
        SelectMenu('Delivery', 'FindTrans');
        $("#divContent").empty();
        $("#divContent").load("/DeliverySustain/Index?var=" + Math.random());
    }

    function SelectMenu(id, liant) {
        $("#a" + id).css("color", "Black");
        $("#a" + id).css("font-weight", "bold");
        $("#li" + id).css("background-color", "#eaeaea");
        //$("#li" + liant).css("margin-right", "-4px");
        fl3 = 1;
    }

</script>*@
