@{
    ViewBag.Title = "Report_Attendance";
    //Layout = null;
}

<div id="divContent">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="col-sm-12 col-lg-12" style="width:100%;">
                <div class="row">
                    <div class="col-sm-12 col-xl-2">
                        <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-warning" onclick="fnreportatteperson(this)">
                            <i class="lnr-user btn-icon-wrapper"> </i><span class="badge badge-primary badge-dot badge-dot-sm badge-dot-inside"></span>Report By Person
                        </button>
                    </div>
                    @if (Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
                    {
                        <div class="col-sm-12 col-xl-2">
                            <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-danger" onclick="fnreportatteday(this)">
                                <i class="lnr-map btn-icon-wrapper"> </i><span class="badge badge-success badge-dot badge-dot-sm badge-dot-inside"></span>Report By Day
                            </button>
                        </div>
                    }
                    @if (Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
                    {
                        <div class="col-sm-12 col-xl-2">
                            <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-success" onclick="fnreportattearea(this)">
                                <i class="lnr-chart-bars btn-icon-wrapper"> </i><span class="badge badge-primary badge-dot badge-dot-sm badge-dot-inside"></span>Report By Area
                            </button>
                        </div>
                        <div class="col-sm-12 col-xl-2">
                            <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-info" onclick="ByCia(this)">
                                <i class="lnr-book btn-icon-wrapper"> </i><span class="badge badge-success badge-dot badge-dot-sm badge-dot-inside"></span>Report By CIA
                            </button>
                        </div>
                    }
                    @if (Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
                    {
                        <div class="col-sm-12 col-xl-2">
                            <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-primary" onclick="fnreportattetardies(this)">
                                <i class="lnr-file-empty btn-icon-wrapper"> </i><span class="badge badge-primary badge-dot badge-dot-sm badge-dot-inside"></span>Report Tardies
                            </button>
                        </div>
                    }
                    @if (Convert.ToInt32(Session["SUPERVISOR_RRHH"].ToString()) == 1)
                    {
                        <div class="col-sm-12 col-xl-2">
                            <button class="btn-icon-vertical mb-3 btn-transition btn-block btn btn-outline-focus" onclick="fnreportattehours(this)">
                                <i class="lnr-hourglass btn-icon-wrapper"> </i><span class="badge badge-success badge-dot badge-dot-sm badge-dot-inside"></span>Report/Hours Worked
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div style="width:100%;">

    <div style="margin-top:10px;">
        <div>
            <div id="idreportattendance">

            </div>
        </div>
    </div>
    @*<iframe id="ifPerformanceTotal" src="@ViewBag.URL_PERFORMANCE_TOTAL" style="width: 100%; height: 540px; border: 0; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; "></iframe>*@
</div>

<script type="text/javascript">

    function fnreportatteday() {
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteByDay?var=" + Math.random());
    }

    function fnreportatteperson() {
        console.log('Yea');
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteByPerson?var=" + Math.random());
        console.log('Yea2');
    }

    function fnreportattearea() {
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteByArea?var=" + Math.random());
    }

    function ByCia() {
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteByCIA?var=" + Math.random());
    }

    function fnreportattetardies() {
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteTardies?var=" + Math.random());
    }
    function fnreportattehours() {
        $("#idreportattendance").empty();
        $("#idreportattendance").load("/Assistance/ReportAtteHoursWorked?var=" + Math.random());
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        fnreportatteperson();
    });
</script>
