@{
    ViewBag.Title = "EditarPeriodo";
    Layout = null;
}

<!--Declaración de Formulario-->
@using (Html.BeginForm("EditarPeriodos", "EvaluacionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditarObjetivo", target = "upload_target" }))
{
    <input type="hidden" name="IdPeriodo" id="IdPeriodo" value="@ViewBag.IdPeriodo" />
    <div class="alert alert-danger alert-dismissable" role="alert" id="alertaError" style="font-size:14px">
        <strong>¡Alerta!</strong> Completar la información solicitada
    </div>
    <div class="alert alert-danger alert-dismissable" role="alert" id="alertaExiste" style="font-size:14px">
        <strong>¡Alerta!</strong> El Nombre del Periodo ya existe.
    </div>
    <div class="box">
        <form>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="FormPeriodoAct">Periodo</label>
                            <input type="text" class="form-control" id="FormPeriodo" name="FormPeriodo" value="@ViewBag.Periodo" >
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="FormDescripcion">Descripcion</label>
                            <textarea class="form-control" id="FormDescripcion" name="FormDescripcion" rows="3" style="width:100%">@ViewBag.Descripcion</textarea>
                        </div>
                    </div>
                </div>
                
                <div style="display:inline-block; float:right; padding:10px 10px 10px 5px;">
                    <button id="submit" class="btn btn-primary">Guardar</button>
                    <button id="reset" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                </div>
            </div>

        </form>

    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#alertaError").hide();
        $("#alertaExiste").hide();
    });

    function MensajeError(msg, msnErr) {
         if (msg == 'Mensaje') {
            $("#alertaError").fadeIn()
            setTimeout(function () {
                $("#alertaError").fadeOut();
            }, 2000);
         } else if (msg == 'Existe') {
             $("#alertaExiste").fadeIn()
             setTimeout(function () {
                 $("#alertaExiste").fadeOut();
             }, 2000);
         }

    }
</script>

