@{
    ViewBag.Title = "Evaluación Personal";
    Layout = null;
}

<style>
    .outer-wrapper {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .content-box {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lock-word {
        font-size: 24px;
        font-weight: bold;
        color: #020238;
        margin-bottom: 20px;
        width: 100%;
    }

    .img-circle {
        border: 6px solid #808080;
        border-radius: 50%;
        margin-bottom: 20px;
        width: 50%;
        height: auto;
        max-width: 150px;
        max-height: 150px;
    }

    .name-heading {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .message {
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .footer {
        margin-top: 20px;
        font-size: 0.9rem;
        color: #aaa;
    }
</style>

<div class="outer-wrapper">
    <div class="content-box">

        <img alt="image" class="img-circle" src="~/Content/Fotos/@ViewBag.Foto">
        <div class="name-heading">@ViewBag.Nombre</div>
        <div class="lock-word">NO TIENE EVALUACIONES PENDIENTES</div>
        <div class="footer">&copy; 2017 Derechos Reservados ED</div>
    </div>
</div>
