@{
    ViewBag.Title = "Evaluacion Personal";
    //Layout = null;
}
<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .navVertical ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style: none;
        }

            .navVertical ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
                border-bottom: 1px solid #e2e2e2;
                width: 100%;
            }

                .navVertical ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    .navVertical ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    .navVertical ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

            #navDT ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }

                #navDT ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    #navDT ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    #navDT ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }


</style>

<link href="~/Content/ITMS/styles.css" rel="stylesheet" />
<link href="~/Content/custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.smartWizard.js"></script>
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />


<div style="float:left; width:10%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px; background-color:beige">
                <center>
                    <br />
                    @ViewBag.NOMBRE
                    <div class="asignedImage"><img src="/Content/Fotos/@ViewBag.FOTO" style="border-radius:50%" class="img-fluid" /></div><br />
                    <br />
                    <button id="btnIndicaciones" class="btn btn-block btn-sm btn-primary">Indicaciones</button>
                    <button id="btnAutoEvaluacion" class="btn btn-block btn-sm btn-primary">Mi Evaluacion</button>
                    @if (@ViewBag.TieneColaboradores == 1)
                    {
                        <button id="btnColaboradores" class="btn btn-block btn-sm btn-primary">Mis Colaboradores</button>
                    }
                    @if (@ViewBag.PendienteConformidad == 1)
                    {
                    <button id="btnConformidad" class="btn btn-block btn-sm btn-primary">Conformidad</button>
                    }
                    <button id="btnFormato" class="btn btn-block btn-sm btn-primary">Histórico de <br />Resultados</button>
                   
                    @if (Convert.ToInt32(Session["RRHH"]) == 1)
                    {
                        @*<button id="btnEditar" class="btn btn-block btn-sm btn-primary">Editar Obj.</button>*@
                        <br /><br />
                        <span>Reportes</span>
                        <button id="btnComparativo" class="btn btn-block btn-sm btn-primary">Comparativo</button>
                        <button id="btnDesempeno" class="btn btn-block btn-sm btn-primary">Desempeño</button>
                        <button id="btnDesempenoEvaluado" class="btn btn-block btn-sm btn-primary">Desempeño<br />Evaluado</button>
                        <button id="btnDesempenoJefe" class="btn btn-block btn-sm btn-primary">Reporte Efectividad</button>
                        <button id="btnEstadoEvaluados" class="btn btn-block btn-sm btn-primary">Estado del <br />Proceso</button>
                        <button id="btnReporteHistorico" class="btn btn-block btn-sm btn-primary">Reporte Histórico</button>

                        <br /><br />
                        <span>Mantenimientos</span>
                        
                        @*<button id="btnMantEvaluacion" class="btn btn-block btn-sm btn-primary">Registro de<br />Evaluación</button>*@
                        <button id="btnMantPeriodo" class="btn btn-block btn-sm btn-primary">Periodos<br />y Evaluados</button>
                        @*<button id="btnRegistroEvaluacion" class="btn btn-block btn-sm btn-primary">Registrar Periodo<br />y Evaluados</button>*@
                        @*<button id="btnMantObjetivos" class="btn btn-block btn-sm btn-primary">Objetivos</button>
                        <button id="btnMantCompetencias" class="btn btn-block btn-sm btn-primary">Competencias</button>*@
                    }
                </center>
            </div>
        </div>
    </div>
</div>


<div style="float:right; width:89%;">
    <div class="titleForm">
        <div class="title" id="divTitle">
            <span id="spanTitulo">EVALUACION ELECTRODATA</span>
        </div>
    </div>
    <div class="bodyForm">
        <div>
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        $('.buttonFinish').hide();
        $("#divCuerpo").load("/EvaluacionPersonal/Indicaciones?var=" + Math.random());

        $("#btnIndicaciones").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/Indicaciones?var=" + Math.random());
        });

        $("#btnAutoEvaluacion").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/EvaluacionIndex?var=" + Math.random());
        });

        $("#btnColaboradores").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/MisColaboradoresIndex?var=" + Math.random());
        });

        $("#btnFormato").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaFormato?var=" + Math.random());
        });

        $("#btnConformidad").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaConformidad?var=" + Math.random());
        });


        //$("#btnEditar").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#divCuerpo").load("/EvaluacionPersonal/VistaObjetivos?var=" + Math.random());
        //});

        $("#btnComparativo").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaReporte?var=" + Math.random());
        });

        $("#btnReporteHistorico").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/ReporteHistorico?var=" + Math.random());
        });

        $("#btnDesempeno").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaDesempeno?&var=" + Math.random());
        });

        $("#btnDesempenoEvaluado").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaDesempenoEvaluado?var=" + Math.random());
        });

        $("#btnDesempenoJefe").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaDesempenoJefe?&var=" + Math.random());
        });

        $("#btnEstadoEvaluados").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/VistaEstadoEvaluados?var=" + Math.random());
        });

        //Mantenimientos
       
        //$("#btnMantEvaluacion").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#divCuerpo").load("/EvaluacionPersonal/RegistroEvaluacion?var=" + Math.random());
        //});
        $("#btnMantPeriodo").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/PeriodoyEvaluados?var=" + Math.random());
        });
        //$("#btnMantPeriodo").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#divCuerpo").load("/EvaluacionPersonal/RegistroPeriodo?var=" + Math.random());
        //});
        $("#btnMantObjetivos").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/RegistroObjetivos?var=" + Math.random());
        });
        $("#btnMantCompetencias").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/EvaluacionPersonal/RegistroCompetencias?var=" + Math.random());
        });

        $("#files").kendoUpload({
            localization: {
                select: "Adjuntar"
            },
            //upload: function (e) {
            //    e.data = {
            //        IdTipoDocumento: IdTipoDocumento.dataItem().ID_TYPE_DOCU
            //    };
            //},
            remove: function (e) {
                e.data = {
                    KEY_ATTA: '1'
                };
            },
            async: {
                saveUrl: "/EvaluacionPersonal/AdjuntarArchivosEvaluado"
            }
        });

        var IdTipoDocumento = $("#IdTipoDocumento").kendoComboBox({
            dataTextField: "NAM_DOCU",
            dataValueField: "ID_TYPE_DOCU",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Talent/ListTypeDocument?id=0&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

    });

    //***

</script>

<script type="text/javascript">

    function uploadDoneIndex(msg, msnErr) {
        $('#myModalLoading').modal('hide');
        if (msg == 'Mensaje') {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Mensaje");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                "<button id='continuar' class='k-button'>Continuar</button>" +
                "</div>");
            var undo = $("#continuar")
                .bind("click", function () {
                    $('#SmallModalContent').modal('hide');
                    //$("#btnAutoEvaluacion").click();
                });
        }
        else {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Error al Guardar");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "No se Actualizaron los Datos.\n\n Contacte al Administrador." + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                "<button id='continuee' class='k-button'>Continuar</button>" +
                "</div>");
            var undo = $("#continuee")
                .bind("click", function () {
                    $('#SmallModalContent').modal('hide');
                    $("#btnAutoEvaluacion").click();
                });
        }
    }
</script>