@{
    ViewBag.Title = "Indicaciones";
    Layout = null;
}
@*<link href="~/Content/custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.smartWizard.js"></script>
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />*@

<div style="float:right; width:100%;">

    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divCuerpo" style="background-color:beige">
                <div style="overflow:auto;padding-top:20px">
                    <div style="float:left; width:25%">
                        <center><img id="imgLogo" style="width:100px" src="~/Content/Images/SGD.png" /></center><br />
                        <center><img id="imgLogo" style="width:250px" src="~/Content/Images/EvaluacionPersonal/SGD1.png" /></center><br />
                        <center><img id="imgLogo" style="width:250px" src="~/Content/Images/EvaluacionPersonal/SGD2.png" /></center><br />
                    </div>
                    <div style="width:50%; float:left">
                        <h1 style="text-align:center; text-decoration:underline; font-weight:bold">
                            Sistema de Gestión de Desempeño (SGD)
                        </h1>
                        <br /><br />
                        @*<h2 style="text-align:center; font-weight:bold ">INDICACIONES</h2>*@

                        @*<div style="text-decoration:underline; font-weight:bold">CONOCE TUS OBJETIVOS</div><br />*@
                        <p align="justify" style="font-size:18px;">
                            El SGD tiene como finalidad alinear tus objetivos como colaborador con los de la organización, para que estos contribuyan con el crecimiento y desarrollo de Edata.
                        </p>
                        <p align="justify" style="font-size:18px;">
                            Busca identificar de manera objetiva aquellos puntos positivos en tu desempeño y aquellas áreas de mejora, para así reorientarlas y alcanzar el desempeño esperado.
                        </p>
                        <p align="justify" style="font-size:18px;">
                            El proceso consta de los siguientes pasos:
                        </p>
                        <br />
                        <center><img style="max-width: 620px; width: 100%; height: auto; display: block; margin: 0 auto;" src="~/Content/Images/EvaluacionPersonal/SGD6.png" /></center><br /><br /><br />
                        @*<div style="text-decoration:underline; font-weight:bold">AUTOEVALUACIÓN</div><br />
                            <p align="justify">
                                •	Para realizar tu autoevaluación debes saber lo siguiente:<br /><br />
                                a)	Las calificaciones van de acuerdo a los gráficos mostrados.<br />
                                b)	Para realizar una correcta autoevaluación debes asegurarte de tener los sustentos físicos del porque te estas colocando la puntuación.<br />
                                c)	En el comentario debes añadir un resumen del sustento del por qué te estas calificando de esa manera.<br />
                                d)	Si das guardar podrás modificar posteriormente tu nota, si das finalizar ya no podrás mover la calificación.<br /><br />
                            </p>
                            <div style="text-decoration:underline; font-weight:bold">EVALUACIÓN</div><br />
                            <p align="justify">
                                Este proceso es únicamente para las personas que tienen personal a cargo.<br /><br />
                                Pasos:<br /><br />
                                I.	Revisar las calificaciones y los sustentos respectivos.<br />
                                II.	Para evaluar a tu personal toma en cuenta los siguientes puntos:<br /><br />
                                •	Debes ser objetivo.<br />
                                •	Básate en la información disponible.<br />
                                •	Se coherente al momento de sustentar los cambios de la calificación.<br />
                                •	Una vez que tengas claros que cambios vas a realizar y por qué, es recomendable llamar a la persona a evaluar y realizarle el feedback mientras vas desarrollando la evaluación.
                            </p>*@
                    </div>
                    <div style="float:left; width:25%">
                        @*<center><img id="imgLogo2" style="width:250px" src="~/Content/Images/inscripciones.png" /></center><br />*@
                        <center><img id="imgLogo" style="width:250px" src="~/Content/Images/EvaluacionPersonal/SGD3.png" /></center><br /><br /><br />
                        <center><img id="imgLogo" style="width:250px" src="~/Content/Images/EvaluacionPersonal/SGD4.png" /></center><br /><br /><br />
                        <center><img id="imgLogo" style="width:250px" src="~/Content/Images/EvaluacionPersonal/SGD5.png" /></center><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
