@{
    Layout = null;
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

<link href="~/Content/themes/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/themes/ionicons/css/ionicons.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>


<div style="width:1%;min-width:5px;height:1px;float:left;"></div>
<div style="width:100%;min-width:5px;float:left;">
    @*<div class="titleForm">
            <div class="title">Lista de Objetivos y Funciones</div>
        </div>*@
    <div class="inBodyForm" style="height:700px; padding:10px 20px 10px 20px;" id="">
        <div style="width:100%;">
            <form>
                <br />
                <div class="form-group row">
                    <div class="col-md-1"><label style="margin-left: 40px; margin-top: 5px; ">Periodo: </label></div>
                    <div class="col-md-3"><input id="cbPeriodo" name="cbPeriodo" style="font-size:12px;"  class="dropdownKendo" /></div>
                    <div class="col-md-1"><button id="btnReporteC" type="button" class="btn btn-primary btn-sm" onclick="ListadoComparativo()">Buscar</button></div>
                    <div class="col-md-7"></div>
                </div>


            </form>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_2">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tablaComparativo" class="table table-bordered table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Evaluado</th>
                                        <th>Cargo</th>
                                        <th>Jefe</th>
                                        <th>Estado</th>
                                        <th>Leyenda</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Evaluado</th>
                                        <th>Cargo</th>
                                        <th>Jefe</th>
                                        <th>Estado</th>
                                        <th>Leyenda</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        //$("#cbPeriodo").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/EvaluacionPersonal/EvaListadoDesempeñoPeriodo",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };

        //        },
        //    },
        //});

        $("#cbPeriodo").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/EvaluacionPersonal/EvaListadoDesempeñoPeriodo?var=" + Math.random()
                }
            },
            dataBound: function (e) {
                var comboBox = $("#cbPeriodo").data("kendoDropDownList");
                // Select the first item
                comboBox.select(0);
                // Trigger the change event to load the associated content
                comboBox.trigger("change");
            }
        });
        
        //Asignación inicial
        @*var $newOption = $("<option></option>").val("@ViewBag.IdPeriodo").text("@ViewBag.Periodo");
        $("#cbPeriodo").append($newOption).trigger('change');*@

        setTimeout(function () { CargarListadoComparativo() }, 1000);
    });


    //Funciones
    function ListadoComparativo() {
        if ($("#cbPeriodo").val() == null || $("#cbPeriodo").val() == 0) {
            $('#SmallModalContent').modal('show');
            $("#SmallModalTitle").empty();
            $("#SmallModalTitle").text("Mensaje");
            $("#SmallModalBody").empty();
            $("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + "Seleccione el Periodo." + "</div>");
            $("#SmallModalFooter").empty();
            $("#SmallModalFooter").append("<div style='float:right;'>" +
                                              "<button id='continuee' class='k-button'>Continuar</button>" +
                                       "</div>");
            var undo = $("#continuee")
            .bind("click", function () {
                $('#SmallModalContent').modal('hide');
            });
        } else {
            CargarListadoComparativo()
        }
    }

    function CargarListadoComparativo() {

        $('#tablaComparativo').dataTable().fnDestroy();

        $('#tablaComparativo').DataTable({
            "order": [[1, "asc"]],
            dom: 'Bfrtip',
            ajax: "/EvaluacionPersonal/ListarEstadoEvaluados/" + $("#cbPeriodo").val(),
            columns: [
                { data: "Evaluado" },
                { data: "Cargo" },
                { data: "Jefe" },
                { data: "Estado" },
                { data: "Leyenda" }

            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }
</script>
