@{
    ViewBag.Title = "Detalle Documento de Venta";
    //Layout = null;
}
<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .navVertical ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        list-style: none;
    }

    .navVertical ul li {
        float: left;
        color: #022A41;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #e2e2e2;
        width: 100%;
    }

    .navVertical ul li a {
        text-decoration: none;
        color: #022A41;
    }

    .navVertical ul li a div {
        padding: 6px 10px 6px 10px;
    }

    .navVertical ul li a:hover div {
        background-color: #022A41;
        color: #e2e2e2;
    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    #navDT ul {
        margin: 0px;
        margin-top: 2px;
        /*border:solid 1px #e2e2e2;*/
        /*background-color:#e2e2e2;*/
        display: inline-block;
        list-style: none;
        padding: 0px;
        width: 100%;
        border-top: solid 1px #e2e2e2;
        /*border-bottom:solid 1px #e2e2e2;*/
    }

    #navDT ul li {
        float: left;
        color: #022A41;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
    }

    #navDT ul li a {
        text-decoration: none;
        color: #022A41;
    }

    #navDT ul li a div {
        padding: 6px 10px 6px 10px;
    }

    #navDT ul li a:hover div {
        background-color: #022A41;
        color: #e2e2e2;
    }

    #divTitle {
        border:0.1px solid;
    }

    .activeNavDT {
        background-color: #EDF1F2;
        color: #e2e2e2;
    }

    .bloque1{
        float:left;
        width:50%;
        background:white;
        border:0 hidden;
    }

    .bloque2 {
        clear:none;
        float:right;
        width:50%;
        background:white;   
        border:0 hidden;
    }

    .encabezado{
        font-size:18px;
        margin: 4px;
    }
    
    .titulo{
        font-size:13px;
        margin: 3px 30px;
        color: #4B4C4C;
    }

    .titulo ~ .descripcion{
        font-size:12px;
        margin: auto 40%;  
        margin-top:-20px; 
        font-weight:bold;
        color: #7F7F7F;
        width:50%;
    }

</style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.2/css/select.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../extensions/Editor/css/editor.bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<div style="float:left; width:89%;">
    <div class="titleForm">
        <div class="title" id="divTitle">
        </div>
    </div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div class="divSpace2"></div>
            <div style="width:100%;">
                <div class="bodyForm">
                    <div class="inBodyForm">
                        <div id="divDato"></div>
                    </div>
                </div>
            </div>
            <div class="divSpace2"></div>
            <div style="width:100%;">
                <div class="titleForm">
                    <div class="title" id="divTitle">
                        Licencias
                    </div>
                </div>
                <div class="bodyForm">
                    <div class="inBodyForm">
                        <table class="table table-hover display" id="tablaDetalle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Programa</th>
                                    <th>Código</th>
                                    <th>Tipo de Licencia</th>
                                    <th>Fecha Activacion</th>
                                    <th>Fecha Vencimiento</th>
                                    <th>Estado</th>
                                    @*<th>Activar</th>*@
                                </tr>
                            </thead>
                            <tbody id="TablaLicencias"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="divSpace2"></div>

        </div>
    </div>
</div>

<div style="float:right; width:10%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px;">
                <center>
                    <button id="btnEditar" class="k-button">Editar</button>
                    <button id="btnEliminar" class="k-button" onclick="eliminarPrograma(@ViewBag.IdPrograma)">Eliminar</button>
                </center>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnEditar").click(function () {
            var title = 'Editar Programa';
            var contHtml = '<div id="EditaRegistro"></div>';
            var ancho = 800;
            var alto = 570;
            winFormPopUpModal(title, contHtml, ancho, alto);
            $("#EditaRegistro").load("/Programa/Editar/@ViewBag.IdPrograma?var=" + Math.random());
        });

        ObtenerDatosRegistro();
        ObtenerDatosLicencia();
    });

     function ObtenerDatosRegistro() {
        $.ajax({
            url: "/Programa/ObtenerDetallePrograma/@ViewBag.IdPrograma",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data1 = source;
                mostrarDatosRegistro();
            },
            error: function (source) {
                alert("Error Carga Json Programa");
            }
        });
    }

    function ObtenerDatosLicencia() {
        $.ajax({
            url: "/Programa/ListarLicencias/@ViewBag.IdPrograma",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                dataLicencia = source;
                mostrarDatosLicencia();
                $('#tablaDetalle').dataTable();
            },
            error: function (source) {
                alert("Error Carga Json Licencias");
            }
        });
    }

    function mostrarDatosLicencia() {
        $("#TablaLicencias").empty();
        $.each(dataLicencia['Data'], function (index, value) {
            $("#TablaLicencias").append(
                '<tr id="' + (dataLicencia['Data'][index]['']) + '">' +
                    '<td>' + (dataLicencia['Data'][index]['ORDEN']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['Nombre']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['Codigo']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['TipoLicencia']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['FechaActivacion']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['FechaVencimiento']) + '</td>' +
                    '<td>' + (dataLicencia['Data'][index]['Activo']) + '</td>' +
                '</tr>'
            );
        });
    }

    function mostrarDatosRegistro() {
        $("#divDato").empty();
        $.each(data1['Data'], function (index, value) {
            $("#divTitle").append('<div class="encabezado">Programa &nbsp;&nbsp;&nbsp;' + (data1['Data'][index]['Nombre']) + '</div>');
            $("#divDato").append(
                '<div class="bloque1">' +
                    '<div class="">' +
                        '<div class="titulo">Código</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Codigo']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Código Identificador</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['CodigoIdentifica']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Serie</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Serie']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Proveedor</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['NombreProveedor']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Version</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Version']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Costo</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Costo']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Fecha de Compra</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['FechaCompra']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Riesgo Intrínseco</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['RiesgoIntrinseco']) + '</div>' +
                    '</div>' +
                '</div>' + //Fin bloque1
                '<div class="bloque2">' +
                    '<div class="">' +
                        '<div class="titulo">Licencias En Uso</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['EnUso']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Licencias Disponibles</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Disponible']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Usuario de Creación</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['UsuarioCrea']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Fecha de Creación</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['FechaCrea']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Usuario de Modificación</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['UsuarioModifica']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Fecha de Modificación</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['FechaModifica']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Solped</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Solped']) + '</div>' +
                    '</div>' +
                    '<div class="">' +
                        '<div class="titulo">Criticidad</div>' +
                        '<div class="descripcion">' + (data1['Data'][index]['Criticidad']) + '</div>' +
                    '</div>' +
                 '</div>' +
                 '<div class="bloqueDescripcion">' +
                    '<div class="">' +
                        '<div class="titulo">Descripción</div>' +
                        '<div class="descripcion" style="margin-left:40px;margin-top:5px;">' + (data1['Data'][index]['Descripcion']) + '</div>' +
                    '</div>' +
                 '</div>'
            );

        });
    }

    function AsignarLicenciaPrograma(id) {
        $.ajax({
            url: "/ProgramaLicencia/ActivarLicencia/" + id + "?var",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                data = source;
                winPopUpModal("Licencia", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 10px 0px;'>" +
               "<div style='padding:10px 0px 10px 0px;'>Licencia activada</div>" +
               "<div style='float:right; padding:20px 0px 0px 0px; '>" +
               "<button id='continuer' class='k-button'>Continuar</button></div></div>"
               , 350, 130);
                var undo = $("#continuer")
                .bind("click", function () {
                    closeWinModalPopUp();
                    location.reload(true);
                    //location.replace(location.href.replace("Edit", "Details"));
                });
            },
            error: function (source) {
                alert("Error Carga Json Licencias");
            }
        });
    }

    function eliminarPrograma(id) {
        $.ajax({
            url: "/Programa/eliminarPrograma/",
            data: "id=" + id + "&var=" + Math.random(),
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
                   + "<div style='padding:10px 0px 10px 0px;'>El programa ha sido eliminado</div>"
                   + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
                   "<button id='continues' class='k-button'>Continuar</button>" +
                   "</div></div>", 400, 160);

                    var undo = $("#continues")
                   .bind("click", function () {
                       closeWinModalPopUp();
                       location.replace("#/BandejaPrograma")
                   });

                    $("#closebtnmodal").click(function () {
                        closeWinModalPopUp();
                        location.replace("#/BandejaPrograma")
                    });
                }
            }
        });
    }

</script>
