@{
    ViewBag.Title = "Object By Satff";
   Layout = null;
    
}

<style>

#main  ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main ul i{
  float:right;
  margin:0px;
  display:none;
  cursor: pointer;
}

#main ul li{
  margin:0px;
  padding:5px;
}

#main  ul li:hover {
  background-color:#F0F0F0;
}
#main  ul li:hover i{
  display:inline-block;

}
</style>
<div id="divcomentcompliance"></div>
<div id="contobjectives">
      
    @*<div id="staff" style="float:left;  width:49%; min-height: 20px; padding: 10px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 0px;">



        <div id="fotostaff" style="float:left">            
        </div>

        <div style="float:left; margin-left:20px;">
            <div id="Staffeval" style="display: block; font-size: 1.7143em; line-height: 1.3em;"></div>
            <div id="Staffchar" style="font-size: 0.9em; color: #999; padding-bottom: 0px;"></div>
            <div style="font-size: 0.9em; color: #999; padding-bottom:0px;">Total Objectives <span id="totalobje"></span></div>
        </div>
        <div style="clear:both;"></div>
    </div>*@

    @* ------------Objetivos-------------------------- *@

    @* ------------Gráficos-------------------------- *@
    @*<div style="float:right; width:49%;">
        <img style="width: 615px; height: 125px;" src="~/Content/Images/grafico.png" />
    </div>
   

    <div style="clear:both;"></div>*@


    <!--Objetivos Generales-->
    <div id="objectivesgeneral" style="float:left; width:100%;">
        <div class="titleForm">
            <div style="display:inline-block; width:100%; height:20px;">
                <div class="title" style="float:left; width:30%;">
                    <div style="float:left;" onclick="ReturnEvaluation(this)">
                        <img style="margin-top:-1px;" src="~/Content/Images/arrow_return.png" />
                    </div>&nbsp;General Objectives
                </div>
                <div style="padding-top:3px; padding-right:1%; float:right; width:64%; text-transform:capitalize; text-align:right;"></div>
            </div>
        </div>
        <div class="bodyFormC">

            <div class="inBodyFormC">
                <div style="clear:both"></div>
                <div style="padding:10px 0px 0px 0px;border:0px solid white;">
                    <div id="main">
                        <ul id="listViewObjetives" style="border-top:1px solid #e3e3e3;border-bottom:none;"></ul>
                    </div>
                        <div style="height:10px;">&nbsp;</div>
                        <div id="pagerObjetives"></div>
                    </div>
            </div>
        </div>
    </div>

    <!--Objetivos Específicos-->
    @*<div id="bjectivesspecific" style="float:right; width:49%;">
        <div class="titleForm">
            <div style="display:inline-block; width:100%; height:20px;">
                <div class="title" style="float:left; width:30%;">
                    <div style="float:left;" onclick="ReturnEvaluation(this)">
                        <img style="margin-top:-1px;" src="~/Content/Images/arrow_return.png" />
                    </div>&nbsp;Specific Objectives
                </div>

                <div style="padding-top:1px; padding-right:1%;  float:right; width:64%; text-transform:capitalize; text-align:right;">

                    <div style="display:inline-block;">
                    </div>
                    <div style="width:16px; display:inline-block">
                        <img title="Add New Objective" onclick="AddObjective(this)" style=" width:16px; height:16px; cursor:pointer;" src="~/Content/Images/Hbar/Add.png">
                    </div>

                </div>
            </div>
        </div>
        <div class="bodyForm">

            <div class="inBodyForm">
                <div style="clear:both"></div>
                <div style="padding:10px 10px 0px 15px;">
                    <div id="divobjectivesspecific"></div>
                </div>
            </div>
        </div>
    </div>*@

</div>

@*<div style='width:5px; height:100%; float: left; padding:0px; background-color:red;'>&nbsp;</div>*@

<script type="text/x-kendo-template" id="templateObjetiveGPARS">
    <li style="border-bottom:1px solid \\#e3e3e3">
            <div style="display:inline-block;width:100%;">
                <div style="width:35px;height:35px;background-color:\\#CB3F37;float:left;border-radius:50%;color:white;margin-top:4px;">
                    <div style="display: table;height:35px;width:35px;text-align:center;">
                        <div style="display: table-cell;vertical-align: middle;width:35px;text-align:center;font-weight:500;font-size:14px;">
                            #:RAW#
                        </div>
                    </div>
                </div>
                <div style="float:left; margin-left:10px;width:70%;">
                    <div style="color:\\#3e4752;font-size:14px;">#:NAM_TYPE_OBJE#</div>
                    <div style="font-weight:600;">#:NAM_OBJE#</div>
                </div>
                <div style="width:35px;height:35px;background-color:\\#022A41;float:left;border-radius:50%;color:white;margin-right:50px;margin-top:4px;">
                    <div style="display: table;height:35px;width:35px;text-align:center;">
                        <div style="display: table-cell;vertical-align: middle;width:35px;text-align:center;font-weight:500;font-size:14px;">
                            #:VAL_OBJET#
                        </div>
                    </div>
                </div>
                @*<i class="glyphicon glyphicon-trash"></i>*@
                <div style="width:35px;height:35px;float:left;border-radius:50%;color:\\#3e4752;margin-top:4px;">
                    <div style="display: table;height:35px;width:35px;text-align:center;">
                        <div style="display: table-cell;vertical-align: middle;width:35px;text-align:center;font-weight:500;font-size:14px;">
                            <i id="btnObj#:ID_OBJE_STAF#" class="glyphicon glyphicon-plus" onclick="seeIndicator('#:ID_OBJE_STAF#')"></i>
                        </div>
                    </div>
                </div>
            </div>
        <div id="Indicator#:ID_OBJE_STAF#" style="border:none; border:none;background-color:transparent;margin:0px 100px 0px 60px;" >
            
        </div>
    </li>
</script>

<script type="text/x-kendo-template" id="templateIndicatorObjetive">
    
        <div style="display:inline-block;width:100%;">
            <div style="float:left;width:45%;border-bottom:1px solid \\#e3e3e3;">#:NAM_OBJE_INDI#</div>
            <div style="float:left;width:10%;border-bottom:1px solid \\#e3e3e3;">&nbsp;</div>
            <div style="float:left;width:45%;border-bottom:1px solid \\#e3e3e3;">#:VAL_OBJE_STAF_INDI#</div>
        </div>
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/EvaluationStaff/ObjectivesByStaff/@ViewBag.ID_EVAL_STAF",
                    type: "GET",
                    dataType: "json",
                    data: {
                        ran: Math.random()
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "Status", operator: "eq", value: 0 },
            serverPaging: true,
            pageSize: 8,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerObjetives").kendoPager({
            dataSource: dataSource,
            pageSizes: [8, 16, 24],
            refresh: true
        });

        $("#listViewObjetives").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#templateObjetiveGPARS").html()),
        });

    });

    function seeIndicator(id) {
        
        console.log($("#btnObj" + id)[0].classList[1]);

        if ($("#btnObj" + id)[0].classList[1] == "glyphicon-plus")
        {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/ObjetByStaffIndicator/ListIndicatorByObjetive/" + id,
                        type: "GET",
                        dataType: "json",
                        data: {
                            ran: Math.random()
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Count"
                }
            });
            $("#Indicator" + id).css("border-top", '1px solid #e3e3e3');
            $("#btnObj" + id).removeClass("glyphicon-plus");
            $("#btnObj" + id).addClass("glyphicon-minus");

            $("#Indicator" + id).kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#templateIndicatorObjetive").html()),
            });
        }
        else {
            $("#Indicator" + id).css("border-top", '0px solid #e3e3e3');
            $("#btnObj" + id).removeClass("glyphicon-minus");
            $("#btnObj" + id).addClass("glyphicon-plus");
            $("#Indicator" + id).empty();
        }
        

    }
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/EvaluationStaff/ObjectivesByStaff/@ViewBag.ID_EVAL_STAF",
            data: "var=" + Math.random(),
            type: "GET",
            dataType: "json",
            success: function (source) {
                jsonx = source;
                ListObject();

            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });

        function ListObject() {
            
            var inspector = jsonx.inspector;
            //console.log(jsonx.inspector);         
            var NanEva;
            var NamStaff;
            var colorobje;
            var totalobjectives = jsonx.Count;

            $.each(jsonx['Data'], function (index, value) {
                
                if (value['ID_STAT_OBJE'] == 3)
                {
                    colorobje = '#ba141a';
                }
                else{
                    colorobje = '#679700';
                }

                if (value['ID_TYPE_OBJE'] == 1) {
                    $("#divobjectives").append("<a onclick='fillvaluation(" + value['ID_OBJE_STAF'] + ")' style='text-decoration:none; cursor:pointer;'>" +

                   "<div class='contstaff'>" +                                          

                  "<div style ='float: left; text-align: left; padding:0px 10px 0px 0px;' >" +
                   "<div style='border-left: 4px solid " + colorobje + "; padding-left:10px;'>"+
                        "<div style='color: #3e4752;font-weight:800;'>" + value['NAM_OBJE'] + "</div>" +
                        "<div style='padding-top: 10px; font-size: 12px; font-family: 'sans-serif'; '>Start Date " + value['DAT_STAR'] + " <span style='color:#4c5356'>|</span> End Date " + value['DAT_END'] + " <span style='color:#4c5356'>|</span> <span style='color: #10c4b2;'> Valuation " + value['VAL_OBJET'] + "</span></div>" +
                    "</div>" +
                 "</div>" +

                  "<div style='clear:both;'></div>" +

                    "</div>" +

                    "</a>" +

                    "<br>");
                }
                else
                { 
                    $("#divobjectivesspecific").append("<a onclick='fillvaluation(" + value['ID_OBJE_STAF'] + ")' style='text-decoration:none; cursor:pointer;'>" +

                "<div class='contstaff'>" +

                "<div style ='float: left; text-align: left; padding:0px 10px 0px 0px;' >" +
                   "<div style='border-left: 4px solid " + colorobje + "; padding-left:10px;'>" +
                        "<div style='color: #3e4752;font-weight:800;'>" + value['NAM_OBJE'] + "</div>" +
                        "<div style='padding-top: 10px; font-size: 12px; font-family: 'sans-serif'; '>" +
                            "Start Date " + value['DAT_STAR'] + " <span style='color:#4c5356'>|</span> " +
                            "End Date " + value['DAT_END'] + " <span style='color:#4c5356'>|</span> " +
                            "<span style='color: #10c4b2;'> Valuation " + value['VAL_OBJET'] + "</span>" +
                        "</div>" +
                    "</div>" +
                 "</div>" +

                    "<div style='clear:both;'></div>" +

                    "</div>" +

                    "</a>" +

                    "<br>");
                }

             NanEva = value['NAM_EVAL'];
             NamStaff = value['NAM_EMPL'];
             cargo = value['NAM_CHAR'];
             foto = value['FOTO'];

            });
            
            $("#fotostaff").append("<img style='border: 1px solid #e7e7e7; border-radius: 2px; vertical-align: middle; width:100px;' src='/Content/Fotos/" + foto + ".jpg' />");

            $("#Staffeval").html(NamStaff);
            $("#Staffchar").html(cargo);
            $("#totalobje").html(totalobjectives);

            

        }


    })

    function fillvaluation(id) {
        
        $("#contobjectives").hide("slow");

        $("#divcomentcompliance").load("/EvaluationStaff/ComplianceObjectivesByStaff/" + id + "?var=" + Math.random());
    }

    function permiobje() {
        $.get("/ObjectByStaff/Index/@ViewBag.ID_EVAL_STAF?" + Math.random())
    }
    
    function AddObjective()
    {       
        
        $("#contobjectives").hide("slow");
        $("#divcomentcompliance").load("/ObjectByStaff/Index/@ViewBag.ID_EVAL_STAF?" + Math.random());

   }
    

    

 </script>*@
