@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}

<div class="tab-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="main-card mb-3 card">
                <div class="card-header">Opciones</div>
                <div class="card-body">
                    <div id="divOpciones" style="padding:5px;">
                        <center>
                            <button id="btnReporteMensual" class="btn btn-block btn-sm btn-primary">Reporte Mensual</button>
                            <button id="btnReportePorUsuario" class="btn btn-block btn-sm btn-primary">Reporte por Usuario</button>
                            <button id="btnReportePorArea" class="btn btn-block btn-sm btn-primary">Reporte por Area</button>
                            @*<button id="btnReportePorSemana" class="btn btn-block btn-sm btn-primary">Rpt Inge/Semana</button>*@
                            <button id="btnReporteTipoActividad" class="btn btn-block btn-sm btn-primary">Rpt Tipo Actividad</button>
                            @*<button id="btnMatrizxCliente" class="btn btn-block btn-sm btn-primary">Matriz x Cliente</button>*@
                            <button id="btnMatrizxIngeniero" class="btn btn-block btn-sm btn-primary">Matriz x Ingeniero</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-12" id="divInfoComercial">
                    <div class="mb-3 card">
                        <div class="card-header">
                            <span id="spanTitulo" style="font-size:12.5px"></span>
                        </div>
                        <div id="divCuerpo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#spanTitulo").html('Cantidad de Actividades (Últimas 7 semanas)');
        $("#divCuerpo").load("/Activity/ReporteMensual?var=" + Math.random());

        $("#btnReporteMensual").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Cantidad de Actividades (Últimas 7 semanas)');
            $("#divCuerpo").load("/Activity/ReporteMensual?var=" + Math.random());
        });

        $("#btnReportePorUsuario").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Cantidad de Actividades por Usuario (Últimas 7 semanas)');
            $("#divCuerpo").load("/Activity/ReportePorUsuario?var=" + Math.random());
        });

        $("#btnReportePorArea").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte por Área');
            $("#divCuerpo").load("/Activity/ReportePorArea?var=" + Math.random());
        });

        //$("#btnReportePorSemana").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('Reporte Semanal por Ingeniero');
        //    $("#divCuerpo").load("/Activity/ReporteActividadSemanalxIngeniero?var=" + Math.random());
        //});

        $("#btnReporteTipoActividad").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte Tipo de Actividades');
            $("#divCuerpo").load("/Activity/ReporteTipoActividades?var=" + Math.random());
        });

        //$("#btnMatrizxCliente").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('Actividades por Clientes');
        //    $("#divCuerpo").load("/Activity/ReporteActividad?var=" + Math.random());
        //});

        $("#btnMatrizxIngeniero").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Actividades por Ingenieros');
            $("#divCuerpo").load("/Activity/ReporteActividadxIngeniero?var=" + Math.random());
        });

    });

</script>
