@{
    ViewBag.Title = "Mantenimiento";
    Layout = null;
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<div class="panel panel-primary" style="float:left; width:12%;">
    <div class="panel-heading">Opciones</div>
    <div class="panel-body">
        <div id="divOpciones">
            <center>
                <button id="btnReporteMensual" class="btn btn-block btn-sm btn-primary">Reporte Mensual</button>
                <button id="btnReportePorUsuario" class="btn btn-block btn-sm btn-primary">Reporte por Usuario</button>
                <button id="btnReportePorArea" class="btn btn-block btn-sm btn-primary">Reporte por Area</button>
                <button id="btnReportePorSemana" class="btn btn-block btn-sm btn-primary">Rpt Inge/Semana</button>
                <button id="btnReporteTipoActividad" class="btn btn-block btn-sm btn-primary">Rpt Tipo Actividad</button>
                <button id="btnMatrizxCliente" class="btn btn-block btn-sm btn-primary">Matriz x Cliente</button>
                <button id="btnMatrizxIngeniero" class="btn btn-block btn-sm btn-primary">Matriz x Ingeniero</button>
            </center>
        </div>
    </div>
</div>

<div class="panel panel-primary" style="float:right; width:87%;">
    <div class="panel-heading"><span id="spanTitulo"></span></div>
    <div class="panel-body">
        <div id="divCuerpo">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#spanTitulo").html('Cantidad de Actividades (Últimas 7 semanas)');
        $("#divCuerpo").load("/Activity/ReporteMensual?var=" + Math.random());

        $("#btnReporteMensual").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Cantidad de Actividades (Últimas 7 semanas)');
            $("#divCuerpo").load("/Activity/ReporteMensual?var=" + Math.random());
        });

        $("#btnReportePorUsuario").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Cantidad de Actividades por Usuario (Últimas 7 semanas)');
            $("#divCuerpo").load("/Activity/ReportePorUsuario?var=" + Math.random());
        });

        $("#btnReportePorArea").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte por Área');
            $("#divCuerpo").load("/Activity/ReportePorArea?var=" + Math.random());
        });

        $("#btnReportePorSemana").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte Semanal por Ingeniero');
            $("#divCuerpo").load("/Activity/ReporteActividadSemanalxIngeniero?var=" + Math.random());
        });

        $("#btnReporteTipoActividad").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte Tipo de Actividades');
            $("#divCuerpo").load("/Activity/ReporteTipoActividades?var=" + Math.random());
        });

        $("#btnMatrizxCliente").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Actividades por Clientes');
            $("#divCuerpo").load("/Activity/ReporteActividad?var=" + Math.random());
        });

        $("#btnMatrizxIngeniero").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Actividades por Ingenieros');
            $("#divCuerpo").load("/Activity/ReporteActividadxIngeniero?var=" + Math.random());
        });

    });

</script>
