@{
    Layout = null;
}
<link href="~/Content/ArchitectureUI/main.css" rel="stylesheet" />
<link href="~/Content19/kendo/2019.3.1023/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content19/kendo/2019.3.1023/kendo.rtl.min.css" rel="stylesheet" />
<link href="~/Content19/kendo/2019.3.1023/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content19/kendo/2019.3.1023/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="~/Content19/all.css" rel="stylesheet" />

<script src="~/Scripts19/kendo/2019.3.1023/jquery.min.js"></script>
<script src="~/Scripts19/kendo/2019.3.1023/jszip.min.js"></script>
<script src="~/Scripts19/kendo/2019.3.1023/kendo.all.min.js"></script>



<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form id="Parametro">
                        <div class="form-row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="IdIngeniero">Usuario(s) </label>
                                    <select multiple="multiple" class="multiselect-dropdown form-control" id="IdIngeniero" style="width:100%;"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="IdTipo">Tipo Actividad</label>
                                    <select id="IdTipo" class="form-control input-sm select2" type="text" style="width:100%" ></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="FechaInicio">Fecha Inicio</label>
                                    <input id="FechaInicio" name="FechaInicio" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="FechaFin">Fecha Fin</label>
                                    <input id="FechaFin" name="FechaFin" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <label for="">&nbsp;</label>
                                <input id="btnBuscar" name="btnBuscar" class="btn btn-block btn-primary btn-sm" type="button" value="Buscar" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-12">
                    <iframe id="RSActCliente" style="height:480px; width:100%;border: 0px #eee solid;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Content/ArchitectureUI/assets/scripts/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    function GenerateReport() {
        if (@Session["ID_PERS_ENTI"] == 1007) {
            if ($("#IdIngeniero").val() == null || $("#IdTipo").val() == null || $("#FechaInicio").val() == "" || $("#FechaFin").val() == "") {
                uploadDone("Completar la información solicitada.");
            } else {
                window.frames["RSActCliente"].src = "/Reporting/Actividad/ActxIngeniero.aspx?var=" + Math.random() + "&IdTipo=" + $("#IdTipo").val() + "&FechaInicio=" + $("#FechaInicio").val() + "&IdCliente" + $("#FechaFin").val() + "&IdIngeniero=" + $("#IdIngeniero").val();
            }
        } else {
            if ($("#IdTipo").val() == null || $("#FechaInicio").val() == "" || $("#FechaFin").val() == "") {
                uploadDone("Completar la información solicitada.");
            } else {
                window.frames["RSActCliente"].src = "/Reporting/Actividad/ActxIngeniero.aspx?var=" + Math.random() + "&IdTipo=" + $("#IdTipo").val() + "&FechaInicio=" + $("#FechaInicio").val() + "&IdCliente" + $("#FechaFin").val() + "&IdIngeniero=" + $("#IdIngeniero").val();
            }
        }
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnBuscar").click(function (event) {
            GenerateReport();
            event.preventDefault();
        });

        $.ajax({
            url: "/Activity/ListPersonalActividadMultiSelect",
            type: 'post',
            success: function (response) {
                $.each(response, function (ind, elem) {
                    $("#IdIngeniero").append(elem.opcion);
                });
                $("#IdIngeniero").multiselect("rebuild");
                $("#IdIngeniero").attr("disabled", false);
            }
        });
        $("#FechaInicio").kendoDatePicker({
            format: "MM/dd/yyyy"
        });
        $("#FechaFin").kendoDatePicker({
            format: "MM/dd/yyyy"
        });

        $("#IdTipo").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            placeholder: "Seleccione un tipo de actividad",
            dataValueField: "id",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Activity/ListarTipoActividadCbx"
                }

            }
        });
    });

    function uploadDone(msg) {
        toastr.warning(msg, "Mensaje");
    }

</script>