@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/sweet-alert.js"></script>
    <script src="~/Scripts/bootstrap-tags.js"></script>
    <script src="~/Scripts/bootstrap-tags.min.js"></script>
    <script src="~/Scripts/Itms/Plugins/jquery.validate.min.js"></script>

    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<style>
  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
      position: fixed;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
  }
  #section1 {color: #fff; background-color: #1E88E5;}
  #section2 {color: #fff; background-color: #673ab7;}
  #section3 {color: #fff; background-color: #ff9800;}
  #section41 {color: #fff; background-color: #00bcd4;}
  #section42 {color: #fff; background-color: #009688;}


  
    </style>*@
</head>
<body >

    <div id="basicdiagram" style="width: 100%; border-width: 1px;background-color:white; float:left" />
    <div class="col-md-12" style="background-color: #0C2A3E">
        <div style="width: 100%;">
            <div style="width:35%; float:left">
                <img src="http://itms.electrodata.com.pe/images/logoED.png" width="250" />
            </div>
            <div style=" float:left"><span style="font-size:xx-large;color:white; font-family:Arial; float:left">POSTULACIONES INTERNAS</span></div>
        </div>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    <div class="col-md-4">
        
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" style="height:47px">
                     ¡Postula!
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        Si estás interesado en alguno de los puestos que ofrecemos, envía un correo electrónico a Gestión del talento humano.
                        <br /><br /> 
                        <div style="width:40%; float:left">
                            <img src="http://itms.electrodata.com.pe/images/postula.png"  />
                        </div>
                        <br /><strong>Correo <i class="glyphicon glyphicon-envelope"></i>
                        <br />rrhh@electrodata.com.pe</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-11">
            @*<div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                    PUESTO: INGENIERO DE SEGURIDAD
                </button>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="col-md-12">
                        <p align="justify">
                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />Configurar y revisar las integraciones en telecomunicaciones referentes a seguridad, como también brindar soluciones a los clientes según sea su requerimiento sobre temas de soporte técnico y de asesoramiento en el área.
                            <br /><strong>Requisitos:</strong>
                            <br />•	Ingeniero titulado en Ing. de Sistemas, Electrónica o industrial o carreras afines.
                            <br />•	3 años de experiencia implementando soluciones de seguridad en el sector de Tecnologías de la Información.
                            <br />• Conocimientos excluyentes: Seguridad perimetral - Firewall (Check Point, Fortinet, Palo Alto, , Cisco, , etc)
                            <br />• Conocimientos avanzados en redes.
                            <br />• Conocimientos intermedios en sistemas operativos linux y Windows Server.
                            <br />• Inglés Intermedio o Avanzado (Excluyente).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
                    PUESTO: ANALISTA DE MESA DE AYUDA
                </button>
            </div>
            <div id="collapse2" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="col-md-12">
                        <p align="justify">

                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />Proporcionar servicio técnico reactivo y proactivo con la finalidad de solucionar o direccionar todos los incidentes o requerimientos de Tecnologías de Información de los clientes y/o usuarios finales, garantizando el cumplimiento de los niveles de servicio.
                            <br /><strong>Requisitos</strong>
                            <br />•	Egresado Universitario/Técnico de Ingeniería de Sistemas, Computación e Informática o afines.
                            <br />•	Conocimientos sólidos de ofimática y manejo intermedio de Microsoft Excel.
                            <br />•	Experiencia trabajando con Servicenow (Excluyente)
                            <br />•	Inglés Intermedio

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                    PUESTO: ANALISTA JR DE VIRTUALIZACIÓN
                </button>
            </div>
            <div id="collapse3" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="col-md-12">
                        <p align="justify">
                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />Identificar los requisitos de funcionalidad y capacidad de gestión de la virtualización de aplicaciones, colaborando con el diseño y despliegue, proporcionando soporte y mantenimiento teniendo una habilidad avanzada  de comunicación con el cliente.
                            <strong>Requisitos</strong>
                            <br />•	Egresado de las carreras de Ingeniería de Sistemas, Redes, Informática y afines.
                            <br />•	Windows Server a nivel administrador.
                            <br />•	Experiencia de 1 a 2 años en soporte de Servidores.
                            <br />•	Valorable conocimiento de entornos de Redes.
                            <br />•	Valorable haber participado o liderado un proyecto de TI.
                            <br />•	Valorable Certificaciones.
                            <br />•	Inglés Intermedio-Avanzado
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                    PUESTO: PRACTICANTE PROFESIONAL DE VIRTUALIZACIÓN
                </button>
            </div>
            <div id="collapse4" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="col-md-12">
                        <p align="justify">
                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />•	Investigación de soluciones de Virtualización según asignación.
                            <br />•	Documentación de las soluciones asignadas.
                            <br />•	Acompañamiento y soporte en proyectos.
                            <br /><strong>Requisitos</strong>
                            <br />•	Egresado/Estudiante de últimos ciclos de las carreras de Ingeniería de Sistemas, Redes, Informática y afines.
                            <br />•	Conocimiento en Programación de Software.
                            <br />•	Windows a nivel administrador (deseable).
                            <br />•	Experiencia en soporte de Servidores (deseable).
                            <br />•	Valorable conocimiento de entornos de Redes.
                            <br />•	Inglés Intermedio-Avanzado
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                    PUESTO: PRACTICANTE PROFESIONAL DE TESORERIA
                </button>
            </div>
            <div id="collapse5" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="col-md-12">

                        <p align="justify">
                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />Soportar por el correcto uso de los fondos de la empresa, así como desarrollar las diversas actividades de registro en el sistema informando sobre los ingresos y egresos debidamente sustentados con la documentación respectiva.
                            <br /><strong>Requisitos</strong>
                            <br />•	Egresado(a)  de la carrera universitaria de Contabilidad.
                            <br />•	Experiencia mínima de 6 meses en labores variadas de Tesorería y flujo de fondos.
                            <br />•	Conocimientos en manejo de caja chica, cartas fianza, leasing, factoring  u otros productos financieros.
                            <br />•	Conocimientos de retenciones y detracciones.
                            <br />•	Conocimiento en las diversas plataformas de las entidades bancaria
                            <br />•	Administración de la liquidez y negociación con proveedores.
                            <br />•	Inglés Intermedio (deseable)
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="height:47px">
                <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
                    PUESTO: PRACTICANTE PROFESIONAL CONTABLE
                </button>
            </div>
            <div id="collapse6" class="panel-collapse collapse ">
                <div class="panel-body">
                    <div class="col-md-12">

                        <p align="justify">
                            <br /><strong>Sede: </strong>Lima
                            <br /><strong>Funciones:</strong>
                            <br />Apoyar y analizar las cuentas y gastos de todos los movimientos de la empresa.
                            <br /><strong>Requisitos</strong>
                            <br />•	Bachiller o Licenciado de la carrera universitaria de Contabilidad.
                            <br />•	Experiencia mínima de 6 meses en labores variadas de contabilidad así como análisis de cuentas.
                            <br />•	Conocimiento en contabilidad general y tributarios (gastos deducibles).
                            <br />•	Conocimientos en presentación y declaración de libros electrónicos en el PLE.
                            <br />•	Experincia en pago de detracciones masivas, cálculo y; aplicación de IGV y renta de no domiciliados.
                            <br />•	Inglés Intermedio (deseable)
                        </p>
                    </div>
                </div>
            </div>
        </div>*@

            <div class="panel panel-default">
                <div class="panel-heading" style="height:47px">
                    <button class="btn btn-link" data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                        PUESTO: ANALISTA DE INFRAESTRUCTURA N3
                    </button>
                </div>
                <div id="collapse7" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <div class="col-md-12">

                            <p align="justify">
                                <br /><strong>Sede: </strong>Pisco - Campamento Minero
                                <br /><strong>Funciones:</strong>
                                <br />•	Brindar soporte de segundo nivel.
                                <br />•	Atención y servicios a usuarios de la División Minera en el sitio del usuario final o afectado
                                <br /><strong>Requisitos</strong>
                                <br />•	Deseable Bachiller, Titulado y Colegiado en Ingeniería de Sistemas y/o Ingeniería Electrónica.
                                <br />•	Mínimo 2 años en puestos similares en el rubro de tecnología de información.
                                <br />•	Experiencia en el rubro minero.
                                <br />•	Gestión de infraestructura.
                                <br />•	Conocimiento en: Microsoft Windows Server 2019 (WS-011T00, WS-012T00 y WS-013T00), Microsoft SQL Server 2019 MCSA, Linux RHCE, VMWare VCP, Microsoft Azure Administrator, Microsoft Azure Architect Desing & Technologies, Microsoft Azure Security.
                                <br />•	Disponibilidad para trabajar de forma Presencial en Unidad Minera en PISCO.
                                <br />•	Disponibilidad para trabajar en régimen 14*7.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>
</html>