@{
    ViewBag.Title = "EliminarRol";
    Layout = null;
}
@*--------------------------------Plugin Toast--------------------------------*@
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="main-card mb-2 card">
    <div class="card-header"><b>Eliminar Rol</b></div>
    <div class="card-body">
        <div class="form-row">
            <span>¿Esta seguro que desea<b style="color:red"> Eliminar </b>el Rol?</span>
        </div>
        <br />
        <div class="form-row">
            <div class="col-md-6 ml-auto">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary btn-block">Cancelar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <button type="button" class="btn btn-primary btn-block" onclick="Eliminar()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function Eliminar() {
        $.ajax({
            type: "POST",
            url: "/Role/EliminarRol?id=" + "@ViewBag.IdRolE" + '&x=' + Math.floor(Math.random()*10),
            cache: false,
            success: function (data) {
                if (data == "ERROR") {
                    toastr.error("Error");
                } else {
                    $("[data-dismiss=modal]").trigger({ type: "click" });
                    toastr.success("Registro Eliminado", "Exito!");
                    $('#roleTable').DataTable().ajax.reload();
                }
            }
        });
    }

</script>