@{
    ViewBag.Title = "ListaUsuarioRol";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<style>
    .k-maskedtextbox {
        width: 100%;
    }
</style>
@*--------------------------------Plugin Toast--------------------------------*@
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
@*--------------------------------Plugin iCheck--------------------------------*@
<link href="~/Content/themes/plugin//iCheck/flat/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>
@*-----------------------Plugin DataTable + Bootstrap---------------------------------------------------------*@
<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<div class="app-page-title" style="margin-bottom: 2%; padding: 1% 2.5%;">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Mantenimiento Rol/Menú/Acción
                @*<div class="page-title-subheading">

                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-2 card">
                <div class="card-body" style="padding-bottom: 1%;">
                    <div class="card-title">ROL</div>
                    <hr style="margin-top: 0%; margin-bottom: 1%;" />
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label id="lblNuevoRol" for="nombreNuevoRol">Nuevo Rol</label>
                                    <input id="nombreNuevoRol" type="text" />
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <label for="chbEstadoRol">Estado</label><br>
                                    <input id="chbEstadoRol" type="checkbox" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <br>
                                    <button id="btnCrearRol" type="button" onclick="CrearRol()" class="btn btn-primary btn-block">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <table id="roleTable" class="table table-hover table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th >Rol</th>
                                        <th >Estado</th>
                                        <th >Opción</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="main-card mb-2 card">
                <div class="card-body" style="padding-bottom: 1%;">
                    <div class="card-title">MENÚ/ROL: <b id="rolSeleccionado">Administrador de Proyectos</b></div>
                    <hr style="margin-top: 0%; margin-bottom: 1%;" />
                    <input id="rolid" type="text" style="display:none" />
                    <input id="menunam" type="text" style="display:none" />
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary" onclick="AgregarMenu()" data-toggle="modal" data-target="#miModal">
                            <i class="fas fa-search-plus fa-lg"></i>   Agregar Menú Existente
                        </button>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <table id="menuTable" class="table table-hover table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Menú</th>
                                        <th>Estado</th>
                                        <th>Opción</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-block-example-1 d-none">
    <div class="loader bg-transparent no-shadow p-0">
        <div class="ball-grid-pulse">
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
            <div class="bg-white"></div>
        </div>
    </div>
</div>

@*<iframe id="upload_target" name="upload_target" src="" class="hidden" style="display:none"></iframe>*@
<script>

    $(document).ready(function () {
        var fid = 0;
        var frol = "";
        var cont = 0;

        //Dando estilo a los input
        $("#nombreNuevoRol").kendoMaskedTextBox({
            mask: ""
        });
        $("#nombreNuevoMenu").kendoMaskedTextBox({
            mask: ""
        });

        //Dando estilo iCheck a los checkbox
        $('#chbEstadoRol').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
        $('#chbEstadoRol').iCheck('check');
        $('#chbEstadoMenu').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
        $('#chbEstadoMenu').iCheck('check');

        //Carga de combobox Menu Padre
        $("#nombreMenuPadre").kendoComboBox({
            placeholder: "Seleccione un usuario",
            dataTextField: "Menu",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Role/ListaComboMenu?var=" + Math.random()
                }
            }
        });

        //Variable de lenguaje para tablas
        var leng_esp = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla =(",
            "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        };

        //Limpieza de Tablas
        $("#roleTable").dataTable().fnDestroy();
        $("#menuTable").dataTable().fnDestroy();
        //Carga de Tablas
        $('#roleTable').DataTable({
            order: [[1, "asc"]],
            responsive: true,
            dom: 'frtip',
            select:true,
            ajax: {
                url: "/Role/ListaRoles",
                type: "GET",
                dataSrc: "Data"
            },
            columns: [
                {
                    data : "Id"
                    
                },
                {
                    data: "Rol"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        var color = "badge-success";
                        var estado = "Activo"
                        if (data.Estado == 0) { color = "badge-danger"; estado = "Inactivo"};
                        return '<span class="badge badge-pill '+ color +' text-capitalize">'+ estado +'</span>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<div role="group" class="btn-group-lg btn-group">' +
                                    '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Editar Rol" data-toggle="modal" data-target="#miModal" onclick="EditarRol('+ data.Id + ');"> <i class="fa fa-edit" aria-hidden="true"></i></button>' +
                                    '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Ver Menús" onclick="VerMenus(' + data.Id + ',' + "'" + data.Rol + "'" + ');"> <i class="fa fa-eye" aria-hidden="true"></i></button>' +
                                    '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Duplicar Rol" data-toggle="modal" data-target="#miModal" onclick="DuplicarRol(' + data.Id + ');"> <i class="fa fa-clone" aria-hidden="true"></i></button>' +
                               '</div>';
                    }
                }
            ],
         columnDefs: [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }
         ],
         language: leng_esp
        });
        VerMenus(15,"PROJECTMANAGER");
    });

    function CrearRol() {
        if ($("#nombreNuevoRol").val() == "") {
            toastr.warning("Debe Ingresar un Nombre de Rol", "Advertencia");
        } else {
            $.ajax({
                type: "POST",
                url: "/Role/CrearRol?nombre=" + $("#nombreNuevoRol").val() +"&Estado=" + $("#chbEstadoRol").iCheck('update')[0].checked,
                cache: false,
                success: function (data) {
                    if (data == "ERROR") {
                        toastr.error("Error");
                    } else if (data == "DOBLE") {
                        toastr.warning("El nombre ingresado ya se encuentra registrado", "Advertencia");
                    }else {
                        toastr.success("Registro Creado", "Exito!");
                        $("#nombreNuevoRol").val("");
                        $('#roleTable').DataTable().ajax.reload();
                    }
                }
            });
        }
    }
    
    function EditarRol(IdRol) {
        $("#lblTitulo").text("Editar Rol");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/EditarRol?id=' + IdRol);
    }

    function EliminarRol(IdRol) {
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/EliminarRol?id=' + IdRol);
    }

    function VerMenus(IdRol, NombreRol) {
        var leng_esp = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla =(",
            "sInfo": "Mostrando del _START_ al _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad"
            }
        };
        //Carga el titulo del card del lado derecho y la tabla Menu con el Rol
        $("#rolSeleccionado").text(NombreRol);
        $("#rolid").val(IdRol);
        $("#menuTable").dataTable().fnDestroy();
        $('#menuTable').DataTable({
            responsive: true,
            select:true,
            dom: 'rtip',
            ajax: {
                url: "/Role/ListaMenusxRol?id=" + IdRol,
                type: "GET",
                dataSrc: "Data"
            },
            columns: [
                {
                    data: "IdMenu"
                },
                {
                    data: "Menu"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        var color = "badge-success";
                        var estado = "Activo"
                        if (data.Estado == 0) { color = "badge-danger"; estado = "Inactivo" };
                        return '<span class="badge badge-pill ' + color + ' text-capitalize">' + estado + '</span>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<div role="group" class="btn-group-lg btn-group">' +
                                '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Editar Acciones" data-toggle="modal" data-target="#miModal" onclick="AccionMenu(' + data.IdPerfilMenu + ',' + "'" + data.Menu + "'" + ');"> <i class="fa fa-plus-circle" aria-hidden="true"></i></button>' +
                                '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Editar Menú" data-toggle="modal" data-target="#miModal" onclick="EditarMenu(' + data.IdMenu + ')"> <i class="fa fa-edit" aria-hidden="true"></i></button>' +
                                '<button class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3" title="Eliminar Menú del Rol" data-toggle="modal" data-target="#miModal" onclick="EliminarMenu(' + data.IdPerfilMenu + ');"> <i class="fa fa-trash-alt" aria-hidden="true"></i></button>'
                        '</div>';
                    }
                }
            ],
            columnDefs: [
               {
                   "targets": [0],
                   "visible": false,
                   "searchable": false
               },
            ],
            language: leng_esp
        });
    }

    function CrearMenu() {
        if ($("#nombreNuevoMenu").val() == "") {
            toastr.warning("Debe Ingresar un Nombre de Menú", "Advertencia");
        } else {
            $.ajax({
                type: "POST",
                url: "/Role/CrearMenu?IdMenu=" + ($("#nombreMenuPadre").val() == "" ? 0 : $("#nombreMenuPadre").val()) +"&nombre=" + $("#nombreNuevoMenu").val() + "&Estado=" + $("#chbEstadoMenu").iCheck('update')[0].checked,
                cache: false,
                success: function (data) {
                    if (data == "ERROR") {
                        toastr.error("Error");
                    } else if (data == "DOBLE") {
                        toastr.warning("El nombre ingresado ya se encuentra registrado", "Advertencia");
                    } else {
                        toastr.success("Registro Creado", "Exito!");
                        $("#nombreNuevoMenu").val("");
                        $("#nombreMenuPadre").data("kendoComboBox").value("");
                        $('#menuTable').DataTable().ajax.reload();
                    }
                }
            });
        }
    }

    function AgregarMenu() {
        var IdRol = $("#rolid").val();
        $("#lblTitulo").text("Agregar Menú");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/AgregarMenu/' + IdRol);
    }

    function AccionMenu(idPerfilMenu, nombreMenu) {
        var IdRol = $("#rolid").val();
        var NombreRol = $("#rolSeleccionado").text()
        $("#lblTitulo").text("ACCIONES - " + NombreRol);

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#menunam").val(nombreMenu);
        $("#modal-content").empty();
        $("#modal-content").load('/Role/MenuAcciones?idPerfilMenu=' + idPerfilMenu);
        
    }

    function EditarMenu(idMenu) {
        $("#lblTitulo").text("Editar datos del Menú");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/EditarMenu?id=' + idMenu);
    }
    
    function EliminarMenu(idPerfilMenu) {
        var IdRol = $("#rolid").val();
        $("#lblTitulo").text("Eliminar Menú");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/EliminarMenu?idPerfilMenu=' + idPerfilMenu);
    }

    function DuplicarRol(IdRol) {
        $("#lblTitulo").text("Duplicar Rol");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").addClass("modal-md");

        $("#modal-content").empty();
        $("#modal-content").load('/Role/DuplicarRol?IdRol=' + IdRol);
    }

</script>