@{
    ViewBag.Title = "Ticket";
}
<!DOCTYPE html>

<html ng-app="app">
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Ticket</title>
    @*<script src="~/Scripts/angular.min.js"></script>*@
</head>

<body>
    <style>
        body{
            font-size: 1.2em;
        }
        .lbl-title {
            color: #777;
            
        }

        .lbl-sub-title {
            color: #333;
            font-weight: bolder;
            
            color: #555;
        }

        .block-separate {
            /*border-right:1px dotted #777;*/
        }

        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
        }
    </style>
    
    <div class="row" style="min-height:500px; margin:70px 0px 0px 0px;">
        <div class="col-md-6 col-lg-8 col-sm-8 col-xs-12" style="background-color:white;border-radius:10px;">
            <div ng-controller="appController" ng-init="init('@ViewData["id"]')">
                <div style="border:0px red solid;" ng-repeat="data in datos">
                    <div class="row" style="margin-top:15px;margin-bottom:15px;">
                        <div class="col-lg-5"><h3>{{data.CIA}}</h3></div>
                        <div class="col-lg-5 col-lg-offset-2"><h3>{{data.COD_TICK}}</h3></div>
                    </div>

                    <div class="row">
                        <div class="block-separate col-md-2 col-xs-6">
                            <div class="lbl-title">Status</div>
                            <div class="lbl-sub-title">{{data.NAM_STAT}}</div>
                        </div>
                        <div class="block-separate col-md-3 col-xs-6">
                            <div class="lbl-title">Affected End User</div>
                            <div class="lbl-sub-title">{{data.AEU}}</div>
                        </div>
                        <div class="visible-xs col-xs-12"><hr /></div>
                        <div class="block-separate col-md-2 col-xs-6">
                            <div class="lbl-title">SLA</div>
                            <div class="lbl-sub-title">{{data.SLA}}</div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="lbl-title">Expiration Time</div>
                            <div class="lbl-sub-title">{{data.EXP_TIME}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1"><hr /></div>
                    </div>
                    <div class="row">
                        <div class="block-separate col-md-2">
                            <div class="lbl-title">Priority</div>
                            <div class="lbl-sub-title">{{data.NAM_PRIO}}</div>
                        </div>
                        <div class="visible-xs col-xs-12"><hr /></div>
                        <div class="block-separate col-md-3 col-xs-6">
                            <div class="lbl-title">Category</div>
                            <div class="lbl-sub-title">{{data.NAM_CATE}}</div>
                        </div>
                        <div class="block-separate col-md-2 col-xs-6">
                            <div class="lbl-title">Sub Category</div>
                            <div class="lbl-sub-title">{{data.NAM_SUB_CATE}}</div>
                        </div>
                        <div class="visible-xs col-xs-12"><hr /></div>
                        <div class="col-md-2 block-separate col-xs-6">
                            <div class="lbl-title">Class</div>
                            <div class="lbl-sub-title">{{data.NAM_CLAS}}</div>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <div class="lbl-title">Sub Class</div>
                            <div class="lbl-sub-title">{{data.NAM_SUB_CLAS}}</div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1"><hr /></div>
                    </div>
                    <div class="row">
                        <div class="block-separate col-md-2">
                            <div class="lbl-title">Source</div>
                            <div class="lbl-sub-title">{{data.NAM_SOUR}}</div>
                        </div>
                        <div class="visible-xs col-xs-12"><hr /></div>
                        <div class="block-separate col-md-3 col-xs-6">
                            <div class="lbl-title">Created Date</div>
                            <div class="lbl-sub-title">{{data.CREATED}}</div>
                        </div>
                        <div class="block-separate col-md-2 col-xs-6">
                            <div class="lbl-title">Modified Date</div>
                            <div class="lbl-sub-title">{{data.MODIFIED}}</div>
                        </div>
                        <div class="visible-xs col-xs-12"><hr /></div>
                        <div class="col-md-2 block-separate col-xs-6">
                            <div class="lbl-title">Attach</div>
                            <div class="lbl-sub-title">{{data.ATTA}}</div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <div class="lbl-title">Remote Control</div>
                            <div class="lbl-sub-title">{{data.RDP}}</div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1"><hr /></div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1 col-xs-3">
                            <img class="img-responsive img-circle" width="64" style="margin-top:15px;" src="http://itms.electrodata.com.pe/Content/Fotos/{{data.PHOTO}}.jpg" />
                        </div>
                        <div class="col-md-8 col-xs-9">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-xs-">Created By: {{data.CREA_BY}}</div>
                                
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xs-11 " ng-bind-html="data.SUM_TICK" style="background-color:#e4e7ea;padding-top:10px;border-radius:10px;padding-bottom:10px;"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11  col-md-11 col-xs-11">Assigned To: {{data.ASSI_TO}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:15px;margin-bottom:15px;">
                        <hr />
                    </div>

                </div>

                <div style="border:0px red solid;" ng-repeat="data in detalle">
                        <div class="row" style="margin-top:15px;margin-bottom:15px;">
                            <div class="col-md-2 col-md-offset-1 col-xs-3">
                                <img class="img-responsive img-circle" width="64" src="http://itms.electrodata.com.pe/Content/Fotos/{{data.PHOTO}}.jpg" />
                            </div>

                            <div class="col-lg-9 col-xs-9">
                                <div class="row" style="border-bottom:0px solid #e4e7ea;">
                                    <div class="col-lg-4">{{data.PERS}}</div>
                                    <div class="col-lg-8">{{data.NAM_TYPE_DETA_TICK}} {{data.NAM_STAT}} {{data.FEC_SCHE}}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-11 col-xs-11" ng-bind-html="data.COM_DETA_INCI" style="border:1px solid #e4e7ea;border-radius:10px;padding-top:10px;padding-bottom:10px;"></div>
                                </div>
                                <div class="row" style="border-top:0px solid #e4e7ea;">
                                    <div class="col-lg-4">Created: {{data.CREATE_DETA_INCI}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:15px;margin-bottom:15px;">
                            <div class="col-lg-10 col-lg-offset-1"><hr /></div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</body>
</html>
