@model WebClientED.Models.DETAILS_TICKET
@{
    ViewBag.Title = "TicketRespondido";
}

<!DOCTYPE html>
<html ng-app="appp">
<head>
    <title>Ticket</title>
</head>

<body>
    <style>
        body {
            height: 100%;
            width: 100%;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            padding: 50px;
        }

        .textarea {
            width: 65%;
            min-height: 65px;
            resize: none;
            display: inline-block;
        }

        .lbl-title {
            font-size: 17px;
            color: #36A0FF;
            font-weight: bolder;
            display: inline-block;
        }

        .lbl-sub-title {
            font-weight: bolder;
            color: #ffffff;
            font-size: 17px;
            display: inline-block;
        }
    </style>
    <br /><br /><br />
    <div class="container">
        <div class="row center-block">
            <div class="col-sm-12">
                    <div class="well well-sm" style="background-color:#3E4752;">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend class="text-center header">El Ticket ya ha sido respondido</legend>
                                <div ng-controller="appEncuesta" ng-init="init('@ViewData["id"]')" class="text-center">
                                    <div style="border:0px red solid;" ng-repeat="data in datos">
                                        <div class="form-group">
                                            <span class="lbl-title">Ticket : </span>
                                            <div class="lbl-sub-title">
                                                {{data.COD_TICK}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="lbl-title">Solicitante : </div>
                                            <div class="lbl-sub-title">{{data.User}}</div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>



