@{
    Layout = null;
}

<style>
    .navSales{
        list-style:none;
        border:0px solid red;
        display:inline-block;
    }

    .navSales .ulSales{
        list-style:none;
        padding:10px 0px 0px 0px ;
        margin:0px;
        display:inline-block;
    }
    .navSales .ulSales li{
        list-style:none;
        float:left;
        border:0px solid red;
        min-width:50px;
        height:30px;
        margin:0px 0px 0px 10px;
        font-size:30px;
        text-align:center;
        cursor:pointer;
    }
    .navSales .ulSales li a{
        display:block;
        border-bottom:5px solid #2D5C88;
        text-decoration:none;
    }
    .navSales .ulSales li a:hover{
        border-bottom:5px solid #F2BA0C;
    }
    .statusSOActive{
        border-bottom:5px solid #F2BA0C;
    }
    .navSales .ulSales li a .divNum{
        min-width:60px;
        height:45px;
        /*background-color:rgba(0, 0, 0,0.2);*/
        background-color:#2D5C88;
        border:0px solid #808080;
        padding:0px 5px;
        color:white;
    }
    .navSales .ulSales li a .divName{
        padding-top:5px;
        font-size:12px;
        color:#eaeaea;
        /*border-bottom:4px solid #2D5C88;*/
    }
    .navSales .ulSales li a .divAmmo{
        font-size:10px;
        background-color:#2D5C88;
        width:100%;
        margin-right:0px;
        margin-top:5px;
        color:white;
    }

    .divPerfSale{
        background-color:#e3e3e3;
        padding:5px;
    }

    .divRowSalesOpp{
        border:0px solid #eaeaea;
        background-color:#e3e3e3;
        margin-top:10px;
    }
    .divRowSalesOpp .divRowHeader{
        display:inline-block;
        width:100%;
        border-bottom:1px solid #2D5C88
    }
    .statusRowHeader{
        background-color: #2D5C88;
        color:white;
    }
    .marginRowHeader{
        background-color:#679700;
        color:white;
    }
</style>

<div style="width:100%; border:0px red solid;">
    <div  style="float:left; width:64.5%;">
        <div id="divPanleSalesOpp">
            <div style="width:100%;">
                <div style="background-color:#3E4752;height:110px;border:1px solid #808080;">
                    <nav class="navSales">
                        <ul class="ulSales">
                            <li>
                                <a id="SSO1" onclick="filterStatus(this,1)">
                                    <div class="divNum">10</div>
                                    <div class="divAmmo">$ 1,000,000</div>
                                    <div class="divName">First Contact</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO2" onclick="filterStatus(this,2)">
                                    <div class="divNum">2</div>
                                    <div class="divAmmo">$ 1,000,000.00</div>
                                    <div class="divName">Identification</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO3" class="statusSOActive" onclick="filterStatus(this,3)">
                                    <div class="divNum">4</div>
                                    <div class="divAmmo">$ 1,000,000.00</div>
                                    <div class="divName">Development</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO4" onclick="filterStatus(this,4)">
                                    <div class="divNum">7</div>
                                    <div class="divAmmo">$ 1,000.00</div>
                                    <div class="divName">Cotization</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO5" onclick="filterStatus(this,5)">
                                    <div class="divNum">0</div>
                                    <div class="divAmmo">$ 100,000.00</div>
                                    <div class="divName">Demostration</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO6" onclick="filterStatus(this,6)">
                                    <div class="divNum">2</div>
                                    <div class="divAmmo">$ 100,000.00</div>
                                    <div class="divName">Negotation</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO7" style="border-bottom:5px solid #F2BA0C;" onclick="filterStatus(this,7)">
                                    <div class="divNum">3</div>
                                    <div class="divAmmo">$ 100,000.00</div>
                                    <div class="divName">Waiting</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO8" onclick="filterStatus(this,8)">
                                    <div class="divNum">10</div>
                                    <div class="divAmmo">$ 100,000.00</div>
                                    <div class="divName">Wining</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO9" onclick="filterStatus(this,9)">
                                    <div class="divNum">2</div>
                                    <div class="divAmmo">$ 1,000,000.00</div>
                                    <div class="divName">Lost</div>
                                </a>
                            </li>
                            <li>
                                <a id="SSO10" onclick="filterStatus(this,10)">
                                    <div class="divNum">2</div>
                                    <div class="divAmmo">$ 1,000,000.00</div>
                                    <div class="divName">Closed</div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="width:100%;">
                <div style="border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;border-left:1px solid #EAEAEA;">
                    <div style="padding:15px 10px 25px 10px;">
                        <div id="viewSalesOpportunities" style="margin-bottom:15px;border:0px solid red;"></div>
                        <div id="pagerSalesOpportunities"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailSalesOp"></div>
    </div>
    <div style="float:right; width:34.5%;">
        <div style="width:100%;">
            <div id="divPerfX1"  class="divPerfSale" onclick="GrafPerformance(this,1)">
                Performance Total
                <img style="float:right" src="~/Content/Images/collapsed1.png" />
            </div>
            <div id="divPerf1" style="height:400px;border:1px solid #e3e3e3;"></div>

            <div id="divPerfX2"  class="divPerfSale" style="margin-top:5px;" onclick="GrafPerformance(this,2)">
                Performance Manufacturer
                <img style="float:right" src="~/Content/Images/expand1.png" />
            </div>
            <div id="divPerf2" style="height:400px;border:1px solid #e3e3e3;" class="elementHide"></div>

            <div id="divPerfX3"  class="divPerfSale" style="margin-top:5px;" onclick="GrafPerformance(this,3)">
                Performance Government
                <img style="float:right" src="~/Content/Images/expand1.png" />
            </div>
            <div id="divPerf3" style="height:400px;border:1px solid #e3e3e3;" class="elementHide"></div>
            <div id="divPerfX4" class="divPerfSale" style="margin-top:5px;" onclick="GrafPerformance(this,4)">
                Performance Forecast
                <img style="float:right" src="~/Content/Images/expand1.png" />
            </div>
            <div id="divPerf4" style="height:400px;border:1px solid #e3e3e3;" class="elementHide"></div>
            <div id="divPerfX5" class="divPerfSale" style="margin-top:5px;" onclick="GrafPerformance(this,5)">
                Performance Vendors
                <img style="float:right" src="~/Content/Images/expand1.png" />
            </div>
            <div id="divPerf5" style="height:400px;border:1px solid #e3e3e3;" class="elementHide"></div>
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="tmplSalesOpportunities">
    <div class="divRowSalesOpp">
        <div class="divRowHeader">
            <div style="float:left;padding-left:15px;">${CIA}</div>
            <div style="float:left;padding-left:15px;">${CONTACT}</div>
            <div style="float:left;padding-left:15px;">${CREATE_DATE}</div>
            <div style="float:left;padding-left:15px;">${MODIFIED_DATE}</div>
            <div class="statusRowHeader" style="float:right;padding-right:15px;padding-left:15px;">${NAM_STAT_SALE_OPPO}</div>
        </div>
        <div style="padding:0px 15px;font-weight:500;color:black;">
            ${TIT_SALE_OPPO}
        </div>
        <div style="display:inline-block;width:100%; border:0px solid red;margin-bottom:-2px;">
            <div style="float:left;padding-left:15px;"><a onclick="DetailOS('${ID_SALE_OPPO}')" style="text-decoration:none;" >${COD_SALE_OPPO}</a></div>
            <div style="float:left;padding-left:15px;">${NAM_MANU}</div>
            <div style="float:right;padding:0px 15px;">${CLO_DATE}</div>
            <div class="marginRowHeader" style="float:right;padding:0px 15px;">${MAR_SALE_OPPO} %</div>
            <div style="float:right;padding-right:15px;">$ ${AMO_SALE_OPPO}</div>
            <div style="float:right;padding-right:15px;">${OWNER}</div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var bufer = 1;

    function GrafPerformance(obj,i) {

        if (bufer == i) {
            $("#divPerf" + i).addClass("elementHide");
            bufer = 0;
        }
        else {
            $("#divPerf" + bufer).addClass("elementHide");
            $("#divPerf" + i).removeClass("elementHide");
            bufer = i;
        }

        if (i == 5) {Graf5();}
        if (i == 4) {Graf4();}
        if (i == 3) {Graf3();}
        if (i == 2) {Graf2();}
        if (i == 1) {Graf1();}

    }

    function filterStatus(obj, i) {
        //alert(i);
        //console.log($("#SSO" + i))
        for (var k = 1; k <= 10;k++){
            $("#SSO" + k).removeAttr('style', 'border-bottom:5px solid #F2BA0C;');
        }
        $("#SSO" + i).addClass("statusSOActive");
        $("#SSO" + i).attr('style', 'border-bottom:5px solid #F2BA0C;');
        
        dataSource.filter({ field: "ID_STAT_OPPO_END", operator: "eq", value: i });
    }

    function DetailOS(i) {
        $("#divPanleSalesOpp").addClass("elementHide");
        $("#detailSalesOp").empty();
        $("#detailSalesOp").load("/SalesOpportunities/Details/" + i+"?_="+Math.random());
        $("#detailSalesOp").removeClass("elementHide");
        //alert('ok');
    }
</script>

<script type="text/javascript">
    function Graf1() {
        /*fin vista*/
        $('#divPerf1').highcharts({
            chart: {
                type: 'column'
            },
            colors: ["#BA141A", "#2D5C88", "#F2BA0C", "#679700", "#9f00a7", "#603cba", "#da532c", "#1d1d1d"],
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            subtitle: {
                text: null
            },
            xAxis: {
                categories: [
                    'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul','Aug','Sep','Oct','Nov','Dec'
                ],
                gridLineWidth: 1,
                title: {
                    text: 'Months',
                    align: 'high',
                    style: {
                        color: '#666',
                        fontWeight: 'bold'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Dollars ($)',
                    align: 'high',
                    style: {
                        color: '#666',
                        fontWeight: 'bold'
                    }
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} M</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    stacking: 'normal'//,
                    //dataLabels: {
                    //    enabled: true,
                    //    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    //    style: {
                    //        textShadow: '0 0 3px black, 0 0 3px black'
                    //    }
                    //}
                }
            },
            series: [
                {
                name: 'Lost',
                marker: {
                    enabled: false
                },
                data: [0, 0,0,0,0,0,0,0,0,0,0,0]

                },
            {
                name: 'Wining',
                data: [509764, 656612, 1517376, 924091, 1565818, 2119236, 364663, 57996,0,0,0,0]

            }, {
                name: 'Waiting',
                data: [0, 0, 500000,0,0, 1057513, 257950, 469637, 0, 0, 0, 0]

            }, {
                name: 'Negotation',
                data: [0,0,0,0,0,0,0,123508,462950,20000,0,0]

            }
            , {
                name: 'Demostration',
                data: [0,0,0,0,0,0,0,0,0,0,0,0]

            }
            ,{
                name: 'Cotization',
                data: [0,0,0,0,0,0,0,376803,1027160,652038,263314,249760]

            }, {
                name: 'Development',
                data: [0,0,0,0,0,0,0,432500,390000,362900,140000,1295594]

            }, {
                name: 'Identification',
                data: [108000,0,0,0,0,0,6644,31471,1123798,2184813,1914007,1964348]

            }, {
                name: 'First Contact',
                data: [0,0,0,0,0,0,0,0,170000,343000,0,2135000]

            }]
        });
        /**/
    }
    function Graf2() {
        $('#divPerf2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 0,//null,
                plotShadow: false
            },
            credits:{enabled:false},
            colors: ["#2D5C88", "#F2BA0C", "#679700", "#BA141A", "#3E4752", "#33333", "#da532c", "#1d1d1d"],
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>:<br />$ {point.y:,.2f}<br />{point.percentage:.1f}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    {
                        name: 'F5', y: 1400601, sliced: true,
                        selected: true
                    },
                    ['Tellabs', 1289885],
                    ['Cisco', 1018500],
                    ['Ruckus', 797524],
                    ['Thales', 727368],
                    ['Others',   1567712]
                ]
            }]
        });
    }
    function Graf3() {
        $('#divPerf3').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            colors: ["#BA141A", "#F2BA0C", "#679700", "#2D5C88", "#9f00a7", "#603cba", "#da532c", "#1d1d1d"],
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:,.2f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Negotiation',
                data: [0, 0, 0, 0, 0, 0, 0, 123508, 462950, 200000, 0, 0]

            }, {
                name: 'Waiting',
                data: [0, 0, 500000, 0, 0, 1057000, 257950, 469630, 0, 0, 0, 0]

            }, {
                name: 'Wining',
                data: [509000, 656000, 1517000, 924000, 1565000, 2195000, 364000, 57000, 0, 0, 0, 0]

            }]
        });
    }
    function Graf4() {
        $('#divPerf4').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            colors: ["#BA141A", "#F2BA0C", "#679700", "#2D5C88", "#9f00a7", "#603cba", "#da532c", "#1d1d1d"],
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                gridLineWidth: 1
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:,.2f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Negotiation',
                data: [0, 0, 0, 0, 0, 0, 0, 123508, 462950, 200000, 0, 0]

            }, {
                name: 'Waiting',
                data: [0, 0, 500000, 0, 0, 1057000, 257950, 469630, 0, 0, 0, 0]

            }, {
                name: 'Wining',
                data: [509000, 656000, 1517000, 924000, 1565000, 2195000, 364000, 57000, 0, 0, 0, 0]

            }]
        });
    }
    function Graf5() {
        /*Grafica 5*/
        $('#divPerf5').highcharts({
            chart: {
                type: 'column'
            },
            colors: ["#BA141A", "#F2BA0C", "#679700", "#2D5C88", "#9f00a7", "#603cba", "#da532c", "#1d1d1d"],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            credits: {
                enabled:false
            },
            xAxis: {
                type: 'category',
                gridLineWidth: 1,
                labels: {
                    rotation: -45//,
                    //style: {
                    //    fontSize: '12px',
                    //    fontFamily: 'Verdana, sans-serif'
                    //}
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Sales in 2014: <b>{point.y:,.2f}</b>',
            },
            series: [{
                name: 'Vendors',
                data: [
                    ['Angela Perez', 2542912],
                    ['Ronald Carrasco', 1420000],
                    ['Eduardo Ponce', 860000],
                    ['Raul Vela', 634878],
                    ['Fiorella Peralta', 604526],
                    ['Linda Baldivia', 598000],
                    ['Kunie Gisakawa', 443899],
                    ['Luis Campos', 438000],
                    ['Teresa Perez', 404023],
                    ['Luis Sairitupa', 270474],
                    ['Melissa Rivera', 128400],
                    ['Raul Moscol', 121238],
                    ['Segundo Alfaro', 22000],
                    ['Jose Meza', 3655],
                    ['Elka Ruiz', 450]
                ],
                dataLabels: {
                    enabled: false,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif',
                        textShadow: '0 0 3px black'
                    }
                }
            }]
        });
        /*Fin Grafica 5*/
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        /*Inicio Viesta*/
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/SalesOpportunities/List/0?var=" + Math.random(),
                    type: "GET",
                    dataType: "json"
                }
                //,
                //parameterMap: function (options,type) {
                //    console.log(options);
                //    return JSON.stringify(options);
                //}
            },
            autoSync: true,
            serverFiltering: true,
            filter: { field: "ID_STAT_OPPO_END", operator: "eq", value: 7 },
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });

        $("#pagerSalesOpportunities").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#viewSalesOpportunities").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#tmplSalesOpportunities").html()),
        });

        Graf1()
        


    });
</script>
