@{
    ViewBag.Title = "CancelarSolicitud";
    Layout = null;
}

@*<style>
</style>*@

@using (Html.BeginForm("CancelarSolicitud", "Vacaciones", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmCancelarSolicitud", target = "upload_target" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <input type="hidden" id="JornadaC" name="JornadaC" value="0" />
    <div class="row">
        <div class="col-md-12">
            <div class="main-card m-0 card p-0">
                <div class="card-body m-0 p-2 row">
                    <div class="col-md-1">
                        <input type="checkbox" style="width:18px;height:18px;margin-top:3px;" id="chkReprogramar" name="chkReprogramar" />
                    </div>
                    <div class="col-md-11 p-0">
                        <label>
                            Reprogramar la solicitud
                        </label>
                    </div>
                </div>
            </div>
            <br />
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row divCancelar" style="text-align:center">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea cancelar esta solicitud?, caso contrario reprogramarla.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row divHide divReprogramar" style="text-align:center">
                            <div class="col-md-6">
                                <div class="position-relative form-group">
                                    <label id="lblMotivoVacante" for="IdMotivoVacante" class="">Fecha Inicio <span style="color:red">*</span> </label>
                                    <input id="FechaInicioC" name="FechaInicioC" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6" id="divCantidadVacante">
                                <div class="position-relative form-group">
                                    <label id="lblCantidad" for="CantidadVacante" class="">Fecha Fin <span style="color:red">*</span></label>
                                    <input id="FechaFinC" name="FechaFinC" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row divHide divReprogramar" style="text-align:center">
                            <div class="col-md-6" id="divGerencia">
                                <div class="position-relative form-group">
                                    <label id="lblNroDias" for="IdNroDias" class="">Número de Días</label>
                                    <input id="nroDiasC" name="nroDiasC" type="number" class="form-control" value=0 readonly />
                                </div>
                            </div>
                            <div class="col-md-6" id="divArea">
                                <div class="position-relative form-group">
                                    <label id="lblFechaRetorno" for="IdFechaRetorno" class="">Fecha Retorno</label>
                                    <input id="fechaRetornoC" type="text" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-row divHide divReprogramar" style="text-align:center">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblJustificacion" for="Justificacion" class="">Justificación <span style="color:red">*</span></label>
                                    <input id="Justificacion" name="Justificacion" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row divHide divReprogramar" style="text-align:center">
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" id="cbxJornadaC" name="cbxJornadaC" />
                                        <label for="cbxJornadaC">Jornada atípica</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="position-relative form-group">
                                    <input class="form-control" id="txtJornadaC" name="txtJornadaC" style="display:none" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row" style="text-align:center">
                            <div class="col-md-12">
                                <label class="divReprogramar divHide">¿Reprogramar la solicitud?</label>
                                <div class="position-relative form-group">
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-success btn-sm" onclick="NoEliminar()"> NO </button>
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-danger btn-sm"> SI </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script>

    $(document).ready(function () {
        $("#chkReprogramar").click(function () {
            if ($(this).is(":checked")) {
                $(".divReprogramar").removeClass("divHide");
                $(".divCancelar").addClass("divHide");
            } else {
                $(".divReprogramar").addClass("divHide");
                $(".divCancelar").removeClass("divHide");
            }
        });
        $('#cbxJornadaC').click(function () {
            $("#txtJornadaC").removeAttr("style");
            if ($(this).is(":checked")) {
                $("#txtJornadaC").css("display", "true");
                $("#JornadaC").val(1);
            } else if ($(this).is(":not(:checked)")) {
                $("#txtJornadaC").css("display", "none");
                $("#JornadaC").val(0);
            }
        });

        var FechaIniC = $("#FechaInicioC").kendoDatePicker({
            format: "dd/MM/yyyy",
            //min: new Date(),
            change: function () {
                FechaInicioC = this.value();
            }
        });

        Date.prototype.addDays = function (days) {
            const date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        };

        var FechaFinC = $("#FechaFinC").kendoDatePicker({
            format: "dd/MM/yyyy",
            //min: new Date(),
            change: function () {
                var dif = this.value().getTime() - FechaInicioC.getTime();
                //alert(dif);
                var dias = Math.floor(dif / (1000 * 60 * 60 * 24)) + 1;
                //Fecha Fin Viernes + 5 días
                var dtFin = new Date(this.value().getTime());
                if (dias >= 5 && dtFin.getUTCDay() == 5) {
                    dias = dias + 2;
                    dtFin = dtFin.addDays(3);
                } else {
                    dtFin = dtFin.addDays(1);
                }
                document.getElementById("nroDiasC").value = dias;
                document.getElementById("fechaRetornoC").value = padLeft(dtFin.getDate()) + "/" + padLeft(dtFin.getMonth() + 1) + "/" + dtFin.getFullYear();
            }
        });

        $("#Justificacion").addClass("form-control");

    });

    function padLeft(n) {
        return ("00" + n).slice(-2);
    }

    function uploadDone(msg, code) {
        if (msg == "OK") {

            var title = 'Solicitud Cancelada';

            swal.fire({
                title: title,
                icon: 'success',
                text: 'La solicitud se canceló correctamente.',
                confirmButtonText: 'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!',
            }).then((result) => {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                const button = document.getElementById('Buscar');
                button.click();
            });

        } else if (msg=="Reprogramado") {
            var title = 'Solicitud Reprogramada';

            swal.fire({
                title: title,
                icon: 'success',
                text: 'La solicitud se reprogramó correctamente.',
                confirmButtonText: 'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!',
            }).then((result) => {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                const button = document.getElementById('Buscar');
                button.click();
            });
        }

        else {
            swal.fire({
                title: 'Error',
                icon: 'info',
                text: code,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'
            });
        }

    }

    function NoEliminar() {

        swal.fire({
            title: 'Solicitud no cancelada',
            icon: 'info',
            text: 'La solicitud no se canceló.',
            focusConfirm: false,
            confirmButtonText:
                'Continue',
            confirmButtonAriaLabel: 'Thumbs up, great!'
        })

        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>