@{
    ViewBag.Title = "AprobarSolicitud";
    Layout = null;
}

@using (Html.BeginForm("DeclararSolicitud", "Vacaciones", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDeclararSolicitud", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea declarar esta solicitud?</label>

                                </div>
                            </div>



                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-success btn-sm"> SI </button>
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-danger btn-sm" onclick="NoEliminar()"> NO </button>


                                </div>
                            </div>


                        </div>



                    </form>
                    @*<div class="divFondoUno">

                            <div style="display:inline-block; float:right; padding:2px 0px 0px 0px;">
                                <div style=" float:right; padding:0px 0px 0px 0px; ">
                                    <button id="submit" class="k-button">Crear Candidato</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



}




<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script>
    function uploadDone(msg) {
        if (msg == "OK") {

            var title = 'Solicitud Declarada';

            swal({
                title: title,
                type: 'success',
                text: 'La solicitud se declaró correctamente',
                focusConfirm: false,
                confirmButtonText:
                    'Continuar',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
            //toastr.success("La solicitud se declaró correctamente", "Solicitud Declarada");

           // $(".modal-backdrop").remove();
           //$("#miModal").removeClass("show");//'#modal-content
            $("[data-dismiss=modal]").trigger({ type: "click" });

            listarVacaciones();
            VerCalendario();
        }

        else {
            //toastr.success("Error.", "Error Actualizada");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show")
            swal({
                title: 'Error',
                type: 'info',
                text: 'Error al declarar',
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
        }

    }
    //function uploadDone(msg, code) {
    //    if (msg == "OK") {


    //        var title = 'Solicitud Declarada';

    //        swal({
    //            title: title,
    //            type: 'success',
    //            text: 'La solicitud se declaró correctamente',
    //            focusConfirm: false,
    //            confirmButtonText:
    //                'Continue',
    //            confirmButtonAriaLabel: 'Thumbs up, great!'

    //        }, function () {
    //            //var newurl = location.host + "/#/Home";
    //            //location = "http://" + location.host + "/#/Home";
    //            location.reload();
    //        })

    //    }

    //    else {
    //        swal({
    //            title: 'Error',
    //            type: 'info',
    //            text: 'Error al declarar',
    //            focusConfirm: false,
    //            confirmButtonText:
    //                'Continue',
    //            confirmButtonAriaLabel: 'Thumbs up, great!'

    //        })
    //    }

    //}

    function NoEliminar() {


        swal({
            title: 'Solicitud No se Declaró',
            type: 'info',
            text: 'La solicitud no se declaró',
            focusConfirm: false,
            confirmButtonText:
                'Continuar',
            confirmButtonAriaLabel: 'Thumbs up, great!'

        })

        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>