#Principal {
    /*position: relative;*/
    z-index: 1;
}
.loader {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.centered {
    position: fixed;
    display:none;
    justify-content:center;
    place-items:center;

}
@keyframes ldio-bochyw1nkil {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
.ldio-bochyw1nkil div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-bochyw1nkil linear 1s infinite;
    background: #e62c35;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

    .ldio-bochyw1nkil div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9166666666666666s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.8333333333333334s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.75s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.5833333333333334s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.5s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.4166666666666667s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.3333333333333333s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.25s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.16666666666666666s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.08333333333333333s;
        background: #e62c35;
    }

    .ldio-bochyw1nkil div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #e62c35;
    }

.loadingio-spinner-spinner-xcf4ffee9sa {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
}

.ldio-bochyw1nkil {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

    .ldio-bochyw1nkil div {
        box-sizing: content-box;
    }

/*Animacion skeleton*/

.box {
    box-shadow: 0 0.125rem 0.625rem rgba(68, 64, 84, 0.4), 0 0.0625rem 0.125rem rgba(68, 64, 84, 0.5);
}

.skeleton {
    background: #fff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

    .skeleton .square {
        border-radius: 5px;
        background: rgba(130, 130, 130, 0.2);
        background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
        background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
        background-size: 800px 100px;
        animation: wave-squares 1s infinite ease-out;
    }

    .skeleton .line {
        height: 12px;
        margin-bottom: 5px;
        border-radius: 2px;
        background: rgba(130, 130, 130, 0.2);
        background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
        background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
        background-size: 800px 100px;
        animation: wave-lines 1s infinite ease-out;
    }

    .skeleton .lineTable {
        height: 22px;
        border-radius: 2px;
        background: rgba(130, 130, 130, 0.2);
        background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
        background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
        animation: wave-lines 3s infinite ease-out;
    }

.skeleton-right {
    flex: 1;
}

.skeleton-left {
    flex: 2;
}

.circle {
    border-radius: 50% !important;
    height: 60px !important;
    width: 60px;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}