<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testitms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testitms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testitms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$testitms</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.UsersContext, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppLogEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.AppLogEntities, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AssistanceEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.AssistanceEntities, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CoreEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.CoreEntities, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ELECTRODATAEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.ELECTRODATAEntities, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EntityEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ERPElectrodata.Models.EntityEntities, ERPElectrodata" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppLogEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AssistanceEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CoreEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ELECTRODATAEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntityEntities-Web.config Connection String" />
  </ItemGroup>
</Project>