@model ERPElectrodata.Models.Profesion

@{
    Layout = null;
}

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
@using (Html.BeginForm("CrearProfesion", "Profesion", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicket", target = "upload_target" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="divFondoUno">
            <div class="divSpace3"></div>
            <div class="divCont3">
                <div class="editor-label">
                    Carrera Profesional
                </div>
                <div class="k-textbox">
                    @Html.TextBoxFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
        </div>
        <div style="display:inline-block; float:right; padding: 20px 20px 15px 5px;">
            <div style=" float: left; padding: 0 15px 0 0;">
                <button id="CrearProfesion" class="k-button">Crear</button>
            </div>
        </div>
    </fieldset>
}
<iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>

<script type="text/javascript">

    function mensajeCrearProfesion(msg, codigo) {
        //closeWinModalPopUpLoad();
        if (msg == "OK") {
            toastr.success("Se ha creado la carrera profesional.");
            $("[data-dismiss=modal]").trigger({ type: "click" });
            //closeWinFormModalPopUp();

            //var title = 'Mensaje';
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 0px 10px 10px;'>Información Guardada</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinues' class='k-button'>Continue</button>" +
            //"</div></div>";
            //winPopUpModal(title, body, 400, 140);

            //$("#closebtnmodal").click(function () {
            //    closeWinModalPopUp();
            //});

            //$("#btnContinues").click(function () {
            //    closeWinModalPopUp();
            //});

            var IdProfesionNuevo = $("#IdProfesion").data("kendoComboBox");
            IdProfesionNuevo.dataSource.read();
            IdProfesionNuevo.refresh();
            IdProfesionNuevo.value(codigo);
        }
        else {
            toastr.warning(codigo, "");
            //var message = 'Contacte al Administrador.';

            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //"<div style='padding:10px 5px 10px 10px;'>" + message + "</div>" +
            //"<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //"<button id='btnContinuee' class='k-button'>Continue</button>" +
            //        "</div></div>";

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");
            //    });
            //});
        }
    }

</script>