@{
    Layout = null;
}
<style>
    .inLink2 {
        padding: 4px 0px 4px 10px !important;
    }
</style>
<div id="w1_act" class="menuVertical second w1">
    <a style="text-decoration:none;color:white;"><h1>Actividad</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarActividad()"><a href="/Activity/NewActivity" id="aEvalStaff"><div class="inLink">Registro de Actividad</div></a></li>

            <li onclick="OcultarActividad()">
                <div id="aEvalStaff"><div class="inLink" style="padding-top: 30px;"><h1>Reporte</h1></div></div>
                <hr>
            </li>
            <li onclick="OcultarActividad()"><a href="/Activity/DetailsActivity"><div class="inLink2">Detalle de Actividad</div></a></li>
            <li onclick="OcultarActividad()"><a href="/Activity/ReportTimeActivity"><div class="inLink2">Horas Trabajadas x Ing.</div></a></li>
            <li onclick="OcultarActividad()"><a href="/Activity/ReportePorCuentas"><div class="inLink2">Horas Trabajadas x Cuenta</div></a></li>
            <!--
    @if ((Session["ADMINISTRADOR_SISTEMA"] != null && Convert.ToInt32(Session["ADMINISTRADOR_SISTEMA"].ToString()) == 1) || (Session["SUPERVISOR_OPERACIONES"] != null && Convert.ToInt32(Session["SUPERVISOR_OPERACIONES"].ToString()) == 1))
    {
        @*<li onclick="OcultarActividad()"><a href="#/ReportClientEnginer"><div class="inLink2">Clientes Atend. x Ing.</div></a></li>*@
        @*<li onclick="OcultarActividad()"><a href="#/ReportOPImplementation"><div class="inLink2">Horas Trabajadas x OP</div></a></li>*@
        <li onclick="OcultarActividad()"><a href="#/ReporteActividad"><div class="inLink2">Matriz x Cliente</div></a></li>
        @*<li><a href="#/ReportTypeActivity"><div class="inLink2">Act. Segun Tipo (%) </div></a></li>
            <li><a href="#/ReportExternalSupport"><div class="inLink2">Sop. Externo x Ticket</div></a></li>*@
    }
    -->
            <li onclick="OcultarActividad()"><a href="/Activity/Reportes"><div class="inLink2">Reportes</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarActividad() {
        $("#w1_act").removeClass("w1AnimOne");
    }

</script>