@{
    Layout = null;
}

<div id="w1_adm" class="menuVertical second w1">
    <a style="text-decoration:none;color:white;"><h1>Administration</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            @if (Convert.ToInt32(Session["SUPERVISOR_SERVICEDESK"]) == 1 || Convert.ToInt32(Session["ADMINISTRADOR"]) == 1)
            {
                <li onclick="OcultarAdmin()"><a href="#/Eventos" id="Event"><div class="inLink">Eventos</div></a></li>
                <li onclick="OcultarAdmin()"><a href="Administrator/ManagingCategory" id="aEvalStaff"><div class="inLink">Administrar Categorias</div></a></li>
                if (Convert.ToInt32(Session["ADMINISTRADOR_SISTEMA"].ToString()) == 1)
                {
                    <li onclick="OcultarAdmin()"><a href="#/Seguridad" id="Seguridad"><div class="inLink">Seguridad</div></a></li>
                    @*<li onclick="OcultarAdmin()"><a href="#/ManagingRoles"><div class="inLink">Managing Roles</div></a></li>*@
                    @*<li onclick="OcultarAdmin()"><a href="#/FindRoles"><div class="inLink">Buscar Roles</div></a></li>*@
                }
                <li onclick="OcultarAdmin()"><a href="Administrator/ProgramacionMasivaa" id="progMasiva"><div class="inLink">Programación Masiva</div></a></li>
                <li onclick="OcultarAdmin()"><a href="TicketReporte/Index" id="progMasiva"><div class="inLink">Tickets Reporte</div></a></li>
            }
            <li onclick="OcultarAdmin()"><a href="Soporte/Index" id="progMasiva"><div class="inLink">Administrar Soporte</div></a></li>
            @if (Convert.ToInt32(Session["SUPERVISOR_SERVICEDESK"]) == 1 || Convert.ToInt32(Session["ADMINISTRADOR"]) == 1 || Convert.ToInt32(Session["ADMINISTRADOR_SISTEMA"].ToString()) == 1)
            {
                <li onclick="OcultarAdmin()"><a href="Maintenance/IndexMantenimiento" id="progMasiva"><div class="inLink">Mantenimientos</div></a></li>
            }
            <li onclick="OcultarAdmin()"><a href="EncuestaConfiguracion/IndexEncuestaConfiguracion" id="encuestas"><div class="inLink">Encuestas</div></a></li>

        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarAdmin() {
        $("#w1_adm").removeClass("w1AnimOne");
    }

</script>