@{
    Layout = null;
}

<div id="w1_a" class="menuVertical second w1">
    <h1>Activos y Configuraciones</h1>
    <hr />
    <nav id="w2_a">
        <ul id="w3_a">
            <li onclick="OcultarAsset()"><a href="#/Asset"><div class="inLink">Activos</div></a></li>
            <li onclick="OcultarAsset()"><a href="Asset/Ticket"><div class="inLink">Ticket de Activos</div></a></li>
            <li onclick="OcultarAsset()"><a href="Asset/Find"><div class="inLink">Búsqueda Avanzada</div></a></li>
            <li onclick="OcultarAsset()"><a href="Asset/Create"><div class="inLink">Nuevo Activo</div></a></li>
            @*<li onclick="OcultarAsset()"><a href="#/Delivery"><div class="inLink">Entrega de Activo</div></a></li>*@
            <li onclick="OcultarAsset()"><a href="DeliveryReception/CreateRecepcion"><div class="inLink">Recepción de Activo</div></a></li>
            @*<li onclick="OcultarAsset()"><a href="#/Reasignacion"><div class="inLink">Reasignación de Activo</div></a></li>*@
        </ul>
    </nav>
    <br />
    <h1>Reportes</h1>
    <hr />
    <nav id="w2_a">
        <ul id="w3_a">
            <li onclick="OcultarAsset()"><a href="Asset/viewAssetReport"><div class="inLink">Reporte de Activos</div></a></li>
            <li onclick="OcultarAsset()"><a href="Asset/Reportes"><div class="inLink">Reportes Gráficos</div></a></li>
        </ul>
    </nav>
    <br />
    <h1 onclick="OcultarAsset()"><a href="ComponenteStockCabecera/Index/0" class="inLink"  style="color:white;text-decoration:none">Componentes</a></h1>
    <hr />
    <nav id="w2_a">
        <ul id="w3_a">
            <li onclick="OcultarAsset()"><a href="ComponenteStockCabecera/Crear"><div class="inLink">Generar Stock</div></a></li>
        </ul>
    </nav>
    @*<br />
    <h1 onclick="OcultarAsset()"><a href="#/BandejaPrograma" class="inLink"  style="color:white;text-decoration:none">Programas</a></h1>
    <hr />
    <nav id="w2_a">
        <ul id="w3_a">
            <li onclick="OcultarAsset()"><a href="#/NuevoPrograma"><div class="inLink">Nuevo Programa</div></a></li>
        </ul>
    </nav>*@
    <br />
    <h1 onclick="OcultarAsset()"><a href="ProgramaLicencia/Index" class="inLink"  style="color:white;text-decoration:none">Programas</a></h1>
    <hr />
    @{
        try
        {
            if (Convert.ToInt32(Session["PERMISO_LICENCIAS"].ToString()) == 1)
            {
                <nav id="w2_a">
                    <ul id="w3_a">
                        <li onclick="OcultarAsset()"><a href="ProgramaLicencia/Crear"><div class="inLink">Nuevo Programa</div></a></li>
                    </ul>
                </nav>
            }
        }
        catch { }
    }
    <br />
    @*<h1>Reportes</h1>
    <hr />
    <nav id="w2_a">
        <ul id="w3_a">
            <li onclick="OcultarAsset()"><a href="#/ReportePrograma"><div class="inLink">Reporte de Programas</div></a></li>
        </ul>
    </nav>*@
</div>

<script type="text/javascript">

    function OcultarAsset() {
        $("#w1_a").removeClass("w1AnimOne");
    }

</script>