@{
    Layout = null;
}

<div id="w1_c" class="menuVertical second w1">
    
    <a style="text-decoration:none;color:white;" href="#/Change"><h1>Change</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a href="#/NewChange" @*onclick="NewTicketChange(this)"*@><div class="inLink">@ResourceLanguaje.Resource.NewChange</div></a></li>
            <li @*onclick="FindTicketChange(this)"*@><a href="#/FindChange"><div class="inLink">@ResourceLanguaje.Resource.FindChange</div></a></li>
            <li id="liReport"><a><div class="inLink">@ResourceLanguaje.Resource.ChangeReport</div></a></li>
        </ul>
    </nav>
</div>

@*<script type="text/javascript">
    function NewTicketChange(parm) {
        $("#divContent").empty();
        $("#divContent").load("/Change/Create?var=" + Math.random());
    }
    function FindTicketChange(parm) {
        $("#divContent").empty();
        $("#divContent").load("/Change/Find?var=" + Math.random());
    }
</script>*@