@{
    Layout = null;
}

<div id="w1_chmgt" class="menuVertical second w1">
    <a style="text-decoration:none;color:white;"><h1>Gestión de Cambios</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            @*<li onclick="NewChangeRequest(this)"><a><div class="inLink">Solicitud de Cambios</div></a></li>*@             
            <li onclick="OcultarCambio()"><a href="ChangeRequest/Create"><div class="inLink">Solicitud de Cambios</div></a></li>
            <li onclick="OcultarCambio()"><a href="#/ChangeRequest"><div class="inLink">Lista de Cambios</div></a></li>
            
        </ul>
    </nav>
    @if (Convert.ToInt32(Session["SISTEMA_INTEGRADO_GESTION"]) == 1 || Convert.ToInt32(Session["ADMINISTRADOR"]) == 1)
    {
    <br />
    <h1>Reportes</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
                <li onclick="OcultarCambio()"><a href="ChangeRequest/Reportes"><div class="inLink">Reportes Graficos</div></a></li>
                <li onclick="OcultarCambio()"><a href="ChangeRequest/Consolidado"><div class="inLink">Consolidado Solicitudes</div></a></li>
                    
        </ul>
    </nav>
    }
</div>

<script type="text/javascript">
    function OcultarCambio() {
        $("#w1_chmgt").removeClass("w1AnimOne");
    }
    function NewChangeRequest(parm) {

        $("#w1_chmgt").removeClass("w1AnimOne");
        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">' +
                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                          '<h2 class="modal-title" style="font-weight:bold;">Solicitud de Cambio</h2>' +
                      '</div>');
        $("#ModalContentAll").append("<div id='divFormNewChange'></div>");
        $("#divFormNewChange").load("/ChangeRequest/Create?_=" + Math.random());
    }
</script>