@{
    Layout = null;
}

<div id="w1_cmdb" class="menuVertical second w1">
    <a style="text-decoration:none;color:white;"><h1>CMDB</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarCmdb()"><a href="/Cmdb/Dashboard"><div class="inLink">Principal</div></a></li>
            @*<li onclick="OcultarCmdb()"><a href="#/Cmdb"><div class="inLink">General</div></a></li>
            <li onclick="OcultarCmdb()"><a href="#/cmdbservicioImplementacion"><div class="inLink">Implementación</div></a></li>
            <li onclick="OcultarCmdb()"><a href="#/Cmdb"><div class="inLink">Outsourcing</div></a></li>
            <li onclick="OcultarCmdb()"><a href="#/cmdbservicioServiceDesk"><div class="inLink">Service Desk</div></a></li>
            <li onclick="OcultarCmdb()"><a href="#/cmdbservicioNOC"><div class="inLink">NOC</div></a></li>
            <li onclick="OcultarCmdb()"><a href="/Cmdb/Dashboard"><div class="inLink">Dashboard</div></a></li>*@
        </ul>
    </nav>
</div>

<script type="text/javascript">
    function OcultarCmdb() {
        $("#w1_cmdb").removeClass("w1AnimOne");
    }

</script>