@{
    Layout = null;
}
<div>
    <div id="w1_dc" class="menuVertical second w1">
        <h1>Control de Documentos</h1>
        <hr />
        <nav id="w2">
            <ul id="w3">
                <li onclick="OcultarDocument(this)"><a href="#/DocumentControl"><div class="inLink">Bandeja de Archivos</div></a></li>
                <li onclick="OcultarDocument(this)"><a href="#/DocumentControl/Reception"><div class="inLink">Nueva Recepción</div></a></li>
            </ul>
        </nav>
        <br />
        @*<h1>Gestión de Documentos</h1>
        <hr />
        <nav id="w2">
            <ul id="w3">
                <li onclick="OcultarDocument(this)"><a href="#/GestionDocumentaria/GestionDocumentos"><div class="inLink">Documentos</div></a></li>
            </ul>
        </nav>
        <br />*@
        @if (Convert.ToInt32(Session["EjecutivoComercial"]) == 1)
        {
            <h1>Módulo Gobierno</h1>
            <hr />
            <nav id="w2">
                <ul id="w3">
                    <li onclick="OcultarDocument(this)"><a href="DocumentoVenta/Index"><div class="inLink">Búsqueda Registros</div></a></li>
                    <li onclick="OcultarDocument(this)"><a href="DocumentoVenta/Crear"><div class="inLink">Nuevo Registro</div></a></li>
                    <li onclick="OcultarDocument(this)"><a href="DocumentoVenta/ReporteSoluciones"><div class="inLink">Reporte</div></a></li>
                </ul>
            </nav>
        }
    </div>
</div>

<script type="text/javascript">

    function OcultarDocument() {
        $("#w1_dc").removeClass("w1AnimOne");
    }

    function CreateReception(parm) {
        $("#divContent").empty();
        $("#divContent").load("/DocumentControl/CreateReception?var=" + Math.random());
    }

    function CreateDelivery(parm) {
        $("#divContent").empty();
        $("#divContent").load("/DocumentControl/CreateDelivery?var=" + Math.random());
    }

    function ListDocument() {
        $("#divContent").empty();
        //    $("#divContent").load("/DocumentControl/Index?var=" + Math.random());
        //    //document.getElementById("divContent").innerHTML = '<object type="text/html" data="/DocumentControl/Index" ></object>';
    }
</script>