@{
    Layout = null;
}

<div id="w1_f" class="menuVertical second w1">

    <a style="text-decoration:none;color:white;" href="#/Financial"><h1>Finanzas</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            @if (Session["SUPERVISOR_FINANZAS"] != null && Convert.ToInt32(Session["SUPERVISOR_FINANZAS"].ToString()) == 1)
            {
                <li id="liTransaction" onclick="OcultarFinanza()"><a href="#/NewTransaction" @*onclick="ClickNew(this)"*@ id="aTransaction"><div class="inLink">Nueva Transaccion</div></a></li>
                <li id="liFindTrans" onclick="OcultarFinanza()"><a href="#/FindTransaction" id="aFindTrans"><div class="inLink">Buscar Transaccion</div></a></li>
            }

            <li id="liDelivery" onclick="OcultarFinanza()"><a href="#/DeliverySustain" id="aDelivery"><div class="inLink">Contabilidad</div></a></li>
            <li onclick="NewRequest(this)"><a><div class="inLink2">&bull; &nbsp;Nueva Solicitud</div></a></li>
            <li onclick="OcultarFinanza()"><a href="DeliverySustain/viewClosure"><div class="inLink2">&bull; &nbsp;Cierre</div></a></li>

        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarFinanza() {
        $("#w1_f").removeClass("w1AnimOne");
    }

    function ClickNew(parm) {
        //UnselectMenu();
        $("#divContent").empty();
        $("#divContent").load("/Transaction/Create?var=" + Math.random());
    }

    function FindTrans(parm) {
        //UnselectMenu();
        $("#divContent").empty();
        $("#divContent").load("/Transaction/Find?var=" + Math.random());
    }

    function DeliverySustain(parm) {
        //SelectMenu('Delivery', 'FindTrans');
        $("#divContent").empty();
        $("#divContent").load("/DeliverySustain/Index?var=" + Math.random());
    }

    function NewRequest(parm) {
        @*var htmlForm = '<div id="divFormNewRequest"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.NewRequest", htmlForm, 490, 250);
        $("#divFormNewRequest").load("/DeliverySustain/viewNewRequest?_=" + Math.random());*@
        $("#w1_f").removeClass("w1AnimOne");
        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">' +
                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                          '<h2 class="modal-title" style="font-weight:bold;">@ResourceLanguaje.Resource.NewRequest</h2>' +
                      '</div>');
        $("#ModalContentAll").append("<div id='divFormNewRequest'></div>");
        $("#divFormNewRequest").load("/DeliverySustain/viewNewRequest?_=" + Math.random());
    }
    function Closure() {
        $("#divContent").empty();
        $("#divContent").load("/DeliverySustain/viewClosure?var=" + Math.random());
    }
    function ReportRequest() {
        $("#divContent").empty();
        $("#divContent").load("/DeliverySustain/viewRequestReport?var=" + Math.random());
    }

</script>