@{
    Layout = null;
}

<div id="w1" class="menuVertical second w1">
    <a style="text-decoration:none;color:white;" href="/ClientITO/Index"><h1>Incident &amp; Request</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li><a href="#" onclick="NewTicket(this)"><div class="inLink">@ResourceLanguaje.Resource.NewTicket</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    var fl1 = 0;
    var sw1 = 0;
    var myVar;
    var myVarOP;

    function NewTicket(parm) {
        if (sw1 == 1) { clearTimeout(myVarOP); sw1 = 0; }
        //DeseleccionarSale();
        $("#divContent").empty();
        $("#divContent").load("/ClientITO/Create?var=" + Math.random());
    }
</script>