@{
    Layout = null;
}

<div id="w1_i" class="menuVertical second w1">
    <a onclick="OcultarInform()" style="text-decoration:none;color:white;" href="#/Inform"><h1>Inform</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarInform()"><a><div class="inLink">@ResourceLanguaje.Resource.MonthlyReport</div></a></li>
        </ul>
    </nav>
</div>

<script>

    function OcultarInform() {
        $("#w1_i").removeClass("w1AnimOne");
    }

</script>