@{
    ViewBag.Title = "_Pmo";
}

<div id="w1_inv" class="menuVertical second w1">

    <h1>Inventario</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarInventario()"><a href="#/Inventario"><div class="inLink">Activos Internos</div></a></li>
            <li onclick="OcultarInventario()"><a href="#/TicketInventario"><div class="inLink">Ticket de Activos Internos</div></a></li>
            <li onclick="OcultarInventario()"><a href="#/BuscarInventario"><div class="inLink">Búsqueda Avanzada</div></a></li>
            <li onclick="OcultarInventario()"><a href="#/NuevoInventario"><div class="inLink">Nuevo Activo Interno</div></a></li>
            <li onclick="OcultarInventario()"><a href="#/EntregaInventario"><div class="inLink">Entrega de Activo Interno</div></a></li>
            <li onclick="OcultarInventario()"><a href="#/RecepcionInventario"><div class="inLink">Recepción de Activo Interno</div></a></li>
        </ul>
    </nav>
    <br />
    <h1>Reportes</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarInventario()"><a href="#/ReporteInventario"><div class="inLink">Reporte de Activos Internos</div></a></li>
            <li onclick="OcultarInventario()"><a href="Asset/Reportes"><div class="inLink">Reportes Gráficos Internos</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">

    function OcultarInventario() {
        $("#w1_inv").removeClass("w1AnimOne");
    }

</script>
