
<div id="w1_kmc" class="menuVertical second w1">
    <h1>Gestión del Conocimiento</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarK()"><a href="KnowledgeManagement/TrayApprover"><div id="aprobadorGC" class="inLink aprobador">Aprobaciones</div></a></li>
            <li onclick="OcultarK()"><a href="KnowledgeManagement/TrayLessonsLearned"><div class="inLink">Búsqueda Avanzada</div></a></li>
            <li onclick="OcultarK()"><a href="#/TrayThemes"><div class="inLink">Temas</div></a></li>
            <li onclick="OcultarK()"><a href="KnowledgeManagement/NewLessonLearned"><div class="inLink">Nueva Lección Aprendida</div></a></li>
        </ul>
    </nav>
    <br />
    <h1>Reportes</h1>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li onclick="OcultarK()"><a href="KnowledgeManagement/ReportLessonLearned"><div class="inLink">Reporte de Gestores Clave</div></a></li>
        </ul>
    </nav>
    <br />
</div>

<script>

    /*################################################################## GCR161203 #######################################################################################*/
    $(document).ready(function () {
         
        var valor = $("#idPerfil").val();
        if (valor == 1) {
            $(".aprobador").show();
        }
        else
            $(".aprobador").hide();
    });
    /*################################################################## GCR161203 #######################################################################################*/

    function OcultarK() {
        $("#w1_kmc").removeClass("w1AnimOne");
    }

</script>

