xº@{
    ViewBag.Title = "_Pmo";
}

<div id="w1_pmo" class="menuVertical second w1">

    <h1>Proyectos (OP)</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarMenuPmo()" id="liSale"><a id="aSale" href="/OrderForm/ListaProyectos"><div class="inLink">Proyectos</div></a></li>
            <li onclick="OcultarMenuPmo()" id="liSaleTicket"><a id="aSale" href="/OrderForm/TicketOP"><div class="inLink">Ticket Proyecto</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/CrearOPSidige"><div class="inLink">Nueva OP - SIDIGE</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/BuscarOP"><div class="inLink">Búsqueda Avanzada</div></a></li>
            <li onclick="OcultarMenuPmo()" id="liTicketMantenimiento"><a id="aMantenimiento" href="/OrderForm/ReporteMantenimientos"><div class="inLink">Mantenimientos</div></a></li> 
        </ul>
    </nav>
    <br />
    <h1>Reportes</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/ReporteProyectos"><div class="inLink">Reporte PM</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/ReporteGraficos"><div class="inLink">Gráficos</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/Renovation"><div class="inLink">Renovaciones</div></a></li>
            <li onclick="OcultarMenuPmo()" id="divReporteGerencia"><a href="OrderForm/ReporteGerencia"><div class="inLink">Gerencia Operaciones</div></a></li>
            <li onclick="OcultarMenuPmo()" id="divReporteGerenciaITO"><a href="OrderForm/ReporteGerenciaITO"><div class="inLink">Gerencia Outsourcing</div></a></li>
        </ul>
    </nav>
    <br />
    <h1>Renovaciones</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/OPsIniciales"><div class="inLink">OP Iniciales</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/OPsRenovaciones"><div class="inLink">OP Renovaciones</div></a></li>
            <li onclick="OcultarMenuPmo()"><a href="OrderForm/ProductosRenovados"><div class="inLink">Renovados</div></a></li>
        </ul>
    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        if (parseInt(@Session["PMO_GERENCIA"]) == 1 ||
            parseInt(@Session["ADMINISTRADOR"]) == 1) {
            $('#divReporteGerencia').show();
        } else {
            $('#divReporteGerencia').empty();
        }
        if (parseInt(@Session["PMO_GERENCIA_ITO"]) == 1 ||
            parseInt(@Session["ADMINISTRADOR"]) == 1) {
            $('#divReporteGerenciaITO').show();
        } else {
            $('#divReporteGerenciaITO').empty();
        }
    });

    function OcultarMenuPmo() {
        $("#w1_pmo").removeClass("w1AnimOne");
    }

</script>
