@{
    Layout = null;
}

<style type="text/css">
    /** base carousel **/
    .carousel ul {
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .no-js .carousel ul {
        position: static;
    }

    .carousel .mask {
        position: relative;
        overflow: hidden;
        border: 0 solid #efefef;
    }

    .carousel ul li {
        float: left;
        width: 223px;
        height: 65px;
        color: #dd9500;
        font-size: 1em;
        background-color: white;
        margin: 0;
        padding: 10px 0 10px 10px;
        border: 1px solid #ddd;
    }

    .carousel .pagination-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .carousel .pagination-links li {
            display: inline;
        }

            .carousel .pagination-links li a {
                padding: 2px 6px;
            }

                .carousel .pagination-links li a:hover {
                    text-decoration: none;
                }

            .carousel .pagination-links li.current a {
                background: #444;
                color: #fff;
            }

    .carousel .disabled {
        color: gray;
        cursor: default;
    }

    /** my carousel 2 **/
    #my-carousel-2 .mask {
        width: 1216px;
    }

    #my-carousel-2 ul li {
        margin: 0 10px 0 0;
    }
</style>

<div id="w1_s" class="menuVertical second w1">
    
    <a style="text-decoration:none;color:white;" href="#/SalesOpportunities" @*onclick="ListSalesOpportunity(this)"*@><h1>Sales</h1></a>
    <hr />
    <nav id="w2">
        <ul id="w3">
            <li @*onclick="NewSalesOpportunity(this)"*@><a href="#/NewSalesOpportunity"><div class="inLink">New Opportunity</div></a></li>
            <li @*onclick="ListSalesOpportunity(this)"*@ ><a href="#/SalesOpportunities"><div class="inLink">Find Opportunity</div></a></li>
            <li @*onclick="ListSalesOpportunity(this)"*@><a href="#/SalesOpportunities"><div class="inLink">Opportunity Report</div></a></li>
            <li @*onclick="PreSaleReport(this)"*@><a href="#/PreSaleReport"><div class="inLink">Pre Sales Report</div></a></li>
            <li @*onclick="Scheduled(this)"*@><a href="#/Scheduled"><div class="inLink">@ResourceLanguaje.Resource.Scheduled</div></a></li>
            <hr />
            <li @*onclick="SalesDashboard(this)"*@><a href="#/SalesDashboard"><div class="inLink">@ResourceLanguaje.Resource.SalesDashboard</div></a></li>
            <li @*onclick="PerformanceTotal(this)"*@><a href="#/PerformanceTotal"><div class="inLink">@ResourceLanguaje.Resource.PerformanceTotal</div></a></li>
            
        </ul>
    </nav>
</div>

<script type="text/javascript">
    function SalesDashboard(parm) {
        $("#divContent").empty();
        $("#divContent").load("/Sales/viewSalesDashboard?var=" + Math.random());
    }
    function PerformanceTotal(parm) {
        $("#divContent").empty();
        $("#divContent").load("/Sales/viewPerformanceTotal?var=" + Math.random());
    }
    function Scheduled(parm) {
        $("#divContent").empty();
        $("#divContent").load("/Sales/viewChartScheduled?var=" + Math.random());
    }
    function NewSalesOpportunity(parm) {
        $("#divContent").empty();
        $("#divContent").load("/SalesOpportunities/Create?var=" + Math.random());
    }
    function ListSalesOpportunity(parm) {
        $("#divContent").empty();
        $("#divContent").load("/SalesOpportunities/Index?var=" + Math.random());
    }
    function PreSaleReport(parm) {
        $("#divContent").empty();
        $("#divContent").load("/SalesOpportunities/PreSaleReport?var=" + Math.random());
    }
</script>