@{
    Layout = null;
}

<div id="w1_spr" class="menuVertical second w1">

    <h1>Supervisión</h1>
    <hr />
    <nav>
        <ul>
            <li onclick="OcultarMenuSupervision()" id="liSuper"><a id="aSuper" href="/Supervision/Reportes"><div class="inLink">Reportes</div></a></li>
        </ul>
    </nav>
    <br />
</div>

<script type="text/javascript">

    function OcultarMenuSupervision() {
        $("#w1_spr").removeClass("w1AnimOne");
    }

</script>
