@{
    ViewBag.Title = "Order Form";
}
<style type="text/css">
    /** base carousel **/
    .carousel ul {
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .no-js .carousel ul {
        position: static;
    }

    .carousel .mask {
        position: relative;
        overflow: hidden;
        border: 0 solid #efefef;
    }

    .carousel ul li {
        float: left;
        width: 223px;
        height: 65px;
        color: #dd9500;
        font-size: 1em;
        background-color: white;
        margin: 0;
        padding:10px 0 10px 10px;
        border:1px solid #ddd;
    }

    .carousel .pagination-links {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .carousel .pagination-links li {
        display: inline;
    }

    .carousel .pagination-links li a {
        padding: 2px 6px;
    }

    .carousel .pagination-links li a:hover {
        text-decoration: none;
    }

    .carousel .pagination-links li.current a {
        background: #444;
        color: #fff;
    }

    .carousel .disabled {
        color: gray;
        cursor: default;
    }

    /** my carousel 2 **/
    #my-carousel-2 .mask {
        width: 1216px;
    }

    #my-carousel-2 ul li {
        margin: 0 10px 0 0;        
    }
</style>

@*<nav>
    <ul>
        <li style="width:150px;" onclick="SalesDashboard(this)"><a href="#">@ResourceLanguaje.Resource.SalesDashboard</a></li>
        <li style="width:150px;" onclick="PerformanceTotal(this)"><a href="#">@ResourceLanguaje.Resource.PerformanceTotal</a></li>
        <li style="width:150px;" onclick="Scheduled(this)"><a href="#">@ResourceLanguaje.Resource.Scheduled</a></li>
    </ul>
</nav>*@

<div id="divContent" style="margin-top:15px;">
    <h1>@ResourceLanguaje.Resource.Sales</h1>
</div>

<script src="~/Scripts/jquery.carousel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#divContent").empty();
        $("#divContent").load("/Sales/viewSalesDashboard?var=" + Math.random());
    });
</script>
