@{
    Layout = null;
}

<div style="width:100%;">
    @*<div class="titleForm">
            <div class="title">@ResourceLanguaje.Resource.Performance</div>
        </div>*@

    <div class="bodyForm">
        <div class="inBodyForm">

            <div style="display:inline-block; margin-top:10px; color:white;margin-bottom:8px;">
                <div style="cursor:pointer;float:left;margin-left:10px;" onclick="PerformanceTotalx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #B21E1E;">&nbsp;</div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080;">
                        Performance Total
                    </div>
                </div>

                <div style="float:left; width:10px;">&nbsp;</div>

                <div style="cursor: pointer; float: left; " onclick="PerformanceManufacturersx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #FFBB00;"></div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080; ">
                        Performance Manufacturer
                    </div>
                </div>

                <div style="float:left; width:10px;">&nbsp;</div>

                <div style="cursor: pointer; float: left;" onclick="PerformanceGovernmentx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #7CBB00;"></div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080; ">
                        @ResourceLanguaje.Resource.PerformanceGovernment
                    </div>
                </div>

                <div style="float:left; width:10px;">&nbsp;</div>

                <div style="cursor: pointer; float: left;" onclick="Forecatsx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #516882;"></div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080; ">
                        Forecast
                    </div>
                </div>

                <div style="float:left; width:10px;">&nbsp;</div>

                <div style="cursor: pointer; float: left;" onclick="IdentifyingOpportunitiesx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #000000;"></div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080; ">
                        Identififying Opportunities
                    </div>
                </div>
                
                <div style="float:left; width:10px;">&nbsp;</div>

                <div style="cursor: pointer; float: left;" onclick="PerformanceVendorsx(this)">
                    <div style="height: 40px; width: 10px; float: left; background-color: #DE4231;"></div>
                    <div style="height: 30px; width: 170px; float: left; padding-top: 10px; padding-left: 10px; background-color: #808080; ">
                        Performance Vendors
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bodyForm" style="margin-top:10px;">
        <div class="inBodyForm">
            <div id="allPerformance" style="width:100%;"></div>
        </div>
    </div>
            @*<iframe id="ifPerformanceTotal" src="@ViewBag.URL_PERFORMANCE_TOTAL" style="width: 100%; height: 540px; border: 0; border-bottom: 1px solid #ddd; border-left: 1px solid #ddd; "></iframe>*@
        </div>

<script type="text/javascript">
    function PerformanceTotalx(parm) {

        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000386171&STANDALONE=true&privatelink=c40059b1283c57fd1d35d68f95e33ccf&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

    function PerformanceManufacturersx(parm) {

        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000525255&STANDALONE=true&privatelink=b7c5e86571559a7c1cdc62092d510ad2&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

    function PerformanceGovernmentx(parm) {

        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000526760&STANDALONE=true&privatelink=bccb97eb89571ce1c67b144e12a7685b&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

    function Forecatsx()
    {
        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000536158&STANDALONE=true&privatelink=7cd7c4d5bc9b14d5434ba89ebfc1e432&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

    function IdentifyingOpportunitiesx()
    {
        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000536474&STANDALONE=true&privatelink=fde4b71b0aaecf95ca12c2d122578593&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

    function PerformanceVendorsx()
    {
        $("#allPerformance").empty();

        var iframe = document.createElement('iframe');
        iframe.style.width = "100%";
        iframe.style.border = "none";
        iframe.style.height = "600px";
        iframe.src = "https://reports.zoho.com/ZDBDataSheetView.cc?OBJID=186291000000551429&STANDALONE=true&privatelink=4b3f9c2230dcf4c6470f50f7ad05fbd4&ZDB_THEME_NAME=blue&REMTOOLBAR=true";
        document.getElementById("allPerformance").appendChild(iframe);
    }

</script>
