@{
    ViewBag.Title = "Encuestas";
    //Layout = null;
}

<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<div style="float:left; width:11%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px;" background-color:white">
                <center>
                    <button id="btnConfiguracion" class="btn btn-block btn-sm btn-primary">Configuración</button>
                    <button id="btnReportes" class="btn btn-block btn-sm btn-primary">Reportes</button>
                    <button id="btnGraficos" class="btn btn-block btn-sm btn-primary">Gráficos</button>
                    <button id="btnGraficosMensuales" class="btn btn-block btn-sm btn-primary">Gráficos Mensuales</button>
                </center>
            </div>
        </div>
       
    </div>
</div>

<div style="float:right; width:88%;">
    @*<div class="titleForm">
        <div class="title" id="divTitle">
            <span id="spanTitulo"></span>
        </div>
    </div>*@
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



<script type="text/javascript">

    $(document).ready(function () {

        //$("#spanTitulo").html('CUENTA TIPO ACTIVO');
        $("#divCuerpo").load("/EncuestaConfiguracion/Index?var=" + Math.random());

        $("#btnConfiguracion").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Configuración de Encuestas');
            $("#divCuerpo").load("/EncuestaConfiguracion/Index?var=" + Math.random());
        });

        $("#btnReportes").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Reporte de Encuestas');
            $("#divCuerpo").load("/EncuestaConfiguracion/Reportes?var=" + Math.random());
        });

        $("#btnGraficos").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Gráficos');
            $("#divCuerpo").load("/EncuestaConfiguracion/Graficos?var=" + Math.random());
        });

        $("#btnGraficosMensuales").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Gráficos');
            $("#divCuerpo").load("/EncuestaConfiguracion/GraficosMensuales?var=" + Math.random());
        });
    });

</script>
