
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<style>
    .divHide{
        display:none;
    }
</style>

@using (Html.BeginForm("EdicionInforme", "InformeED", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAsset", target = "upload_target" }))
{
<fieldset>
    <input id="IdInforme" name="IdInforme" value="@ViewBag.Id" type="hidden" />
    <input id="IdDocuSale" name="IdDocuSale" value="0" type="hidden" />
    <input id="IdResponsableInforme" name="IdResponsableInforme" value="0" type="hidden" />
    <input id="IdEstadoInforme" name="IdEstadoInforme" value="0" type="hidden" />
    <input id="IdTicket" name="IdTicket" value="0" type="hidden" />
    <input id="IdRevision2" name="IdRevision2" value="0" type="hidden" />
    <input id="IdRevision3" name="IdRevision3" value="0" type="hidden" />
    <input id="IdRevision4" name="IdRevision4" value="0" type="hidden" />
    <input id="IdRevision5" name="IdRevision5" value="0" type="hidden" />
    <input id="IdRevision6" name="IdRevision6" value="0" type="hidden" />
    <input id="IdRevision7" name="IdRevision7" value="0" type="hidden" />

    <div class="row">
        <div class="col-md-7">
            <div class="mb-2 card">
                <div class="card-header-tab card-header">
                    <span id="txtOP" name="txtOP"></span>
                    &nbsp;|&nbsp;
                    <span id="txtTitulo" name="txtTitulo"></span>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label"><b>Cliente</b></label>
                            <div>
                                <span id="txtCliente" name="txtCliente"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="label"><b>Cliente Final</b></label>
                            <div>
                                <span id="txtClienteFinal" name="txtClienteFinal"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="label"><b>Fecha Fin Soporte</b></label>
                            <div>
                                <span id="txtFechaFinSoporte" name="txtFechaFinSoporte"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label"><b>Marca</b></label>
                            <div>
                                <span id="txtMarca" name="txtMarca"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="label"><b>Fecha Informe</b>&nbsp;</label>
                            <div class="form-row">
                                <div class="col-md-10">
                                    <input id="dtFechaInforme" name="dtFechaInforme" class="form-control" type="text" style="width:100%">
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default" style="color: #1e2b75;cursor:pointer;font-size:17px" onclick="ActualizarFechaInforme()" id="btnEditarFecha"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="label"><b>Ticket</b></label>
                            <div>
                                <span id="lblCodigoTicket"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 card">
                <div class="card-header-tab card-header">Gestión de Informe</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label">Estado</label>
                            <input id="txtEstadoInforme" name="txtEstadoInforme" class="form-control" type="text" style="width:100%" value="Pendiente de Elaboración" disabled>
                        </div>
                        <div class="col-md-4">
                            <label class="label">Responsable</label>
                            <input id="txtResponsable" name="txtResponsable" class="form-control" type="text" style="width:100%" disabled />
                        </div>
                        <div class="col-md-4">
                            <label class="label">Tipo Informe</label>
                            <input id="txtTipoInforme" name="txtTipoInforme" class="form-control" type="text" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label">Periodo Desde</label>
                            <input id="dtPeriodoDesde" name="dtPeriodoDesde" class="form-control" type="text" style="width:100%">
                        </div>
                        <div class="col-md-4">
                            <label class="label">Periodo Hasta</label>
                            <input id="dtPeriodoHasta" name="dtPeriodoHasta" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4">
                            <label class="label">Fecha Planificada de Envío</label>
                            <input id="dtFechaPlanificadaEnvio" name="dtFechaPlanificadaEnvio" type="text" class="form-control" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label">Fecha Máxima de Envío</label>
                            <input id="dtFechaMaximaEnvio" name="dtFechaMaximaEnvio" type="text" class="form-control" style="width:100%">
                        </div>
                        <div class="col-md-4">
                            <label class="label">Tipo Entrega (OP)</label>
                            <select id="IdTipoEntrega" name="IdTipoEntrega" multiple="multiple" class="form-control" type="text" style="width:100%"></select>
                        </div>
                        <div class="col-md-4">
                            <label class="label">Cargo</label>
                            <input id="txtCargo" name="txtCargo" class="form-control" type="text" style="width:100%">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="label">Destinatarios</label>
                            <textarea id="txtDestinatarios" name="txtDestinatarios" class="form-control" type="text" style="width:100%" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">Revisiones</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label"><b>Pendiente de Elaboración</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado2" name="rbEstado2" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica2" name="rbEstado2" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision2">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha2" name="dtFecha2" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario2" name="txtComentario2" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label"><b>Pendiente de Aprobación</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado3" name="rbEstado3" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica3" name="rbEstado3" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision3">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha3" name="dtFecha3" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario3" name="txtComentario3" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label"><b>Pendiente de Corrección</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado4" name="rbEstado4" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica4" name="rbEstado4" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision4">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha4" name="dtFecha4" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario4" name="txtComentario4" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label"><b>Pendiente de Envío</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado5" name="rbEstado5" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica5" name="rbEstado5" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision5">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha5" name="dtFecha5" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario5" name="txtComentario5" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label"><b>Pendiente de Envidencia</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado6" name="rbEstado6" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica6" name="rbEstado6" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision6">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha6" name="dtFecha6" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario6" name="txtComentario6" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="label"><b>Enviado Conforme</b></label>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbRealizado7" name="rbEstado7" class="form-check-input" value="1"> Realizado
                                </label>
                            </div>
                            <div class="position-relative form-check">
                                <label class="form-check-label">
                                    <input type="radio" id="rbNoAplica7" name="rbEstado7" class="form-check-input" value="0"> No Aplica
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 divHide" id="divRevision7">
                            <div class="row mb-1">
                                <div class="col-md-12">
                                    <input id="dtFecha7" name="dtFecha7" type="text" class="form-control" style="width:100%" placeholder="Seleccione Fecha">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="txtComentario7" name="txtComentario7" class="form-control" type="text" style="width:100%" rows="2" placeholder="Ingrese un comentario..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 col-lg-6">
                    <br />
                </div>
                <div class="col-sm-12 col-lg-6">
                    <button id="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>
}
<iframe id="upload_target" name="upload_target" src="" style="display:none;"></iframe>

<script type="text/javascript">
    $(document).ready(function () {
         $.ajax({
             url: "/InformeED/ObtenerDatosInforme/"+ @ViewBag.Id,
            type: "GET",
            dataType: "json",
             success: function (source) {
                 $.each(source['Data'], function (index, value) {

                     //Si el estado es cerrado se bloquea todo excepto el campo cargo
                     if (source['Data'][index]['IdEstadoInforme'] == 7) {
                         //Fecha Informe
                         $("#dtFechaInforme").prop("readonly", "readonly");
                         $("#btnEditarFecha").attr("disabled", true);
                         //Información del Informe
                         $("#dtPeriodoDesde").prop("readonly", "readonly");
                         $("#dtPeriodoHasta").prop("readonly", "readonly");
                         $("#dtFechaPlanificadaEnvio").prop("readonly", "readonly");
                         $("#dtFechaMaximaEnvio").prop("readonly", "readonly");
                         $("#IdTipoEntrega").attr("disabled", true);
                         $("#txtDestinatarios").attr("disabled", true);
                         //Revisiones
                         $("input[type=radio][name=rbEstado2]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado3]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado4]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado5]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado6]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado7]").attr("disabled", true);
                         $("#txtComentario2").attr("disabled", true);
                         $("#txtComentario3").attr("disabled", true);
                         $("#txtComentario4").attr("disabled", true);
                         $("#txtComentario5").attr("disabled", true);
                         $("#txtComentario6").attr("disabled", true);
                         $("#txtComentario7").attr("disabled", true);
                     }
                     //Habilitar campo de Fecha
                     if (@ViewBag.perfilSupervisor== 0 &&
                         (source['Data'][index]['AplicaEdicionFecha'] == 0 || source['Data'][index]['IdEstadoInforme'] == 7)) {
                             $("#dtFecha2").prop("readonly", "readonly");
                             $("#dtFecha3").prop("readonly", "readonly");
                             $("#dtFecha4").prop("readonly", "readonly");
                             $("#dtFecha5").prop("readonly", "readonly");
                             $("#dtFecha6").prop("readonly", "readonly");
                             $("#dtFecha7").prop("readonly", "readonly");
                     }
                     //Si el responsable es SOC la revisión técnica, aprobación técnica, revisión administrativa y aprobación administrativa NO APLICA.
                     if (source['Data'][index]['IdResponsableInforme'] == 2) {
                         $("#rbNoAplica3").attr("checked", true);
                         $("#rbNoAplica4").attr("checked", true);
                         $("#rbNoAplica5").attr("checked", true);
                         $("#rbNoAplica6").attr("checked", true);
                         $("input[type=radio][name=rbEstado3]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado4]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado5]").attr("disabled", true);
                         $("input[type=radio][name=rbEstado6]").attr("disabled", true);
                     }

                     //Obtener Valores
                     $("#txtOP").text(source['Data'][index]['OP']);
                     $("#txtTitulo").text(source['Data'][index]['Titulo']);
                     $("#txtCliente").text(source['Data'][index]['Cliente']);
                     $("#txtClienteFinal").text(source['Data'][index]['ClienteFinal']);
                     $("#txtFechaFinSoporte").text(source['Data'][index]['FechaFinSoporte']);
                     $("#txtMarca").text(source['Data'][index]['Marca']);

                     var IdProyecto = source['Data'][index]['IdDocuSale'];
                     $("#IdDocuSale").val(IdProyecto);
                     $("#IdEstadoInforme").val(source['Data'][index]['IdEstadoInforme']);
                     $("#IdResponsableInforme").val(source['Data'][index]['IdResponsableInforme']);
                     $("#IdTicket").val(source['Data'][index]['IdTicket']);
                     $("#dtFechaInforme").val(kendo.toString(new Date(source['Data'][index]['FechaInforme']), "dd/MM/yyyy HH:mm"));
                     /*$("#dtFechaInforme").val(source['Data'][index]['FechaInforme']);*/
                     $("#txtEstadoInforme").val(source['Data'][index]['EstadoInforme']);
                     $("#txtResponsable").val(source['Data'][index]['ResponsableInforme']);
                     $("#txtTipoInforme").val(source['Data'][index]['TipoInforme']);
                     $("#dtPeriodoDesde").val(kendo.toString(new Date(source['Data'][index]['PeriodoDesde']), "dd/MM/yyyy HH:mm"));
                     /*$("#dtPeriodoDesde").val(source['Data'][index]['PeriodoDesde']);*/
                     $("#dtPeriodoHasta").val(kendo.toString(new Date(source['Data'][index]['PeriodoHasta']), "dd/MM/yyyy HH:mm"));
                     /* $("#dtPeriodoHasta").val(source['Data'][index]['PeriodoHasta']);*/
                     $("#dtFechaPlanificadaEnvio").val(kendo.toString(new Date(source['Data'][index]['FechaPlanificada']), "dd/MM/yyyy HH:mm"));
                     /*$("#dtFechaPlanificadaEnvio").val(source['Data'][index]['FechaPlanificada']);*/
                     $("#dtFechaMaximaEnvio").val(kendo.toString(new Date(source['Data'][index]['FechaMaximaEnvio']), "dd/MM/yyyy HH:mm"));
                     /*$("#dtFechaMaximaEnvio").val(source['Data'][index]['FechaMaximaEnvio']);*/

                     $("#txtCargo").val(source['Data'][index]['Cargo']);
                     $("#txtDestinatarios").val(source['Data'][index]['Destinatarios']);
                     if ((source['Data'][index]['IdTicket']) != 0) {
                         $("#lblCodigoTicket").append('<a href=\"/DetailsTicket/Index/' + source['Data'][index]['IdTicket'] + '" target="_blank">' + source['Data'][index]['CodigoTicket'] + '</a>');
                     } else {
                         $("#lblCodigoTicket").append("-");
                     }

                     //Campos
                     $("#dtFechaInforme").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtPeriodoDesde").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtPeriodoHasta").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFechaPlanificadaEnvio").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFechaMaximaEnvio").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha2").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha3").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha4").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha5").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha6").kendoDateTimePicker({ format: "dd/MM/yyyy" });
                     $("#dtFecha7").kendoDateTimePicker({ format: "dd/MM/yyyy" });

                     var idTE = $("#IdTipoEntrega").kendoMultiSelect({
                         dataTextField: "TipoEntrega",
                         dataValueField: "IdTipoEntrega",
                         filter: "contains",
                         placedolder: "Seleccione...",
                         autoBind: true,
                         suggest: true,
                         dataSource: {
                             schema: {
                                 data: "Data",
                                 total: "Count"
                             },
                             transport: {
                                 read: "/InformeED/ListarTipoEntrega?var=" + Math.random()
                             }
                         }
                     }).data("kendoMultiSelect");

                     $.ajax({
                         url: "/InformeED/ObtenerTipoEntrega/"+ IdProyecto,
                        type: "GET",
                        dataType: "json",
                         success: function (source) {
                             var IdTipoE = [], i = 0;
                             $.each(source['Data'], function (index, value) {
                                 IdTipoE[i]= (source['Data'][index]['IdTipoEntrega']);
                                 i++;
                             });
                             idTE.value(IdTipoE);
                        },
                        error: function (source) {
                            toastr.error("Error al obtener la información del informe.");
                        }
                    });
                 });

            },
            error: function (source) {
                toastr.error("Error al obtener la información del informe.");
            }
        });


         $.ajax({
             url: "/InformeED/ObtenerRevisiones/"+ @ViewBag.Id,
            type: "GET",
            dataType: "json",
             success: function (source) {
                 $.each(source['Data'], function (index, value) {
                     var IdEstadoRevision = (source['Data'][index]['IdEstadoInforme']);

                     $("#IdRevision" + IdEstadoRevision).val(source['Data'][index]['IdRevision']);
                     if ((source['Data'][index]['Aplica']) == 1) {
                         $("#rbRealizado" + IdEstadoRevision).attr("checked", true);
                         $("#divRevision" + IdEstadoRevision).removeClass("divHide");
                     } else {
                         $("#rbNoAplica" + IdEstadoRevision).attr("checked", true);
                     }
                     $("#dtFecha" + IdEstadoRevision).val(kendo.toString(new Date(source['Data'][index]['FechaRevision']), "dd/MM/yyyy HH:mm"));
                     /*$("#dtFecha" +IdEstadoRevision).val(source['Data'][index]['FechaRevision']);*/
                     $("#txtComentario" + IdEstadoRevision).val(source['Data'][index]['Comentarios']);

                     //Se deshabilitan los campos
                     $("input[type=radio][name=rbEstado" + IdEstadoRevision + "]").attr("disabled", true);
                     $("#txtComentario" + IdEstadoRevision).attr("disabled", true);
                 });
            },
            error: function (source) {
                toastr.error("Error al obtener la información del informe.");
            }
        });

        $("input[type=radio][name=rbEstado2]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision2").removeClass("divHide");
            } else {
                $("#divRevision2").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado2]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision2").removeClass("divHide");
            } else {
                $("#divRevision2").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado3]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision3").removeClass("divHide");
            } else {
                $("#divRevision3").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado4]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision4").removeClass("divHide");
            } else {
                $("#divRevision4").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado5]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision5").removeClass("divHide");
            } else {
                $("#divRevision5").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado6]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision6").removeClass("divHide");
            } else {
                $("#divRevision6").addClass("divHide");
            }
        });
        $("input[type=radio][name=rbEstado7]").on('change', function () {
            if (($(this).attr("value")) == "1") {
                $("#divRevision7").removeClass("divHide");
            } else {
                $("#divRevision7").addClass("divHide");
            }
        });

    });


    function ActualizarFechaInforme() {
        var id = $("#IdInforme").val();
        var id1 = $("#IdTicket").val();

        if ($("#dtFechaInforme").val() == null || $("#dtFechaInforme").val() == '') {
            toastr.warning("Seleccione una fecha.", "¡Alerta!");
        } else {
            if (id1 == 0) {
                $.ajax({
                    url: "/InformeED/ActualizarFechaInforme/",
                    data: "IdInformeDetalle=" + id +
                        "&IdTicket=" + id1 +
                        "&Fecha=" + $("#dtFechaInforme").val() +
                        "&var=" + Math.random(),
                    type: "GET",
                    cache: false,
                    dataType: "text",
                    success: function (resp) {
                        if (resp == "OK") {
                            toastr.success("La Fecha fue actualizada.", "");
                            setTimeout(function () {
                                location.reload();
                            }, 1500);
                        } else {
                            toastr.warning("Verifique los datos porfavor.", "¡Alerta!");
                        }
                    }
                });
            } else {
                swal({
                    title: 'El Informe tiene un ticket generado. ¿Desea modificar la fecha?',
                    text: 'Si selecciona "Sí", sólo se agregará un comentario en el ticket indicando el cambio de fecha.',
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    cancelButtonText: "No",
                    confirmButtonText: "Sí",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function (dismiss) {
                    if (dismiss) {
                        swal({ title: "Procesando información, por favor espere...", text: "Actualizando la fecha de informe.", showConfirmButton: false, type: "info" });

                        $.ajax({
                            url: "/InformeED/ActualizarFechaInforme/",
                            data: "IdInformeDetalle=" + id +
                                "&IdTicket=" + id1 +
                                "&Fecha=" + $("#dtFechaInforme").val() +
                                "&var=" + Math.random(),
                            type: "GET",
                            cache: false,
                            dataType: "text",
                            success: function (resp) {
                                swal.close();
                                if (resp == "OK") {
                                    toastr.success("Se agregó un comentario en el ticket indicando la nueva fecha.", "");
                                    setTimeout(function () {
                                        location.reload();
                                    }, 1500);
                                } else {
                                    toastr.warning("Verifique los datos porfavor.", "¡Alerta!");
                                }
                            }
                        });
                    }
                });
            }
        }
    }

    function MensajeConfirmacion(resp, descripcion) {
        if (resp == "OK") {
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.success("El informe se actualizó con éxito.", "Mensaje");
            setTimeout(function () {
                location.reload();
            }, 1500);
        } else if (resp == "ALERTA") {
            toastr.warning(descripcion, "¡MENSAJE!");
        } else if (resp == "ERROR") { //Error Try catch
            toastr.error("Por favor contacte al administrador.", "Mensaje");
        }
    }
</script>