@{
    ViewBag.Title = "ReporteInforme";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<div class="card">
    <div class="card-header">Reporte de Informes</div>
    <div class="card-body">
        <form id="ParametroOP">
            <div class="form-group row">
                <div class="col-md-2">
                    Cliente
                    <select id="cbCliente" name="cbCliente" type="text" style="width:100%"></select>
                </div>
                <div class="col-md-2">
                    Cliente Final
                    <select id="cbClienteFinal" name="cbClienteFinal" type="text" style="width:100%"></select>
                </div>
                <div class="col-md-2">
                    Marca
                    <select id="cbMarca" name="cbMarca" type="text" style="width:100%"></select>
                </div>
                <div class="col-md-2">
                    Estado
                    <input id="cbEstadoInforme" name="cbEstadoInforme" type="text" style="width:100%">
                </div>
                <div class="col-md-2">
                    Responsable
                    <select id="cbResponsable" name="cbResponsable" type="text" style="width:100%"></select>
                </div>
                <div class="col-md-2">
                    Tipo Informe
                    <select id="cbTipoInforme" name="cbTipoInforme" type="text" style="width:100%"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Fecha Informe Inicio
                    <input type="text" class="form-control pull-right" id="dtFechaInicio" name="dtFechaInicio">
                </div>
                <div class="col-md-2">
                    Fecha Informe Fin
                    <input type="text" class="form-control pull-right" id="dtFechaFin" name="dtFechaFin">
                </div>
                <div class="col-md-2">
                    Tipo Entrega
                    <input id="cbTipoEntrega" name="cbTipoEntrega" style="width:100%" />
                </div>
                <div class="col-md-2">
                    OP
                    <input id="txtOP" name="txtOP" class="form-control" type="text" />
                </div>
                <div class="col-md-2">
                    <br />
                    <button id="btnBuscar" type="button" class="btn btn-warning btn-block">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div style="margin-top:10px;">
    <div class="card-body">
        <iframe id="RSInforme" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReport() {
        //document.getElementById('btnBuscar').href = "/Reporting/OrderForm/ReporteInforme.aspx?"
        //    + "&dtFechaInicio=" + $("#dtFechaInicio").val()
        //    + "&dtFechaFin=" + $("#dtFechaFin").val()
        //    + "&cbCliente=" + $("#cbCliente").val()
        //    + "&cbClienteFinal=" + $("#cbClienteFinal").val()
        //    + "&cbMarca=" + $("#cbMarca").val()
        //    + "&cbEstadoInforme=" + $("#cbEstadoInforme").val()
        //    + "&cbResponsable=" + $("#cbResponsable").val()
        //    + "&cbTipoInforme=" + $("#cbTipoInforme").val()
        //    + "&cbTipoEntrega=" + $("#cbTipoEntrega").data("kendoMultiSelect").value()
        //    + "&OP=" + $("#txtOP").val();        
        //window.frames["RSInforme"].src = "/Reporting/OrderForm/ReporteInforme.aspx?" + $("#Parametro").serialize();
        window.frames["RSInforme"].src = "/Reporting/OrderForm/ReporteInforme.aspx?var=" + Math.random()
            + "&dtFechaInicio=" + $("#dtFechaInicio").val()
            + "&dtFechaFin=" + $("#dtFechaFin").val()
            + "&cbCliente=" + $("#cbCliente").val()
            + "&cbClienteFinal=" + $("#cbClienteFinal").val()
            + "&cbMarca=" + $("#cbMarca").val()
            + "&cbEstadoInforme=" + $("#cbEstadoInforme").val()
            + "&cbResponsable=" + $("#cbResponsable").val()
            + "&cbTipoInforme=" + $("#cbTipoInforme").val()
            + "&cbTipoEntrega=" + $("#cbTipoEntrega").data("kendoMultiSelect").value()
            + "&OP=" + $("#txtOP").val();        
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#dtFechaInicio').kendoDatePicker();
        $('#dtFechaFin').kendoDatePicker();

        var cbCliente = $("#cbCliente").kendoComboBox({
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            autoBind: true,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListClients?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        cbCliente.list.width(300);


        var cbClienteFinal = $("#cbClienteFinal").kendoComboBox({
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            autoBind: true,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListClients?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        cbClienteFinal.list.width(300);

        $("#cbMarca").kendoComboBox({
            dataTextField: "NAM_MANU",
            dataValueField: "ID_MANU",
            filter: "contains",
            autoBind: true,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Manufacturer/List?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#cbEstadoInforme").kendoComboBox({
            dataTextField: "Estado",
            dataValueField: "IdEstado",
            filter: "contains",
            autoBind: true,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarInformeEstado?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        $("#cbResponsable").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarInformeResponsable?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var cbTipoInforme = $("#cbTipoInforme").kendoComboBox({
            autoBind: false,
            cascadeFrom: "cbResponsable",
            filter: "contains",
            dataTextField: "TipoInforme",
            dataValueField: "IdTipoInforme",
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarTipoInformexRresponsable?_=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var cbTipoEntrega = $("#cbTipoEntrega").kendoMultiSelect({
            dataTextField: "TipoEntrega",
            dataValueField: "IdTipoEntrega",
            filter: "contains",
            autoBind: true,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/InformeED/ListarTipoEntrega?var=" + Math.random()
                }
            }
        }).data("kendoMultiSelect");
        
        $("#btnBuscar").click(function (event) {
            GenerateReport();
            event.preventDefault();
        });

    });

</script>


