@{
    ViewBag.Title = "VerEvidencia";
    Layout = null;
}

<style>
    .drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
    }

        .drop-area.dragover {
            background-color: #f5f5f5;
        }

        .drop-area.image-dropped {
            border: none;
            padding: 0;
            background-color: transparent;
        }

            .drop-area.image-dropped img {
                max-width: 100%;
                max-height: 400px;
            }


    #buttons-containerVEVM {
        text-align: center;
        margin-top: 20px;
    }

    #buttons-containerVEVM button {
        margin: 10px;
    }


</style>


<div class="container">
    <div class="drop-area" id="drop-areaVEVM">
    </div>
    <div id="buttons-containerVEVM">
        <input type="button" data-dismiss="modal" class="btn btn-secondary" id="cerrar-btnVEVM" value="Cerrar">
    </div>
</div>

<script>

    //var droppedFile;

    $(document).ready(function () {

       $.ajax({
            url: "/InformeED/MostrarImagenEvidencia?IDI=" + @ViewBag.IdInformeDetalle + '&IDTIPOENTREGA=' + @ViewBag.IdTipoEntrega,
            type: "GET",
            success: function (data) {
                if (data.Success) {
                    var imagePath = data.FilePath;
                    showPreviewImageFromPath(imagePath);
                }
            },
            error: function () {
                // Manejar el error si ocurre
            }
        });

    });



    function showPreviewImageFromPath(imagePath) {
        $("#drop-areaVEVM").html('<img src="' + imagePath + '">');
        $("#drop-areaVEVM").addClass("image-dropped");
    }


</script>

