@{
    ViewBag.Title = "Logo";
    Layout = null;
}

<style>
    .drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
    }

        .drop-area.dragover {
            background-color: #f5f5f5;
        }

        .drop-area.image-dropped {
            border: none;
            padding: 0;
            background-color: transparent;
        }

            .drop-area.image-dropped img {
                max-width: 100%;
                max-height: 400px;
            }

  

    #buttons-containerVLM {
        text-align: center;
        margin-top: 20px;
    }

    #buttons-containerVLM button {
        margin: 10px;
    }


</style>


<input id="DocuSaleVLM" name="DocuSale" value="@ViewBag.NumDocuSale" type="hidden" />
<div class="container">
    <div class="drop-area" id="drop-areaVLM">
    </div>
    <div id="buttons-containerVLM">
        <input type="button" data-dismiss="modal" class="btn btn-secondary" id="cerrar-btnVLM" value="Cerrar">
    </div>
</div>

<script>

    $(document).ready(function () {
       
        var DocuSale = $("#DocuSaleVLM").val();
        $.ajax({
            url: "/InformeED/LogodePlantilla?NumDocuSale=" + DocuSale,
            type: "GET",
            success: function (data) {
                if (data.Success) {
                    var imagePath = data.FilePath;
                    showPreviewImageFromPath(imagePath);
                }
            },
            error: function () {
                // Manejar el error si ocurre
            }
        });

    });
    

    
    function showPreviewImageFromPath(imagePath) {
        $("#drop-areaVLM").html('<img src="' + imagePath + '">');
        $("#drop-areaVLM").addClass("image-dropped");
    }


</script>

