
@{
    Layout = null;
}

<style>
    b {
        color: #F83C50;
    }
</style>

<div style="width:100%; display:inline-block;">
    @using (Html.BeginForm("CrearNuevoSLA", "SLA", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewRequest", name = "FormNewRequest", target = "ut_NewRequest" }))
    {
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Cuenta<b>*</b> </label>
                    <input id="cbCuentaCrea" name="cbCuentaCrea" class="" type="text" />
                </div>
                <div class="col-md-6">
                    <label>Nombre<b>*</b></label>
                    <input id="NombreCrea" name="NombreCrea" class="form-control" type="text" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <br />
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                Detalle<b>*</b>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tbPrioridad" class="table table-bordered table-striped" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Prioridad</th>
                                        <th>Tiempo de atención</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>

        @*---------------------------Footer--------------------------------------------------------*@
        <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
            <div style=" float:right; padding:0px 0px 0px 0px; ">
                <button id="reset" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
            <div style=" float:right; padding:0px 15px 0px 0px; ">
                <button id="submitRequest" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    }
    <iframe id="ut_NewRequest" name="ut_NewRequest" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#cbCuentaCrea").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            placeholder: "Seleccione una cuenta",
            dataValueField: "id",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListarCuentas_Kendo"
                }

            }
        });
        ListarPrioridad();


    });

    function ListarPrioridad() {
        $('#tbPrioridad').dataTable().fnDestroy();
        $('#tbPrioridad').DataTable({
            "order": [[1, "asc"]],
            //dom: 'Bfrtip',
            ajax: {
                "url": "/SLA/ListarCrearPrioridadSLA/",
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<input type='checkbox' id='Aplica" + data.ID_PRIO + "' name='Aplica" + data.ID_PRIO + "' style='width:15px;height:15px;'>";
                    }
                },
                { data: "NAM_PRIO" },
                {
                    data: null,
                    render: function (data, type, row) {
                        ValidarDecimales(data.ID_PRIO);
                        return "<input id='Tiempo" + data.ID_PRIO + "' name='Tiempo" + data.ID_PRIO + "' type='text' placeholder='' class='form-control input-md'>";

                    }
                },
            ],
            "info": false,
            "searching": false,
            "paginate": false
        });
    }
    function ValidarDecimales(id) {

        $("#Tiempo" + id).keypress(function (event) {
            var charCode = (event.which) ? event.which : event.keyCode
            if (
                //(charCode != 45 || $("#txtCondParametro" + id).val().indexOf('-') != -1) &&
                //(charCode != 46 || $("#txtCondParametro" + id).val().indexOf('.') != -1) &&
                (charCode < 48 || charCode > 57))
                event.preventDefault();
            return true;
        });

        $("#Tiempo" + id).keyup(function (event) {
            var $$this = $("#txtCondParametro" + id).val();
            //alert($$this);
            var charCode = (event.which) ? event.which : event.keyCode
            if (charCode == 189 && $$this.indexOf('-') > 0) {
                value = $$this.replace('-', '');
                $("#txtCondParametro" + id).val(value);
                event.preventDefault();
            }
        });
        $("#Tiempo" + id).on('input', function () {
            //this.value = parseFloat($("#txtCondParametro" + id).val(), 20).toFixed(3);
            this.value = this.value
                //.replace(/[^\d.]/g, '')             // numbers and decimals only
                .replace(/(^[\d]{17})[\d]/g, '$1')   // not more than 17 digits at the beginning
                //.replace(/(\..*)\./g, '$1')         // decimal can't exist more than once
                .replace(/(\.[\d]{2})./g, '$1');    // not more than 2 digits after decimal
        });
    }

    function uploadDoneNR(msg, msnErr) {
        if (msg == 'OK') {
            toastr.success(msnErr);
            $("#btnBuscar").click();
            $("#reset").click();
        }
        else {
            toastr.error(msnErr);
        }
    }
</script>
