@model ERPElectrodata.Models.SLA

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>
<style type="text/css">


    .bg-primary {
        background-color: rgb(81, 104, 130);
        font-size: 13px;
    }

    .detalle {
        font-size: 13px;
        color: #7F7F7F;
    }

    .contenido {
        background: #DCDCDE;
    }

    #Buscar {
        margin-right: 20px;
    }

    #BtnEditar {
        border: 0;
    }

    #caja {
        /*border:1px solid black;*/
        height: 30px;
        padding-top: -5px;
    }

    b {
        color: #F83C50;
    }
</style>

@*<div class="panel panel-primary" style="width:100%;float:left;">


        <div class="panel-body">
            <div class="bodyForm" id="divNuevoSLA">
                <div class=" inbodyform">

                    <fieldset>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-3 my-auto">
                                    <div>Cuenta </div>
                                    <select id="cbCuenta" name="cbCuenta" class="form-control select2" type="text" style="width:100%" />
                                </div>
                                <div class="col-md-3">
                                    Nombre
                                    <input id="Nombre" name="Nombre" class="form-control" type="text" />
                                </div>
                                <div class="col-md-3 my-auto">
                                    Estado
                                    <select id="EstadoSLA" name="EstadoSLA" class="form-control select2">
                                        <option value="">Seleccione...</option>
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-2 ml-auto">
                                    <button id="Buscar" type="button" class="btn btn-primary btn-block" onclick="ListarSLA()">Buscar</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#miModal" onclick="CrearSLA()">Crear</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>

        <div style="width: 100%; margin:15px auto;">
            <div class="box">
                <div class="tab-content" >
                    <div class="tab-pane active" id="tab_1">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="tbSLA" class="table table-bordered table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Cuenta</th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>Usuario Creador</th>
                                            <th>Fecha creación</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="modalSLA" class="modal fade"  role="dialog" aria-labelledby="modalSLALabel" aria-hidden="true">
        <div class="modal-dialog" id="tamSoporteED">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><span id="titulo" ></span></h4>
                </div>
                <div class="modal-body">
                    <div id="divSLA"></div>
                    <!-- CONTENIDO -->
                </div>
            </div>
        </div>
    </div>*@

<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="cbCuenta">Cuenta</label>
                                <input id="cbCuenta" name="cbCuenta" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="Nombre">Nombre</label>
                                <input id="Nombre" name="Nombre" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="EstadoSLA">Estado</label>
                                <input id="EstadoSLA" name="EstadoSLA" type="text">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>&nbsp;</label><br />
                                <button id="btnBuscar" type="button" class="btn btn-primary" onclick="ListarSLA(); return false;">Buscar</button>
                                <button id="btnCrear" type="button" class="btn btn-warning" data-toggle="modal" data-target="#miModal" onclick="CrearSLA(); return false;">Crear</button>
                            </div>
                        </div>
                    </div>
                    <table id="tbSLA" class="table table-bordered table-striped" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Cuenta</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Usuario Creador</th>
                                <th>Fecha creación</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div id="Grafica" style="width:100%;display:none;">
            </div>
        </div>
    </div>
</div>

<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>

<script type="text/javascript">

    $(document).ready(function () {
        $("#cbCuenta").kendoComboBox({
            autoBind: true,
            dataTextField: "text",
            placeholder: "Seleccione una cuenta",
            dataValueField: "id",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListarCuentas_Kendo"
                }

            }
        });
        $("#EstadoSLA").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                { text: "Activo", value: "1" },
                { text: "Inactivo", value: "0" },
            ],
            filter: "contains",
            suggest: true,
        });
        var ID_TYPE_ASSE = $("#ID_PRIO").kendoComboBox({
            autoBind: false,
            dataTextField: "NAM_PRIO",
            dataValueField: "ID_PRIO",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/SLA/ListarSLACombo?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        ListarSLA();
    });

    function ListarSLA() {
        $('#tbSLA').dataTable().fnDestroy();
        $('#tbSLA').DataTable({
            "order": [[0, "asc"]],
            dom: 'Bfrtip',
            ajax: {
                "url": "/SLA/ListarSLATodo/",
                "data": function (d) {
                    d.IdCuenta = $("#cbCuenta").val() == '' ? '' : $("#cbCuenta").val(),
                        d.Nombre = $("#Nombre").val() == '' ? '' : $("#Nombre").val(),
                        d.EstadoSLA = $("#EstadoSLA").val()
                }
            },
            columns: [
                { data: "Cuenta" },
                { data: "Nombre" },
                { data: "Estado" },
                { data: "UsuarioCrea" },
                { data: "FechaCrea" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<div style="text-align:center;">' +
                            '<button type="button" id="BtnEditar" class="btn btn-outline-dark" title="Editar" data-toggle="modal" data-target="#miModal"  onclick="EditarSLATodo(' + data.Id + ')">' +
                            '<i class="fas fa-pencil-alt"></i>' +
                            '</button>' +
                            '</div>';
                    }
                },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }

    function CrearSLA() {
        $("#lblTitulo").text("Registrar SLA");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");

        $('#modal-content').empty();
        $('#modal-content').load("/SLA/CreaNuevoSLA/");
    }

    function EditarSLATodo(Id) {
        $("#lblTitulo").text("Editar SLA");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");

        $('#modal-content').empty();
        $('#modal-content').load("/SLA/EditarSLA/" + Id);
    }


</script>