@{
    Layout = null;
}

<div class="bodyForm">
    <div class="inBodyForm">
        <div id="allPerformance" style="width:100%;">
            <div style="padding-left: 10px;">
                <div style="width: 100%; margin: 10px 10px 7px 0px; padding: 0px 0px 0px 0px; font-size: 0.95em;" id="divFiltro">
                    <form id="Parametro">
                        <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                            <div style="float: right; margin: 0px 10px 0px 10px;">
                                <button id="btnBuscar" class="k-button">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSCatalogoServicioActivo" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerarReporte() {
        window.frames["RSCatalogoServicioActivo"].src = "/Reporting/Cmdb/CatalogoServicioActivo.aspx?idServicio=1&var=" + Math.random() + "&" + $("#Parametro").serialize();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnBuscar").click(function (event) {
            GenerarReporte();
            event.preventDefault();
        });

    });

</script>