@{
    Layout = null;
}

<div class="col-lg-2">
    <div class="panel panel-default">
        <div class="panel-heading">OPCIONES</div>
        <div class="panel-body">
            <button id="btnTicket" class="btn btn-block btn-default">Op-Ticket Op</button>
            <button id="btnActivo" class="btn btn-block btn-default">Activos</button>
            <button id="btnPersona" class="btn btn-block btn-default">Personas</button>
            @*<button id="btnCambio" class="btn btn-block btn-default">Cambios</button>
            <button id="btnConocimiento" class="btn btn-block btn-default">Conocimiento</button>*@
        </div>
    </div>
</div>

<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">IMPLEMENTACIÓN</div>
        <div class="panel-body">
            <div id="divReporte">
                <center><div><img src="~/Content/Images/cmdb/implementacion.jpg" /></div></center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnTicket").click(function () {
            $("#divReporte").empty();
            $("#spanTitulo").html('OP - TICKETS OP');
            $("#divReporte").load("/Cmdb/RptImplementacionOP?var=" + Math.random());
        });

        $("#btnActivo").click(function () {
            $("#divReporte").empty();
            $("#spanTitulo").html('ACTIVOS');
            $("#divReporte").load("/Cmdb/RptImplementacionActivo?var=" + Math.random());
        });

        $("#btnPersona").click(function () {
            $("#divReporte").empty();
            $("#spanTitulo").html('PERSONAS');
            $("#divReporte").load("/Cmdb/RptImplementacionPersona?var=" + Math.random());
        });

        $("#btnCambio").click(function () {
            $("#divReporte").empty();
            $("#spanTitulo").html('SOLICITUDES DE CAMBIOS');
            $("#divReporte").load("/Cmdb/RptImplementacionCambio?var=" + Math.random());
        });

        $("#btnConocimiento").click(function () {
            $("#divReporte").empty();
            $("#spanTitulo").html('GESTIÓN DE CONOCIMIENTO');
            $("#divReporte").load("/Cmdb/RptImplementacionConocimiento?var=" + Math.random());
        });

    });

</script>