@model ERPElectrodata.Models.DETAILS_TICKET

@{
    Layout = null;
}

@using (Html.BeginForm("EditSummary", "DetailsTicket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEditDetailsTicket", target = "upload_target" }))
{
    <div class="modal-body">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_DETA_TICK)
        <div class="editor-label">
            Comentario
        </div>
        <div class="editor-field">
            @*@Html.TextAreaFor(model => model.COM_DETA_TICK, new { id = "COM_DETA_TICK_E", name = "COM_DETA_TICK_E" })*@
            <textarea name="COM_DETA_TICK_E" id="COM_DETA_TICK_E">@ViewBag.COM_DETA_TICK</textarea>
        </div>
    </div>

    <div class="modal-footer">
        @*<button onclick="Save()" type="button" class="k-button" >Save</button>*@
        <button id="submit" class="k-button">Save</button>
    </div>
}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden"></iframe>

<script type="text/javascript">
    $(document).ready(function () {
        $("#COM_DETA_TICK_E").kendoEditor({
            encoded: false
        });
    });

    function uploadDoneEditDeta(val, msg) {
        //alert('sd');
        if (val == "OK") {
            $('#EditCommentModal').modal('hide');
            alert(msg);
            location.reload();
        }
        else
        {
            $('#EditCommentModal').modal('hide');
            alert(msg);
        }
    }
</script>
