@model ERPElectrodata.Models.PERSON_PAYMENT

@{
    Layout = null;
}

<div style="width:100%;" id="divDetailsPensionOld"></div>

<script type="text/javascript"> 
    $(document).ready(function () {

        $.ajax({
            url: "/PERSON_PAYMENT/ListOldBankAccount/@ViewBag.ID_PERS_ENTI/@ViewBag.ID_TYPE_PAYM",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (source) {
                data = source;
                showInfoDetailsOldAccounts();
            },
            error: function (source) {
                //alert("Error Carga Json");
            }
        });

    });

    function showInfoDetailsOldAccounts() {
        $.each(data['data'], function (index, value) {
            $("#divDetailsPensionOld").append(
                '<div class="row p-2">' +
                    '<div class="col-md-2">' +
                            '<div class = "smallField"><b>@ResourceLanguaje.Resource.Bank</b></div>' +
                            '<div class = "smallTitle">' + (data['data'][index]['NAM_BANK']) + '</div>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.NumberAccount</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['NUM_ACCO']) + '</div>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.StartDate</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['START_DATE']) + '</div>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                        '<div class = "smallField"><b>@ResourceLanguaje.Resource.EndDate</b></div>' +
                        '<div class = "smallTitle">' + (data['data'][index]['END_DATE']) + '</div>' +
                    '</div>' +
                '</div>');
        });
    }
</script>
