@model List<ERPElectrodata.Models.ListaUsuariosCoordinadores_Result>
<ul class="list-group">
    @foreach (var coordinador in Model)
    {
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <img width="42" class="rounded-circle"
                             src=@("/Content/Fotos/"+coordinador.FOT_PERS+".jpg")
                             alt="">
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">@(coordinador.FIR_NAME+" "+coordinador.LAS_NAME)</div>
                        <div class="widget-subheading">@coordinador.CAR_PERS</div>
                    </div>
                    <div class="widget-content-right">
                        <button class="btn-pill btn-hover-shine btn  btn-sm btn-danger" onclick="eliminarDesdeLista(@coordinador.ID_PERS_ENTI)">Eliminar</button>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
    
