@model List<ERPElectrodata.Models.ListaUsuariosCoordinadores_Result>
@{
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

<div class="app-page-title cabeceraBg">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="font-icon-wrapper font-icon-lg bg-white">
                <i class="fa fa-file icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                <div class="titleModule"><b><span class="INCIDENTESYREQUERIMIENTOS">Usuarios</span></b></div>
                <div class="page-title-subheading">
                    <span class="ListadeTicketsporcuentadesoporteporestado">Asociar usuarios a un coordinador.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="mb-3">
            <p class="card-title">Lista de coordinadores</p>
            <select id="select-coordinadores" placeholder="Buscar coordinador" onchange="cargarUsuariosVinculados()">
                <option value="" selected>Seleccionar coordinador</option>
            </select>
        </div>
        <div class="mb-3">
            <p class="card-title">Lista de usuarios</p>
            <select id="select-usuarios" placeholder="Buscar usuario" onchange="cargarInformacion()">
                <option value="" selected>Seleccionar usuario</option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <p class="card-title">INFORMACIÓN DE USUARIO</p>
                </div>
                <div id="usuarioInfo">
                    <div class="row">
                        <div class="col" style="display:flex;justify-content:center">
                            <img id="imagen" style="max-width:80%" src="~/Content/Images/LogoED.png" />
                        </div>
                        <div class="col">
                            <p class="card-title">Nombres</p>
                            <p id="nombre">Nombre completo</p>
                            <p class="card-title">Cargo</p>
                            <p id="cargo">Cargo completo</p>
                            <div id="guardar" style="display:none">
                                <button class="btn btn-primary" onclick="guardarDesdeInfo()">Agregar</button>
                            </div>
                            <div id="eliminar" style="display:none">
                                @*<button class="btn btn-danger" onclick="eliminar()">Eliminar</button>*@
                            </div>
                            <input type="hidden" id="userID" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="card-title">Usuarios asociados</p>
                </div>
                <div id="listaUsuariosVinculados">
                    @Html.Partial("_ListaUsuariosVinculados",Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let listaClientes = []
    let listaCoordinadores = []
    function cargarUsuarios() {
        const selector = document.getElementById('select-usuarios');
        $.get("CargarUsuarios", function ({data}, status) {
            data.forEach(user => {
                listaClientes.push(user)
                const option = document.createElement('option');
                console.log(user)
                let crearNombreCompleto = `${user.FIR_NAME} ${user.LAS_NAME}`
                option.text = crearNombreCompleto
                option.value = user.ID_PERS_ENTI
                //document.querySelector("select-usuarios").appendChild(option)
                selector.appendChild(option)
            })

        })
    }

    function cargarCoordinadores() {
        const selector = document.getElementById('select-coordinadores');
        $.get("CargarCoordinadores", function ({ data }, status) {
            data.forEach(user => {
                console.log(user)
                listaCoordinadores.push(user)
                const option = document.createElement('option');
                console.log(user)
                let crearNombreCompleto = `${user.FIR_NAME} ${user.LAS_NAME}`
                option.text = crearNombreCompleto
                option.value = user.ID_PERS_ENTI
                selector.appendChild(option)
            })

        })
    }

    function cargarInformacion() {
        let seleccion = document.getElementById("select-usuarios").value
        listaClientes.forEach(user => {
            if (user.ID_PERS_ENTI == seleccion) {
                let crearNombreCompleto = `${user.FIR_NAME} ${user.LAS_NAME}`
                pintarUsuario(crearNombreCompleto, user.CAR_PERS, user.Coordinador, user.FOT_PERS, user.ID_PERS_ENTI)
                return
            }
        })
    }

    function cargarInformacionCoordinadores() {
        var seleccion = document.getElementById("select-coordinadores").value
        listaCoordinadores.forEach(user => {
            if (user.ID_PERS_ENTI == seleccion) {
                let crearNombreCompleto = `${user.FIR_NAME} ${user.LAS_NAME}`
                pintarUsuario(crearNombreCompleto, user.CAR_PERS, user.Coordinador, user.FOT_PERS, user.ID_PERS_ENTI)
                return
            }
        })
    }
    function pintarUsuario(nombre, cargo,esGenerico,foto, id) {
        document.getElementById("nombre").textContent=nombre
        document.getElementById("cargo").textContent = cargo
        document.getElementById("userID").value = id
        var imagen = document.getElementById("imagen")
        imagen.src = "../Content/Fotos/"+foto+".jpg"

        if (esGenerico == null) {
            document.getElementById("guardar").style.display = "block"
            document.getElementById("eliminar").style.display = "none"
        } else {
            document.getElementById("guardar").style.display = "none"
            document.getElementById("eliminar").style.display = "block"
        }
    }

    function cargarUsuariosVinculados() {
        let seleccion = document.getElementById("select-coordinadores").value
        console.log(seleccion)
        $.post("CargarListaUsuariosVinculados", { idCoordinador: seleccion }, function (response) {
            $("#listaUsuariosVinculados").html(response);
        })
    }

    function guardarDesdeInfo() {
        let seleccionCoordinador = document.getElementById("select-coordinadores").value
        let seleccionUsuario = document.getElementById("select-usuarios").value
        $.post("GuardarEliminarUsuarioVinculado", { idCoordinador: seleccionCoordinador, idUsuario: seleccionUsuario, accion: 1 }, function (response) {
            $("#listaUsuariosVinculados").html(response);
        })
    }
    function eliminarDesdeLista(seleccionUsuario) {
        let seleccionCoordinador = document.getElementById("select-coordinadores").value
        $.post("GuardarEliminarUsuarioVinculado", { idCoordinador: seleccionCoordinador, idUsuario: seleccionUsuario, accion: 0 }, function (response) {
            $("#listaUsuariosVinculados").html(response);
        })
    }

    function iniciador() {
        cargarCoordinadores()
        cargarUsuarios()
        
    }
    
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
        
    });
    iniciador()
</script>