@{
    ViewBag.Title = "Project Planning";
    Layout = null;
}


<style type="text/css">
    .container {
        width: 100%;
        margin: 0 auto;
        
    }
    ul.tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background-color: #3E4752;
    }

        ul.tabs li {
            background: none;
            color: #ffffff;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

    ul.tabs li.current {
                background: #333; 
                color: #ffffff;
                font-weight:700;
            }

 .tab-content {
        display: none;
        background: #ffffff;
        padding: 15px 0px 15px 0px;      
}

.tab-content.current {
            display: inherit;
}

</style>

<div class="container">

    <ul class="tabs">
        <li class="tab-link" onclick="ReturnListProjects(this)">
            <img style="margin-top:-1px;" src="~/Content/Images/arrow_return.png" />
        </li>
        <li class="tab-link current" data-tab="tab-1">Team</li>
        <li class="tab-link" data-tab="tab-2">OP</li>
        <li class="tab-link" data-tab="tab-3">Milestones</li>
        <li class="tab-link" data-tab="tab-4">Task</li>
        <li class="tab-link" data-tab="tab-5">Schedule</li>
        <li class="tab-link" data-tab="tab-6">Activities</li>
        <li class="tab-link" data-tab="tab-7">Costs</li>
    </ul>

     <div id="tab-1" class="tab-content current">  
        <div id="idtabtem"></div> 
     </div>
    
    <div id="tab-2" class="tab-content">
      <div id="tabops"></div>
    </div>

    <div id="tab-3" class="tab-content">
        <div id="tabhito"></div>   
    </div>

    <div id="tab-4" class="tab-content">
        <div id="tabtask"></div>  
    </div>

    <div id="tab-5" class="tab-content">
       Schedule
    </div>

    <div id="tab-6" class="tab-content">
        Activities
    </div>

    <div id="tab-7" class="tab-content">
        Costs 
    </div>

</div><!-- container -->


<script type="text/javascript">

    $(document).ready(function () {

        $("#idtabtem").load("/Project/TabTeam/@ViewBag.ID_PROJ/@ViewBag.ID_PERS_ENTI?var=" + Math.random());

        $('ul.tabs li').click(function () {
            var tab_id = $(this).attr('data-tab');


            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');

            if (tab_id == 'tab-1') {

                var bandera = $("#BandListteam").val();
                if (bandera != 1)
                {
                    $("#idtabtem").load("/Project/TabTeam/@ViewBag.ID_PROJ/@ViewBag.ID_PERS_ENTI?var=" + Math.random());
                }
            }

            if (tab_id == 'tab-2')
            {
                var bandera = $("#BandListaOps").val();              

                if (bandera != 1) {
                    $("#tabops").load("/Project/ListOps/@ViewBag.ID_PROJ?var=" + Math.random());
                }
            }

            if (tab_id == 'tab-3') {
                var bandera = $("#BandHito").val();

                if (bandera != 1) {
                    $("#tabhito").load("/Project/ListHito/@ViewBag.ID_PROJ?var=" + Math.random());
                }
            }

            if (tab_id == 'tab-4') {
                var bandera = $("#BandTask").val();

                if (bandera != 1) {
                    $("#tabtask").load("/Project/ListTask/@ViewBag.ID_PROJ?var=" + Math.random());
                }
            }

            //if (tab_id == 'tab-3') {
            //    alert("tab-3")
            //}
            //if (tab_id == 'tab-4') {
            //    alert("tab-4")
            //}

        })
    })

    function ReturnListProjects()
    {
        LoadProject();
    }

</script>