@model ERPElectrodata.Models.InformePlantilla
@{
    ViewBag.Title = "Editar";
    Layout = null;
}
<link href="~/Content/custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.smartWizard.js"></script>

@*<link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/sweet-alert.css" rel="stylesheet" />
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/sweet-alert.js"></script>
    <script src="~/Scripts/bootstrap-tags.js"></script>
    <script src="~/Scripts/bootstrap-tags.min.js"></script>
    <script src="~/Scripts/Itms/Plugins/jquery.validate.min.js"></script>*@

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-crosshairs icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Crear Plantilla
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="main-card mb-3 card element-block-example">
            <div class="page-title-heading " style=" padding-top: 2%;">
                <div class="page-title-icon text-center">
                    <i class="fa fa-crosshairs icon-gradient bg-happy-fisher fa-3x">
                        <span>
                            Crear Plantilla

                        </span>
                    </i>

                </div>

            </div>
            <div class="card-body">
                @using (Html.BeginForm("Crear", "Inform", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormEditarSubTipoComponente", target = "upload_target" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="card-body" style="border: 1px solid #E2DDDD; border-radius: 25px;">

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="" for="" class="">Titulo </label>
                                    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Titulo)
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <div id="divInforme" class="contentView"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-10">
                                <div class="position-relative form-group">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="position-relative form-group">
                                    <button id="submit" class="mb-2 mr-2 btn-pill btn btn-primary btn-block"><span>Crear</span></button>
                                    <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;" class="display:none"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" class="frameHidden" hidden></iframe>


<script type="text/x-kendo-tmpl" id="plantillaInforme">
    # if (sw1 != 0) { Agrupar(IdCategoria); } #
    # if (sw1 == 0) { #
    <div style="margin-top: 1%;"></div>
    <div style="width:100%; Display:inline-block;">
        <div style="width:96%; margin:0 auto;">
            <div class="marcoAchie1" style="background-color:\\#E2DDDD">
                <b>
                    <input type="checkbox" id="Cat${IdCategoria}" name="${NombreCategorias}" value="${Expandible}" style="width:60px" onclick="informeDescripcion(this,${IdCategoria})" checked>
                    <label for="Cat${IdCategoria}">
                        ${NombreCategorias}
                    </label>
                </b>
            </div>
            <div class="marcoAchie2">
                <div class="marcoAchie2Sangria">
                    #if(Expandible==1){#
                    <div class="card-body" style="padding-left:60px">
                        <textarea class="form-control" cols="20" id="Descripcion${IdCategoria}" maxlength="1000" name="Descripcion${IdCategoria}" rows="5" style="width: 1000px; max-width: 1000px;"></textarea>
                    </div>
                    #}#
                    <br />
                    # if (NombreGraficos !="") { #
                    <input type="checkbox" id="Graf${IdCategoriaGraf}" name="${NombreGraficos}" style="width:120px">
                    <label for="Graf${IdCategoriaGraf}">
                        ${NombreGraficos}
                    </label>
                    # } #

                </div>
                # swFirst(IdCategoria); #
                # }else if (sw1 == sw2) { #
                <div class="marcoAchie2Sangria">
                    # if (NombreGraficos !="") { #
                    <input type="checkbox" id="Graf${IdCategoriaGraf}" name="${NombreGraficos}" style="width:120px">
                    <label for="Graf${IdCategoriaGraf}">
                        ${NombreGraficos}
                    </label>
                    # } #

                </div>
                # } else { #
            </div>
        </div>
    </div>
    <div style="margin-top: 1%;"></div>
    <div style="width:100%; Display:inline-block;">
        <div style="width:96%; margin:0 auto;">
            <div class="marcoAchie1" style="background-color:\\#E2DDDD">
                <b>
                    <input type="checkbox" id="Cat${IdCategoria}" name="${NombreCategorias}" value="${Expandible}" style="width:60px" onclick="informeDescripcion(this,${IdCategoria})" checked>
                    <label for="Cat${IdCategoria}">
                        ${NombreCategorias}
                    </label>
                </b>
            </div>
            <div class="marcoAchie2">
                <div class="marcoAchie2Sangria">
                    #if(Expandible==1){#
                    <div class="card-body" style="padding-left:60px">
                        <textarea class="form-control" cols="20" id="Descripcion${IdCategoria}" maxlength="1000" name="Descripcion${IdCategoria}" rows="5" style="width: 1000px; max-width: 1000px;"></textarea>
                    </div>
                    #}#
                    <br />
                    # if (NombreGraficos !="") { #

                    <input type="checkbox" id="Graf${IdCategoriaGraf}" name="${NombreGraficos}" style="width:120px">
                    <label for="Graf${IdCategoriaGraf}">
                        ${NombreGraficos}
                    </label>
                    # } #

                </div>
                # swFirst(IdCategoria); #
                # } #
</script>
<script type="text/javascript">
    sw1 = 0;

    $(document).ready(function () {

        sw1 = 0;
        sw2 = 0;
        var data = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Inform/ListarInformePlantillaTodo/0?var",
                    type: "GET",
                    dataType: "json",
                    data: {
                        q: "#kendoui",
                        ran: Math.random(),
                    }
                }
            },
            autoSync: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Cantidad"
            }
        });

        sw1 = 0;
        $("#divInforme").kendoListView({
            dataSource: data,
            template: kendo.template($("#plantillaInforme").html())
        });


        $("#reset").click(function (event) {
            ocultarDescripcion();
        });

        //$(".otherResumenEj").removeClass("divHide");

        //$("#chxResumenEjecutivo").change(function (e) {
        //    alert("check");
        //    if ($('#chxResumenEjecutivo').prop('checked')) {
        //        $(".otherResumenEj").addClass("divHide");
        //    } else {
        //        $(".otherResumenEj").removeClass("divHide");
        //    }

        //});





    });

</script>

<script type="text/javascript">

    function swFirst(id) {
        sw1 = id;
    }

    function Agrupar(id) {
        sw2 = id;
    }

    function ocultarDescripcion() {
        $('input[type=text], textarea').each(function () {
            $(this).addClass("divHide");
        });
    }
    function informeDescripcion(cb, id) {


        if (cb.checked) {
            $("#Descripcion" + id).removeClass("divHide");
            //$("#Graf" + id).removeClass("divHide");

        }
        else {
            $("#Descripcion" + id).addClass("divHide");
            $("#Descripcion" + id).val('');

            //$("#Graf" + id).addClass("divHide");
            //$('#Graf" + id').each(function() {
            //    $(this).addClass("divHide");
            //});
        }
    }


    function uploadDone(msg, code) {
        if (msg == "OK") {

            swal({
                title: 'Información Guardada / Notificación Enviada',
                type: 'success',
                text: 'La información ha sido actualizada.',
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            }, function () {
                location = "http://" + location.host + "/Inform/IndexPlantilla";
            })

            
        }
        else {
            swal({
                title: 'Error al registrar',
                type: 'info',
                text: code,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
          
        }



    }
</script>
