@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<div><a id="newbeneficiary">Agregar nuevos Beneficios</a></div>

<div style="width:60%; height:456px; margin: 10px 0 0 0; display:inline-block;" id="divBeneficiaries"></div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#divBeneficiaries").empty();
        $("#divBeneficiaries").load("/Talent/ListBeneficiaries?id=@ViewBag.ID_PERS_ENTI&id1=1&var=" + Math.random());
    });

   

</script>