@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<div style="width:100%; height:542px; display:inline-block; margin-top:10px;">
    <div style="width:50%; float:left;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.PaymentBallotsTalent</div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto; height:511px;" id="divContInvoice">
                
            </div>
        </div>
    </div>
    @*<div style="width:1%;min-width:5px;height:1px;float:left;"></div>
    <div style="width:32.66%; float:left;">                
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">@ResourceLanguaje.Resource.Attach @ResourceLanguaje.Resource.PaymentBallots</div>
            </div>
            <div class="inBodyForm" style="overflow-y: auto;">
                <div id="cargarInvoice"></div>
            </div>
        </div>
    </div>*@
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#divContInvoice").empty();
        $("#divContInvoice").load("/Talent/ListInvoice?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

        //$("#cargarInvoice").empty();
        //$("#cargarInvoice").load("/Talent/AttachInvoice?id=@ViewBag.ID_PERS_ENTI&id1=0" + "&var=" + Math.random());
    });

    function Authorization(arc, iddocu) {       
        var htmlForm = '<div id="FormAuthorization"></div>';
        winFormPopUpModal("@ResourceLanguaje.Resource.ValidationsOfCredentials", htmlForm, 260, 205);
        $("#FormAuthorization").load("/Account/ViewAuthorization?id=@ViewBag.ID_PERS_ENTI&id1=" + iddocu + "&fd=Invoice&var=" + Math.random());
        return false;
    }

</script>