@model ERPElectrodata.Models.CLASS_ENTITY

@{
    Layout = null;
}

<div style="width: 100%; display: inline-block; margin-top: 10px;">
    <div style="width:57%; float:left;">
        <div style="width:100%; float:left;">
            <div class="titleForm">
                <div class="title">Agregar nuevo @ResourceLanguaje.Resource.BeneficiariesTalent</div>
            </div>
            <div class="inBodyFormRBL" style="width: 99.7%;  display: inline-block; overflow-y: auto;" id="divBeneficiaries">
            </div>
        </div>
    </div>

    <div id="diveditbene" style="display:none;">
        <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
        <div style="width:42%; float:left;">
            <div style="width:100%; float:right;">
                <div class="titleForm">
                    <div class="title" id="divTitleBene">Editar Beneficiario</div>
                </div>
                <div class="inBodyFormRBL" style="height:455px; display:inline-block;" id="divNewBene">
                </div>
            </div>
        </div>
    </div>

    <div id="diveditAtta" style="display:none;">
        <div style="width:1%;min-width:5px;height:1px;float:left;"></div>
        <div style="width:42%; float:left;">
            <div style="width:100%; float:right;">
                <div class="titleForm">
                    <div class="title" id="">Adjuntos por Beneficiario</div>
                </div>                    
                
                <div class="bodyForm">
                    <div class="inBodyForm">
                        <div class=" inbodyformrbl" style="height:455px; display:inline-block; padding:10px;" id="divAttaBene"></div>   
                    </div>
                </div>    
                               
            </div>
        </div>
    </div>

</div>   
<script type="text/javascript">
    $(document).ready(function () {

        $("#divBeneficiaries").empty();
        $("#divBeneficiaries").load("/Talent/ListBeneficiaries?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random());

        $("#divNewBene").empty();
        $("#divNewBene").load("/Beneficiary/EditBeneficiary?id=@ViewBag.ID_PERS_ENTI&var=" + Math.random()); 
      
    });
</script>
