@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_LayoutSurvey.cshtml";
}

<div class="header" style="margin-top:30px;border-bottom:1px solid #e5e5e5;padding-bottom:10px;">
    <div class="row">
        <div class="col-xs-5 col-sm-6"><img class="img-responsive" src="~/Images/@ViewData["logo"]" /></div>
        <div class="col-xs-7 col-sm-6"><p style="float: right; margin-top: 12px;font-size:large;">Tu Opinión Importa</p></div>
    </div>
</div>
<input type="hidden" name="id" id="id" value="@ViewData["id"]"/>
<div id="bodySurvey"></div>