
@{
    ViewBag.Title = "Respuesta";
    Layout = null;
}
<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>
<div class="header" style="margin-top:30px;border-bottom:1px solid #e5e5e5;padding-bottom:10px;width:60%;margin:5% auto;">
<div class="row">
    <div class="col-xs-5 col-sm-6"><img class="img-responsive" src="~/Images/@ViewData["logo"]" /></div>
    <div class="col-xs-7 col-sm-6"><p style="float: right; margin-top: 12px;font-size:large;">Tu Opinión Importa</p></div>
</div>
<br />
<br />
<div class="alert-info" id="msjRespuesta" style="width:100%;opacity:0.8;border-radius:8px;height:28px;padding-left:10px;font-size:18px;font-family:'Segoe UI';color:black;">
</div>
<hr />
<input type="hidden" name="id" id="id" value="@ViewData["id"]" />
</div>
@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Plugins/js/star-rating.min.js"></script>*@
@*<script src="~/Plugins/bootstrap-validator-master/dist/validator.min.js"></script>*@
<script src="~/Scripts/Survey/Respuesta.js"></script>
