@model ERPElectrodata.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - IT Management System</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">

    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/png" href="~/Content/Images/LogoED.png" />

    <link href="~/Content/ArchitectureUI/main.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/ArchitectureUI/assets/scripts/main.js"></script>

    <script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
    <link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>



        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-night-sky" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../Images/sli-01.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Soluciones en Ciberseguridad</h3>
                                            <p>
                                                Especialistas en seguridad y seguridad de la información,
                                                evaluamos todas las vulnerabilidades.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../Images/sli-02.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Soluciones Networking</h3>
                                            <p>
                                                Somos especialistas en soluciones de interconectividad de redes y datos
                                                y seguridad de los recursos informáticos.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../Images/sli-03.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Soluciones IT-Cloud</h3>
                                            <p>
                                                Brindamos soluciones de virtualización y escritorios para
                                                optimizar el uso de los recursos tecnológicos en su empresa.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-night-sky" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../Images/sli-04.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Soluciones para Data Center</h3>
                                            <p>
                                                Garantizamos una gestión simplificada, operaciones optimizadas y
                                                excelente escalabilidad en la implementación de su Data Center.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('../Images/sli-05.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Soluciones TI en Minería, Gas y Petróleo</h3>
                                            <p>
                                                Brindamos soluciones de Outsourcing y Proyectos TI, convirtiéndonos
                                                en su socio tecnológico y garantizando un servicio eficiente.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-light justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto col-sm-12 col-md-8 col-lg-6 main-card card">
                            <div class="card-header">
                                <div class="app-logo" style="background-repeat: no-repeat"></div>
                            </div>
                            <div class="card-body">
                                <h4>Restablecer contraseña</h4>
                                <h6 class="mb-0">
                                    <span class="d-block">¿Olvidaste tu contraseña?</span>
                                    <span>Utilice el siguiente formulario para restablecerlo.</span>
                                </h6>
                                @*<h6 class="mt-3">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6>*@
                                <div class="divider row"></div>
                                <div>
                                    @using (Html.BeginForm("RecordarContrasenaCodigo", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRecuperarContrasena", target = "upload_target" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        <form class="">
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="position-relative form-group">
                                                        <label for="exampleEmail" class="">Correo</label>
                                                        <input id="correo" name="correo" class="form-control" placeholder="Ingrese su correo electrónico" />
                                                        <label id="txtRespuesta" name="txtRespuesta" style="font-weight:bold;"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row" id="miBloque" style="display:none;">
                                                <div class="col-md-12">
                                                    <div class="position-relative form-group">
                                                        <input id="codigo" name="codigo" class="form-control" placeholder="Ingrese el código de verificación" />
                                                        <label id="txtCambio" name="txtCambio" style="font-weight:bold;">@ViewBag.Error</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="divider row"></div>
                                            <div class="d-flex align-items-center">
                                                <div class="ml-auto">
                                                    <button class="btn btn-primary btn-lg" id="btnEnviarCodigo">Enviar Codigo</button>
                                                </div>
                                            </div>
                                            <iframe id="upload_target" name="upload_target" src="" class="d-none"></iframe>
                                        </form>
                                        <div class="ml-auto" id="reestablecerClave" style="display:none;">
                                            <button class="btn btn-primary btn-lg" onclick="reestablecerClave()">Reestablecer Clave</button>
                                        </div>
                                        <div class="ml-auto" id="regresar" style="display:none;">
                                            <button class="btn btn-primary btn-lg" onclick="regresar()">Regresar</button>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
    $(document).ready(function () {

    });

    function regresar() {
        location = "http://" + location.host + "/Account/Login";
    }

    function reestablecerClave() {
        console.log("entro");
        var token = $('[name="__RequestVerificationToken"]').val();

        var correo = document.getElementById('correo').value;
        var codigo = document.getElementById('codigo').value;
        $.ajax({
            
            url: '/Account/CambiarContrasena/', // Update this URL to the correct path
            type: 'POST',
            headers: { '__RequestVerificationToken': token },
            data: "correo=" + correo + "&codigo=" + codigo + "&var=" + Math.random(),
            success: function (result) {
                document.getElementById("txtCambio").innerHTML = '';
                document.getElementById("txtCambio").innerHTML = 'Se envió la contraseña al correo brindado.';
                document.getElementById("txtCambio").style.color = "#3f6ad8";
                document.getElementById("reestablecerClave").style.display = 'none';

                var btnRegresar = document.getElementById('regresar');
                btnRegresar.style.display = 'block';

            },
            error: function () {
                document.getElementById("txtCambio").innerHTML = '';
                document.getElementById("txtCambio").innerHTML = 'No se pudo cambiar la contraseña.';
                document.getElementById("txtRespuesta").style.color = 'red';
                document.getElementById("reestablecerClave").style.display = 'none';
            }
        });
    }


    function mensaje(tipo, mensaje) {
        document.getElementById("txtRespuesta").innerHTML = '';
        document.getElementById("txtRespuesta").innerHTML = mensaje;
        if (tipo == "OK") {
            document.getElementById("txtRespuesta").style.color = "#3f6ad8";

            var bloque = document.getElementById('miBloque');
            bloque.style.display = 'block';

            document.getElementById("btnEnviarCodigo").style.display = 'none';

            var btnRestablecer = document.getElementById('reestablecerClave');
            btnRestablecer.style.display = 'block';

            document.getElementById("correo").readOnly = true;
        }
        else
            document.getElementById("txtRespuesta").style.color = 'red';
    }
</script>

