@model ERPElectrodata.Models.LoginModel

@{
    Layout = null;
}
<div style="padding: 0 0 0 20px;">
    @using (Html.BeginForm("ValidateCredentials", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmRelogin", target = "upload_target" }))
    {
        <input type="hidden" id="ID_PERS_ENTI" name="ID_PERS_ENTI" value="@ViewBag.ID_PERS_ENTI" />
        <input type="hidden" id="Folder" name="Folder" value="@ViewBag.Folder" />
        <div style="clear:both; padding:10px 0px 0px 0px;">Usuario</div>
        <div style="padding:5px 0px 5px 0px">
            <div class="k-textbox">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div style="padding:5px 0 5px 0">
            <div class="k-textbox">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div style="padding:15px 0 0 0">
            <button class="k-button">Validar</button>
        </div>
        <iframe id="upload_target" name="upload_target" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
    }
</div>
