@model ERPElectrodata.Models.CUENTA_CONTABLE


@{
    Layout = null;
}

@using (Html.BeginForm("CreateCuentaContable", "DocumentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormNewDocument", name = "FormNewDocument", target = "ut_NewDocument" }))
{
    <div class="modal-body" id="ModalContentBody">
        <div class="col-sm-3 reformax">
            <div class="editor-label">
                CODIGO
            </div>
            <div style="margin-top:0px;">
                @Html.EditorFor(model => model.COD_S)
                @Html.ValidationMessageFor(model => model.COD_S)
            </div>

        </div>

        <div class="col-sm-3 reformax">
            <div class="editor-label">
                DESCRIPCIÓN
            </div>
            <div style="margin-top:0px;">
                @Html.EditorFor(model => model.DESCRIPCION)
                @Html.ValidationMessageFor(model => model.DESCRIPCION)
            </div>

        </div>

        <div class="modal-footer">
            <button id="submitDocument" class="k-button">Guardar</button>
        </div>

    </div>
}
<iframe id="ut_NewDocument" name="ut_NewDocument" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

