@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;

}
<style>
    .divHide {
        display: none;
    }
</style>

    <input class="divHide" id="ID_DOCU_EXPE" name="ID_DOCU_EXPE" value="@ViewBag.ID_DOCU_EXPE" />
    <div class="modal-body" id="ModalContentBody">
        <div class="row" id="divObservacion">
            <div class="col-sm-12">
                <div class="editor-label">
                    Observación:
                </div>
                <div class="editor-field">
                    <textarea style="font-size: 12px;" id="txtObservacion" name="txtObservacion" class="form-control" rows="9" cols="20" maxlength="1000" disabled>@ViewBag.Observacion</textarea>
                </div>

            </div>
        </div>
    </div>

<iframe id="ut_ObsDocument" name="ut_ObsDocument" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>
