@model ERPElectrodata.Models.DOCUMENT_EXPENSE

@{
    Layout = null;

}
<style>
    .divHide {
        display: none;
    }
</style>

@using (Html.BeginForm("ObservarDocument", "DocumentExpense", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormObsDocument", name = "FormObsDocument", target = "ut_ObsDocument" }))
{
    <input class="divHide" id="ID_DOCU_EXPE" name="ID_DOCU_EXPE" value="@ViewBag.ID_DOCU_EXPE"/>
    <div class="modal-body" id="ModalContentBody">
        <div class="row" id="divObservacion">
            <div class="col-sm-12">
                <div class="editor-label">
                    Observación:
                </div>
                <div class="editor-field">
                    <textarea style="font-size: 12px;" id="txtObservacion" name="txtObservacion" class="form-control" rows="9" cols="20" maxlength="1000"></textarea>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnEnvioDocumentObservado" class="btn-shadow btn btn-secondary btn-sm"> Enviar Correo </button>
        </div>
    </div>
}

<iframe id="ut_ObsDocument" name="ut_ObsDocument" src="" style="width:0px;height:0px;border-width:0px;display:none;"></iframe>

<script>
    // Agregar el siguiente script para mostrar el Toast después de enviar el formulario
    document.getElementById("FormObsDocument").addEventListener("submit", function () {
        // Puedes ajustar la biblioteca o el código para mostrar un Toast según la estructura de tu proyecto
        // Aquí se utiliza toastr como ejemplo, asegúrate de incluir toastr en tu proyecto
        toastr.info("Enviado correo...", "Información");
    });
</script>