@{
    ViewBag.Title = "Reportes Supervisión";
    Layout = null;
}

<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<div style="float:left; width:10%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px; background-color:white">
                <center>
                    <button id="btnPrioridad" type="button" class="btn btn-block btn-sm btn-primary">Por Prioridad</button>
                    <button id="btnCantidad" type="button" class="btn btn-block btn-sm btn-primary">Por Cantidad</button>
                    <button id="btnTiempo" type="button" class="btn btn-block btn-sm btn-primary">Por Tiempo Incid</button>
                    <button id="btnTiempoR" type="button" class="btn btn-block btn-sm btn-primary">Por Tiempo Req</button>
                    <button id="btnSLAInci" type="button" class="btn btn-block btn-sm btn-primary">SLA Incid</button>
                    <button id="btnSLAReq" type="button" class="btn btn-block btn-sm btn-primary">SLA Req</button>
                    <button id="btnCargaLaboral" type="button" class="btn btn-block btn-sm btn-primary">Carga Laboral</button>
                    <button id="btnActividad" type="button" class="btn btn-block btn-sm btn-primary">Incidentes</button>
                    <button id="btnTicketActivo" type="button" class="btn btn-block btn-sm btn-primary">Inc Activos</button>
                    <button id="btnTicketTotales" type="button" class="btn btn-block btn-sm btn-primary">Totales</button>
                    <button id="btnActividadSemanal" type="button" class="btn btn-block btn-sm btn-primary">Act Semanal</button>
                    <button id="btnReporteTicket" type="button" class="btn btn-block btn-sm btn-primary">Reporte Ticket</button>
                </center>
            </div>
        </div>
    </div>
</div>

<div style="float:right; width:89%;">
    @*<div class="titleForm">
        <div class="title" id="divTitle">
            <span id="spanTitulo"></span>
        </div>
    </div>*@
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#divCuerpo").load("/Supervision/RptPrioridad?var=" + Math.random());

        $("#btnPrioridad").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptPrioridad?var=" + Math.random());
        });

        $("#btnCantidad").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptCantidad?var=" + Math.random());
        });

        $("#btnTiempo").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptTiempo?var=" + Math.random());
        });

        $("#btnTiempoR").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptTiempoRequerimiento?var=" + Math.random());
        });

        $("#btnSLAInci").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptSLA?var=" + Math.random());
        });

        $("#btnSLAReq").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptSLAReq?var=" + Math.random());
        });

        $("#btnCargaLaboral").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptCargaLaboral?var=" + Math.random());
        });

        $("#btnActividad").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Ticket/ReporteActividadTicket?var=" + Math.random());
        });

        $("#btnTicketActivo").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptTicketxActivo?var=" + Math.random());
        });

        $("#btnTicketTotales").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Ticket/ReporteTotales?var=" + Math.random());
        });

        $("#btnActividadSemanal").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Activity/ReporteActividadSemanal?var=" + Math.random());
        });

        $("#btnReporteTicket").click(function () {
            $("#divCuerpo").empty();
            $("#divCuerpo").load("/Supervision/RptReporteTicket?var=" + Math.random());
        });
        
    });

</script>
