@{
    Layout = null;
}

<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

<div class="panel">
    <div style="clear:both;width:100%;height:100%;" class="panel panel-primary">
        <div class="panel-heading">Reporte de Tickets</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-lg-2">
                    Desde
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="FechaInicial">
                    </div>
                </div>
                <div class="col-lg-2">
                    Hasta
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="FechaFinal">
                    </div>
                </div>
                <div class="col-lg-2 text-right">
                    <button id="btnGenerarRT" class="btn btn-primary">Generar</button>
                </div>
            </div>

            <iframe id="RSReporteTicket" style="height:500px; width:100%;border: 0px #eee solid;"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">
    //function GenerarReporteRT() {
    //    alert(1);
    //    window.frames["RSReporteTicket"].src = "/Reporting/Ticket/ReporteTicket.aspx?var=" + Math.random() + "&FechaInicial=" + $("#FechaInicial").val() + "&FechaFinal=" + $("#FechaFinal").val();
    //    event.preventDefault();
    //}

    $(document).ready(function () {
        $('#FechaInicial').datepicker({
            autoclose: true,
            startView: '-1d'
        });

        $('#FechaFinal').datepicker({
            autoclose: true,
            startView: '0d'
        });

        $('#btnGenerarRT').click(function () {
            event.preventDefault();
            window.frames["RSReporteTicket"].src = "/Reporting/Ticket/ReporteTicket.aspx?var=" + Math.random() + "&FechaInicial=" + $("#FechaInicial").val() + "&FechaFinal=" + $("#FechaFinal").val();
            
        });
    });
</script>