<div class="box">
    <div class="skeleton row no-gutters align-items-center">
        <div class="skeleton-left">
            <div class="line" style="width:98%;height:30px; margin-top:5px;margin-inline:5px"></div>
        </div>
    </div>
</div>