@model ERPElectrodata.Models.TicketConfiguracion
@{
    ViewBag.Title = "Ticket Configuracion";
    Layout = null;
}
<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>

<style type="text/css">
    a.tooltip span {
        cursor: default;
        display: none;
        padding: 5px;
        margin: -25px 0px 0px 120px;
        width: 230px;
        position: relative;
        z-index: 9;
    }

    a.tooltip:hover span {
        display: block;
        position: absolute;
        background: #000;
        border: 1px solid #cccccc;
        color: #ddd;
        font-size: 14px;
        font-weight: normal;
        opacity: 0.9;
    }

    .bg-primary {
        background-color: rgb(81, 104, 130);
        font-size: 13px;
    }



    .contenido {
        background: #DCDCDE;
    }
    .detalle {
        font-size: 13px;
        color: #7F7F7F;
    }


    #caja {
        /*border:1px solid black;*/
        height: 30px;
        padding-top: -5px;
    }

    #pagerdivPrograma {
        margin-top: 0;
        padding-top: 0;
    }



    #BtnEditar {
        color: #2D5C88;
        background: #ffffff;
        border: 0;
    }

    b {
        color: #F83C50;
    }
</style>
<div class="afterMain" id="divContainerTicketProblema">
    <div style="float: left; width:100%">
        <div class="titleForm">
            <div class="title" style="visibility:hidden">
                Tickets Problema Configuracion
            </div>
        </div>

        <div id="FrmTicketProblema">
            <div class="bodyForm" id="divNuevaLicencia">
                <div class=" inbodyform">
                    <!--Declaración de Formulario-->
                    @using (Html.BeginForm("CrearTicketProblemaConfig", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmTicketProblema", target = "upload_target" }))
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <legend>Tickets Problema Configuracion</legend>
                            <div class="form-row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="editor-label">
                                            Cuenta <b>*</b>
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.IdCuenta)
                                            @Html.ValidationMessageFor(model => model.IdCuenta)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="editor-label">
                                            Meses <b>*</b>
                                        </div>
                                        <div class="editor-field">
                                            <input id="TiempoMeses" name="TiempoMeses" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="editor-label">
                                            Nro de Tickets <b>*</b>
                                        </div>
                                        <div class="editor-field">
                                            <input id="NroCategorias" name="NroCategorias" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="divFondoUno">
                                    <button type="button" class="btn btn-primary " style="float: right; " id="Buscar">Buscar</button>
                                    <div style="display:inline-block; float:right; padding:0px 15px 15px 5px;">
                                        <div style=" float:right; padding:0px 15px 0px 0px; ">
                                            <button id="submit" class="btn btn-warning">Crear</button>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-2 ml-auto">
                                        <button id="Buscar" type="button" class="btn btn-primary btn-block" style="float:right;">Buscar</button>
                                    </div>

                                    <div class="col-md-2">
                                        <button id="submit" class="btn btn-warning btn-block">Crear</button>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
@*<div style="width: 100%; margin:15px auto;" id="cabecera">
        <div class="bodyForm">
            <div class="inBodyForm" style="height:100%; background-color:white">
                <div class="bg-primary" style="width:100%;">
                    <div class="bg-primary" style="float:left; width:100%;">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:26%"><strong>Cuenta</strong></div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:18%"><strong>Meses</strong></div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:20%"><strong>Nro de Tickets</strong></div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:30%"><strong>Fecha ultima de Proceso</strong></div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                    <div class="bg-primary" style="float:left; width:0%"><strong>  </strong></div>
                    <div class="bg-primary" style="float:left; width:1%">&nbsp;</div>
                </div>
                <div style="float:left; width:100%;height:10px;"></div>
                <div id="divTicketProblema" class="contentView"></div>
                <div id="pagerdivTicketProblema" class="contentViewPager" style="width:99%"></div>
            </div>
        </div>
    </div>*@

<div class="row" id="cabecera">
    <div class="col-md-12">
        <table class="table mb-0">
            <thead class="thead-dark">
                <tr>
                    <th style="width:20%"><center>Cuenta</center></th>
                    <th style="width:24%"><center>Meses</center></th>
                    <th style="width:18%"><center>Nro de Tickets</center></th>
                    <th style="width:28%"><center>Fecha Ultima de Proceso</center></th>
                    <th><center>Accion</center></th>
                </tr>
            </thead>
        </table>
        <div id="divTicketProblema" class="contentView"></div>
        <div id="pagerdivTicketProblema" class="contentViewPager" style="width:99%"></div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="plantillaTicketProblema">
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:27%;height:20px;" class="detalle">${NAM_ACCO}</div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:20%;height:30px;" class="detalle">${TiempoMeses}</div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float:left; width:19%;height:30px;" class="detalle">${NroCategorias}</div>
    <div style="float:left; width:1%">&nbsp;</div>
    <div style="float: left; width:18%" class="detalle">${FechaProceso}</div>
    <div style="float:left; width:1%">&nbsp;</div>

    <div style="float: left;" onclick="EditarTicketProblemaConfig(${[IdTicketConfig]})">
        <button type="button" id="BtnEditar" class="btn" data-toggle="modal" data-target="\\#miModal">
            <i class="fas fa-edit"></i>
        </button>
    </div>

    @*<div style="float:left; width:10%">&nbsp;</div>*@
    <div style="float:left; width:100%;" id="caja"><hr /></div>
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}*@

<script type="text/javascript">

    $(document).ready(function () {

        $("#Buscar").click(function () {

            $("#pagerdivTicketProblema").empty();
            $("#divTicketProblema").empty();

            if ($("#divTicketProblema").data("kendoListView")) {
                $("#pagerdivTicketProblema").data("kendoPager").destroy();
                $("#divTicketProblema").data("kendoListView").destroy();
            }

            var dataGrilla = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Ticket/ListarTicketsProblemaConfig/0?var",
                        type: "GET",
                        dataType: "json",
                        data: {
                            q: "#kendoui",
                            ran: Math.random(),
                            IdCuenta: $("#IdCuenta").val() == '' ? 0 : $("#IdCuenta").val(),
                            TiempoMeses: $("#TiempoMeses").val() == '' ? 0 : $("#TiempoMeses").val(),
                            NroCategorias: $("#NroCategorias").val() == '' ? 0 : $("#NroCategorias").val(),
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                    total: "Cantidad"
                }
            });

            $("#pagerdivTicketProblema").kendoPager({
                dataSource: dataGrilla,
                pageSizes: [5, 10, 15],
                refresh: true
            });

            $("#divTicketProblema").kendoListView({
                dataSource: dataGrilla,
                template: kendo.template($("#plantillaTicketProblema").html())
            });

        });

        $("#IdCuenta").kendoComboBox({
            autoBind: true,
            dataTextField: "NAM_ACCO",
            dataValueField: "ID_ACCO",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/TipoActivo/ListarCuentaTipoActivo?var=" + Math.random()
                }
            }
        });


        $("#TiempoMeses").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: '#'
        });

        $("#NroCategorias").kendoNumericTextBox({
            min: 0,
            decimals: 0,
            format: '#'
        });

        $("#reset").click(function (event) {
            event.preventDefault();
            location.reload(true);
        });
        $("#Buscar").click();
    });
</script>

<script type="text/javascript">

    //function uploadDone(msg, code, idComponente) {
    //    if (msg == "OK") {
    //        winPopUpModal("Información Guardada / Notificación Enviada", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>"
    //            + "<div style='padding:10px 0px 10px 0px;'>La información ha sido actualizada.</div>"
    //            + "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continues' class='k-button'>Continuar</button>" +
    //            "</div></div>", 400, 160);
    //        $("#continues").focus();
    //        var undo = $("#continues")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //                //location = "http://" + location.host + "/#/Mantenimientos/";
    //                $("#TiempoMeses").val('');
    //                $("#Buscar").click();

    //            });

    //        $("#closebtnmodal").click(function () {
    //            closeWinModalPopUp();
    //            $("#TiempoMeses").val('');
    //            $("#Buscar").click();
    //        });
    //    }
    //    else if (msg == "EXISTE") {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>La información ha sido registrada anteriormente</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }
    //    else {
    //        winPopUpModal("Alerta", "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
    //            "<div style='padding:10px 0px 10px 0px;'>Completar la información solicitada</div>" +
    //            "<div style='float:right; padding:30px 0px 0px 0px; '>" +
    //            "<button id='continuee' class='k-button'>Continuar</button>" +
    //            "</div></div>"
    //            , 400, 140);
    //        $("#continuee").focus();
    //        var undo = $("#continuee")
    //            .bind("click", function () {
    //                closeWinModalPopUp();
    //            });
    //    }
    //}
    function uploadDone(msg, code, idComponente) {
        if (msg == "OK") {
             toastr.success("La información ha sido actualizada", "Información Guardada / Notificación Enviada");
            $("#Buscar").trigger({ type: "click" });
        }
        else if (msg == "EXISTE") {
             toastr.warning("La información ha sido registrada anteriormente", "Alerta");
            $("#Buscar").trigger({ type: "click" });
        }
        else {
           toastr.warning("Completar la información solicitada", "Alerta");
        }
    }
</script>


<script type="text/javascript">

    function EditarTicketProblemaConfig(id) {

        $(".modal-dialog").removeClass("modal-xl");
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-md");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-md");
        $("#lblTitulo").text("Editar Ticket Problema Configuracion");
        $(".modal-title").addClass("ml-auto");
        $("#modal-content").empty();
        $("#modal-content").load("/Ticket/EditarTicketProblemaConfig/" + id);
    }
</script>
