@{
    Layout = null;
}

<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/themes/plugin/timepicker/css/bootstrap-timepicker.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/timepicker/js/bootstrap-timepicker.js"></script>
<style>
    ul li {
        list-style:none;
    }
    #HoraCreacion {
        width:100%;
        height:30px;
    }
    #blanco{
        color:white;
    }

</style>
<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />

<div class="main-card card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                Titulo
                <input id="txtTituloTicketAuto" name="txtTituloTicketAuto" class="form-control" type="text" style="width:100%" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>&nbsp;</label>
                <div class="position-relative form-group">
                    <div>
                        <div class="custom-radio custom-control">
                            <input name="Frecuencia" id="rbtFrecuenciaSemanal" type="radio" class="custom-control-input" value="1">
                            <label class="custom-control-label" for="rbtFrecuenciaSemanal">Semanal</label>
                        </div>
                        <div class="custom-radio custom-control">
                            <input type="radio" name="Frecuencia" id="rbtFrecuenciaMensual" class="custom-control-input" value="2">
                            <label class="custom-control-label" for="rbtFrecuenciaMensual">Mensual</label>
                        </div>
                        <div class="custom-radio custom-control">
                            <input type="radio" name="Frecuencia" id="rbtFrecuenciaPersonalizado" class="custom-control-input" value="5">
                            <label class="custom-control-label" for="rbtFrecuenciaPersonalizado">Personalizado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row" id="divDiaSemana">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-9">
                <div class="position-relative form-group">
                    <div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk2" value="2" class="custom-control-input">
                            <label class="custom-control-label" for="chk2">Lunes</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" iname="diaSemana" id="chk3" value="3" class="custom-control-input">
                            <label class="custom-control-label" for="chk3">Martes</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk4" value="4" class="custom-control-input">
                            <label class="custom-control-label" for="chk4">Miércoles</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk5" value="5" class="custom-control-input">
                            <label class="custom-control-label" for="chk5">Jueves</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk6" value="6" class="custom-control-input">
                            <label class="custom-control-label" for="chk6">Viernes</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk7" value="7" class="custom-control-input">
                            <label class="custom-control-label" for="chk7">Sábado</label>
                        </div>
                        <div class="custom-checkbox custom-control">
                            <input type="checkbox" name="diaSemana" id="chk1" value="1" class="custom-control-input">
                            <label class="custom-control-label" for="chk1">Domingo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row" id="divDiaMes">
            <div class="col-md-3">
                <label>Día del mes</label>
                <input id="txtDiaMes" name="txtDiaMes" class="form-control" type="number" value="1" min="1" max="31" />
            </div>
        </div>
        <div class="form-row" id="divDiaPersonalizado">
            <div class="col-md-6">
                <label>Intervalo de dias</label>
                <input id="txtPersonalizado" name="txtPersonalizado" class="form-control" type="number" value="1" min="1"  />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>&nbsp;</label>
                <div class="position-relative form-group">
                    <div>
                        <div class="custom-radio custom-control">
                            <input name="Vigencia" id="rbtIndeterminado" type="radio" class="custom-control-input" value="1">
                            <label class="custom-control-label" for="rbtIndeterminado">Indeterminado</label>
                        </div>
                        <div class="custom-radio custom-control">
                            <input type="radio" name="Vigencia" id="rbtFechaVigencia" class="custom-control-input" value="2">
                            <label class="custom-control-label" for="rbtFechaVigencia">Fecha de Vigencia</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 dtFechas">
                <div class="position-relative form-group">
                    <label>Inicio (dd/MM/yyyy)</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtInicio" data-date-format="dd/mm/yyyy" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 dtFechas">
                <div class="position-relative form-group">
                    <label>
                        Fin (dd/MM/yyyy)
                    </label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtFin" data-date-format="dd/mm/yyyy" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-relative form-group">
                    <label>
                        Hora de Creación
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control timepicker" id="HoraCreacion">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <i class="fa fa-clock-o" id="blanco"></i>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label>&nbsp;</label>
                <div class="position-relative form-group">
                    <div>
                        <div class="custom-checkbox custom-control">
                            <input name="Estado" id="rbtEstado" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="rbtEstado">Estado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9">
                <label>&nbsp;</label>

            </div>
            <div class="col-md-3">
                <label>&nbsp;</label>
                <button id="btnEditarTicketAutomatico" name="btnEditarTicketAutomatico" class="btn btn-block btn-primary" type="button" onclick="Editar();"><span>Guardar</span></button>
            </div>
        </div>
        <input id="HoraCreacion2" type="text" name="HoraCreacion2" value="" style="visibility:hidden;" />
    </div>
</div>

@*<div class="bodyForm">
    <div class="inBodyForm">
        <div id="mensajes"></div>
        <div style="padding:10px">
            <div id="divFrecuencia" style="padding:5px 0px 5px 0px;">
                <div class="col-md-12">
                    <span class="Título" style="font-size:11.5px"></span>
                    <input id="txtTituloTicketAuto" name="txtTituloTicketAuto" class="form-control" type="text" style="width:100%" />
                </div>
                <div style="float:left;width:100%;padding:0;margin:5px;">
                    <ul><li><input type="radio" name="Frecuencia" id="rbtFrecuenciaSemanal" style="padding:0;margin:0;margin-left:-120px;" value="1"/> <label class="Semanal" style="margin-left:-100px"></label></li>
                    <li><input type="radio" name="Frecuencia" id="rbtFrecuenciaMensual" style="padding: 0; margin: 0; margin-left: -120px;" value="2"/> <label class="Mensual" style="margin-left:-100px"></label></li></ul>
                </div>
            <div id="divDiaSemana" style="padding:5px 0px 5px 0px;">
                <input type="checkbox" name="diaSemana" id="chk2" value="2"/> <label class="Lunes" style="width:55px"></label>
                <input type="checkbox" name="diaSemana" id="chk3" value="3"/> <label class="Martes" style="width:55px"></label>
                <input type="checkbox" name="diaSemana" id="chk4" value="4"/> <label class="Miércoles" style="width:55px"></label>
                <input type="checkbox" name="diaSemana" id="chk5" value="5"/> <label class="Jueves" style="width:55px"></label>
                <input type="checkbox" name="diaSemana" id="chk6" value="6"/> <label class="Viernes" style="width:55px"></label><br />
                <input type="checkbox" name="diaSemana" id="chk7" value="7"/> <label class="Sábado" style="width:55px"></label>
                <input type="checkbox" name="diaSemana" id="chk1" value="1"/> <label class="Domingo" style="width:55px"></label>
            </div>
            <div id="divDiaMes" class="col-md-12">
                Día del mes <input style="width:25px;" type="text" id="txtDiaMes" name="txtDiaMes" value="0" />
                <div class="col-md-2"><span class="Díadelmes" style="font-size:11.5px"></span></div>
                <div class="col-md-10"><input id="txtDiaMes" name="txtDiaMes" class="form-control" type="number" style="width:25%" value="1" min="1" max="31" /></div>
            </div>
            <div style="float:left;width:100%;padding:0;margin:5px;">
                <ul>
                    <li><input type="radio" name="Vigencia" id="rbtIndeterminado" style="padding:0;margin:0;margin-left:-120px;" value="1"/> <label class="Indeterminado" style="margin-left:-100px"></label></li>
                    <li><input type="radio" name="Vigencia" id="rbtFechaVigencia" style="padding:0;margin:0;margin-left:-120px;" value="2" /> <label class="FechadeVigencia" style="margin-left:-100px"></label></li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-4 dtFechas">
                    <span class="Inicio"></span> (dd/MM/yyyy)
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtInicio" />
                    </div>
                </div>
                <div class="col-md-4 dtFechas">
                    <span class="Fin"></span> (dd/MM/yyyy)
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="dtFin" />
                    </div>
                </div>
                <div class="col-md-4">
                    Hora (dd/MM/yyyy hh:mm)
                    <input id="HoraCreacion" type="datetime-local" name="HoraCreacion" value="06-09-2018 14:22" />
                </div>

                <div class="col-md-4">
                    <span class="HoradeCreación"></span>
                    <div class="input-group">
                        <input type="text" class="form-control timepicker" id="HoraCreacion">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                </div>
                <i class="fa fa-clock-o" id="blanco"></i>
            </div>
            <div style="float:left;width:100%;padding:0;margin:5px;">
                <ul>
                    <li><input type="checkbox" name="Estado" id="rbtEstado" style="padding:0;margin:0;margin-left:-120px;" /> <label class="Estado" style="margin-left:-100px"></label></li>
                </ul>
            </div>
            <div class="form-group-sm">
                <div class="col-md-8">
                    <br />
                </div>
                <div class="col-md-4">
                    &nbsp;
                    <button id="btnEditarTicketAutomatico" name="btnEditarTicketAutomatico" class="btn btn-block btn-primary" type="button" onclick="Editar();"><span class="Guardar"></span></button>
                </div>
            </div>
            <div id="divTiempo" style="padding:5px 0px 5px 0px">
                <input id="HoraCreacion2" type="text" name="HoraCreacion2" value="" style="visibility:hidden;"/>
            </div>
        </div>
    </div>
</div>
</div>*@
<script>
    $(document).ready(function () {

       setTimeout(function () { ObtenerFrecuencia() }, 100);
       setTimeout(function () { ObtenerDias() }, 100);
       $('#dtInicio').datepicker({
           autoclose: true
       });
       $('#dtFin').datepicker({
           autoclose: true
       });
       $("#HoraCreacion").timepicker({
           showInputs: false, showMeridian: false,
           timeFormat:'hh:mm p',
           icons: {
               up: "fa fa-caret-up",
               down: "fa fa-caret-down",
           }
       });
       $("#rbtFrecuenciaSemanal").click(function () {
           $('#divDiaSemana').show();
           $('#divDiaMes').hide();
           $('#divDiaPersonalizado').hide();
       });
       $("#rbtFrecuenciaMensual").click(function () {
           $('#divDiaSemana').hide();
           $('#divDiaMes').show();
           $('#divDiaPersonalizado').hide();
       });
        $("#rbtFrecuenciaPersonalizado").click(function () {
            $('#divDiaSemana').hide();
            $('#divDiaMes').hide();
            $('#divDiaPersonalizado').show();
        });
       $("#rbtIndeterminado").click(function () {
           $('.dtFechas').hide();
       });
       $("#rbtFechaVigencia").click(function () {
           $('.dtFechas').show();
       });
    });
    function ObtenerFrecuencia() {
        $.ajax({
            url: "/Ticket/ObtenerDatos/@ViewBag.IdTicketAutomatico",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                console.log(source)
                console.log(source['Data'][0]['Frecuencia'])
                if ((source['Data'][0]['Frecuencia']) == 'Semanal') {
                    $('#divDiaSemana').show();
                    $('#divDiaMes').hide();
                    $('#divDiaPersonalizado').hide();
                } else if ((source['Data'][0]['Frecuencia']) == 'Personalizado') {
                    $('#divDiaSemana').hide();
                    $('#divDiaPersonalizado').show();
                    $('#divDiaMes').hide();
                } else {
                    $('#divDiaSemana').hide();
                    $('#divDiaPersonalizado').hide();
                    $('#divDiaMes').show();
                }
                if ((source['Data'][0]['Vigencia']) == 'Indeterminado') {
                    $('.dtFechas').hide();
                    $("#dtInicio").empty();
                    $("#dtFin").empty();
                } else {
                    $('.dtFechas').show();
                    $("#dtInicio").val((source['Data'][0]['VigenciaFechaInicio']))
                    $("#dtFin").val((source['Data'][0]['VigenciaFechaFin']))
                }
                $("#txtTituloTicketAuto").val((source['Data'][0]['Titulo']));
                $("#rbtFrecuencia" + (source['Data'][0]['Frecuencia'])).attr('checked', true);
                $("#rbt" + (source['Data'][0]['Vigencia'])).attr('checked', true);
                $("#txtDiaMes").val((source['Data'][0]['Dia']));
                $("#txtPersonalizado").val((source['Data'][0]['Dia']));
                $("#HoraCreacion").val((source['Data'][0]['HoraCreacion']));
                switch ((source['Data'][0]['Estado'])) {
                    case true:
                        $("#rbtEstado").attr('checked', true);
                        break;
                    case false:
                        $("#rbtEstado").attr('checked', false);
                        break;
                }
            },
            error: function (source) {
                alert("error carga json");
            }
        });
    }
    function ObtenerDias() {
        $.ajax({
            url: "/Ticket/ObtenerDias/@ViewBag.IdTicketAutomatico",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                $.each(source['Data'], function (index, value) {
                    $("#chk" + (source['Data'][index]['Dia'])).attr("checked",true);
                });
            },
            error: function (source) {
                alert("Error Carga Json");
            }
        });
    }
    function Editar() {
        var diasSemana = '', frec = '', estado = 0;
        //alert($('input[id="chk1"]:checked').val());
        if ($('input[name="Frecuencia"]:checked').val() == 1) {
            for (i = 1; i <= 7; i++) {
                if ($('input[id="chk' + i + '"]:checked').val() != undefined) {
                    diasSemana = diasSemana + $('input[id="chk' + i + '"]:checked').val() + ',';
                }
            }
        } else if ($('input[name="Frecuencia"]:checked').val() == 2) {
            diasSemana = $('#txtDiaMes').val();
        } else if ($('input[name="Frecuencia"]:checked').val() == 5) {
            diasSemana = $('#txtPersonalizado').val();
        }
        if ($('#rbtEstado').prop('checked') == true) {
            estado = 1;
        }
        $.ajax({
            url: "/Ticket/EditarTktAutomatico/",
            data: "IdTicketAutomatico=" + @ViewBag.IdTicketAutomatico +
                  "&Titulo=" + $('#txtTituloTicketAuto').val() + 
                  "&Fre=" + $('input[name="Frecuencia"]:checked').val() +
                  "&Vigencia=" + $('input[name="Vigencia"]:checked').val() +
                  "&DiasSemana=" + diasSemana +
                  "&VigenciaFechaInicio=" +  $('#dtInicio').val() +
                  "&VigenciaFechaFin=" + $('#dtFin').val() +
                  "&HoraCreacion=" + $('#HoraCreacion').val() +
                  "&Estado=" + estado, 
            type: "GET",
            cache: false,
            dataType: "text",
            success: function (resp) {
                if (resp == "OK") {
                    MensajeConfirmacion();
                }
                else
                { //Campos vacíos
                    MensajeError("Verifique que los datos estén completos porfavor. ");
                } 
            }
        });

        //cambioIdioma('Título', $('#IdIdioma').val(), 'Título');
        //cambioIdioma('Semanal', $('#IdIdioma').val(), 'Semanal');
        //cambioIdioma('Mensual', $('#IdIdioma').val(), 'Mensual');
        //cambioIdioma('Lunes', $('#IdIdioma').val(), 'Lunes');
        //cambioIdioma('Martes', $('#IdIdioma').val(), 'Martes');
        //cambioIdioma('Miércoles', $('#IdIdioma').val(), 'Miércoles');
        //cambioIdioma('Jueves', $('#IdIdioma').val(), 'Jueves');
        //cambioIdioma('Viernes', $('#IdIdioma').val(), 'Viernes');
        //cambioIdioma('Sábado', $('#IdIdioma').val(), 'Sábado');
        //cambioIdioma('Domingo', $('#IdIdioma').val(), 'Domingo');
        //cambioIdioma('Díadelmes', $('#IdIdioma').val(), 'Díadelmes');
        //cambioIdioma('Indeterminado', $('#IdIdioma').val(), 'Indeterminado');
        //cambioIdioma('FechadeVigencia', $('#IdIdioma').val(), 'FechadeVigencia');
        //cambioIdioma('Inicio', $('#IdIdioma').val(), 'Inicio');
        //cambioIdioma('Fin', $('#IdIdioma').val(), 'Fin');
        //cambioIdioma('HoradeCreación', $('#IdIdioma').val(), 'HoradeCreación');
        //cambioIdioma('Estado', $('#IdIdioma').val(), 'Estado');
        //cambioIdioma('Guardar', $('#IdIdioma').val(), 'Guardar');
    }
    function MensajeError(msj) {
        //$('#mensajes').empty();
        //$('#mensajes').show("show");
        //$("#mensajes").append("<div class='alert alert-danger'><strong>¡Alerta!</strong> " + msj + " </div>");
        //setTimeout(function () {
        //    $("#mensajes").fadeOut(4500);
        //}, 1000);

        swal({
            title: '¡Alerta!',
            type: 'info',
            text: msj,
            focusConfirm: false,
            confirmButtonText:
                'Continue',
            confirmButtonAriaLabel: 'Thumbs up, great!'

        })

        //ListaSoporteED();
        //$("#EditarSoporteED").empty();

    }
    function MensajeConfirmacion() {

        $("[data-dismiss=modal]").trigger({ type: "click" });
        swal({
            title: 'Mensaje',
            type: 'success',
            text: 'Información Actualizada',
            focusConfirm: false,
            confirmButtonText:
                'Continue',
            confirmButtonAriaLabel: 'Thumbs up, great!'

        }, function () {
            $('#Buscar').click();
            //location.reload();
        })
    }

    function cambioIdioma(id, idIdioma, llave) {
        idIdioma = $("#IdIdioma").val();
        if (idIdioma != 0) {
            $.ajax({
                url: "/Account/cambioIdioma?llave=" + llave + "&IdIdioma=" + idIdioma,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    $.each(data['Data'], function (index) {
                        var valores = (data['Data'][index]).split("|");
                        var cantValores = document.getElementsByClassName(valores[1]);
                        for (var i = 0; i < cantValores.length; i++) {
                            cantValores[i].innerText = valores[0];
                        }
                    });
                },
                error: function (source) {
                }
            });
        }
    }

</script>