@{
    Layout = null;
}

<div class="titleForm">
    <div class="title">
        Cantidad de Incidentes y Requerimientos por Estado (Últimos 6 meses)
    </div>
</div>
<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSTicketTotales" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerarReporte() {
        window.frames["RSTicketTotales"].src = "/Reporting/Ticket/TicketTotales.aspx?var=" + Math.random();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
        GenerarReporte();
    });

</script>
