@{
    ViewBag.Title = "Documentos Internos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/Content/ITMS/styles.css" rel="stylesheet" />*@
<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Tickets Automáticos
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                <div class="card-title">Buscar Lecciones Aprendidas</div>
                <form class="">

                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbFrecuencia" for="cbFrecuencia" class="" style="font-size: 1rem;">Frecuencia </label>
                                <input id="IdFrecuencia">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbVigencia" for="cbVigencia" class="" style="font-size: 1rem;">Vigencia </label>
                                <input id="IdVigencia">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="txtPalabraClave" for="txtPalabraClave" class="" style="font-size: 1rem;">Palabra Clave - Ticket Plantilla </label>
                                <input id="PalabraClave" name="PalabraClave" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <br />
                                <button id="Buscar" type="button" class="mt-1 btn btn-primary btn-block block-element-btn-example-1"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">

                <div class="bg-primary" style="width:100%">&nbsp;</div>
                <div class="bg-primary" style="float:left; width:20%"><strong>&nbsp;<span class="Título">Titulo</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="TicketPlantilla">Ticket Plantilla</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="Frecuencia">Frecuencia</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="FechaActivación">FechaActivación</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="Vigencia">Vigencia</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="FechaInicio">FechaInicio</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="FechaFin">FechaFin</span></strong></div>
                <div class="bg-primary" style="float:left; width:6%"><strong><span class="HoraEjecución">HoraEjecución</span></strong></div>
                <div class="bg-primary" style="float:left; width:10%"><strong><span class="Estado">Estado</span></strong></div>
                <div class="bg-primary" style="float:left; width:4%"><strong><span class="Opción">Opción</span></strong></div>
                <div class="bg-primary" style="width:100%">&nbsp;</div>

                <div id="ListaTicketAutomatico" class="contentView">
                </div>


            </div>
            <div id="pagerTicketAutomatico" class="contentViewPager">
            </div>
        </div>
    </div>
</div>-->
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                <div id="GridTicketAutomatico" class="contentView">
                </div>
                <div id="pagerTicketAutomatico" class="contentViewPager">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TITULOS DE PAGE - CARD
<script type="text/x-kendo-tmpl" id="template">
    <div>
        <div style="float:left; width:20%">${Titulo}</div>
        <div style="float:left; width:10%">${CodigoTicket}</div>
        <div style="float:left; width:10%">${Frecuencia}</div>
        <div style="float:left; width:10%">${FechaActivacion}</div>
        <div style="float:left; width:10%">${Vigencia}</div>
        <div style="float:left; width:10%">${VigenciaFechaInicio}</div>
        <div style="float:left; width:10%">${VigenciaFechaFin}</div>
        <div style="float:left; width:6%">${HoraCreacion}</div>
        <div style="float:left; width:10%">${Estado}</div>
        <div style="float:left; width:4%">
            <img id="${Id}" src="../../Content/Images/EditHover.png" data-toggle="modal" data-target="\\#miModal" onclick="EditarTicketAutomatico(${Id});" style="cursor:pointer;" />
        </div>
        <div style="float:left; width:100%"><hr /></div>
    </div>
</script>-->
<style type="text/css">
    #columnactivacion {
        list-style: none; /*square inside*/
        list-style-position: inside;
        float: left;
        padding-left: 0px;
        line-height: 22px;
        display: inline-block;
        vertical-align: middle; /*middle*/
    }
        #columnactivacion li:before {
            content: "\00BB \0020";
        }

    .k-grid-header .k-header {
        overflow: visible !important;
        white-space: normal !important;
        vertical-align: middle !important;
        font-weight: bold !important;
        color: white;
        background-color: #3f6ad8;
        height: 10vh;
    }
    #Buscar {
        padding: .75rem !important;
    }
    /*.titlegrid {
        
        overflow-wrap: break-word;
        
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap
    }*/
</style>
<script type="text/x-kendo-tmpl" id="templateActivacionGrid">
    #if(FechaActivacion.includes(',')){
    var arr = FechaActivacion.split(',');#
        <ul id="columnactivacion">
        #for(var valor of arr){#
            <li>#=valor#</li>
        #}#
        </ul>
    #}else{#
        <span>#=FechaActivacion#</span>
    #}#
</script>
<!-- MODAL EDITAR TICKET AUTOMATICO -->
<div class="modal fade" id="modalEdicion" role="dialog" aria-labelledby="modalEdicionLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamEdicion">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="EditarTicketAutomático"></span></h4>
            </div>
            <div class="modal-body">
                <div id="divEdicion"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //cambioIdiomaTexto();

        //$("#PalabraClave").kendoTextBox();

        $("#IdFrecuencia").kendoComboBox({
            dataTextField: "Texto",
            dataValueField: "Valor",
            dataSource: [
                { Texto: "Semanal", Valor: 1 },
                { Texto: "Mensual", Valor: 2 }
            ]
        });

        $("#IdVigencia").kendoComboBox({
            dataTextField: "Texto",
            dataValueField: "Valor",
            dataSource: [
                { Texto: "Temporal", Valor: 2 },
                { Texto: "Indefinido", Valor: 1 }
            ]
        });

        $("#Buscar").click(function () {
            $("#pagerTicketAutomatico").empty(); //codigo por si no funciona el pageable
            $("#GridTicketAutomatico").empty();

            if ($("#GridTicketAutomatico").data("kendoGrid")) {
                $("#pagerTicketAutomatico").data("kendoPager").destroy();
                $("#GridTicketAutomatico").data("kendoGrid").destroy();
            }
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Ticket/ListarTicketAutomatico/" + Math.random(),//aqui no se envia el skip ni el take
                        type: "GET",
                        dataType: "json",
                        data: {
                            Frecuencia: $("#IdFrecuencia").val() == '' ? 0 : $("#IdFrecuencia").val(),
                            Vigencia: $("#IdVigencia").val() == '' ? 0 : $("#IdVigencia").val(),
                            PalabraClave: $("#PalabraClave").val() == '' ? '' : $("#PalabraClave").val()
                        }
                    }
                },
                autoSync: true,
                serverFiltering: true,
                serverPaging: true,
                pageSize: 15,
                schema: {
                    data: "Data",
                    total: "Cantidad"
                }
            });

            $("#pagerTicketAutomatico").kendoPager({
                dataSource: dataSource,
                pageSizes: [15, 30, 60],
                refresh: true
            });

            /* $("#ListaTicketAutomatico").kendoListView({
                 dataSource: dataSource,
                 template: kendo.template($("#template").html())
             });*/
            /*function onDataBound(e) {
                var grid = this;
                grid.table.find("tr").each(function () {
                    var dataItem = grid.dataItem(this);
                    var themeColor = dataItem.Estado ? 'success' : 'error';
                    var text = dataItem.Estado ? 'Activo' : 'Inactivo';

                    $(this).find(".badgeTemplate").kendoBadge({
                        themeColor: themeColor,
                        text: text,
                    });
                    kendo.bind($(this), dataItem);
                });
                
            }*/
            
            $("#GridTicketAutomatico").kendoGrid({

                dataSource: dataSource,
                /*pageable: {
                    pageSizes: [15, 30, 60],
                    refresh: true
                },*/
                //scrollable: true,
                columns: [
                    /*{ field: "Id" },*/
                    {
                        field: "Titulo", width: 200,
                        headerAttributes: { "class": "k-text-center !k-justify-content-center  "},
                        attributes: { style: "text-align: center" }
                    },
                    {
                        field: "CodigoTicket", title: "Ticket Plantilla",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center "},
                        attributes: { style: "text-align: center" }
                    },
                    {
                        field: "Frecuencia",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                        attributes: { style: "text-align: center" },
                        template: "#if(Frecuencia=='Semanal'){#<div class='badge badge-success'>#=Frecuencia#</div>#}else{#<div class='badge badge-warning'>#=Frecuencia#</div>#}#"
                    },
                    {
                        field: "FechaActivacion", title: "Fecha Activación", template: kendo.template($("#templateActivacionGrid").html()), width: 110,
                        headerAttributes: { "class": "k-text-center !k-justify-content-center " }
                        //attributes: { style: "text-align: center" }
                    },
                    {
                        field: "Vigencia",
                        headerAttributes: {
                            "class": "k-text-center !k-justify-content-center ",
                            //style: "font-weight:bold"
                        },
                        attributes: { style: "text-align: center" },
                        template: "#if(Vigencia=='Temporal'){#<div class='badge badge-info'>#=Vigencia#</div>#}else{#<div class='badge badge-warning'>#=Vigencia#</div>#}#"
                    },
                    {
                        field: "VigenciaFechaInicio", title: "Fecha Inicio",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                        attributes: { style: "text-align: center" }
                    },
                    {
                        field: "VigenciaFechaFin", title: "Fecha Fin",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center "},
                        attributes: { style: "text-align: center" }
                    },
                    {
                        field: "HoraCreacion", title: "Hora Ejecución",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                        attributes: { style: "text-align: center" }
                    },
                    {
                        field: "Estado", 
                        headerAttributes: { "class": "k-text-center !k-justify-content-center "},
                        attributes: { style: "text-align: center" },
                        template: "#if(Estado=='Activo'){#<div class='badge badge-info'>#=Estado#</div>#}else{#<div class='badge badge-danger'>#=Estado#</div>#}#"
                    },
                    {
                        //title: "Opción",
                        width: 50,
                        template: "<div><img src='../../Content/Images/EditHover.png' data-toggle='modal' data-target='\\#miModal' onclick='EditarTicketAutomatico(${ Id }); ' style='cursor: pointer;' /></div>",
                        headerAttributes: { "class": "k-text-center !k-justify-content-center " },
                        attributes: { style: "text-align: center" }
                    }
                ],
                //sortable: true
                //dataBound: onDataBound
               
            });

        });

        $("#Buscar").click();

    });

    function EditarTicketAutomatico(id) {
        $("#lblTitulo").text("Editar Ticket Automático");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        //$(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Ticket/EditarTicketAutomatico?id=" + id);
    }

    /*function cambioIdiomaTexto() {
        idIdioma = $("#IdIdioma").val();
        if (idIdioma != 0) {
            $.ajax({
                url: "/Account/cambioIdiomaTexto?IdIdioma=" + idIdioma,
                type: "GET",
                cache: false,// if true?
                dataType: "json",
                success: function (source) {//si funciona hace esto
                    data = source;
                    var valTextos = new Array()
                    $.each(data['Data'], function (index) {
                        valTextos.push((data['Data'][$(index)]));///aqui mod ojo $()//lees el json paquete y lo pones en un array
                    });
                    for (var i = 0; i < valTextos.length; i++) {//recorres el array
                        var valores = valTextos[i].split("|");//partes la linea
                        var valorLlave = valores[1];//las poner en dos valores
                        var valorTexto = valores[0];
                        var clases = document.getElementsByClassName(valorLlave);// identificar el objeto
                        for (var j = 0; j < clases.length; j++) { //contar longitud de clase , cuenta a todos los elementos y les pone el valor
                            clases[j].innerText = valorTexto;
                        }
                    }
                },
                error: function (source) {
                }
            });
        }
    }*/

</script>
