@{
    ViewBag.Title = "";
    Layout = null;
}

<style>
    .k-button.k-upload-selected {
        display: none !important
    }

    .k-button.k-clear-selected {
        display: none !important
    }
</style>

@*<input type="hidden" name="IdTicketAcceso" id="IdTicketAcceso" value="@ViewBag.IdTicketAcceso" />*@
<input type="hidden" name="IdTick" id="IdTick" value="@ViewBag.ID_TICK" />

<fieldset>

    <h5 style="text-align: center; font-weight: bold;">¿Desea aprobar el acceso?</h5>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="editor-label">
                Comentario <span style="color:red">(*)</span>
            </div>
            <div>
                <textarea id="Comentario" name="Comentario" class="form-control" rows="5" placeholder="Ingrese un comentario de aprobación..">@ViewBag.Comentario</textarea>
            </div>
        </div>
    </div>

    <br>
    <div class="form-row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <button id="cancelAcceso" class="btn btn-light btn-block">Cancelar</button>
        </div>
        <div class="col-md-3">
            <button id="aprobarAcceso" class="btn btn-primary btn-block btn-success">Aprobar</button>
        </div>
    </div>

</fieldset>


<script type="text/javascript">
    $(document).ready(function () {

        @*console.log('@ViewBag.ID_TICK');*@

        $("#aprobarAcceso").click(function () {

            var params = {
                IdTick: $("#IdTick").val(),
                Comentario: $("#Comentario").val(),
            };

            $.ajax({
                url: "/Ticket/AprobarAccesoBNV",
                data: params,
                type: "POST",
                cache: false,
                dataType: "JSON",
                success: function (resp) {

                    if (resp.Respuesta == "OK") {

                        uploadDone(resp.Respuesta);
                    }
                    else {
                        uploadDone(resp.Respuesta);
                    }
                }
            });
        });

        $("#cancelAcceso").click(function (event) {
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });

        function uploadDone(msg, msgerror) {

            if (msg == "OK") {
                toastr.success(msgerror, "Acceso Aprobado");
                setTimeout(function () {
                    $("[data-dismiss=modal]").trigger({ type: "click" });
                    //location.reload();
                    $("#divAprobacionAccesos").empty();
                    showDetailsIncident();
                    //window.location.reload(); /*href = "/Home/Principal";*/
                }, 3000);
            }
            else {

                toastr.warning(msgerror, "Ingrese los campos requeridos");
            }
        }

    });

</script>
