@{
    Layout = null;
}

<style>
    #ContenidoPxC {
    margin:8px;
    padding:8px;
    }
    #tableUsuario {
        border-spacing: 0;
        border: 1px solid #e2e2e2;
    }

    table#tableUsuario th {
        background-color: #3E4752;
        color: white;
    }
</style>

<div class="main-card card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <table class="table-responsive table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Fotocheck</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Area</th>
                            <th scope="col">Gestión</th>
                            <th scope="col">Compañía</th>
                            <th scope="col">Anexo</th>
                            <th scope="col">Celular</th>
                            <th scope="col">RPM</th>
                        </tr>
                    </thead>
                    <tbody id="TableDetalleUsuario">
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                @*<div id="ContenidoPxC">
                    <table class="table table-hover" id="tableUsuario">
                        <thead>
                            <tr>
                                <th style="width: 20px;">Fotocheck</th>
                                <th style="width: 100px;">Usuario</th>
                                <th style="width: 77px;">Tipo</th>
                                <th style="width: 100px;">Cargo</th>
                                <th style="width: 70px;">Area</th>
                                <th style="width: 70px;">Gestión</th>
                                <th style="width: 70px;">Compañía</th>
                                <th style="width: 20px;">Anexo</th>
                                <th style="width: 20px;">Celular</th>
                                <th style="width: 28px;">RPM</th>
                            </tr>
                        </thead>
                        <tbody id="TableDetalleUsuario">
                    </table>
                </div>*@


                <script type="text/javascript">
    $(document).ready(function () {
        LoadTableProductClient();
    });

    function LoadTableProductClient() {

        $.ajax({
            url: "/AccountEntity/DetailPersonTicket/@ViewBag.ID_USUARIO",
            data: "var=" + Math.random(),
            cache: false,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#TableDetalleUsuario").empty();
                $.each(data['Data'], function (index, value) {
                    $("#TableDetalleUsuario").append(
                            '<tr id="FilaAccoEnti' + (data['Data'][index]['PHO_CLIE']) + '">' +
                                '<td>' + (data['Data'][index]['FOT_CLIE']) + '</td>' +
                                 '<td>' + (data['Data'][index]['NAM_CLIE']) + '</td>' +
                                '<td>' + (data['Data'][index]['USE_TYPE']) + '</td>' +
                                '<td>' + (data['Data'][index]['JOB_TITL']) + '</td>' +
                                '<td>' + (data['Data'][index]['ARE_CLIE']) + '</td>' +
                                '<td>' + (data['Data'][index]['MANA']) + '</td>' +
                                 '<td>' + (data['Data'][index]['CIA']) + '</td>' +
                                 '<td>' + (data['Data'][index]['EXT']) + '</td>' +
                                 '<td>' + (data['Data'][index]['CEL_CLIE']) + '</td>' +
                                 '<td>' + (data['Data'][index]['RPM_CLIE']) + '</td>' +
                            '</tr>'
                        );
                });
            },
            error: function (source) {
                alert("No se ha cargado el detalle del usuario, contactar con el Administrador.");
            }
        });
    }

                </script>
