<!--LISTA DE SERIES PRODUCTOS POR OP-->
@{
    Layout = null;
}
<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<table id="tbSerieOP" class="align-middle mb-0 table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>OP</th>
            <th>Compañía Inicial</th>
            <th>Compañía Final</th>
            <th>Producto</th>
            <th>Serie</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    alert(1);
    $(document).ready(function () {
        alert(2);
        $('#tbSerieOP').dataTable().fnDestroy();

        var tbSerieOP = $('#tbSerieOP').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            'order': [[0, 'asc']],
            //'select': 'multi',
            ajax: {
                "url": "/OrderForm/ListarProductoSerieOPSIDIGE?" +
                    "descripcion=" + $("#txtDescripcion").val() +
                    "&idOP=" + $("#IdOP").val() +
                    "&idComp=" + $("#IdComp").val() +
                    "&idCompEnd=" + $("#IdCompEnd").val(),
            },
            columns: [
                { data: "NumeroOP" },
                { data: "TituloOP" },
                { data: "CompaniaInicial" },
                { data: "CompaniaFinal" }
                { data: "Producto" }
                { data: "Serie" }
            ],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>


@*@model ERPElectrodata.Models.TICKET

    @{
        Layout = null;
    }
    <style>
            #ContenidoPxC {
                margin: 8px;
                padding: 8px;
            }
            #tableProduct {
                border-spacing: 0;
                border: 1px solid #e2e2e2;
            }
            #TableProductClient, #tableProduct thead { display: block;}
            #tableProduct thead tr th {
                height: 30px;
                line-height: 30px;
            }

            #TableProductClient {
                height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            #TableProductClient {   border-top: 1px solid #e2e2e2;}

            #tableProduct th {
                background-color: #3E4752;
                color: white;
            }
            #tableProduct tr:nth-child(even) {  background-color: #f2f2f2;}
            #TableProductClient td:last-child, thead th:last-child { border-right: none;}
            #TableProductClient td, thead th { border-right: 1px solid #e2e2e2;}
        </style >


    <div id="ContenidoPxC">
        <table class="table table-hover" id="tableProduct">
            <thead>
                <tr>
                    <th style="width: 70px;">Cliente</th>
                    <th style="width: 589px;">Productos</th>
                    <th style="width: 77px;">Fecha Ini.</th>
                    <th style="width: 78px;">Fecha Fin.</th>
                </tr>
            </thead>
            <tbody id="TableProductClient">
        </table>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            LoadTableProductClient();
        });

        function LoadTableProductClient() {

            $.ajax({
                url: "/Ticket/ListProductClient/@ViewBag.ID_COMP",
                data: "var=" + Math.random(),
                cache: false,
                type: "GET",
                dataType: "json",
                success: function (data) {

                    $("#TableProductClient").empty();

                    $.each(data['Data'], function (index, value) {
                         $("#TableProductClient").append(
                                '<tr id="FilaAccoEnti' + (data['Data'][index]['ID_COMP']) + '">' +
                                    '<td style="width: 70px;">' + (data['Data'][index]['NAM_CLIEN']) + '</td>' +
                                    '<td style="width: 589px;">' + (data['Data'][index]['DES_PROD']) + '</td>' +
                                    '<td style="width: 77px;">' + (data['Data'][index]['FEC_INIC_GAR']) + '</td>' +
                                    '<td style="width: 78px;">' + (data['Data'][index]['FEC_FIN_GAR']) + '</td>' +
                                '</tr>'
                            );
                    });
                },
                error: function (source) {
                    alert("No se ha cargado los productos por clientes, contactar con el Administrador.");
                }
            });
        }

    </script>*@