@{
    //Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}
@*<script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>*@
@*<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar/fullcalendar.print.css" media="print">*@
<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar23/fullcalendar.min.css">
<link rel="stylesheet" href="~/Content/themes/plugin/fullcalendar23/fullcalendar.print.css" media="print">
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<style type="text/css">
    .lineWork {
        width: 100%;
        height: 23px;
        font-size: .9em;
        /*padding-top: 4px;*/
        /*background-color:#2b2b2b;*/
        /*background-color:#e9e9e9;*/
        /*background-color: #a2a2a2;*/
        background-color: #333333;
        color: white;
        cursor: pointer;
        border-radius: 0px 4px 0px 0px;
        border: 1px solid #333333;
    }

    .linepad {
        padding: 3px 10px 5px 10px;
    }

    .lineTextWork {
        display: inline-block;
    }

    .detailLineWork {
        width: 100%;
        background-color: white;
        border: 1px solid #eaeaea;
        /*background-color: #e9e9e9;*/
    }

    .column {
        width: 350px;
        max-width: 400px;
        min-width: 300px;
        height: 60px;
        /*border: 1px solid #62aad8;*/
        /*background-color: #e9e9e9;*/
        font-size: .9em;
        float: right;
        padding: 5px;
        resize: none;
        /*color: #62aad8;*/
        font-weight: bolder;
    }

    .btnWork {
        float: right;
        /*margin-right: 0px;*/
        /*background-image: url("/Content/Images/SaveWork.png");*/
        /*background-color: #e9e9e9;*/
        /*border: 0px solid #e9e9e9;*/
        margin-top: 5px;
        /*height:10px;*/
    }

    a {
        text-decoration: none;
    }

    #tamCalendario {
        width: 78% !important;
    }
</style>



@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@




@*<script src="~/Content/themes/plugin/fullcalendar/fullcalendar.min.js"></script>*@

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Reporte Diario
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label id="">Área Responsable</label>
                            @Html.TextBox("ID_QUEU")
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label id="">Fecha</label>
                            @Html.TextBox("DAT_WORK")
                        </div>
                    </div>
                    <div class="col-md-3" id="divSubCuenta">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Sub Cuenta</label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbTodos" name="rbSubCuenta" class="form-check-input" value="0" checked> TODOS
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><br /></label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbInterno" name="rbSubCuenta" class="form-check-input" value="1"> INTERNO
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><br /></label>
                                <div class="position-relative form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="rbExterno" name="rbSubCuenta" class="form-check-input" value="2"> EXTERNO
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <br />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label id="" for="" class="">&nbsp; </label>
                            <button type="button" class="mb-2 mr-2 btn-pill btn btn-success btn-block" onclick="VerCalendario()" data-toggle="modal" data-target="#miModal"><i class="glyphicon glyphicon-calendar"></i> Calendario</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="listWork" style="width:100%; border:none;margin-top:10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div id="containerx" style="width: 100%; border: none; margin-top: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div style="clear:both; height:20px;"></div>



<div class="modal fade" id="modalVerCalendario" role="dialog" aria-labelledby="modalVerCalendarioLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamCalendario">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalVerCalendarioLabel"><span class="CalendariodeTicketsProgramados"></span></h4>
            </div>
            <div class="modal-body">
                <div id="divCalendario"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="tmplWork">
    <div class="lineWork" onclick="DetailWork('#: ID_PERS_ENTI#', '#: DAT_QUER#')">
        <div class="linepad">
            <div style="float:left;">#: EMPLOYEE#</div>

            <div style="float:right;"> #: QUA_TICK# Tickets</div>
            <div style="float:right;">#: LOG_IN# -&nbsp;</div>
        </div>
    </div>
    <div class="detailLineWork" id="deta#: ID_PERS_ENTI#"></div>
    <div style="height:4px;"></div>
</script>
<script type="text/javascript">

    $(document).ready(function () {

        //top.cambioIdiomaxLlave('Calendario|CalendariodeTicketsProgramados|TicketsporEquipos/Atenciones');

        if (@Session["ID_ACCO"] != 4) {
            $("#divSubCuenta").css("display", "none");
        }

        var ID_QUEU = $("#ID_QUEU").kendoComboBox({
            dataTextField: "QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: true,
            index:0,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataBound: function(e) {
                // handle the event
                var datepicker = $("#DAT_WORK").data("kendoDatePicker");
                datepicker.value(new Date(@DateTime.Now.Year,@DateTime.Now.Month -1,@DateTime.Now.Day));
                FindWork();
            },
            change: function(e) {
                //var value = this.value();
                FindWork();
                // Use the value of the widget
            },
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountQueue/ListByAcco?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");


        $("#DAT_WORK").kendoDatePicker({
            //value: new Date()
            change: function () {
                //var value = this.value();
                //console.log(value); //value is the selected date in the datepicker
                FindWork();
            }
        }
        );
        $("#rbTodos").bind("change", function (e) {
            FindWork();
        });
        $("#rbInterno").bind("change", function (e) {
            FindWork();
        });
        $("#rbExterno").bind("change", function (e) {
            FindWork();
        });

        //cambioIdioma('Calendario', $('#IdIdioma').val(), 'Calendario');
        //cambioIdioma('CalendariodeTicketsProgramados', $('#IdIdioma').val(), 'CalendariodeTicketsProgramados');

    });

    function cambioIdiomaTexto() {
        idIdioma = $("#IdIdioma").val();
        if (idIdioma != 0) {
            $.ajax({
                url: "/Account/cambioIdiomaTexto?IdIdioma=" + idIdioma,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (source) {
                    data = source;
                    var valTextos = new Array()
                    $.each(data['Data'], function (index) {
                        valTextos.push((data['Data'][index]));
                    });
                    for (var i = 0; i < valTextos.length; i++) {
                        var valores = valTextos[i].split("|");
                        var valorLlave = valores[1];
                        var valorTexto = valores[0];
                        var clases = document.getElementsByClassName(valorLlave);
                        for (var j = 0; j < clases.length; j++) {
                            clases[j].innerText = valorTexto;
                        }
                    }
                },
                error: function (source) {
                }
            });
        }
    }
</script>

<script type="text/javascript">
    var bufer = -1;
    function FindWork() {

        var combobox = $("#ID_QUEU").data("kendoComboBox");
        var ID_QUEU = combobox.value();

        var datepicker = $("#DAT_WORK").data("kendoDatePicker");
        var DAT_WORK = kendo.toString(datepicker.value(), 'd');

        if (ID_QUEU) {

        }
        else {
            return;
        }

        $.ajax({
            url: "/Ticket/ResultWork?ID_QUEU=" + ID_QUEU +
                "&DAT_WORK=" + DAT_WORK +
                "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(),
            dataType: 'json',
            cache: false,
            async: true,
            success: function (json) {

                var datos = new kendo.data.DataSource({
                    data: json["Data"]
                });

                $("#listWork").kendoListView({
                    dataSource: datos,
                    template: kendo.template($("#tmplWork").html())
                });

                Grafica(ID_QUEU, DAT_WORK, json["Data"], json["Count"]);
            }
        });
    }
    function DetailWork(ID_PERS_ENTI, DAT_QUER) {

        if (bufer == ID_PERS_ENTI) {
            $("#deta" + ID_PERS_ENTI).empty();
            bufer = -1;
        }
        else {
            $("#deta" + bufer).empty();
            bufer = ID_PERS_ENTI;
            $.ajax({
                url: "/Ticket/ResultWorkUnique?ID_PERS_ENTI=" + ID_PERS_ENTI +
                    "&DAT_QUER=" + DAT_QUER +
                    "&SubCuenta=" + $("input[name='rbSubCuenta']:checked").val(),
                dataType: 'json',
                cache: false,
                async: true,
                success: function (json) {
                    //console.log(json['tickets'].lenght);
                    var ticket = "";
                    var cant = 0;
                    $.each(json['tickets'], function (index, value) {
                        ticket = ticket + '<a href="/DetailsTicket/Index/' + value['ID_TICK'] + '" target="_blank">' + value['COD_TICK'] + '</a></br>';
                        cant = cant + 1;
                    });
                    //ticket = "Tickets (" + cant + ")" + "</br>";
                    $("#deta" + ID_PERS_ENTI).html('<div style="display:inline-block;width:100%;">' +
                        '<div style="padding:10px;">' +
                        '<div style="float:left;font-size: .9em;">' + 'Tickets (' + cant + ')' + '</br>' + ticket + '</div>' +
                        '<form id = "frm' + ID_PERS_ENTI + '">' +
                        '<div style="float:right;display:block;">' +
                        '<textarea id="txtar' + ID_PERS_ENTI + '" name="DES_DAY_WORK" class="column" placeholder="Justification ...">' + json['text'] + '</textarea>' + '</br></br>' +
                        '<input id="txtfirst' + ID_PERS_ENTI + '" name="ID_PERS_ENTI" type="hidden" value="' + ID_PERS_ENTI + '"/>' +
                        //'<input id="txtsecond' + ID_PERS_ENTI + '" name="DATE_TIME" type="hidden" value="' + DAT_QUER + '"/>' +
                        '<div class="btnWork">' +
                        '<button class="k-button" id="btn' + ID_PERS_ENTI + '" onclick="saveWork(event,' + ID_PERS_ENTI + ',' + DAT_QUER + ')" >Save</button>' +
                        '<div>' +
                        '</div>' +
                        '</form>' +
                        '<div style="clear:both;"></div>' +
                        '</div>' +
                        '</div>'
                    );
                    
                }
            });
        }
    }

    function VerCalendario(id) {

        $("#lblTitulo").text("Reporte de Ticket");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load("/Ticket/CalendarioTicketsProgramados/");
    }
</script>

<script type="text/javascript">


    function saveWork(event, ID_PERS_ENTI, DAT_QUER) {
        //alert(ID_PERS_ENTI + "#" + DAT_QUER);
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/Ticket/SaveWorkDate?DAT_QUER=" + DAT_QUER,
            cache: false,
            data: $('#frm' + ID_PERS_ENTI).serialize(),
            success: function (data) {
                toastr.success("La información ha sido actualizada", "Información Guardada");
            },
            dataType: 'json'
        });

    }
    function Grafica(ID_QUEU, DAT_WORK, JSON, cant) {

        var personal = new Array();
        var tickets = new Array();
        var horas = new Array();

        $.each(JSON, function (index, value) {
            personal[index] = value['EMPLOYEE'];
            tickets[index] = value['QUA_TICK'];
            horas[index] = [value['HOUR_IN'], value['HOUR_OUT']];
        });

        //console.log(personal);
        $("#containerx").empty();
        $("#containerx").html('<div class="titleForm"><div class="title"><span class="TicketsporEquipos/Atenciones"></span>' + '</div></div>' +
            '<div class="bodyForm">' + '<div class="inBodyForm"  style="height:405px;"><div style="height:3px;"></div><div id="container" style="width:98%; height:400px;"></div></div></div>'
        );

        $('#container').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            credits: {
                enabled: false
            },
            xAxis: [{
                categories: personal,
                gridLineWidth: 1,
                labels: {
                    rotation: (cant < 6 ? 0 : -45)
                }

            }],
            yAxis: [{ // Primary yAxis
                min: 0,
                max: 24,
                minRange: 4,
                allowDecimals: false,
                labels: {
                    format: '{value}H',
                    style: {
                        color: '#666'//Highcharts.getOptions().colors[0]
                    }
                },
                title: {
                    text: 'Attendance',
                    style: {
                        color: '#666'
                        //color: Highcharts.getOptions().colors[0]
                    }
                }
            }, { // Secondary yAxis
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Quantity',
                    style: {
                        color: '#666'
                        //color: Highcharts.getOptions().colors[2]
                    }
                },
                labels: {
                    format: '{value} Tickets',
                    style: {
                        color: '#666'
                        //color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true
            }],
            series: [
                //{
                //name: 'Attendance',
                //type: 'columnrange',
                //data: horas,
                //color: '#516882',
                //tooltip: {
                //    valueSuffix: ''
                //}
                //},
                {
                    name: 'Attendance',
                    type: 'columnrange',
                    data: [],
                    color: '#516882',
                    tooltip: {
                        valueSuffix: ''
                    }
                },
                {
                    name: 'Tickets',
                    type: 'spline',
                    yAxis: 1,
                    data: tickets,
                    color: '#7CBB00',
                    tooltip: {
                        valueSuffix: ' Tickets'
                    }
                }]
        });
        //cambioIdioma("TicketsporEquipos/Atenciones", $("#IdIdioma").val(), "TicketsporEquipos/Atenciones");
        //cambioIdiomaPorPalabras("TicketsporEquipos/Atenciones");
    }
</script>
