@{
    ViewBag.Title = "CrearCategoria";
    Layout = null;
}
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<link rel="stylesheet" href="~/Content/themes/plugin/iCheck/all.css">
<script src="~/Content/themes/plugin/iCheck/icheck.min.js"></script>
<style>
    r {
        color: #F83C50;
        font-weight: bold;
    }
</style>
@using (Html.BeginForm("GuardarCategoria", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmCrearCategoria", name = "FrmCrearCategoria", target = "FrmCrearCategoria" }))
{
    <div id="mensajeCategoria"></div>
    <h5>Datos Principales</h5>
    <hr />
    <div class="form-group row">

        <div class="col-md-6">
            Cuenta <r>(*)</r>
            <select id="cbCuenta" name="cbCuenta" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>

    </div>
    <div class="form-group row" id="divPrincipal">
        <div class="col-md-6">
            <div>Tipo Ticket <r>(*)</r></div>
            <select id="cboTypeTicket" name="cboTypeTicket" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
        <div class="col-md-6">
            <div>Nivel de Categoría a registrar <r>(*)</r></div>
            <select id="cbNivelCategoria" name="cbNivelCategoria" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6" id="divNivelesCategoria1">
            <div>Categoría 1 <r>(*)</r></div>
            <select id="cbCategoria1" name="cbCategoria1" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
        <div class="col-md-6" id="divNivelesCategoria2">
            <div>Categoría 2 <r>(*)</r></div>
            <select id="cbCategoria2" name="cbCategoria2" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6" id="divNivelesCategoria3">
            <div>Categoría 3 <r>(*)</r></div>
            <select id="cbCategoria3" name="cbCategoria3" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
        <div class="col-md-6" id="divNivelesCategoria4">
            <div>Categoría 4 <r>(*)</r></div>
            <select id="cbCategoria4" name="cbCategoria4" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6" id="divNivelesCategoria5">
            <div>Categoría 5 <r>(*)</r></div>
            <select id="cbCategoria5" name="cbCategoria5" class="form-control input-sm select2" type="text" style="width:100%"></select>
        </div>
    </div>
    <h5 class="panel-heading">Datos de la Categoría</h5>
    <hr />
    <div class="form-group row">
        <div class="col-md-6">
            <div>Nombre de la Categoría <r>(*)</r></div>
            <input id="cbNombreCategoria" name="cbNombreCategoria" class="form-control" type="text" style="width:100%" />
        </div>
        <div class="col-md-6">
            <div>Abreviatura <r>(*)</r></div>
            <input id="cbAbreviatura" name="cbAbreviatura" class="form-control" type="text" style="width:100%" />
        </div>
    </div>



    <div>
        <div class="form-group row">
            <div class="col-md-6" id="DatosCategoriaNivel4">
                <div>Tipo de Gestión de Cambio(Ticket)</div>
                <select id="cbTipoCambioTicket" name="cbTipoCambioTicket" class="form-control input-sm select2" type="text" style="width:100%"></select>
            </div>
            <div class="col-md-6" id="IdSlaDiv">
                <div>SLA Asociado</div>
                <select id="cbSlAsociado" name="cbSlAsociado" class="form-control input-sm select2" type="text" style="width:100%"></select>
            </div>
        </div>

        <div class="form-group row" id="DatosCategoriaNivel4">
            <div class="col-md-6">
                <div>Aplica Ticket Problema</div>
                <br />
                <input id="cbTicketProblema" name="cbTicketProblema" type="checkbox" class="flat-blue" value="1" />
            </div>
            <div class="col-md-6">
                <div>Aplica Gestión de Activos</div>
                <br />
                <input id="cbxGestionActivos" name="cbxGestionActivos" type="checkbox" class="flat-blue" value="1" />
            </div>
        </div>
        <div class="form-group row" id="DatosCategoriaNivel4">



            <div class="col-md-6" id="DatosExtras1">
                <div>Aplica Notificación</div>
                <br />
                <input id="cbAplicaNotificacion" name="cbAplicaNotificacion" type="checkbox" class="flat-blue" value="1" />
            </div>
            <div class="col-md-6" id="DatosExtras2">
                <div>Tiene Tarea</div>
                <br />
                <input id="cbTieneTarea" name="cbTieneTarea" type="checkbox" class="flat-blue" value="1" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <button id="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<iframe id="FrmCrearCategoria" name="FrmCrearCategoria" src="" style="width:0px; height:0px; visibility:hidden;"></iframe>

<script type="text/javascript">
    $(document).ready(function () {
        var idAcco = null;
        $("#divPrincipal").hide();
        $("#DatosCategoriaNivel4").hide();
        $("#divNivelesCategoria1").hide();
        $("#divNivelesCategoria2").hide();
        $("#divNivelesCategoria3").hide();
        $("#divNivelesCategoria4").hide();
        $("#divNivelesCategoria5").hide();
        $("#IdSlaDiv").hide();

        $('#cboTypeTicket').on('change', function () {

            var IdCuenta = $("#cbCuenta").find(':selected').val();
            var idTypeTicket = $("#cboTypeTicket").find(':selected').val();

            $("#cbSlAsociado").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/SLA/ListaSLACategory/?IdTypeTicket=" + idTypeTicket + '&IdACCO=' + IdCuenta,
                    dataType: 'json',
                    processResults: function (data) {
                        var mappedData = $.map(data.Data, function (item) {
                            return {
                                id: item.ID,
                                text: item.Nombre
                            };
                        });

                        return {
                            results: mappedData
                        };
                    }
                }
            });


            $("#cbSlAsociado").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/SLA/ListaSLACategory/?IdTypeTicket=" + idTypeTicket + '&IdACCO=' + IdCuenta,
                    dataType: 'json',
                    processResults: function (data) {
                        var mappedData = $.map(data.Data, function (item) {
                            return {
                                id: item.ID,
                                text: item.Nombre
                            };
                        });

                        return {
                            results: mappedData
                        };
                    }
                }
            });

            $("#cbCategoria1").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/Administrator/ListarCategoriasxNivel/?id=" + IdCuenta + '&id1=' + 1 + '&id2=' + 0 + '&idTipoTicket=' + idTypeTicket,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });


            $("#cbTipoCambioTicket").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    url: "/Administrator/ListarPrioridadCambio/" + IdCuenta,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });

        });


        $("#cbCuenta").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Administrator/ListarCuentasCate",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbCuenta").on('change', function (e) {
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            idAcco = IdCuenta;
            if ($(this).val()) {
                $("#divPrincipal").show();
            } else {
                $("#divPrincipal").hide();
                $("#DatosCategoriaNivel4").hide();
                $("#divNivelesCategoria1").hide();
                $("#divNivelesCategoria2").hide();
                $("#divNivelesCategoria3").hide();
                $("#divNivelesCategoria4").hide();
                $("#divNivelesCategoria5").hide();

                $("#cbCategoria1").empty();
                $("#cbSlAsociado").empty();
                $("#cboTypeTicket").empty();
            }

            $("#cbCategoria1").empty();
            $("#cbCategoria2").empty();
            $("#cbCategoria3").empty();
            $("#cbCategoria4").empty();
            $("#cbCategoria5").empty();
            $("#cbSlAsociado").empty();
            $("#cbTipoCambioTicket").empty();


            if (IdCuenta == 60) {
                $("#DatosExtras1").hide();
                $("#DatosExtras2").hide();
            }
            else {
                $("#DatosExtras1").show();
                $("#DatosExtras2").show();
                $("#IdSlaDiv").hide();
            }

            if (IdCuenta == 56 || IdCuenta == 57 || IdCuenta == 58) {
                $("#cbAplicaNotificacion").iCheck('enable');
                $("#cbTieneTarea").iCheck('enable');
            } else {
                $("#cbAplicaNotificacion").iCheck('disable').iCheck('uncheck');
                $("#cbTieneTarea").iCheck('disable').iCheck('uncheck');
            }

            configurarNivelCategoriaSelect2();
        });

        //Combos de Categorias
        $("#cbCategoria1").on('change', function (e) {
            $("#cbCategoria2").empty();
            $("#cbCategoria3").empty();
            $("#cbCategoria4").empty();
            $("#cbCategoria5").empty();
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            var IdCategoria = $("#cbCategoria1").find(':selected').val();
            let tipoTicket = $("#cboTypeTicket").val();

            $("#cbCategoria2").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/Administrator/ListarCategoriasxNivel/?id=" + IdCuenta + '&id1=' + 2 + '&id2=' + IdCategoria + '&idTipoTicket=' + tipoTicket,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });
        });

        $("#cbCategoria2").on('change', function (e) {
            $("#cbCategoria3").empty();
            $("#cbCategoria4").empty();
            $("#cbCategoria5").empty();
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            var IdCategoria = $("#cbCategoria2").find(':selected').val();
            let tipoTicket = $("#cboTypeTicket").val();

            $("#cbCategoria3").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/Administrator/ListarCategoriasxNivel/?id=" + IdCuenta + '&id1=' + 3 + '&id2=' + IdCategoria + '&idTipoTicket=' + tipoTicket,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });

        });

        $("#cbCategoria3").on('change', function (e) {
            $("#cbCategoria4").empty();
            $("#cbCategoria5").empty();
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            var IdCategoria = $("#cbCategoria3").find(':selected').val();
            let tipoTicket = $("#cboTypeTicket").val();

            $("#cbCategoria4").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/Administrator/ListarCategoriasxNivel/?id=" + IdCuenta + '&id1=' + 4 + '&id2=' + IdCategoria + '&idTipoTicket=' + tipoTicket,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });
        });

        $("#cbCategoria4").on('change', function (e) {
            $("#cbCategoria5").empty();
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            var IdCategoria = $("#cbCategoria4").find(':selected').val();
            let tipoTicket = $("#cboTypeTicket").val();


            $("#cbCategoria5").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    type: "POST",
                    url: "/Administrator/ListarCategoriasxNivel/?id=" + IdCuenta + '&id1=' + 5 + '&id2=' + IdCategoria + '&idTipoTicket=' + tipoTicket,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data };
                    },
                },
            });

        });

        function configurarNivelCategoriaSelect2() {
            $("#cbNivelCategoria").select2({
                placeholder: 'Seleccione...',
                minimumInputLength: 0,
                multiple: false,
                allowClear: true,
                ajax: {
                    url: "/Administrator/ListarNroCategorias/?id=" + 51 + '&idAcco=' + idAcco,
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, page) {
                        var filteredData = data.filter(function (item, index, self) {
                            return index === self.findIndex(t => t.text === item.text)
                        });

                        return { results: filteredData };
                    },
                },
            });
        }

        $("#cboTypeTicket").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/TypeTicket/List?var=" + Math.random(),
                dataType: 'json',
                processResults: function (data) {
                    var mappedData = $.map(data.Data, function (item) {
                        return {
                            id: item.ID_TYPE_TICK,
                            text: item.NAM_TYPE_TICK
                        };
                    });

                    return {
                        results: mappedData
                    };
                }
            }
        });

        $("#cbNivelCategoria").on('change', function (e) {
            $("#DatosCategoriaNivel4").hide();
            $("#divNivelesCategoria1").hide();
            $("#divNivelesCategoria2").hide();
            $("#divNivelesCategoria3").hide();
            $("#divNivelesCategoria4").hide();
            $("#divNivelesCategoria5").hide();
            var IdCuenta = $("#cbCuenta").find(':selected').val();
            if (IdCuenta == 60 && $("#cbNivelCategoria").val() == "2"
                ||
                IdCuenta == 60 && $("#cbNivelCategoria").val() == "3"
                ||
                IdCuenta == 60 && $("#cbNivelCategoria").val() == "4"
                ||
                IdCuenta == 60 && $("#cbNivelCategoria").val() == "5"
                ||
                IdCuenta == 60 && $("#cbNivelCategoria").val() == "6"

            ) {
                $("#IdSlaDiv").show();
            }
            else {
                $("#IdSlaDiv").hide();
            }
            //var numeroCombo = 0;
            //$("#divNivelesCategoria").empty();
            //numeroCombo = ($("#cbNivelCategoria").val()) - 1;
            var NivelCategoria = ($("#cbNivelCategoria").val());
            console.log(NivelCategoria);

            for (var i = 2; i <= NivelCategoria; i++) {
                $("#divNivelesCategoria" + (i - 1)).show();
                //$("#divNivelesCategoria").append('<div class="col-md-6" style="padding-top:20px"> ' +
                //    '<div>Categoría'+i+' <r>(*)</r></div>'+
                //    '<select id="cbCategoria' + i + '" name="cbCategoria' + i + '" class="form-control input-sm select2" type="text" style="width:100%" />'+
                //    '</div>');
                //if (i == 1) {
                //    ListarCategoriaNivel1(i);
                //}
                //else {
                //    ListarCategorias(i);
                //}
            }
            if ($("#cbNivelCategoria").val() == "3" || $("#cbNivelCategoria").val() == "4" || $("#cbNivelCategoria").val() == "5" || $("#cbNivelCategoria").val() == "6") {
                $("#DatosCategoriaNivel4").show();
            }
        });
    });

    function ListarCategoriaNivel1(id) {
        var IdCuenta = $("#cbCuenta").val();

        $("#cbCategoria" + id).select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Administrator/ListarCategoriasxNivel/" + IdCuenta + '/' + id + '/' + 0,
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
    }

    function MensajeConfirmacion(msj, flag) {
        if (flag == 1) {
            toastr.success(msj);
            $("[data-dismiss=modal]").trigger({ type: "click" });
            //$('#modalCrearCategoria').modal("hide");
            //$('#SmallModalContent').modal('show');
            //$("#SmallModalTitle").empty();
            //$("#SmallModalTitle").text("Mensaje");
            //$("#SmallModalBody").empty();
            //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msj + "</div>");
            //$("#SmallModalFooter").empty();
            //$("#SmallModalFooter").append("<div style='float:right;'>" +
            //    "<button id='continuee' class='k-button'>Continuar</button>" +
            //    "</div>");
            //var undo = $("#continuee")
            //    .bind("click", function () {
            //        $('#SmallModalContent').modal('hide');
            //    });

        } else {
            $('#mensajeCategoria').empty();
            $('#mensajeCategoria').show("show");
            $("#mensajeCategoria").append("<div class='alert alert-danger'><strong>¡Alerta!</strong> " + msj + " </div>");
            setTimeout(function () {
                $("#mensajeCategoria").fadeOut(4500);
            }, 1000);
        }
    }
</script>
<script>
    $(function () {
        $('input[type="checkbox"].flat-blue, input[type="radio"].flat-blue').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
    });
</script>