@model ERPElectrodata.Models.webpages_UsersInRoles

@{
    ViewBag.Title = "FindRoles";
    Layout = null;
}
<style>
    div.contentRole {
        text-align: left;
        width: 99%;
        border: 1px solid #e2e2e2;
        padding: 5px 0 5px 1%;
    }
        div.contentRole > div {
            display: inline-block;
            /*width: 24%;*/
            margin: 0;
            vertical-align: top;
            text-transform: uppercase;
        }
    .marcoAchie1 {
        width: 99%;
        color: white;
        text-align: left;
        text-transform: uppercase;
        background-color: #516882;
    }
    .marcoAchie2Sangria{
        margin:0;
    }
    
</style>
<div style="width:100%; height:100%; display:inline-block;">
    <div style="float:left; width:60%;">
        <div style="width:100%;">
            <div class="titleForm">
                <div class="title">Find Roles</div>
            </div>
            @using (Html.BeginForm("ExportarRoles", "Administrator", FormMethod.Post, new { id = "FrmFindRol" }))
            {    
            <fieldset>
                <legend>Lista de Roles</legend>                
                <div class="divFondoDos">
                    <div class="divSpace3"></div>
                    <div class="divCont3">
                        <div class="editor-label">
                            Area
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_QUEU_FIND" id="ID_QUEU_FIND" />
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    
                    <div class="divCont3">
                        <div class="editor-label">
                            Personal
                        </div>
                        <div class="editor-field">
                            <input type="text" name="ID_PERS_ENTI_ASSI_FIND" id="ID_PERS_ENTI_ASSI_FIND" />
                        </div>
                    </div>
                    <div class="divSpace3"></div>
                    
                    <div class="divCont3">
                        <div class="editor-label">
                            Roles
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RoleId)
                        </div>
                    </div>
                </div>                
                <div class="divFondoDos" style="margin-bottom:5px;">
                    <div class="divSpace2"></div>
                    <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                        <div style=" float:left; padding:0px 10px 0px 0px; ">
                            <button id="BtnBuscarRoles" class="k-button" onclick="fnCargarGrilla(); return false;">Buscar</button>
                            <button id="btnexportarRoles" class="k-button"  onclick="window.location.href = '@Url.Action("Administrator", "ExportarRoles")';">Exportar</button>                           
                        </div>
                    </div>
                </div>
            </fieldset>
            }
        </div>
    </div>
</div>
<div style="clear:both;"></div>
<div id="gridRoles" class="contentView" style="width:80%">
</div>
<div id="pagerRoles" class="contentViewPager">
</div>
<script type="text/x-kendo-tmpl" id="tmp-roles">
    # if (sw1 != 0) { Agrupar(UserId); } #
    # if (sw1 == 0) { #
    <div style="margin-top: 1%;"></div>
    <div style="width:100%; Display:inline-block;">
        <div style="width:90%; margin:0;">
            <div class="marcoAchie1"><b>Cargo: ${JOB_TITLE}</b></div>
            <div class="contentRole">
                <div class="marcoAchie3" style="width: 10%;">
                    <div style="min-width: 48px; margin: 5px 5px 0 5px; width: 60px; height: 60px; ">
                        <img src="/Content/Fotos/${ID_FOTO}.jpg" width="60px" height="60px" />
                    </div>
                </div>
                <div class="marcoAchie3" style="width: 40%;">
                    <div>&nbsp;<b>Nombre:</b>&nbsp;&nbsp;&nbsp;&nbsp; ${NAM_PERSON}</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Area:</b>&nbsp;&nbsp;&nbsp;&nbsp; ${NOM_AREA}</div>
                </div>
                <div class="marcoAchie3" style="width: 20%;text-align: right; margin-right: 20px;"><b>Roles:</b></div>
                <div class="marcoAchie23" style="width: 25%;">
                    <div class="marcoAchie2Sangria">
                        <span style="text-transform:capitalize;">${ROLE_NAME}</span>
                    </div>
                    # swFirst(UserId); #
                    # } else if (sw1 == sw2) { #
                    <div class="marcoAchie2Sangria">
                        <span style="text-transform:capitalize;">${ROLE_NAME}</span>
                    </div>
                    # } else { #
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 1%;"></div>
    <div style="width:100%; Display:inline-block;">
        <div style="width:90%; margin:0;">
            <div class="marcoAchie1"><b>Cargo: ${JOB_TITLE}</b></div>
            <div class="contentRole">
                <div class="marcoAchie3" style="width: 10%;">
                    <div style="min-width: 48px; margin: 5px 5px 0 5px; width: 60px; height: 60px; ">
                        <img src="/Content/Fotos/${ID_FOTO}.jpg" width="60px" height="60px" />
                    </div>
                </div>
                <div class="marcoAchie3" style="width: 40%;">
                    <div>&nbsp;<b>Nombre:</b>&nbsp;&nbsp;&nbsp;&nbsp; ${NAM_PERSON}</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Area:</b>&nbsp;&nbsp;&nbsp;&nbsp; ${NOM_AREA}</div>
                </div>
                <div class="marcoAchie3" style ="width: 20%; text-align:right;margin-right: 20px;"><b>Roles:</b></div>
                <div class="marcoAchie23" style="width: 25%;">
                    <div class="marcoAchie2Sangria">
                        <span style="text-transform:capitalize;">${ROLE_NAME}</span>
                    </div>
                    # swFirst(UserId); #
                    # } #
</script>
<script type="text/javascript">
    var sw1 = 0;
    var sw2 = 0;
    $(document).ready(function () {               
            //Cargar Lista de Roles
            var ID_ROLE = $("#RoleId").kendoComboBox({
            autoBind: true,
            dataTextField: "ROLE_NAME",
            dataValueField: "ROLE_ID",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListRoles?var=" + Math.random()
                }
            }
            }).data("kendoComboBox");
            var ID_QUEU_FIND = $("#ID_QUEU_FIND").kendoComboBox({
                autoBind: true,
                dataTextField: "NOM_AREA",
                dataValueField: "ID_AREA",
                filter: "contains",
                delay: 500,
                minLength: 0,
                suggest: true,
                dataSource: {
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListAreas?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");

            var ID_PERS_ENTI_ASSI_FIND = $("#ID_PERS_ENTI_ASSI_FIND").kendoComboBox({
                autoBind: false,
                index: 0,
                cascadeFrom: "ID_QUEU_FIND",
                dataTextField: "NAM_USER",                
                dataValueField: "ID_PERS_ENTI",
                dataSource: {
                    //type: "odata",
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListEmpleados?var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");            

        fnCargarGrilla();
    })
    function fnCargarGrilla()
    {        
        sw1 = 0;
        sw2 = 0;
        var dataSource = null;
        var pager = null;

        $("#pagerFind").empty();
        $("#resultFind").empty();

        if ($("#resultFind").data("kendoListView")) {
            $("#pagerFind").data("kendoPager").destroy();
            $("#resultFind").data("kendoListView").destroy();
        }
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Administrator/FindRolxStaff/0?" + $('#FrmFindRol').serialize(),
                    type: "GET",
                    dataType: "json",
                    data: {
                        ran: Math.random()
                    },
                },
            },
            autoSync: true,
            serverFiltering: true,
            serverPaging: true,
            pageSize: 15,
            schema: {
                data: "Data",
                total: "Count"
            }
        });
        $("#pagerRoles").kendoPager({
            dataSource: dataSource,
            pageSizes: [15, 30, 65],
            refresh: true
        });

        $("#gridRoles").kendoListView({
            dataSource: dataSource,
            template: kendo.template($("#tmp-roles").html())
        });
        return false;
    }    
    function swFirst(id) {
        sw1 = id;
    }
    function Agrupar(id) {
        sw2 = id;
    }    
</script>
    