@{
    ViewBag.Title = "Seguridad";
    Layout = null;
}
<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .navVertical ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style: none;
        }

            .navVertical ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
                border-bottom: 1px solid #e2e2e2;
                width: 100%;
            }

                .navVertical ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    .navVertical ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    .navVertical ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

            #navDT ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }

                #navDT ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    #navDT ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    #navDT ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }
</style>

<div style="float:left; width:10%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px;">
                <center>
                    <button id="btnEventoKnow" class="k-button">Eventos</button>
                </center>
            </div>
        </div>
    </div>
</div>

<div style="float:right; width:89%;">
    <div class="titleForm">
        <div class="title" id="divTitle">
            <span id="spanTitulo"></span>
        </div>
    </div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#spanTitulo").html('EVENTOS');
        $("#divCuerpo").load("/Seguridad/EventoAuditable?var=" + Math.random());

        $("#btnUsuario").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('EVENTOS');
            $("#divCuerpo").load("/Seguridad/EventoAuditable?var=" + Math.random());
        });

    });

</script>
