@{
    Layout = "~/Views/Shared/_LayoutKendo22.cshtml";
}
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .navVertical ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style: none;
        }

            .navVertical ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
                border-bottom: 1px solid #e2e2e2;
                width: 100%;
            }

                .navVertical ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    .navVertical ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    .navVertical ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

            #navDT ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }

                #navDT ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    #navDT ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    #navDT ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }
</style>

<div style="float:left; width:10%;">
    <div class="titleForm"><div class="title">Opciones</div></div>
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divOpciones" style="padding:5px;" background-color:white">
                <center>
                    <button id="btnUsuario" class="btn btn-block btn-sm btn-primary">Usuarios</button>
                    <button id="btnPerfil" class="btn btn-block btn-sm btn-primary">Perfiles</button>
                    <button id="btnUsuarioPerfil" class="btn btn-block btn-sm btn-primary">Permisos</button>
                    <button id="btnEvento" class="btn btn-block btn-sm btn-primary">Eventos</button>
                    <button id="btnContrasena" class="btn btn-block btn-sm btn-primary">Contraseñas</button>
                    <button id="btnUsuarioExterno" class="btn btn-block btn-sm btn-primary">Usuarios externos</button>
                </center>
            </div>
        </div>
    </div>
</div>

<div style="float:right; width:89%;">
    @*<div class="titleForm">
            <div class="title" id="divTitle">
                <span id="spanTitulo"></span>
            </div>
        </div>*@
    <div class="bodyForm">
        <div class="inBodyForm">
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#spanTitulo").html('USUARIOS');
        $("#divCuerpo").load("/Seguridad/Usuarios?var=" + Math.random());

        $("#btnUsuario").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('USUARIOS');
            $("#divCuerpo").load("/Seguridad/Usuarios?var=" + Math.random());
        });

        $("#btnPerfil").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('PERFILES');
            $("#divCuerpo").load("/Seguridad/Perfiles?var=" + Math.random());
        });

        $("#btnUsuarioPerfil").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('PERMISOS');
            $("#divCuerpo").load("/Seguridad/Permisos?var=" + Math.random());
        });

        $("#btnEvento").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('EVENTOS');
            $("#divCuerpo").load("/Seguridad/Eventos?var=" + Math.random());
        });

        $("#btnContrasena").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('EVENTOS');
            $("#divCuerpo").load("/Seguridad/RestablecerContrasena?var=" + Math.random());
        });

        $("#btnUsuarioExterno").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('USUARIO EXTERNO');
            $("#divCuerpo").load("/Seguridad/UsuarioExterno?var=" + Math.random());
        });
    });

</script>
