@{
    Layout = null;
}
<div class="titleForm">
    <div class="title">
        Perfiles
    </div>
</div>
<div class="bodyForm">
    <div class="inBodyForm">
        <div id="allPerformance" style="width:100%;">
            <div style="padding-left: 10px;">
                <div style="width: 100%; margin: 10px 10px 7px 0px; padding: 0px 0px 0px 0px; font-size: 0.95em;" id="divFiltro">
                    <form id="Parametro">
                        <div style="float:left;">
                            <div style="float:left; margin: 0px 10px 0px 10px;">
                                Perfil :<br />
                                <div class="editor-field">
                                    <input type="text" id="IdPerfil" name="IdPerfil" />
                                </div>
                            </div>
                            <div style="float: left; margin: 0px 10px 0px 10px;">
                                Usuario :<br />
                                <div class="editor-field">
                                    <input type="text" id="IdUsuario" name="IdUsuario" />
                                </div>
                            </div>
                            <div style="float: left; margin: 0px 10px 0px 10px;">
                                Solo Perfiles :<br />
                                <div class="editor-field">
                                    <input type="checkbox" id="FlagPerfil" name="FlagPerfil" />
                                </div>
                            </div>
                        </div>
                        <div style="display:inline-block; float:right; padding:5px 10px 0px 5px;">
                            <div style="float: right; margin: 0px 10px 0px 10px;">
                                <button id="btnNuevo" class="k-button">Nuevo</button>
                            </div>
                            <div style="float: right; margin: 0px 10px 0px 10px;">
                                <button id="btnBuscar" class="k-button">Buscar</button>
                            </div>
                        </div>
                    </form>

                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bodyForm" style="margin-top:10px;">
    <div class="inBodyForm">
        <iframe id="RSPerfiles" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReport() {
        window.frames["RSPerfiles"].src = "/Reporting/Seguridad/Perfiles.aspx?var=" + Math.random() + "&" + $("#Parametro").serialize();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#IdPerfil").kendoComboBox({
            dataTextField: "ROLE_NAME",
            dataValueField: "ROLE_ID",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Seguridad/ListarPerfil?var=" + Math.random()
                }
            }
        });
        var IdPerfil = $("#IdPerfil").data("kendoComboBox");

        $("#IdUsuario").kendoComboBox({
            dataTextField: "CLIE",
            dataValueField: "ID_PERS_ENTI",
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/RequesterByAcco?var=" + Math.random()
                }
            }
        });
        var IdUsuario = $("#IdUsuario").data("kendoComboBox");

        $("#btnBuscar").click(function (event) {
            GenerateReport();
            event.preventDefault();
        });

    });

</script>
