@model int
@for (int i = 0; i < Model; i++)
{
    <div class="card-body py-3 box">
        <div class="skeleton row no-gutters align-items-center">
            <div class="skeleton-left col-4">
                <div class="line w-50"></div>
                <div class="line w-25"></div>
                <div class="line w-75"></div>
                <div class="line w-50"></div>
                <div class="line w-50"></div>
                <div class="line w-50"></div>
            </div>
            <div class="skeleton-right col-6">
                <div class="line w-50"></div>
                <div class="line w-75"></div>
            </div>
            <div class="skeleton-right col-2 d-flex align-items-center">
                <div class="square circle mr-2"></div>
                <div class="skeleton-right">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
}