<style type="text/css">
    a.tooltip span {
        cursor: default;
        display: none;
        padding: 5px;
        margin: -25px 0px 0px 120px;
        width: 230px;
        position: relative;
        z-index: 9;
    }

    a.tooltip:hover span {
        display: block;
        position: absolute;
        background: #000;
        border: 1px solid #cccccc;
        color: #ddd;
        font-size: 14px;
        font-weight: normal;
        opacity: 0.9;
    }
</style>

@*<script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>*@
<input type="hidden" id="IdIdioma" name="IdIdioma" value="@Session["IdIdioma"]" />

<div>

    @*tickets*@
    @*tickets*@
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="tabs-lg-alternate card-header">
                <ul class="nav nav-justified">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#tab-eg9-0" class="nav-link active show">
                            <div class="tab-subheading colorTab">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-book-open"></i>
                                </span>
                                Electrodata Completo
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" onclick="cargarTicketsInterno()">
                        <a data-toggle="tab" href="#tab-eg9-1" class="nav-link show">
                            <div class="tab-subheading colorTab">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-object-group"></i>
                                </span>
                                Electrodata Interno
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" onclick="cargarTicketsCliente()">
                        <a data-toggle="tab" href="#tab-eg9-2" class="nav-link show">
                            <div class="tab-subheading colorTab">
                                <span class="pr-2 opactiy-6">
                                    <i class="fa fa-list"></i>
                                </span>
                                Electrodata Cliente
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active show" id="tab-eg9-0" role="tabpanel">
                    <div class="card-body">
                        <p class="mb-0">
                            @Html.Action("_ElectrodataPeru_Completo", "Home")
                        </p>
                    </div>
                </div>
                <div class="tab-pane show" id="tab-eg9-1" role="tabpanel">
                    <div class="card-body">
                        <p class="mb-0">
                            @Html.Action("_ElectrodataPeru_Interno", "Home")
                        </p>
                    </div>
                </div>
                <div class="tab-pane show" id="tab-eg9-2" role="tabpanel">
                    <div class="card-body">
                        <p class="mb-0">
                            @Html.Action("_ElectrodataPeru_Externo", "Home")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var cargoInterno = false
    var cargoCliente = false
    function startCargarTickets() {
        cargarTicketsCompleto()
    }
    function cargarTicketsCompleto() {
        cargaInicialTicketsEdata()
        cambioPaginaCompletoProgramados(1)
        cambioPaginaCompletoEnEspera(1)
        cambioPaginaCompletoResueltoSinInforme(1)
        cambioPaginaCompletoResueltos(1)
        cambioPaginaCompletoCerrados(1)
    }
    function cargarTicketsInterno() {
        if (!cargoInterno) {
            cambioPaginaInternoActivos(1)
            cambioPaginaInternoProgramados(1)
            cambioPaginaInternoEnEspera(1)
            cambioPaginaInternoResueltoSinInforme(1)
            cambioPaginaInternoResueltos(1)
            cambioPaginaInternoCerrados(1)
            cargoInterno = true
        }
    }
    function cargarTicketsCliente() {
        if (!cargoCliente) {
            cambioPaginaExternoActivos(1)
            cambioPaginaExternoProgramados(1)
            cambioPaginaExternoEnEspera(1)
            cambioPaginaExternoResueltoSinInforme(1)
            cambioPaginaExternoResueltos(1)
            cambioPaginaExternoCerrados(1)
            cargoCliente = true
        }
    }
</script>