@model ERPElectrodata.Models.CARGO_AREA

@{
    Layout = null;
}

<div id="treeviewChart" style="padding: 3px 0 0 7px;"></div>

<script id="treeviewChart-tmpt" type="text/kendo-ui-template">
    <div style="width:100%;">
        <img src="/Content/Images/#: item.ICON #" style="width:12px; height:12px; border:none;" />
        <span style="font-size: .9em; text-transform:capitalize;" title="#: item.NAM_TYPE #"> #= item.NAME_PARA # </span>
        # if (item.ID_TYPE_CHAR == 3) { #
        <span style="font-size: .9em; text-transform:capitalize;" title="@ResourceLanguaje.Resource.StaffJobTitle">(#= item.USER #)</span>
        # } #
    </div>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#treeviewChart").empty();
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: "/TalentChart/TreeChart",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "ID_PARA",
                    hasChildren: "HAS_VALUE"
                }
            }
        });

        $("#treeviewChart").kendoTreeView({
            template: kendo.template($("#treeviewChart-tmpt").html()),
            dataSource: homogeneous,
            dataTextField: "NAME_PARA",
            dragAndDrop: false,
        });
    });
</script>
