@{
    ViewBag.Title = "IndexSoporteED";
    Layout = null;
}

<div id="mensajeElectrodata"></div>

<div class="form-group">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header">Listado de soporte fabricante</div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <table id="tablaSoporteED" class="table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fabricante</th>
                                    <th>Tiempo de Soporte</th>
                                    <th>SLA</th>
                                    <th>Mant. Preventivos Totales</th>
                                    <th>Fin Soporte</th>
                                    <th>Bolsa de Horas</th>
                                    <th>Observaciones</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Fabricante</th>
                                    <th>Tiempo de Soporte</th>
                                    <th>SLA</th>
                                    <th>Mant. Preventivos Totales</th>
                                    <th>Fin Soporte</th>
                                    <th>Bolsa de Horas</th>
                                    <th>Observaciones</th>
                                    <th>Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="EditarSoporteED"></div>

<script type="text/javascript">
    $(document).ready(function () {
        ListaSoporteED();
    });

    function ListaSoporteED() {
        $('#tablaSoporteED').dataTable().fnDestroy();

        $('#tablaSoporteED').DataTable({
            "order": [[4, "asc"]],
            responsive: true,
            dom: 'Bfrtip',
            ajax: "/SoporteED/ListarSoporteED/" + @ViewBag.IdDocuSale,
            columns: [
                { data: "Fabricante" },
                { data: "TiempoSoporte" },
                { data: "Nombre" },
                { data: "MantPrev" },
                { data: "FinSoporte" },
                { data: "BolsaHoras" },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<span>'+(data.Observaciones).replace(/<[^>]*>?/g, '');+'</span>';
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<div style=" text-align: center;">' +
                        '<span id="btnEditarSoporteED" title="Editar" class="fa fa-pen" aria-hidden="true" style="color: #2D5C88; cursor: pointer; font-size: 13px;" onclick="EditarSoporteED(' + data.IdSoporteED + ')" ></span>' +
                        '</div>';
                    }
                },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]

        });

    }

    function EditarSoporteED(id){
        $("#EditarSoporteED").empty();
        $("#EditarSoporteED").load('/SoporteED/EditarSoporteED/'+id);
    }
</script>
