@model WebClientED.Models.SPAM_CONTROL

@{
    ViewBag.Title = "Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Control</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-8 col-md-offset-2 alert alert-warning">
                <p>Gracias, no se enviarán correos a la cuenta:&nbsp;<p class="alert-link">@Html.DisplayTextFor(x => x.EMA_SPAM_CONT)</p>
            </div>
        </div>
        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
