@{
    ViewBag.Title = "Mantenimiento";
    //Layout = null;
}

<link href="~/Content/ITMS/styles.css" rel="stylesheet" />

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-title">Opciones</div>
                        <div class="bodyForm">
                            <div class="">
                                <div id="divOpciones" style="padding:5px;" background-color:white">
                                    <center>
                                        <button id="btnLocacion" class="btn btn-block btn-sm btn-primary">Locacion</button>
                                        <button id="btnCuentaTA" class="btn btn-block btn-sm btn-primary">Cuenta Tipo Activo</button>
                                        <button id="btnComponente" class="btn btn-block btn-sm btn-primary">Componente</button>
                                        <button id="btnSubTipoComp" class="btn btn-block btn-sm btn-primary">SubTipo Componente</button>
                                        <button id="btnTicketsProblema" class="btn btn-block btn-sm btn-primary">Tickets Problema</button>
                                        @*<button id="btnEnvioEncuestas" class="btn btn-block btn-sm btn-primary">Envío de Encuestas</button>*@
                                        <button id="btnSolutionTI" class="btn btn-block btn-sm btn-primary">Soluciones TI</button>
                                        <button id="btnCompanias" class="btn btn-block btn-sm btn-primary">Compañias </button>
                                        <button id="btnManufacturer" class="btn btn-block btn-sm btn-primary">Marcas </button>
                                        <button id="btnManufacturerModel" class="btn btn-block btn-sm btn-primary">Modelo de Marcas </button>
                                        <button id="btnCommercialModel" class="btn btn-block btn-sm btn-primary">Modelo Comercial </button>
                                        <button id="btnSLA" class="btn btn-block btn-sm btn-primary">SLA </button>
                                        <button id="btnPerfilActivos" class="btn btn-block btn-sm btn-primary">Perfil Activos </button>
                                        <button id="btnCapacidad" class="btn btn-block btn-sm btn-primary">Capacidad</button>
                                        @* creando Grupos y Plantillas 27/10/2021 *@
                                        <button id="btnGrupo" class="btn btn-block btn-sm btn-primary">Grupos</button>
                                        <button id="btnPlantilla" class="btn btn-block btn-sm btn-primary">Plantillas</button>

                                        @*area y cargo*@

                                     

                                        @if (Convert.ToInt32(Session["ID_ACCO"].ToString()) == 55)
                                        {
                                            <button id="btnArea" class="btn btn-block btn-sm btn-primary">Área</button>
                                            <button id="btnCargo" class="btn btn-block btn-sm btn-primary">Cargo</button>
                                        }

                                        @if ((Int32)Session["ADMINISTRADOR"] == 1)
                                        {
                                            <button id="btnCuenta" class="btn btn-block btn-sm btn-primary">Cuenta</button>
                                            <button id="btnCola" class="btn btn-block btn-sm btn-primary">Colas</button>
                                            <button id="btnCuentaCola" class="btn btn-block btn-sm btn-primary">CuentaCola</button>
                                            <button class="btn btn-block btn-sm btn-primary" onclick="window.location.href ='/Role/MantenimientoRol'">Roles</button>
                                            <button class="btn btn-block btn-sm btn-primary" onclick="window.location.href ='/Role/ListaUsuarioRol'">Lista Roles</button>
                                            <button class="btn btn-block btn-sm btn-primary" onclick="window.location.href ='/Actividad_TipoServicio/Index'">Tipo de Servicio <br />/Actividades</button>
                                            <button class="btn btn-block btn-sm btn-primary" onclick="window.location.href ='/Proyectos_SubCategoria/Index'">Categorización de <br /> Proyectos</button>
                                        }
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 card">
                    <div class="card-header">
                        <span id="spanTitulo" style="font-size:12.5px"></span>
                    </div>
                    <div id="divCuerpo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<script type="text/javascript">

    $(document).ready(function () {

        ////$("#spanTitulo").html('CUENTA TIPO ACTIVO');
        //$("#divCuerpo").load("/TipoActivo/CrearCuentaTA?var=" + Math.random());
        //$("#spanTitulo").html('LOCACIÓN');
        $("#divCuerpo").load("/Location_Entity/IndexLocacion?var=" + Math.random());

        $("#btnLocacion").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('LOCACIÓN');
            $("#divCuerpo").load("/Location_Entity/IndexLocacion?var=" + Math.random());
        });

        $("#btnCuentaTA").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('CUENTA TIPO ACTIVO');
            $("#divCuerpo").load("/TipoActivo/CrearCuentaTA?var=" + Math.random());
        });

        $("#btnComponente").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('COMPONENTE');
            $("#divCuerpo").load("/Componente/CrearComp?var=" + Math.random());
        });

        $("#btnSubTipoComp").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('SUB TIPO COMPONENTE');
            $("#divCuerpo").load("/SubTipoComponente/CrearSTC?var=" + Math.random());
        });

        $("#btnTicketsProblema").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TICKET PROBLEMA');
            $("#divCuerpo").load("/Ticket/CrearTicketProblemaConfig?var=" + Math.random());
        });

        $("#btnSolutionTI").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('SOLUCION TI');
            $("#divCuerpo").load("/SolucionTI/CrearSolucionTI?var=" + Math.random());
        });

        $("#btnCompanias").click(function () {
            $("#divCuerpo").empty();
            $("spanTitulo").html('Companias');
            $("#divCuerpo").load("/Companias/IndexCompania?var=" + Math.random());
        });

        $("#btnManufacturer").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Marcas');
            $("#divCuerpo").load("/Manufacturer/IndexManufacturer?var=" + Math.random());
        });

        $("#btnManufacturerModel").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Modelo de Marcas');
            $("#divCuerpo").load("/ManufacturerModel/IndexMantManufacturerModel?var=" + Math.random());
        });

        $("#btnCommercialModel").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Modelo Comercial');
            $("#divCuerpo").load("/CommercialModel/IndexMantCommercialModel?var=" + Math.random());
        });

        $("#btnSLA").click(function () {
            $("#divCuerpo").empty();
            $('#spanTitulo').html('Acuerdos de Nivel de Servicio');
            $("#divCuerpo").load("/SLA/IndexMantSLA?var=" + Math.random());
        });

        $("#btnPerfilActivos").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Perfil de Activos');
            $("#divCuerpo").load("/PerfilActivos/IndexPerfilActivo?var=" + Math.random());
        });

        $("#btnCapacidad").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Gestión de la Capacidad');
            $("#divCuerpo").load("/Capacidad/Index?var=" + Math.random());
        });

        //----------- Grupos y Plantilla 27/10/2021  -------------


        $("#btnGrupo").click(function () {
            $("#divCuerpo").empty();
            $('#spanTitulo').html('GRUPO');
            $("#divCuerpo").load("/Grupo/IndexMantGrupo?var=" + Math.random());
        });

        $("#btnPlantilla").click(function () {
            $("#divCuerpo").empty();
            $('#spanTitulo').html('PLANTILLA');
            $("#divCuerpo").load("/Plantilla/IndexMantPlantilla?var=" + Math.random());
        });



        //Area Cargo

        $("#btnArea").click(function () {
            $("#divCuerpo").empty();
            $('#spanTitulo').html('Area');
            $("#divCuerpo").load("/Area/IndexMantAreas?var=" + Math.random());
        });

        $("#btnCargo").click(function () {
            $("#divCuerpo").empty();
            $('#spanTitulo').html('Cargo');
            $("#divCuerpo").load("/Cargo/IndexMantCargos?var=" + Math.random());
        });







        //----------- Administrador -------------
        $("#btnCuenta").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Mantenimiento de Cuentas');
            $("#divCuerpo").load("/Account/IndexCuenta?var=" + Math.random());
        });

        $("#btnCola").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Mantenimiento de Colas');
            $("#divCuerpo").load("/Queue/IndexCola?var=" + Math.random());
        });

        $("#btnCuentaCola").click(function () {
            $("#divCuerpo").empty();
            $('spanCuerpo').html('Relación de Cuentas - Colas');
            $("#divCuerpo").load("/AccountQueue/IndexCuentaCola?var=" + Math.random());
        });

    });

</script>
