@{
    ViewBag.Title = "MantLocacionBNV";
    Layout = null;
}

<div class="form-row">
    <div class="col-md-3">
        <div class="editor-label">
            Grupo
        </div>
        <div class="editor-field">
            <input id="cbGrupo" name="cbGrupo" value="@ViewBag.IdGrupo" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="editor-label">
            Unidad Minera
        </div>
        <div class="editor-field">
            <input id="cbUMinera" name="cbUMinera" />
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <button type="button" class="btn btn-hover-shine btn-block btn-primary" id="btnBuscar" onclick="ListarLocacionesBNV()"><i class="fa fa-search"></i> Buscar</button>
    </div>
    <div class="col-md-2">
        <br />
        <button type="button" class="btn btn-hover-shine btn-block btn-primary" id="btnNuevaLocacion" onclick="NuevaLocacionBNV()"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</div>

<div class="table-responsive mt-3">
    <div class="row">
        <div class="col-md-12">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover display responsive no-wrap" style="width: 100%;" id="tbListado">
                <thead>
                    <tr>
                        <th class="text-center">Unidad Minera</th>
                        <th class="text-center">Sede</th>
                        <th class="text-center">Locación</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var cbGrupo = $("#cbGrupo").kendoComboBox({
            dataTextField: "Nombre",
            dataValueField: "Id",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarGruposBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var cbUMinera = $("#cbUMinera").kendoComboBox({
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            cascadeFrom: 'cbGrupo',
            filter: "contains",
            autoBind: false,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Asset/ListarUMineraBNV?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        ListarTabla();

    });

    function ListarLocacionesBNV() {
        var cbGrupo = $("#cbGrupo").data("kendoComboBox");

        if (cbGrupo.dataItem() === undefined) {
            toastr.warning("Seleccione un grupo.", "Mensaje");
        } else {
            ListarTabla();
        }
    }

    function ListarTabla() {
        const parametros = {
            IdGrupo: $("#cbGrupo").val(),
            IdUMinera: $("#cbUMinera").val()
        };
        var table = $('#tbListado').DataTable();
        table.clear().destroy();
        $('#tbListado').dataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                url: `/Location/ListadoLocacionesBNV`,
                data: parametros,
                type: "GET"
            },
            columns: [
                {
                    data: "NombreUMin",
                    width: "20%"
                },
                {
                    data: "NombreSede",
                    width: "20%"
                },
                {
                    data: "NombreLocacion",
                    width: "30%"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let color, text = '';
                        if (data.Estado == 1) { color = 'success'; text = 'Activo' } else { color = 'danger'; text = 'Inactivo' };
                        let label = `<div class="badge badge-${color}">${text}</div>`
                        return label;
                    },
                    width: "15%",
                    className: 'text-center'
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let boton;
                        if (data.Estado == 1) {
                            boton = `<div role="group" class="mb-3 btn-group-lg btn-group">
                                        <button type="button" id="btnEliminarLocacion" onclick="EliminarLocacionBNV(${data.Id})" class="btn-shadow btn-hover-shine btn btn-danger btn-sm btn-pill pl-3"><i class="fa fa-edit" aria-hidden="true"></i> Desactivar</button>
                                    </div>`
                        } else {
                            boton = `<div role="group" class="mb-3 btn-group-lg btn-group">
                                        <button type="button" id="btnActivarModelo" onclick="ActivarModeloBNV(${data.Id})" class="btn-shadow btn-hover-shine btn btn-success btn-sm btn-pill pl-3"><i class="fa fa-edit" aria-hidden="true"></i> Activar</button>
                                    </div>`
                        }
                        return boton;
                    },
                    width: "15%",
                    className: 'text-center'
                },
            ],
            order: [[3, 'asc'], [0, 'asc'], [1, 'asc'], [2, 'asc']],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });
    }

    function NuevaLocacionBNV() {
        $("#btnNuevaLocacion").removeAttr("data-toggle");
        $("#btnNuevaLocacion").removeAttr("data-target");

        var cbGrupo = $("#cbGrupo").data("kendoComboBox");
        var cbUMinera = $("#cbUMinera").data("kendoComboBox");

        if (cbGrupo.dataItem() === undefined) {
            toastr.warning("Seleccione un grupo.", "Mensaje");
        } else if (cbUMinera.dataItem() === undefined) {
            toastr.warning("Seleccione una unidad minera.", "Mensaje");
        } else {
            $("#lblTitulo").text("Nueva Locación");

            $("#btnNuevaLocacion").attr("data-toggle", "modal");
            $("#btnNuevaLocacion").attr("data-target", "#miModal");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");

            $('#modal-content').empty();
            $('#modal-content').load("/Location/CrearLocacionBNVAct/" + cbUMinera.dataItem().ID_ENTI + "?idGrupo=" + cbGrupo.dataItem().Id + "&mant=1");
        }
    }

    function EliminarLocacionBNV(id) {
            swal({
                    title: `¿Desea desactivar esta locación?`,
                    text: `Se desactivará la locación seleccionada`,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Guardar",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (dismiss) {
                    if (dismiss) {
                        $.ajax({
                            url: "/Location/ModificarEstadoLocacionBNV/" + id + "?idEstado=0&var=" + Math.random(),
                            type: "POST",
                            cache: false,
                            dataType: "text",
                            success: function (resp) {
                                if (resp == 'ERROR') {
                                    toastr.error("Error al desactivar la locación.", "Mensaje");
                                } else {
                                    toastr.success("Se desactivó la locación.", "Información Guardada");
                                    ListarTabla();
                                    swal.close();
                                }
                            }
                        });
                    }
                    else {
                        swal("Cancelado", "Ha cancelado la operación", "error");
                    }
                });
    }

    function ActivarModeloBNV(id) {
        swal({
            title: `¿Desea activar esta locación?`,
            text: `Se activará la locación seleccionada`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Guardar",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (dismiss) {
            if (dismiss) {
                $.ajax({
                    url: "/Location/ModificarEstadoLocacionBNV/" + id + "?idEstado=1&var=" + Math.random(),
                    type: "POST",
                    cache: false,
                    dataType: "text",
                    success: function (resp) {
                        if (resp == 'ERROR') {
                            toastr.error("Error al activar la locación.", "Mensaje");
                        } else {
                            toastr.success("Se activó la locación.", "Información Guardada");
                            ListarTabla();
                            swal.close();
                        }
                    }
                });
            }
            else {
                swal("Cancelado", "Ha cancelado la operación", "error");
            }
        });
    }

    function uploadDone(msg, code, idActivo) { }

</script>
