@{
    ViewBag.Title = "MantAplicacionBNV";
    Layout = null;
}

<div class="form-row">
    <div class="col-md-3">
        <div class="editor-label">
            Grupo
        </div>
        <div class="editor-field">
            <input id="cbGrupo" name="cbGrupo" />
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <button type="button" class="btn btn-hover-shine btn-block btn-primary" id="btnBuscar" onclick="ListarAplicacionBNV()"><i class="fa fa-search"></i> Buscar</button>
    </div>
    <div class="col-md-2">
        <br />
        <button type="button" class="btn btn-hover-shine btn-block btn-primary" id="btnNuevaAplicacion" onclick="NuevaAplicacionBNV()"><i class="fa fa-plus"></i> Nuevo</button>
    </div>
</div>

<div class="table-responsive mt-3">
    <div class="row">
        <div class="col-md-12">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover display responsive no-wrap" style="width: 100%;" id="tbListado">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var cbGrupo = $("#cbGrupo").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [{
                text: "MOVIL",
                value: "4258"
            }],
            filter: "contains",
            dataBound: function (e) {
                if (this.dataSource.total() == 1) {
                    this.select(0);
                }
            }
        }).data("kendoComboBox");

        ListarTabla();

    });

    function ListarAplicacionBNV() {
        var cbGrupo = $("#cbGrupo").data("kendoComboBox");

        if (cbGrupo.dataItem() === undefined) {
            toastr.warning("Seleccione un grupo.", "Mensaje");
        } else {
            ListarTabla();
        }
    }

    function ListarTabla() {
        var table = $('#tbListado').DataTable();
        table.clear().destroy();
        $('#tbListado').dataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                url: `/Maintenance/ListadoAplicacionesBNV`,
                type: "GET"
            },
            columns: [
                {
                    data: "Nombre",
                    width: "50%"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let color, text = '';
                        if (data.Estado == 1) { color = 'success'; text = 'Activo' } else { color = 'danger'; text = 'Inactivo' };
                        let label = `<div class="badge badge-${color}">${text}</div>`
                        return label;
                    },
                    width: "20%",
                    className: 'text-center'
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let boton;
                        if (data.Estado == 1) {
                            boton = `<div role="group" class="mb-3 btn-group-lg btn-group">
                                        <button type="button" id="btnEliminarAplicacion" onclick="EliminarAplicacionBNV(${data.Id})" class="btn-shadow btn-hover-shine btn btn-danger btn-sm btn-pill pl-3"><i class="fa fa-edit" aria-hidden="true"></i> Desactivar</button>
                                    </div>`
                        } else {
                            boton = `<div role="group" class="mb-3 btn-group-lg btn-group">
                                        <button type="button" id="btnActivarAplicacion" onclick="ActivarAplicacionBNV(${data.Id})" class="btn-shadow btn-hover-shine btn btn-success btn-sm btn-pill pl-3"><i class="fa fa-edit" aria-hidden="true"></i> Activar</button>
                                    </div>`
                        }
                        return boton;
                    },
                    width: "30%",
                    className: 'text-center'
                },
            ],
            order: [[1, 'asc'], [0, 'asc']],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });
    }

    function NuevaAplicacionBNV() {
        $("#btnNuevaAplicacion").removeAttr("data-toggle");
        $("#btnNuevaAplicacion").removeAttr("data-target");

        var cbGrupo = $("#cbGrupo").data("kendoComboBox");

        if (cbGrupo.dataItem() === undefined) {
            toastr.warning("Seleccione un grupo.", "Mensaje");
        } else {
            $("#lblTitulo").text("Nueva Aplicación");

            $("#btnNuevaAplicacion").attr("data-toggle", "modal");
            $("#btnNuevaAplicacion").attr("data-target", "#miModal");

            $(".modal-dialog").removeClass("modal-sm");
            $(".modal-dialog").removeClass("modal-lg");

            $('#modal-content').empty();
            $('#modal-content').load('/Maintenance/CreateAplicacion/' + cbGrupo.dataItem().Id + '?mant=1');
        }
    }

    function EliminarAplicacionBNV(id) {
        swal({
            title: `¿Desea desactivar esta aplicación?`,
            text: `Se desactivará la aplicación seleccionada`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Guardar",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (dismiss) {
            if (dismiss) {
                $.ajax({
                    url: "/Maintenance/ModificarEstadoAplicacionBNV/" + id + "?idEstado=0&var=" + Math.random(),
                    type: "POST",
                    cache: false,
                    dataType: "text",
                    success: function (resp) {
                        if (resp == 'ERROR') {
                            toastr.error("Error al desactivar la aplicación.", "Mensaje");
                        } else {
                            toastr.success("Se desactivó la aplicación.", "Información Guardada");
                            ListarTabla();
                            swal.close();
                        }
                    }
                });
            }
            else {
                swal("Cancelado", "Ha cancelado la operación", "error");
            }
        });
    }

    function ActivarAplicacionBNV(id) {
        swal({
            title: `¿Desea activar esta aplicación?`,
            text: `Se activará la aplicación seleccionada`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Guardar",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (dismiss) {
            if (dismiss) {
                $.ajax({
                    url: "/Maintenance/ModificarEstadoOperadorBNV/" + id + "?idEstado=1&var=" + Math.random(),
                    type: "POST",
                    cache: false,
                    dataType: "text",
                    success: function (resp) {
                        if (resp == 'ERROR') {
                            toastr.error("Error al activar la aplicación.", "Mensaje");
                        } else {
                            toastr.success("Se activó la aplicación.", "Información Guardada");
                            ListarTabla();
                            swal.close();
                        }
                    }
                });
            }
            else {
                swal("Cancelado", "Ha cancelado la operación", "error");
            }
        });
    }

    function uploadDone(msg, code, idActivo) { }

</script>