@{
    ViewBag.Title = "AprobarSolicitud";
    Layout = null;
}

@using (Html.BeginForm("EliminarGrupoHorario", "HorarioGruposResolutores", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmDeclararSolicitud", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea eliminar el horario asociado a este Grupo Resolutor?</label>

                                </div>
                            </div>



                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-success btn-sm"> SI </button>
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-danger btn-sm" onclick="NoEliminar()"> NO </button>


                                </div>
                            </div>


                        </div>



                    </form>

                </div>
            </div>
        </div>
    </div>



}




<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script>

    function uploadDoneDelete(msg, code) {
        if (msg == "OK") {


            var title = 'Horario Eliminado';

            swal({
                title: title,
                type: 'success',
                text: 'El horario se eliminó correctamente',
                focusConfirm: false,
                confirmButtonText:
                    'Continuar',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            }, function () {
                //var newurl = location.host + "/#/Home";
                //location = "http://" + location.host + "/#/Home";
                location.reload();
            })

        }

        else {
            swal({
                title: 'Error',
                type: 'info',
                text: 'Error al eliminar',
                focusConfirm: false,
                confirmButtonText:
                    'Continuar',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
        }

    }

    function NoEliminar() {


        swal({
            title: 'El Horario asignado al Grupo Resolutor No se Eliminó',
            type: 'info',
            text: 'El Horario asignado al Grupo Resolutor No se Eliminó',
            focusConfirm: false,
            confirmButtonText:
                'Continuar',
            confirmButtonAriaLabel: 'Thumbs up, great!'

        })

        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>
