@model ERPElectrodata.Models.GrupoHorario
@{
    ViewBag.Title = "GrupoResolutorHorarios";
}
@{
//Layout = null;
}


<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-stopwatch icon-gradient bg-mean-fruit"></i>
            </div>
            <div>
                Horarios para las Áreas Responsables
                <div class="page-title-subheading">En este módulo encontrarás todos los detalles con respecto a los horarios de las Áreas Responsables.</div>
            </div>
        </div>
    </div>
</div>
<div class="form-row" id="divCabecera">
    <div class="col-lg-5" style="width:100%"  >
        @*<div class="mb-2 card">
            <div class="card-header-tab card-header">
                FILTROS
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-5">
                        Fecha Inicio
                        <input type="text" class="form-control" id="dtFechaInicio" name="dtFechaInicio" value="@ViewBag.FechaInicio" />
                    </div>
                    <div class="col-md-5">
                        Fecha Fin
                        <input type="text" class="form-control" id="dtFechaFin" name="dtFechaFin" value="@ViewBag.FechaActual" />
                    </div>
                    <div class="col-md-2">
                        <br /> <button type="button" class="btn btn-primary btn-block" id="btnBuscarPM" onclick="Buscar();">Buscar</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                Horarios
            </div>
            <div class="card-body" style="overflow-y: scroll; height: 650px;">
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="mb-3 card">
                            <div id="headingOne" class="card-header-tab card-header bg-primary" style="height:47px">
                                <i class='fa fa-clipboard-list' style='font-size:24px;color:white'></i>
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                    Asignación
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse1" aria-labelledby="headingOne" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionI">                             
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn" data-toggle="collapse" data-target="#collapseI3" onclick="MostrarFormRegistro()">
                                                        <i class="fas fa-plus mdb-gallery-view-icon"></i> Crear Horario
                                                    </button>
                                                </div>
                                             
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 card">
                            <div class="card-header-tab card-header bg-success text-white" style="height:47px">
                                <i class="fa fa-cogs" style='font-size:16px'></i>
                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse2">
                                    Mantenimiento
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapse2" class="collapse">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="accordionO">
                                            <div class="mb-3 card">
                                                <div class="card-header-tab card-header" style="height:47px">
                                                    <button class="btn" data-toggle="collapse" data-target="#collapseGF">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i> Administrar Horarios
                                                    </button>
                                                </div>
                                                <div data-parent="#accordionO" id="collapseGF" class="collapse">
                                                    <div class="card-body" style="overflow-y: scroll; height: 200px;">
                                                        <div class="col-md-12">
                                                            <table id="tbResolutores" class="table table-bordered table-striped table-responsive-lg">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Código</th>
                                                                        <th>Área Responsable</th>
                                                                 
                                                               
                                 
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                              
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7" style="width:100%">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                INFORMACIÓN DETALLADA
            </div>
            <div class="card-body">
                    <div id="divDetalle" style="width:100%"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //var hoy = new Date();
        var HoraIni = $("#HoraInicio").kendoTimePicker({
            format: "hh:mm tt",
            change: function () {
                HoraInicio = this.value();
            }
        });

        var HoraFin = $("#HoraFin").kendoTimePicker({
            format: "hh:mm tt",
            change: function () {
                FechaFin = this.value();
            }
        });

        var cbResolutor = $("#cbResolutor").kendoComboBox({
            placeholder: "",
            dataTextField: "NAME_QUEU",
            dataValueField: "ID_QUEU",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/HorarioGruposResolutores/ListarResolutores?var=" + Math.random()
                }
            }
        });

        listarHorariosGResolutores();

    });


    function MostrarFormRegistro() {
        $('#divDetalle').empty();
        $('#divDetalle').load('/HorarioGruposResolutores/RegistroHorario/');
      

            $('html, body').animate({scrollTop: $("#divCabecera").offset().top}, 1000);

      
    }

    function MostrarDetalleHorario(id) {
        $('#divDetalle').empty();
        $('#divDetalle').load('/HorarioGruposResolutores/DetalleHorario/' + id);
        $('html, body').animate({ scrollTop: $("#divCabecera").offset().top }, 1000);
    }

    function uploadDone(msg, code) {


        //Todo conforme se procede a mostrar mensaje de satisfacción.
        if (msg == "OK") {
            var title = 'Información Guardada';

            swal({
                title: title,
                type: 'success',
                text: code,
                focusConfirm: false,
                confirmButtonText:
                    'Continue',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            }, function () {

                location.reload();
            })

        }
        //En caso exista disconformidad se muestra mensaje
        else {
            var title = 'Advertencia';


            swal({
                title: title,
                type: 'info',
                text: code,
                focusConfirm: false,
                confirmButtonText:
                    'Continuar',
                confirmButtonAriaLabel: 'Thumbs up, great!'

            })
        }
    }

    function listarHorariosGResolutores() {
        $('#tbResolutores').dataTable().fnDestroy();
        var table = $('#tbResolutores').dataTable({
            "order": [[0, "asc"]],
            responsive: true,         
            "bPaginate": false,
            "searching": true,
            "bInfo": false,
            ajax: {
                "url": "/HorarioGruposResolutores/ListarHGResolutores"
                //"data": function (d) {
                //    d.IdUsuario = $("#IdUsuario").val() == '' ? 0 : $("#IdUsuario").val(),
                //        d.ID_VACA_STAT = $("#ID_VACA_STAT").val() == '' ? 0 : $("#ID_VACA_STAT").val(),
                //        d.HoraIngresoInicio = $("#FechaIngresoInicio").val() == '' ? '' : $("#FechaIngresoInicio").val(),
                //        d.HoraSalidaFin = $("#FechaIngresoFin").val() == '' ? '' : $("#FechaIngresoFin").val()
                //}
            },
            columns: [

                { data: "IdGrupo" },
                {
                    data: null,
                    render: function (data, type, row) {
                        var cadena = "";

                        cadena = '<center><a style="cursor:pointer" onclick="MostrarDetalleHorario(' + data.Id + ')">' + data.GrupoResolutor + ' <i class="fa fa-arrow-circle-right"></i></a> </center>';

                        return cadena;
                    }
                }
             
              
             
            ],
          
        });
    }

    $('#Lunes').click(function () {
        var $this = $(this);
        // $this will contain a reference to the checkbox
        if ($this.is(':checked')) {
            Lunes.value(1);
            //Lunes.enable(true);
            //alert('SI');
        } else {
            // the checkbox was unchecked
            Lunes.value(0);
            /*Lunes.enable(false);*/
        }
    });

    function editarHorario(id) {
        $("#lblTitulo").text("Editar Horario");

        $("#btnEditarHorario" + id).attr("data-style", "expand-right");
        $("#btnEditarHorario" + id).attr("data-toggle", "modal");
        $("#btnEditarHorario" + id).attr("data-target", "#miModal");
        $(".modal-dialog").removeClass("modal-lg");
        //$(".modal-dialog").removeClass("modal-lg");
        //$(".modal-dialog").addClass("modal-lg");
        //$("#miModal").modal("show");
        $('#modal-content').empty();
        $('#modal-content').load('/HorarioGruposResolutores/EditarGrupoHorario/' + id);
    }

    function eliminarHorario(id) {
        $("#lblTitulo").text("Eliminar Horario");

        $("#btnEliminarHorario" + id).attr("data-style", "expand-right");
        $("#btnEliminarHorario" + id).attr("data-toggle", "modal");
        $("#btnEliminarHorario" + id).attr("data-target", "#miModal");
        $(".modal-dialog").removeClass("modal-lg");
        ////$(".modal-dialog").addClass("modal-xs");
        //$("#miModal").modal("show");
        $('#modal-content').empty();
        $('#modal-content').load('/HorarioGruposResolutores/EliminarGrupoHorario/' + id);
    }



</script>
