@{
//Layout = null;
}

@*<link href="~/Content/ITMS/styles.css" rel="stylesheet" />*@


<script src="~/Scripts/highcharts/highcharts.js"></script>
<script src="~/Scripts/highcharts/highcharts-more.js"></script>
<script src="~/Scripts/highcharts/modules/solid-gauge.src.js"></script>
<script src="~/Scripts/highcharts/modules/exporting.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-file icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Reportes
                <div class="page-title-subheading">
                    Reporte de Gestores Clave
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                <div class="card-title">Opciones</div>
                <form class="">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <button id="btnReporteUsuario" class="mt-1 btn btn-primary btn-block block-element-btn-example-1" type="button">Por Usuario</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <button id="btnReporteCategoria" class="mt-1 btn btn-primary btn-block block-element-btn-example-1" type="button">Por Categoria</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <button id="btnReporteMensual" class="mt-1 btn btn-primary btn-block block-element-btn-example-1" type="button">Reporte Mensual</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="main-card mb-3 card element-block-example">
            <div id="divCuerpo">
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-10">
            <div class="main-card mb-3 card element-block-example">
                <div class="card-body">
                    <div class="card-title">Opciones</div>
                    <form class="">
                        <div id="divCuerpo">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

@*<div style="float:left; width:11%;">
        <div class="titleForm"><div class="title">Opciones</div></div>
        <div class="bodyForm">
            <div class="inBodyForm">
                <div id="divOpciones" style="padding:5px;" background-color:white">
                    <center>
                        <button id="btnReporteUsuario" class="btn btn-block btn-sm btn-primary">Por Usuario</button>
                        <button id="btnReporteCategoria" class="btn btn-block btn-sm btn-primary">Por Categoria</button>
                        <button id="btnReporteMensual" class="btn btn-block btn-sm btn-primary">Reporte Mensual</button>

                    </center>
                </div>
            </div>

        </div>
    </div>*@

@*<div style="float:right; width:88%;">

        <div class="bodyForm">
            <div class="inBodyForm">
                <div id="divCuerpo">
                </div>
            </div>
        </div>
    </div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@


<script type="text/javascript">
    $(document).ready(function () {
        $("#divCuerpo").load("/KnowledgeManagement/ViewLessonsLearnedByUserReport?var=" + Math.random());

        $("#btnReporteUsuario").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('LECCIONES POR USUARIO');
            $("#divCuerpo").load("/KnowledgeManagement/ViewLessonsLearnedByUserReport?var=" + Math.random());
        });

        $("#btnReporteCategoria").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('LECCIONES POR CATEGORIA');
            $("#divCuerpo").load("/KnowledgeManagement/ViewLessonsByCategoryReport?var=" + Math.random());
        });

        $("#btnReporteMensual").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('LECCIONES MENSUALES');
            $("#divCuerpo").load("/KnowledgeManagement/ViewLessonsMensual?var=" + Math.random());
        });
    });


</script>