@{
    ViewBag.Title = "TrayThemes";
    //Layout = null;
}

<style>

    .k-maskedtextbox {
        width: 100%;
    }
</style>

<link href="~/Content/sweet-alert.css" rel="stylesheet" />
<script src="~/Scripts/sweet-alert.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                GESTIÓN DEL CONOCIMIENTO
                <div class="page-title-subheading">
                    Lista de Temas.
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Hidden("hdCuenta", (int)ViewBag.idCuenta))
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                <div class="card-title">Buscar Lecciones Aprendidas</div>
                <form class="">
                    <input type="hidden" id="idCalificacion" name="idCalificacion" readonly="readonly" />
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="txtBuscaNomTema" class="">Nombre </label>
                                <input type="text" id="txtBuscaNomTema" onkeypress="return soloLetras(event)">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbUnidadNegocio" for="cbUnidadNegocio" class="">Unidad de Negocio </label>
                                <input id="Nivel1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbMacroservicio" for="cbMacroservicio" class="">Macroservicio </label>
                                <input id="Nvel2">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbServicio" for="cbServicio" class="">Servicio </label>
                                <input id="Nivel3">
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbIncidenteRequerimiento" for="cbIncidenteRequerimiento" class="">Incidente/Requerimiento </label>
                                <input id="Nivel4">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="dtFechaInicioCreacion" class="">Fecha Creación Inicio </label>
                                <input id="dtFechaInicioCreacion">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="dtFechaFinCreacion" class="">Fecha Creación Fin </label>
                                <input id="dtFechaFinCreacion">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="Estado" class="">Estado </label>
                                <input id="cboBuscaEstadoTema">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="FechaBajaInicio" class="">Fecha Baja Inicio </label>
                                <input type="text" id="dtFechaBajaInicio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="FechaFinCreacion" class="">Fecha Baja Fin </label>
                                <input id="dtFechaBajaFin">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="" class=""> &nbsp; </label>
                                <button id="NuevoTema" class="mb-2 mr-2 btn-pill btn btn-primary btn-block" type="button">Nuevo</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label id="" for="" class=""> &nbsp; </label>
                            <button id="btnBuscartemas" class="mb-2 mr-2 btn-pill btn btn-primary btn-block" type="button">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*<br /><br /><br />

    <div id="GridTema" class="table-hover"></div>*@

</div>

<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                    <input type="hidden" id="idCalificacion" name="idCalificacion" readonly="readonly" />
                    <div class="form-row">
                        <div class="col-md-12">
                                <div id="GridTema" class="table-hover"></div>
                            
                        </div>

                    </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="modal-NewTheme" data-backdrop="static" data-keyboard="false">
</div>
<script>
    $(document).ready(function () {

        $("#txtBuscaNomTema").kendoMaskedTextBox({
            mask: ""
        });

        var theme = {
            Nomtema: $("#txtBuscaNomTema").val().toUpperCase(),
            idCategoria: $("#cboBuscaCategoria").val(),
            FechaCreacionInicio: $("#dtFechaInicioCreacion").val(),
            FechaCreacionFin: $("#dtFechaFinCreacion").val(),
            Vigtema: $("#cboBuscaEstadoTema").val(),
            FechaBajaInicio: $("#dtFechaBajaInicio").val(),
            FechaBajaFin: $("#dtFechaBajaFin").val(),
        };
        var param = {
            objThemeModel: theme,
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: "/KnowledgeManagement/SearchInitialThemes",
            data: JSON.stringify(param),
            data: JSON.stringify(param),
            datatype: "json",
            type: 'GET',
            cache: false,
            beforeSend: function () {
                //  swal({ title: "Obteniendo resultados de su búsqueda, por favor espere.", text: "Bandeja de Temas", showConfirmButton: false, imageUrl: "../../images/search_abs.gif" })
            },
            success: function (data) {
                $("#GridTema").kendoGrid({
                    dataSource: {
                        pageSize: 8,
                        data: data,
                    },
                    height: 350,
                    scrollable: true,
                    sortable: true,
                    filterable: true,
                    pageable: {
                        input: true,
                        numeric: false
                    },
                    columns: [
                        { hidden: true, field: "IdTema", title: "Codigo", width: "100px" },
                        { hidden: true, field: "IdCuentaCategoryTema", title: "IdCuentaCategoryTema", width: "100px" },
                        { field: "Nomtema", title: "Nombre", width: "140px" },
                        { field: "Usuario", title: "Usuario", width: "140px" },
                        { field: "DateStart", title: "Fecha Creación", width: "140px" },
                        { field: "VigTema", title: "Estado", width: "140px", template: "#if(VigTema == true) { #" + "Activo" + "# } else { #" + "Inactivo" + "# } #" },
                        { field: "NAM_CATE", title: "Categoría", width: "140px" },
                        { title: "", width: "70px", template: '<button  role="button" id="btn#= IdTema #' + '#= IdCuentaCategoryTema #" class="k-button k-button-icontext k-grid-Ver" onclick="onclickDetalleTema(#= IdTema #,#= IdCuentaCategoryTema #)">Ver</button>' },
                        { title: "", width: "70px", template: '<button  role="button" id="btnUpdate#= IdTema #' + '#= IdCuentaCategoryTema #" class="k-button k-button-icontext k-grid-Modificar" onclick="onclickUpdateTema(#= IdTema #,#= IdCuentaCategoryTema #)">Modificar</button>' }]
                }).data("kendoGrid");
                $("#GridTema").data("kendoGrid").dataSource.page(1);
                $("#GridTema").data("kendoGrid").dataSource.sort({ field: "IdTema", dir: "desc" });

            },
            error: function () {

            }
        });
    });

    function showViewTheme(e) {

        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var iTheme = dataItem.IdTema;
        var IdCuentaCategoryTema = dataItem.IdCuentaCategoryTema;

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: "/KnowledgeManagement/_ViewTopic",
            data: { iTheme: iTheme, IdCuentaCatTema: IdCuentaCategoryTema },
            type: 'GET',
            cache: false,
            beforeSend: function () {
                $("#modal-NewTheme").empty();
                $("#modal-NewTheme").modal('show');
            },
            success: function (data) {

                $("#modal-NewTheme").html(data);
            },
            error: function () {

            }
        });

    }

    function onclickDetalleTema(IdTema, IdCuentaCategoryTema) {

        $("#lblTitulo").text("Módulo de Gestión del Conocimiento - Ver Tema");

        $("#btn" + IdTema + IdCuentaCategoryTema).attr("data-style", "expand-right");
        $("#btn" + IdTema + IdCuentaCategoryTema).attr("data-toggle", "modal");
        $("#btn" + IdTema + IdCuentaCategoryTema).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/KnowledgeManagement/_ViewTopic?iTheme=' + IdTema + '&IdCuentaCatTema=' + IdCuentaCategoryTema);
    }

    function showUpdateTheme(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var iTheme = dataItem.IdTema;
        var IdCuentaCategoryTema = dataItem.IdCuentaCategoryTema;
        $.ajax({
            url: "/KnowledgeManagement/_ModifyTheme",
            data: { iTheme: iTheme, IdCuentaCatTema: IdCuentaCategoryTema },
            type: 'GET',
            cache: false,
            beforeSend: function () {
                $("#modal-NewTheme").empty();
                $("#modal-NewTheme").modal('show');
            },
            success: function (data) {

                $("#modal-NewTheme").html(data);
            },
            error: function () {

            }
        });
    }

    function onclickUpdateTema(IdTema, IdCuentaCategoryTema) {

        $("#lblTitulo").text("Módulo de Gestión del Conocimiento - Modificar Tema");

        $("#btnUpdate" + IdTema + IdCuentaCategoryTema).attr("data-style", "expand-right");
        $("#btnUpdate" + IdTema + IdCuentaCategoryTema).attr("data-toggle", "modal");
        $("#btnUpdate" + IdTema + IdCuentaCategoryTema).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/KnowledgeManagement/_ModifyTheme?iTheme=' + IdTema + '&IdCuentaCatTema=' + IdCuentaCategoryTema);
    }

</script>

<script>
    $(document).ready(function () {

        $("#cboBuscaCategoria").kendoComboBox({
            autoBind: false,
            filter: "contains",
            //index: 2,
            //placeholder: "Select Category...",
            dataTextField: "NAM_CATE",
            dataValueField: "ID_CATE",
            template: '<div style="font-weight:bold;">${data.NAM_CATE_1}</div>' +
                '<div style="margin-left:5px;" >  ${data.NAM_CATE_2} </div>' +
                '<div style="margin-left:10px;">${data.NAM_CATE_3}</div>' +
                '<div style="margin-left:10px;">${data.NAM_CATE_4}</div>',
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/CategoryTicket/List"
                }
            }
        }).data("kendoComboBox");

        id = $('#hdCuenta').val();
        /*carga de Combos*/
        var Nivel1 = $("#Nivel1").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "NAM_CATE",
            filter: "contains",
            dataValueField: "ID_CATE",
            dataBound: function (e) {

            },
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");
        var NivelAccion2 = $("#Nvel2").kendoComboBox({}).data("kendoComboBox");
        var NivelAccion3 = $("#Nivel3").kendoComboBox({}).data("kendoComboBox");
        var NivelAccion4 = $("#Nivel4").kendoComboBox({}).data("kendoComboBox");
        var IdTema = $("#cboBusquedatema").kendoComboBox({}).data("kendoComboBox");

        Nivel1.bind("change", function (e) {
            if (Nivel1.dataItem()) {
                $('#Nivel1').attr('value', Nivel1.dataItem().ID_CATE);
                cargarCombosAnidados(Nivel1.dataItem().ID_CATE, id);
                limpiarCategorias();
            }
            else {
                $('#Nivel1').attr('value', 0);
            }
        });

        /*################################################################## GCR161203 #######################################################################################*/

        function cargarCombosAnidados(idcatNivel1, id) {
            var Nvel2 = $("#Nvel2").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategoryLessonLearned?ID_ACCO=" + id + "&ID_CATE=" + idcatNivel1 + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            Nvel2.bind("change", function (e) {
                if (Nvel2.dataItem()) {
                    $('#Nvel2').attr('value', Nvel2.dataItem().ID_CATE);
                }
                else {
                    $('#Nvel2').attr('value', 0);
                }
            });

            var Nivel3 = $("#Nivel3").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "Nvel2",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            Nivel3.bind("change", function (e) {
                if (Nivel3.dataItem()) {
                    $('#Nivel3').attr('value', Nivel3.dataItem().ID_CATE);
                    cargarTemas(id, Nivel3.dataItem().ID_CATE);
                }
                else {
                    $('#Nivel3').attr('value', 0);
                }
            });

            var Nivel4 = $("#Nivel4").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "NAM_CATE",
                filter: "contains",
                cascadeFrom: "Nivel3",
                dataValueField: "ID_CATE",
                dataSource: {
                    serverFiltering: true,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/Administrator/ListCategory?ID_ACCO=" + id + "&var=" + Math.random()
                    }
                }
            }).data("kendoComboBox");
            Nivel4.bind("change", function (e) {

                if (Nivel4.dataItem()) {
                    $('#Nivel4').attr('value', Nivel4.dataItem().ID_CATE);
                    cargarTemas(id, Nivel4.dataItem().ID_CATE);
                }
                else {
                    $('#Nivel4').attr('value', 0);
                }
            });
            /*Fin*/
        }

        function cargarTemas(id, idcatNivel1) {
            var IdTema = $("#cboBusquedatema").kendoComboBox({
                autoBind: false,
                index: -1,
                dataTextField: "Nomtema",
                filter: "contains",
                dataValueField: "IdTema",
                dataSource: {
                    serverFiltering: false,
                    schema: {
                        data: "Data",
                        total: "Count"
                    },
                    transport: {
                        read: "/KnowledgeManagement/ListTemaLessonLearned?ID_ACCO=" + id + "&ID_CATE=" + idcatNivel1
                    }
                }
            }).data("kendoComboBox");
        }

        function limpiarCategorias() {
            $("#Nvel2").data("kendoComboBox").value("");
            $("#Nivel3").data("kendoComboBox").value("");
            $("#Nivel4").data("kendoComboBox").value("");
        }

        $("#cboBuscaEstadoTema").kendoComboBox({
            autoBind: false,
            index: -1,
            dataTextField: "Nam_Vig",
            filter: "contains",
            dataValueField: "VigTema",
            dataSource: {
                data: [{ "VigTema": "1", "Nam_Vig": "Activo" }, { "VigTema": "2", "Nam_Vig": "Inactivo" }]
            }
        }).data("kendoComboBox");

        var FechaCreacionInicio = $("#dtFechaInicioCreacion").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaCreacionFin = $("#dtFechaFinCreacion").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaBajaInicio = $("#dtFechaBajaInicio").kendoDateTimePicker().data("kendoDateTimePicker");
        var FechaBajaFin = $("#dtFechaBajaFin").kendoDateTimePicker().data("kendoDateTimePicker");

    });

    $('#NuevoTema').click(function () {

        $("#lblTitulo").text("Módulo de Gestión del Conocimiento - Nuevo Tema");

        $("#NuevoTema").attr("data-style", "expand-right");
        $("#NuevoTema").attr("data-toggle", "modal");
        $("#NuevoTema").attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/KnowledgeManagement/_NewTheme');

    });


    function onclickDetalle1() {


    }

    $("#btnBuscartemas").click(function () {
        listarTemas();
    });
    function listarTemas() {
        
        var theme = {
            Nomtema: $("#txtBuscaNomTema").val().toUpperCase(),
            idCategoria: $("#cboBuscaCategoria").val(),
            FechaCreacionInicio: $("#dtFechaInicioCreacion").val(),
            FechaCreacionFin: $("#dtFechaFinCreacion").val(),
            Vigtema: $("#cboBuscaEstadoTema").val(),
            FechaBajaInicio: $("#dtFechaBajaInicio").val(),
            FechaBajaFin: $("#dtFechaBajaFin").val(),
        };
        var param = {
            objThemeModel: theme,
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            url: "/KnowledgeManagement/SearchThemesByParametres",
            data: JSON.stringify(param),
            datatype: "json",
            type: 'POST',
            cache: false,
            beforeSend: function () {
                swal({ title: "Obteniendo resultados de su búsqueda, por favor espere.", text: "Bandeja de Temas", showConfirmButton: false, imageUrl: "../../images/search_abs.gif" })
            },
            success: function (data) {

                if (data != undefined && data.length > 0) {
                    var gridBandejaTemas = $("#GridTema").data("kendoGrid");
                    gridBandejaTemas.dataSource.data(data);
                    gridBandejaTemas.dataSource.page(1);
                    gridBandejaTemas.dataSource.sort({ field: "IdTema", dir: "desc" });
                    swal.close();
                } else {
                    BusquedaFallida();
                }
            },
            error: function () {
                BusquedaFallida();
            }
        });
    }



    function BusquedaFallida() {
        $("#GridTema").data("kendoGrid").dataSource.data([]);
        swal("¡No se encontraron resultados para su búsqueda!", "Bandeja de Temas", "info");
    }


</script>
@*<script src="~/Scripts/kendo/2013.3.1119/kendo.all.min.js"></script>*@
<script src="@Url.Content("~/Scripts/Validadores.js")" type="text/javascript"></script>


