@{
    ViewBag.Title = "TrayLessonsLearned";
    //Layout = null;
}

    @*<link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />*@


@*<link href="~/Content/fonts/font-awesome.min.css" rel="stylesheet" />*@

<link href="~/Content/ITMS/starrr.css" rel="stylesheet" />
<script src="~/Scripts/Itms/Plugins/starrr.js"></script>
<link href="~/Content/sweet-alert.css" rel="stylesheet" />
<script src="~/Scripts/sweet-alert.js"></script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Lecciones Aprendidas
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Hidden("hdCuenta", (int)ViewBag.idCuenta))
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card element-block-example">
            <div class="card-body">
                <div class="card-title">Buscar Lecciones Aprendidas</div>
                <form class="">
                    <input type="hidden" id="idCalificacion" name="idCalificacion" readonly="readonly" />
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbUnidadNegocio" for="cbUnidadNegocio" class="">Unidad de Negocio </label>
                                <input id="Nivel1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbMacroservicio" for="cbMacroservicio" class="">Macroservicio </label>
                                <input id="Nvel2">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbServicio" for="cbServicio" class="">Servicio </label>
                                <input id="Nivel3">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="cbIncidenteRequerimiento" for="cbIncidenteRequerimiento" class="">Incidente/Requerimiento </label>
                                <input id="Nivel4">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="cboBusquedatema" class="">Tema </label>
                                <input id="cboBusquedatema">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="cboBusquedaTipoTicket" class="">Tipo de Ticket </label>
                                <input id="cboBusquedaTipoTicket">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="dtFechaCreacionInicio" class="">Fecha Creación Inicio </label>
                                <input id="dtFechaCreacionInicio">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="dtFechaCreacionFin" class="">Fecha Creación Fin </label>
                                <input id="dtFechaCreacionFin">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="txtusquedaNroRevisiones" class="">Nro Revisiones </label>
                                <input id="txtusquedaNroRevisiones" placeholder="Nro. Revisiones">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="cboEstadoLeccionAprendida" class="">Estado </label>
                                <input id="cboEstadoLeccionAprendida">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label id="" for="Nombre" class="">Puntuación </label>
                                <div class="fg-line">
                                    <div>
                                        <div class="starrr stars">
                                        <a href="#" class="fa-star fa" style="font-size:20px"></a>
                                        <a href="#" class="fa-star fa" style="font-size:20px"></a>
                                        <a href="#" class="fa fa-star" style="font-size:20px"></a>
                                        <a href="#" class="fa fa-star" style="font-size:20px"></a>
                                        <a href="#" class="fa-star-o fa" style="font-size:20px"></a>

                                        </div>
                                        <div class=""></div>
                                        Le otorgó <span class="stars-count">0</span> estrellas de calificación
                                    </div>
                                    
                                    <script>

                                        $(document).ready(function () {

                                            $(".stars").starrr();

                                            $('.stars-existing').starrr({
                                                rating: 4
                                            });

                                            $('.stars').on('starrr:change', function (e, value) {

                                                $('.stars-count').html(value);
                                                $('#idCalificacion').attr('value', value);
                                            });

                                            $('.stars-existing').on('starrr:change', function (e, value) {
                                                $('.stars-count-existing').html(value);
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button id="btnBuscarLeccionesAprendidas" type="button" class="mt-1 btn btn-primary btn-block block-element-btn-example-1"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="GridLeccionesAprendidas" class="contentView">
</div>

<div id="pagerLeccionesAprendidas" class="contentViewPager">
</div>


<script type="text/x-kendo-tmpl" id="tmplLeccionAprendida">
    <a href="${Ruta}${IdLeccioNAprendida}" class="text-decoration-none" target="_blank">
        <div class="card-body py-3 btn-shadow btn-outline-focus">
            <div class="row no-gutters align-items-center" style="text-align:center">
                <div class="col-md-3">
                    <div class="small">Creado por: ${Usuario}</div>
                    <div class="small" title="${Titulo}">Título: ${Titulo}</div>
                    <div class="small">Categoría: ${nombreNivel4}</div>
                    <div class="small">Tipo Ticket: ${nombreTipoTicket}</div>
                </div>
                <div class="col-md-2">
                    <div class="small">Creado: ${fechaCreacion}</div>
                    <div class="small">Revisiones: ${NroRevisiones}</div>
                </div>
                <div class="col-md-2">
                    <div class="small">Ultima Actualización: ${fechaActualizacion}</div>
                </div>
                <div class="col-md-2">
                    <div class="small">Estado: ${DescripcionEstadoAprobacion}</div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2" style="background-color: ${ColorEstado}">
                    Aprobación
                    <div class="medium">${Aprobador} %</div>
                </div>
            </div>
        </div>
    </a>
</script>
<script type="text/javascript">

    $("#txtusquedaNroRevisiones").kendoNumericTextBox({
        format: "#.#",
        decimals: 0,
        min: 0,
        value: 0
    });

    var leccionAprendida = {
        Nivel1: $("#Nivel1").val(),
        Nvel2: $("#Nvel2").val(),
        Nivel3: $("#Nivel3").val(),
        Nivel4: $("#Nivel4").val(),
        IdTema: $("#cboBusquedatema").val(),
        NroRevisiones: $("#txtusquedaNroRevisiones").val(),
        EstadoAprobacion: $("#cboEstadoLeccionAprendida").val(),
        Puntuacion: $("#idCalificacion").val(),
        FechaCreacionInicio: $("#dtFechaCreacionInicio").val(),
        FechaCreacionFin: $("#dtFechaCreacionFin").val(),
        TipoTicket: $("#cboBusquedaTipoTicket").val(),
    };
    var param = {
        objLessonLearned: leccionAprendida,
        palabraClave: $("#txtBusquedapalabraClave").val(),
    };

    $("#pagerLeccionesAprendidas").empty();
    $("#GridLeccionesAprendidas").empty();

    if ($("#GridLeccionesAprendidas").data("kendoListView")) {
        $("#pagerLeccionesAprendidas").data("kendoPager").destroy();
        $("#GridLeccionesAprendidas").data("kendoListView").destroy();
    }

    $.ajax({
        contentType: 'application/json; charset=utf-8',
        url: "/KnowledgeManagement/BuscarLeccionesAprendidas",
        data: JSON.stringify(param),
        datatype: "json",
        type: 'POST',
        cache: false,
        success: function (dataSource) {

            if (dataSource != undefined && dataSource.length > 0) {
                $("#pagerLeccionesAprendidas").empty();
                $("#GridLeccionesAprendidas").empty();

                if ($("#GridLeccionesAprendidas").data("kendoListView")) {
                    $("#pagerLeccionesAprendidas").data("kendoPager").destroy();
                    $("#GridLeccionesAprendidas").data("kendoListView").destroy();
                }

                var dataSource = new kendo.data.DataSource({
                    data: dataSource,
                    pageSize: 15
                });

                $("#pagerLeccionesAprendidas").kendoPager({
                    dataSource: dataSource,
                    pageSizes: [15, 30, 65],
                    refresh: true
                });

                $("#GridLeccionesAprendidas").kendoListView({
                    dataSource: dataSource,
                    template: kendo.template($("#tmplLeccionAprendida").html())
                });
                swal.close();
            } /*else {
                BusquedaFallida();
            }*/
        },
        error: function () {
            // BusquedaFallida();
        }
    });
</script>

<script src="~/Scripts/Itms/LeccionAprendida/TryLessonLearned.js" type="text/javascript"></script>





