@{
    Layout = null;
}

<!DOCTYPE html>
<style>

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConcursoValores</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/UtilElectrodata.js"></script>
    <link href="~/Content/UtilElectrodata.css" rel="stylesheet" />

    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/ui-select-master/dist/select.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2014.3.1119/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.3.1119/kendo.electrodata.min.css" rel="stylesheet" />
    
</head>
<body>
    <div style="text-align:center; font-family:Calibri; background:url('/Content/Concurso/encabezado.png') no-repeat center center; background-size:100% 100%">
        <div style="text-align:center; height:200px; font-size:36px; font-weight:bold; color:purple">
            <div><br />&nbsp;</div>
            <div style="color:red; font-size:medium; font-style:italic;"><br />&nbsp;</div>
        </div>
        <div id="id1" style="float:left; width:25%; height:350px; background:url('/Content/Concurso/Chris palma.jpg') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style ="float:left; width:25%; height:350px; background:url('/Content/Concurso/cpalma.png') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div id="id2" style="float:left; width:25%; height:350px;  background:url('/Content/Concurso/Adolfo Hernandez.jpg') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style="float:left; width:25%; height:350px; background:url('/Content/Concurso/cadolfohernandez.png') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>

        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style="float:left; width:25%; height:350px; background:url('/Content/Concurso/cjhonrojas.png') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div id="id3" style="float:left; width:25%; height:350px; background:url('/Content/Concurso/jhon rojas.png') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style="float:left; width:25%; height:350px;  background:url('/Content/Concurso/cbonnie.png') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div id="id4" style="float:left; width:25%; height:350px; background:url('/Content/Concurso/Bonnie.JPG') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div id="id5" style="float:left; width:25%; height:350px; background:url('/Content/Concurso/Rosita.PNG') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style="float:left; width:25%; height:350px; background:url('/Content/Concurso/crosamaria.png') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div id="id6" style="float:left; width:25%; height:350px;  background:url('/Content/Concurso/jose ibañez1.PNG') no-repeat center center; background-size:100% 100%">
            <div>&nbsp;</div>
        </div>
        @*<div style="float:left; width:1%; height:350px;">&nbsp;&nbsp;</div>*@
        <div style="float:left; width:25%; height:350px; background:url('/Content/Concurso/cjoseibañez.png') no-repeat center center; background-size:100% 100%;">
            <div>&nbsp;</div>
        </div>
    </div>
    <div id="divpopupmodal"></div>
</body>
</html>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        function popup() {
            var title = 'Concurso Vive los Valores';
            var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
                "<div style='padding:10px 0px 10px 0px;'>Gracias por participar.</div>" +
                "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
                "<button id='btnContinuee' class='k-button'>Continue</button>" +
                       "</div></div>";

            winPopUpModal1(title, body, 400, 150);

            $("#btnContinuee").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                    window.open("https://www.facebook.com/Grupo-e-data-767481443318728/?fref=ts", "_self");
                });
            });
        }

        $("#id1").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/1",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });
        $("#id2").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/2",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });
        $("#id3").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/3",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });
        $("#id4").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/4",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });
        $("#id5").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/5",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });
        $("#id6").click(function (e) {
            $.ajax({
                url: "/Concurso/Registrar/6",
                data: "var=" + Math.random(),
                type: "GET",
                dataType: "text",
                success: function (source) {
                    popup();
                },
                error: function (dato) {
                    alert("ERROR");
                }
            });
        });

        function winPopUpModal1(title, contHtml, ancho, alto) {
            var altobkg = 0;
            var top = 0;
            altpan = $(window).height(); // devuelve la altura del viewport del navegador
            altobkg = $(document).height(); // devuelve la altura del documento HTML
            altbar = $(window).scrollTop(); // devuelve la posición vertical actual de la barra de scroll
            top = altbar + (altpan / 2);
            $("#divpopupmodal").prepend("<div id='bkg' class='backgroundcad' style='z-index: 999; display: visibility; height: " + altobkg + "px;'>" +
                "<div id='dlg' class='modalcad' style='z-index: 999; display: none; top: " + a_entero(top) + "px; width: " + a_entero(ancho) + "px; margin-left: -" + a_entero(ancho) / 2 + "px; height: " + a_entero(alto) + "px; margin-top: -" + a_entero(alto) / 2 + "px;'>" +
                "<div id='titulomodal' class='titlemodalcad'>" +
                "<div id='closebtnmodal' class='closebtnmodalcad' title='Cerrar'>X</div>" +
                "</div><div id='contenidomodal' class='contenidomodal'></div></div></div>");

            if (document.getElementById('bkg').style.visibility == 'hidden') {
                document.getElementById('bkg').style.visibility = '';
                $("#bkg").hide();
            }
            if (document.getElementById('dlg').style.visibility == 'hidden') {
                document.getElementById('dlg').style.visibility = '';
                $("#dlg").hide();
            }
            $("#bkg").fadeIn(300, "linear", function () {
                $("#dlg").show(200, "swing");
                $("#titulomodal").prepend(title)
                $("#contenidomodal").prepend('<div style="text-align:justify">' + contHtml + '</div>')
            });
            $("#closebtnmodal").click(function () {
                $("#dlg").hide('200', "swing", function () {
                    $("#bkg").fadeOut("300");
                    window.open("https://www.facebook.com/Grupo-e-data-767481443318728/?fref=ts", "_self");
                });
            });
        }

    });
</script>
