@model  ERPElectrodata.Models.SolicitudPersonal

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
@*<script type="text/javascript" src="js/jquery.js"></script>*@

@*<div class="box">*@


@using (Html.BeginForm("AprobarSolicitud", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmAprobarSolicitud", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblAprobarAprobacion" for="lblAprobarAprobacion" class="">¿Esta seguro que desea aprobar la solicitud?</label>

                                </div>
                            </div>



                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="button" id="btnNoAprobarSolicitud" class="btn-shadow btn btn-success btn-sm" onclick="btnAprobarSolicitud()"> NO </button>
                                    <button type="submit" id="btnSiAprobarSolicitud" class="btn-shadow btn btn-danger btn-sm"> SI </button>

                                </div>
                            </div>


                        </div>



                    </form>
                    @*<div class="divFondoUno">

                            <div style="display:inline-block; float:right; padding:2px 0px 0px 0px;">
                                <div style=" float:right; padding:0px 0px 0px 0px; ">
                                    <button id="submit" class="k-button">Crear Candidato</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



}
<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script>

    function uploadDone7(msg, code) {
        if (msg == "ConfirmoAproboSolicitud") {

            toastr.success("Se aprobo correctamente la solicitud.", "Solicitud Aprobada");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show");//'#modal-content
            $("[data-dismiss=modal]").trigger({ type: "click" });

            ObtenerDatosSolicitud();
        }
        else {
            toastr.warning("Error.", "Error al aprobrar.");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show")
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    }

    function btnAprobarSolicitud() {
        toastr.warning("Se cancelo la aprobacíon de la solicitud correctamente.", "Solicitud Aprobada Cancelada.");
        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>
