@model  ERPElectrodata.Models.Candidato

@{
    Layout = null;
}

<style>
    b {
        color: #F83C50;
    }

    #Estudios1 {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    #Observacion1 {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    #ComentarioJefe {
        width: 236px;
        height: 52px;
        resize: none;
        border-radius: .25rem;
    }

    .k-maskedtextbox {
        width: 100%;
    }
</style>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
@*<script type="text/javascript" src="js/jquery.js"></script>*@

@*<div class="box">*@


@using (Html.BeginForm("EliminarCandidato", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEliminarCandidato", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12" >
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea eliminar este candidato?</label>

                                </div>
                            </div>



                        </div>
                        <div class="form-row">
                            
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-success btn-sm" onclick="NoEliminar()"> NO </button>
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-danger btn-sm"> SI </button>

                                </div>
                            </div>


                        </div>
                        
                       

                    </form>
                    @*<div class="divFondoUno">

                            <div style="display:inline-block; float:right; padding:2px 0px 0px 0px;">
                                <div style=" float:right; padding:0px 0px 0px 0px; ">
                                    <button id="submit" class="k-button">Crear Candidato</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



}




<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>
<script>

    function uploadDone(msg, code) {
        if (msg == "OK") {

            toastr.warning("El Candidato se eliminó con éxito.", "Candidato Eliminado");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show");//'#modal-content
            $("[data-dismiss=modal]").trigger({ type: "click" });
            $('#tbCandidatosAgregados').DataTable().ajax.reload();

        }

        else {
            toastr.success("Error.", "Error Actualizada");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show")
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }

    }

    function NoEliminar() {
        toastr.success("El Candidato no se elimino.", "Candidato no Eliminado");
        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>