@model  ERPElectrodata.Models.SolicitudPersonal

@{
    Layout = null;
}

<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
@*<script type="text/javascript" src="js/jquery.js"></script>*@

@*<div class="box">*@


@using (Html.BeginForm("EnviarCorreoCvCargado", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEnviarMensaje", target = "upload_target" }))
{
    @Html.ValidationSummary(true)


    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro que desea enviar un mensaje al Solicitante indicando que ya se cargaron Cv's?</label>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblCorreo" for="lblCorreo" class="">Ingrese el correo : </label>
                                    <input type="email" id="inpCorreo" name="inpCorreo">
                                </div>
                            </div>



                        </div>
                        <div class="form-row">

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-success btn-sm" onclick="NoEliminar1()"> NO </button>
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-danger btn-sm"> SI </button>

                                </div>
                            </div>


                        </div>



                    </form>
                    @*<div class="divFondoUno">

                            <div style="display:inline-block; float:right; padding:2px 0px 0px 0px;">
                                <div style=" float:right; padding:0px 0px 0px 0px; ">
                                    <button id="submit" class="k-button">Crear Candidato</button>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>



}
<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>

<script>

    $(document).ready(function () {

        $("#inpCorreo").kendoMaskedTextBox({
            mask: ""
        });

    });

    function uploadDone3(msg, code) {
        if (msg == "OK") {

            toastr.success("Se envio el mensaje con éxito.", "Mensaje Enviado");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show");//'#modal-content
            $("[data-dismiss=modal]").trigger({ type: "click" });
            

        }
        else if (msg == "NoCandidatos") {
            toastr.warning("No hay ningun candidato registrado.", "No se envió el mensaje");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show");//'#modal-content
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }

        else {
            toastr.warning("Error.", "Error Actualizada");

            //$(".modal-backdrop").remove();
            //$("#miModal").removeClass("show")
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }

    }

    function NoEliminar1() {
        toastr.warning("El mensaje no se envio pero puede enviarlo mas tarde.", "Mensaje No Enviado");
        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>
