@model  ERPElectrodata.Models.SolicitudPersonal
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Selección de Personal
                <div class="page-title-subheading">
                    En este módulo puedes solicitar y revisar el avance del proceso de Selección de uno o más candidatos.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    @using (Html.BeginForm("CrearSolicitud", "SeleccionPersonal", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmSeleccionSolicitudPersonal", target = "upload_target" }))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-title">Registrar Solicitud de Personal</div>
                        <form class="">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblMotivoVacante" for="cbMotivoVacante" class="">Motivo de la Vacante</label>
                                        <select id="cbMotivoVacante" class=" form-control" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="position-relative form-group">
                                        <label id="lblCantidad" for="txtCantidad" class="">Cantidad</label>
                                        <input name="txtCantidad" id="txtCantidad" placeholder="" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblCargoVacante" for="cbCargoVacante" class="">Cargo de la Vacante</label>
                                        <select id="cbCargoVacante" class="form-control" style="width:100%"></select>
                                        <select id="cbArea" class="form-control" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblReemplazarA" for="cbReemplazarA" class="">Si no existe el cargo</label>
                                        <button id="btnCrearCargo" class="mb-2 mr-2 btn-icon btn btn-secondary btn-block"><i class="fa fa-folder-plus btn-icon-wrapper"> </i>Crear Cargo</button>
                                        <select id="cbReemplazarA" class="form-control" style="width:100%"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" id="rowProyecto">
                                <div class="col-md-3">
                                    <label id="lblProyecto" for="cbProyecto" class="">Proyecto</label>
                                    <select id="cbProyecto" class="form-control" style="width:100%"></select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblFechaInicio" for="dtFechaInicio" class="">Fecha Requerida de Inicio</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend datepicker-trigger">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input id="dtFechaInicio" type="text" class="form-control" data-toggle="datepicker-icon" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblFechaFin" for="dtFechaFin" class="">Fecha Fin de Proyecto</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend datepicker-trigger">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar-alt"></i>
                                                </div>
                                            </div>
                                            <input id="dtFechaFin" type="text" class="form-control" data-toggle="datepicker-icon" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblTipoContrato" for="cbTipoContrato" class="">Tipo de Contrato</label>
                                        <select id="cbTipoContrato" class="form-control" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="position-relative form-group">
                                        <label id="lblRemuneracion" for="txtRemuneracion" class="">Remuneración</label>
                                        <input name="txtRemuneracion" id="txtRemuneracion" placeholder="" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblJustificacion" for="cbJustificacion" class="">Justificación de la Vacante</label>
                                        <select id="cbJustificacion" class="form-control" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblJefeInmediato" for="cbJefeInmediato" class="">Jefe Inmediato</label>
                                        <select id="cbJefeInmediato" class="form-control" style="width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="position-relative form-group">
                                        <label id="lblBeneficios" for="txtBeneficios" class="">Beneficios</label>
                                        <input name="txtBeneficios" id="txtBeneficios" placeholder="" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>

                            <div class="position-relative form-group">
                                <label id="txaRequisitos" for="txaRequisitos" class="">Requisitos</label>
                                <textarea name="txa" id="txaRequisitos" class="form-control" rows="4"></textarea>
                            </div>
                            <button id="btnLimpiar" class="mt-2 btn btn-primary">Limpiar</button>
                            <button id="btnCrear" class="mt-2 btn btn-primary">Crear Solicitud</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    //$('#btnCrear').click(function () {
    //    alert(1);
    //})
    cargarComboMotivoVacante();

    function cargarComboMotivoVacante() {
        $("#cbMotivoVacante").empty();
        $("#cbMotivoVacante").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountEntity/PersonaPorAreaResponsable?IdArea=26",
                dataType: 'json',
                //type: "POST",
                //params: {
                //    contentType: 'application/json; charset=utf-8'
                //},
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function (m) { return m; }
        });
    }
</script>