@{
    Layout = null;
}

<style>
    #bandeja ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        #bandeja ul i {
            float: right;
            margin: 0px;
            display: none;
            cursor: pointer;
        }

        #bandeja ul li {
            margin: 0px;
            padding: 0px;
        }

            #bandeja ul li:hover {
                background-color: #F0F0F0;
            }

                #bandeja ul li:hover i {
                    display: inline-block;
                }

    .ulDC {
        list-style: none;
    }

        .ulDC li {
            margin: 2px 0px 2px 0px;
            padding: 2px 0px;
        }

            .ulDC li a:hover {
                cursor: pointer;
                text-decoration: none;
            }

            .ulDC li a img {
                float: left;
            }

    .divContDC {
        border: 1px solid #e2e2e2;
        display: inline-block;
        width: 100%;
    }

    .btnDownload {
        background: url('../../Content/Images/menu/download.png');
        height: 16px;
        width: 16px;
        margin-left: 5px;
    }

    .btnFavourite {
        background: url('../../Content/Images/menu/favourite.png');
        height: 16px;
        width: 16px;
    }
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
}
</style>

<div class="row">
    <div class="col-md-8">
        <div class="titleForm">
            <div class="title">List Vacations<i onclick="NewRequestVacation(this)" style="float:right;margin-right:10px;" class="glyphicon glyphicon-file"></i></div>
        </div>
        <div class="bodyFormxd">
            <div class="inBodyFormx" style="height:515px;">
                <div style="height:235px;">
                    <div ng-controller="PagerRequestVacation">
                        <div id="bandeja" ng-init="init(1)">
                            <ul @*style="border-top:1px solid #e3e3e3;border-bottom:none;border-right:none;border-left:none;height:440px;overflow:auto;" id="divListDC"*@>
                            <li ng-repeat="data in datos" ng-click="work(data.ID_DOCU_CONT)" style="border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-left:1px solid #e3e3e3; padding:5px;">
                                <div @*style="border-left:5px solid {{data.COL_VACA_STAT}};"*@>
                                    <div class="row">
                                        <div class="col-md-1 vcenter" style="height:40px;"><img style="float:left;height:40px;" class="img-circle" src="/Content/Fotos/{{data.ID_PERS_ENTI}}.JPG" /></div>
                                        <div class="col-md-2 vcenter">
                                            <p><b>{{data.NAME}}</b></p>
                                            @*<div>{{data.NAM_VACA_STAT}}</div>*@
                                        </div>
                                        <div class="col-md-1 vcenter">
                                            <p><b>{{data.DAT_STAR}}</b>@*<br /><b>To: {{data.DAT_STAR}}</b>*@</p>
                                        </div>
                                        @*<div class="col-md-1 vcenter">
                                            
                                        </div>*@
                                        <div class="col-md-1 vcenter">
                                            <p><b>{{data.DAT_END}}</b></p>
                                        </div>
                                        
                                        <div class="col-md-2 vcenter">
                                            <p><b>Luis Sempertegui</b></p>
                                            @*<div>{{data.NAM_VACA_STAT}}</div>*@
                                        </div>
                                        <div class="col-md-2 vcenter">
                                            <div style="float:right; display:inline-block;">
                                                <i onclick="addFavourite(data.ID_DOCU_CONT)" class="glyphicon glyphicon-list" style="font-size:15px;margin-left:10px;"></i>
                                                <i onclick="addFavourite(data.ID_DOCU_CONT)" class="glyphicon glyphicon-transfer" style="font-size:15px;margin-left:10px;"></i>
                                                <i onclick="addFavourite(data.ID_DOCU_CONT)" class="glyphicon glyphicon-thumbs-up" style="font-size:15px;"></i>
                                            </div>

                                        </div>
                                        <div class="col-md-2 vcenter">
                                            <p class="" style="color:white;padding:4px;background-color:{{data.COL_VACA_STAT}}">{{data.NAM_VACA_STAT}} <span class="badge" style="float:right">4</span></p>
                                        </div>
                                        
                                    </div>
                                    @*<img width="50px" style="float:left" src="/Content/Fotos/{{data.ID_PERS_ENTI}}.JPG" />*@
                                    @*<div style="color:#022A41;float:left;font-size:13px;margin-left:5px;">{{data.REMI}} ({{data.NAM_DOCU_CONT_ACTI}})<br />{{data.COM_NAME}}</div>*@
                                    @*<div style="color:\\#428bca;float:right;">{{data.CREATED_DATE}}</div>*@
                                    @*<div style="clear:both;"></div>*@
                                    @*<div style="float:left;">{{data.NAM_TYPE_DOCU_CONT}} - {{data.NUM_DOCU}}</div>*@
                                    @*<div style="float:right; display:inline-block;heigdownloadFileht:20px;">
                                        
                                        <i ng-click="confirmReception(data.ID_DOCU_CONT)" class="glyphicon glyphicon-ok-sign" style="margin-right:10px;"></i>
                                        <i ng-click="downloadFile(data.ID_DOCU_CONT)" class="glyphicon glyphicon-cloud-download" style="margin-right:10px;"></i>
                                        <span class="dropdown" dropdown on-toggle="toggled(open)" ng-controller="DropdownCtrl" style="margin-right:170px;">
                                            <a href class="dropdown-toggle" dropdown-toggle>
                                                <i class="glyphicon glyphicon-option-vertical" style="margin-right:10px;"></i>
                                            </a>

                                            <ul class="dropdown-menu" role="menu" ng-controller="ModalDemoCtrl">
                                                <li><a href ng-click="open(data.ID_DOCU_CONT,1)"><span style="float:left;margin-right:5px;margin-top:2px;" class="glyphicon glyphicon-share"></span><div style="margin-left:5px;">Shared</div></a></li>
                                                <li><a href="" ng-click="open(data.ID_DOCU_CONT,2)"><span style="float:left;margin-right:5px;margin-top:2px;" class="glyphicon glyphicon-edit"></span><div style="margin-left:5px;">Send Validate</div></a></li>
                                                <li><a href="" ng-click="openDC(0,0)"><span style="float:left;margin-right:5px;margin-top:2px;" class="glyphicon glyphicon-check"></span><div style="margin-left:5px;">Validate</div></a></li>
                                                <li class="divider"></li>
                                                <li><a href="" ng-click="openDC(0,-1)"><span style="float:left;margin-right:5px;margin-top:2px;" class="glyphicon glyphicon-remove"></span><div style="margin-left:5px;">Delete</div></a></li>
                                            </ul>

                                        </span>
                                    </div>
                                    <div style="clear:both;"></div>*@
                                </div>
                            </li>
                                </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="titleForm">
            <div class="title">Total Vacations <i style="float:right;margin-right:10px;" class="glyphicon glyphicon-indent-left"></i></div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="height:240px;">
                <div style="height:235px;width:98%;" id="TOT_VACA"></div>
            </div>
        </div>
        <div style="height:10px;"></div>
        <div class="titleForm">
            <div class="title">Vacations By Year <i style="float:right;margin-right:10px;" class="glyphicon glyphicon-signal"></i></div>
        </div>
        <div class="bodyForm">
            <div class="inBodyForm" style="height:240px;">
                <div style="height:235px;width:98%;" id="VACA_YEAR"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function NewRequestVacation() {
        $('#ModalContent').modal('show');
        $("#ModalContentAll").empty();
        $("#ModalContentAll").append('<div class="modal-header">' +
                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                          '<h2 class="modal-title">New Request Vacation</h2>' +
                      '</div>');
        $("#ModalContentAll").append("<div id='divFormNewRequest'></div>");
        $("#divFormNewRequest").load("/Vacation/RequestVacation?_=" + Math.random());
    }

    //
    //
    $(document).ready(function () {
        $('#TOT_VACA').highcharts({
            chart: {
                type: 'bar'
            },
            colors: ["#022A41", "#CB3F37"],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            xAxis: {
                categories: ['Total', 'Consumido', 'Programado'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Days',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Vacations',
                data: [90,60,30]
            }]
        });

        $('#VACA_YEAR').highcharts({

            chart: {
                type: 'column'
            },
            colors: ["#022A41", "#CB3F37", "#F2BA0C"],
            title: {
                text: null
            },

            xAxis: {
                categories: ['2013', '2014', '2015']
            },

            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'Days'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: 'Total',
                data: [30, 30, 30],
                stack: 'Total'
            }, {
                name: 'Consumido',
                data: [30, 30, 0],
                stack: 'Saldo'
            }, {
                name: 'Programado',
                data: [0, 0, 30],
                stack: 'Saldo'
            }]
        });
    });
</script>
