@{

//Layout = null;
//Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<script src="~/Content/themes/plugin/DataTables/datatables.min.js"></script>
<link href="~/Content/themes/plugin/DataTables/datatables.min.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-user-check icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Lista de Plantillas de Tickets
                <div class="page-title-subheading">
                    Listado de plantillas de tickets registrados.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <div class="card-title">Filtrar</div>
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="cbGrupo" class="">Grupo</label>
                                    <input id="cbGrupo" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="cbTipoTicket" class="">Tipo Ticket</label>
                                    <input id="cbTipoTicket" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="position-relative form-group">
                                    <label for="cbPrioridad" class="">Prioridad</label>
                                    <input id="cbPrioridad" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                <div class="form-group" style="margin-top: 20px; ">
                                    <button id="btnBuscar" type="button" class="mt-2 btn btn-primary" onclick="ListarPlantillas()">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content table-responsive">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card element-block-example">
                <div class="card-body">
                    <div class="card-title">Plantillas</div>
                    <form class="">
                        <div class="" style="width: 98%;overflow-y: scroll;margin:0 auto;">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover display responsive no-wrap" style="width: 100%;" id="tbPlantillas">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Grupo</th>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Tipo Ticket</th>
                                        <th class="text-center">Prioridad</th>
                                        <th class="text-center">Solicitante</th>
                                        <th class="text-center">Afectado</th>
                                        <th class="text-center">Responsable</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        //toastr.warning("", "Se muestran 5000 registros como maximo");

        //$("#PALABRA_CLAVE").kendoMaskedTextBox({
        //    mask: ""
        //});

        $("#cbGrupo").kendoComboBox({
            /*autoBind: true,*/
            dataValueField: "Id",
            dataTextField: "Nombre",
            placeholder: "Seleccione un grupo",
            filter: "contains",
            suggest: true,
            dataSource: {
                transport: {
                    //read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    schema: {
                        data: "Data"
                    },
                    read: {
                        url: "/PlantillaBuenaventura/ListarGrupos"
                    }
                }

            }
        });
        $("#cbTipoTicket").kendoComboBox({
            //autoBind: true,
            dataValueField: "ID_TYPE_TICK",
            dataTextField: "NAM_TYPE_TICK",
            placeholder: "Seleccione un tipo de ticket",
            filter: "contains",
            delay: 500,
            minLength: 0,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    //read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    read: "/TypeTicket/List?var=" + Math.random()
                }
            }
        });
        $("#cbPrioridad").kendoComboBox({
            autoBind: true,
            //cascadeFrom: "cbTipoTicket",
            dataValueField: "ID_PRIO",
            dataTextField: "NAM_PRIO",
            placeholder: "Seleccione una prioridad",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                serverFiltering: false,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    //read: "/AccountEntity/ListCompanyByAccount?var=" + Math.random()
                    read: "/Priority/List?var=" + Math.random()
                }

            }
        });
        ListarPlantillas();

    });

    function ListarPlantillas() {
        const parametros = {
            IdGrupo: $("#cbGrupo").val(),
            IdTipoTicket: $("#cbTipoTicket").val(),
            IdPrioridad: $("#cbPrioridad").val()
        };
        $('#tbPlantillas').dataTable().fnDestroy();
        $('#tbPlantillas').dataTable({
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                url: `/PlantillaBuenaventura/ListarPlantillas`,
                data: parametros,
                type: "GET"
            },
            columns: [
                {
                    data: "Nombre"
                },
                {
                    data: "Grupo"
                },
                {
                    data: "SUM_TICK"
                },
                {
                    data: "NAM_TYPE_TICK"
                },
                {
                    data: "NAM_PRIO"
                },
                {
                    data: "Solicitante"
                },
                {
                    data: "Afectado"
                },
                {
                    data: "Asignado"
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let color, text = '';
                        if (data.Estado == 1) { color = 'success'; text = 'Activo' } else { color = 'danger'; text = 'Inactivo'};
                        let label = `<div class="badge badge-${color}">${text}</div>`
                        return label;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        let boton = `<div role="group" class="mb-3 btn-group-lg btn-group">
                                        <a href="/PlantillaBuenaventura/Editar/${data.Id}" class="btn-shadow btn-hover-shine btn btn-light btn-sm btn-pill pl-3"><i class="fa fa-edit" aria-hidden="true"></i> Editar</a>
                                    </div>`
                        return boton;
                    }
                },
                //{
                //    data: "NAME_USER"
                //},
                //{
                //    data: "DATE_INIC"
                //    //data: null,
                //    //render: function (data, type, row) {
                //    //    var re = "";
                //    //    re += data.DATE_INIC;
                //    //    return new Date(parseInt(re.substr(6))).toLocaleString({ hour: "numeric" }).slice(0, -3);
                //    //}
                //},
                //{
                //    //data: "DATE_END"
                //    data: null,
                //    render: function (data, type, row) {
                //        var re = ""; re += data.DATE_END;
                //        return new Date(parseInt(re.substr(6))).toLocaleString({ hour: "numeric" }).slice(0, -3);
                //    }
                //},
                //{
                //    data: null,
                //    render: function (data, type, row) {
                //        return secondsToTime(data.TIEMPO_ACT);
                //    }
                //},
                //{
                //    data: "DES_ACT"
                //},
                //{
                //    data: null,
                //    render: function (data, type, row) {
                //        return data.CATEGORIA3 + '-' + data.CATEGORIA4;
                //    }
                //},
                //{
                //    data: "ETAPA"
                //},
                //{
                //    data: "ACTIVIDAD"
                //},
                //{
                //    data: "SUBCATEGORIA"
                //},
                //{
                //    data: "ACTIVIDADREMOTA"
                //},
                ////{
                ////    data: null,
                ////    render: function (data, type, row) {
                ////        var act = "" + data.NAM_SUB_TYPE;
                ////        act = act.substr(0, 4);
                ////        var cadena = "";
                ////        if (act == "OPVP" || act == "OPVN" || act == "RESS" || act == "REED" || act == "RECL" || act == "PRED" || act == "INTE" || act == "INSS" || act == "INED" || act == "EVED") {
                ////            cadena = '<a href=\"\\#/DetailsTicket/Index/' + data.COD_SUBTYPE_ACT + '" target="_blank" style="color:#3f6ad8;">' + data.NAM_SUB_TYPE + '</a>';
                ////        }
                ////        return cadena;

                ////    }
                ////},
                //{
                //    data: "NAM_SUB_TYPE"
                //},
                //{
                //    data: "COMENTARIO"
                //},
                //{
                //    data: "Edicion"
                //},
                //{
                //    data: null
                //}
            ],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });

    }

    function MostrarMensaje(msg, descripcion) {

        setTimeout(function () {
            $(".modal-backdrop").remove();
            $("#miModal").removeClass("show")
        }, 180);

        if (msg == "OK") {
            toastr.success(descripcion, "");

            var tabla = $('#tbListadoSolicitudes').DataTable();

            tabla.ajax.reload();

        }
        else if (msg == "VACIO") {
            toastr.warning("Por favor, seleccione una solicitud como mínimo", "Mensaje");
        }
        else {
            toastr.danger("Contacte al administrador.", "Error");
        }
    }
    function secondsToTime(seconds) {
        var hours = Math.floor(seconds / 3600);
        var minutes = Math.floor((seconds - (hours * 3600)) / 60);
        var time = "";

        if (hours != 0) {
            time = hours + ":";
        }
        if (minutes != 0 || time !== "") {
            minutes = (minutes < 10 && time !== "") ? "0" + minutes : String(minutes);
            if (hours != 0)
                time += minutes;
            else {
                if (minutes < 9)
                    time += "0:" + "0" + minutes;
                else
                    time += "0:" + minutes;
            }
        }
        return time;
    }

    function editarActividad(id) {
        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $(".modal-content").empty();
        $("#lblTitulo").text("Mantenimiento Prioridad");
        $(".modal-content").load('/Activity/EditarActividad?id=' + id);
    }

    function eliminarActividad(idAct) {
        $.ajax({
            url: "/Activity/EliminarActividad",
            method: "POST",
            data: { id: idAct }
        });
    }
</script>
