#contenedor{
  font-family:'Segoe UI';
  text-align:justify;
  width:100%;
  height:100%;
  background-color:#E4E7EA;
  
}

#encuesta{      
   
   width:75%;
   margin:auto;
   padding:20px;
   border-radius:5px;
   background-color:white;
  

}
#idshowfeedback {   
    overflow: hidden;
	width: 100%;
}


.titulo-encuesta{
     padding:15px;
     font-weight:bold;
 }

#pregunta{
    display:inline-block;
  /*border:1px solid red;*/
  /*padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;*/
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee;
  background-color: #ffffff;
  width:100%;
  
}

.div-pad{
    padding:15px;
}

.div-wid{
    width:100%;
    display:inline-block;
}

#pregunta:hover {
   background-color: #fcfcfc;
   /*background-color: #E4E7EA;*/

    /*background:-webkit-linear-gradient(#E4E7EA, white);
    background:-moz-linear-gradient(#E4E7EA, white);
    background:-o-linear-gradient(#E4E7EA, white);
    background:linear-gradient(#E4E7EA, white);*/
 
}


.numero { 
    /*border:1px solid red;*/
    width:3%;
    min-width:25px;
}

#circular{
    border-radius:50%;
    text-align:center;
    width:20px;
    height:20px;
    background-color:#E4E7EA;

}


.nombre {    
  width:85%;
  /*border:1px solid gray;*/
  
}
.estrellas {  
   width:100px;
}

.numero, .nombre
{
  color: #333;
}

.numero:hover, .numero:focus, .nombre:hover, .nombre:focus
{
  color: #636E7B;
}

#pregunta .numero, #pregunta .nombre{  
	float: left;
}

#pregunta .estrellas{  
	float: right;
}

/*---------------------------------------------SUMARY--------------------------------------------------*/

#cont-summary {
    overflow: hidden;
	width: 100%;
  
    
}
.vacio {
    /*border: 1px solid transparent;*/
     width:3%;
     min-width:25px; 
     
    
}

.summary {
       width:97%;
      
  }

textarea{
    width:100%;
}

#cont-summary .vacio, #cont-summary .summary {
    float:left;
    
}

#divcontbtn {  
    
     overflow:hidden;
     width:100%;
     
       
}

.divbtnsave{    
    
    width:100%;
   
   
}
#btnsavefeedback{
    float:right;
}


/*-------------------LEYENDA----------------*/
.leyenda{
    width:210px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eeeeee;
  background-color: #ffffff;
   

}

.numestrellas{
    float:left;
    min-width:95px;
     
}
.valcalif{
    float:right;
   
}

.valtxt{
    text-align:left;
}


