@{
    ViewBag.Title = "Categoria Por Tarea";
    Layout = null;
}

<style>
    .k-in {
        padding: 2px !important;
        font-size: 14px !important;
    }

    .k-i-expand {
        width: 30px !important;
    }

    .k-i-collapse {
        width: 30px !important;
    }
</style>

<div id="treeviewProcedure" style="padding: 3px 0 0 7px;"></div>

<script type="text/javascript">
    var valor = 0
    var nombre = ""
    var cateId3 = 0
    var cateNombre3 = ''
    var cateId4 = 0
    var cateNombre4 = ''
    var cateId5 = 0
    var cateNombre5 = ''
    var cateId6 = 0
    var cateNombre6 = ''
    $(document).ready(function () {
        $("#treeviewProcedure").empty();
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: ("/Ticket/ListarCategorias/?idCateN2=@ViewBag.ID_CATEN2&idAcco=@ViewBag.ID_ACCO"),
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "ID_PARA",
                    hasChildren: "HAS_VALUE",
                }
            }
        });

        // Tareas SAP, MOVIL y CONTABLE
        var yaTieneTareas = [27158, 28529, 29900, 32240, 32239, 32427, 32241, 32271, 32272, 32428, 32273,
            32293, 32294, 32429, 32295, 32236, 32268, 32290, 32242, 32274, 32296, 32465, 32466, 32467];

        $("#treeviewProcedure").kendoTreeView({
            dataSource: homogeneous,
            dataTextField: "NAME_PARA",
            select: function (e) {
                var data = $('#treeviewProcedure').data('kendoTreeView').dataItem(e.node);

                if ("@ViewBag.PorTarea" == 0 && yaTieneTareas.includes(data.ID_PARA)) {
                    e.preventDefault();
                    toastr.warning("Esta categoría ya cuenta con tareas.");
                    return;
                }

                if (data.HAS_VALUE) {
                    e.preventDefault();
                } else {
                    var treeview = $("#treeviewProcedure").data("kendoTreeView");
                    valor = data.ID_PARA
                    nombre = data.NAME_PARA

                    var getitem = treeview.dataSource.get(data.ID_PARA);
                    treeview.findByUid(getitem.uid);
                    var selectitem = treeview.findByUid(getitem.uid);
                    treeview.select(selectitem);

                    //Tiene 6 niveles
                    if (data.NIV_CATE == 6) {
                        //nodo 6
                        cateId6 = data.ID_PARA
                        cateNombre6 = data.NAME_PARA
                        //nodo 5
                        cateId5 = data.ID_CATE_PARE
                        cateNombre5 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId5).uid))
                        //nodo 4
                        cateId4 = treeview.dataSource.get(cateId5).ID_CATE_PARE
                        cateNombre4 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId4).uid))
                        //nodo 3
                        cateId3 = treeview.dataSource.get(cateId4).ID_CATE_PARE
                        cateNombre3 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId3).uid))
                    }
                    else
                        if (data.NIV_CATE == 5) {
                            //nodo 6
                            cateId6 = 0
                            cateNombre6 = ''
                            //nodo 5
                            cateId5 = data.ID_PARA
                            cateNombre5 = data.NAME_PARA
                            //nodo 4
                            cateId4 = data.ID_CATE_PARE
                            cateNombre4 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId4).uid))
                            //nodo 3
                            cateId3 = treeview.dataSource.get(cateId4).ID_CATE_PARE
                            cateNombre3 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId3).uid))
                        }
                        else
                            if (data.NIV_CATE == 4) {
                                //nodo 6
                                cateId6 = 0
                                cateNombre6 = ''
                                //nodo 5
                                cateId5 = 0
                                cateNombre5 = ''
                                //nodo 4
                                cateId4 = data.ID_PARA
                                cateNombre4 = data.NAME_PARA
                                //nodo 3
                                cateId3 = data.ID_CATE_PARE
                                cateNombre3 = treeview.text(treeview.findByUid(treeview.dataSource.get(cateId3).uid))
                            }
                            else
                                if (data.NIV_CATE == 3) {
                                    //nodo 6
                                    cateId6 = 0
                                    cateNombre6 = ''
                                    //nodo 5
                                    cateId5 = 0
                                    cateNombre5 = ''
                                    //nodo 4
                                    cateId4 = 0
                                    cateNombre4 = ''
                                    //nodo 3
                                    cateId3 = data.ID_PARA
                                    cateNombre3 = data.NAME_PARA
                                }
                }
            },
        });
        if ("@ViewBag.PorTarea" == 1) {
            $("#guardarCategoriaModal").click(function () {
                var index = $(this).data('index');
                if (valor !== 0) {
                    $("#IdCate_" + index).val(valor);
                    $("#nuevaCategoria_" + index).val(`${cateNombre3} ${cateId4 != 0 ? "-" : ""} ${cateNombre4} ${cateId5 != 0 ? "-" : ""} ${cateNombre5} ${cateId6 != 0 ? "-" : ""} ${cateNombre6}`);
                }
            });
        } else {
            $("#guardarCategoriaModal").click(function () {
                if (valor !== 0) {
                    $("#ID_CATE").val(valor);
                    $("#nuevaCategoria").val(`${cateNombre3} ${cateId4 != 0 ? "-" : ""} ${cateNombre4} ${cateId5 != 0 ? "-" : ""} ${cateNombre5} ${cateId6 != 0 ? "-" : ""} ${cateNombre6}`);
                }
            });
        }
        $("#treeviewProcedure").on("dblclick", function (e) {
            var cerrarBtn = document.getElementById("guardarCategoriaModal");
            cerrarBtn.click();
        });
    });
</script>
