@{
//Layout = null;
}
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
@*<script src="~/Content/themes/plugin/DataTables/datatables.min.js"></script>*@
<link href="~/Content/themes/plugin/DataTables/datatables.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-users icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                Consolidado de Clientes
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- FILTROS -->
<div class="main-card card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form id="ParametroOP">
            <div class="">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="IdComp">Cliente Directo</label>
                                <input id="IdComp" name="IdComp" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="IdCompEnd">Cliente Final</label>
                                <input id="IdCompEnd" name="IdCompEnd" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="IdStatDocuSale">Estado OP</label>
                                <input id="IdStatDocuSale" name="IdStatDocuSale" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="IdVigencia">Soporte activo (Vigencia)</label>
                                <input id="IdVigencia" name="IdVigencia" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="NumDocuSale">Código OP</label>
                                <input id="NumDocuSale" name="NumDocuSale" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="FechaIni">Desde</label>
                                <input id="FechaIni" name="FechaIni" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="FechaFin">Hasta</label>
                                <input id="FechaFin" name="FechaFin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="position-relative form-group">
                                <label><br /></label>
                                <a id="btnBuscar" class="btn btn-primary btn-block" onclick="validarData();">
                                    <i class="fa fa-search"></i> Buscar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- TABLA -->
<div class="main-card card mt-4">
    <div class="tab-content table-responsive" style="width:95%;margin:auto auto;">
        <table id="tbConsolidadoClientes" class="table table-bordered table-hover nowrap" style="width:100%;font-size:10px;">
            <!---->
            <thead>
                <tr>
                    <th style="width:3%;">Opciones</th>
                    <th style="width:5%;">Cliente Directo</th>
                    <th style="width:5%;">Cliente Final</th>
                    <th style="width:3%;">OP</th>
                    <th style="width:3%;">Estado OP</th>
                    <th style="width:3%;">Referencia / Descripción</th>
                    <th style="width:3%;">Marca</th>
                    <th style="width:3%;">SLA</th>
                    <th style="width:3%;">Tipo de Servicio</th>
                    <th style="width:3%;">Proveedor</th>
                    <th style="width:3%;">Soporte ED</th>
                    <th style="width:3%;">Soporte Fab.</th>
                    <th style="width:3%;">Tipo</th>
                    <th style="width:3%;">Producto</th>
                    <th style="width:3%;">Descrip. Producto</th>
                    <th style="width:3%;">OC</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var IdComp = $("#IdComp").kendoComboBox({
            //autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            placeholder: "Cliente Directo",
            //template: kendo.template($("#tmp-CIA").html()),
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount"
                }
            }
        }).data("kendoComboBox");

        var IdCompEnd = $("#IdCompEnd").kendoComboBox({
            //autoBind: false,
            dataTextField: "COM_NAME",
            dataValueField: "ID_ENTI",
            filter: "contains",
            delay: 500,
            minLength: 0,
            suggest: true,
            placeholder: "Cliente Final",
            dataSource: {
                //serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/AccountEntity/ListCompanyByAccount"
                }
            }
        }).data("kendoComboBox");

        var IdStatDocuSale = $("#IdStatDocuSale").kendoComboBox({
            dataTextField: "NAM_STAT_DOCU_SALE",
            dataValueField: "ID_STAT_DOCU_SALE",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Sales/ListStatusDocuSale?var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var IdVigencia = $("#IdVigencia").kendoComboBox({
            dataTextField: "VAL_ACCO_PARA",
            dataValueField: "ID_ACCO_PARA",
            filter: "contains",
            autoBind: true,
            delay: 500,
            minLength: 0,
            suggest: true,
            dataSource: {
                schema: {
                    data: "Data",
                    total: "Count"
                },
                transport: {
                    read: "/Parameter/ListarxParametro?idparametro=1061&var=" + Math.random()
                }
            }
        }).data("kendoComboBox");

        var todayDate = kendo.toString(kendo.parseDate(new Date()), 'MM/dd/yyyy');
        //$("#StartDate").data("kendoDatePicker").value(todayDate);
        var FechaIni = $("#FechaIni").kendoDatePicker({ format: "MM/dd/yyyy" }).data("kendoDatePicker");
        FechaIni.value(todayDate);

        var FechaFin = $("#FechaFin").kendoDatePicker({ format: "MM/dd/yyyy" }).data("kendoDatePicker");
        FechaFin.value(todayDate);
        $("#btnBuscar").click();

    });

    function validarData() {
        //Validar info
        if ($("#FechaIni").val() == "" || $("#FechaFin").val() == "")
            toastr.warning("Por favor ingrese un rango de fechas");
        else
            ListarConsolidadoClientes();
    }
    function ListarConsolidadoClientes() {
        
        $('#tbConsolidadoClientes').dataTable().fnDestroy();
        var table = $('#tbConsolidadoClientes').DataTable({
            "order": [[0, "asc"]],
            responsive: true,
            dom: 'Bfrtip',
            ajax: {
                "url": "/OrderForm/ListarConsolidadoClientes/",//?IdCuenta=4&Nombre=" + '' + "&EstadoSLA=" + '',
                "data": function (d) {
                    d.IdComp = $("#IdComp").val(),
                        d.IdCompEnd = $("#IdCompEnd").val(),
                        d.IdStatDocuSale = $("#IdStatDocuSale").val(),
                        d.Vigencia = $("#IdVigencia").val(),
                        d.NumDocuSale = $("#NumDocuSale").val(),
                        d.FechaIni = $("#FechaIni").val(),
                        d.FechaFin = $("#FechaFin").val()
                }
            },
            columns: [
                { data: "Opcion" },
                { data: "CompaniaInicial" },
                { data: "CompaniaFinal" },
                { data: "NumDocuSale" },
                { data: "EstadoOP" },
                { data: "Referencia" },
                { data: "Marca" },
                { data: "SLA" },
                { data: "TipoServicio" },
                { data: "Proveedor" },
                { data: "SoporteED" },
                { data: "SoporteFAB" },
                { data: "Tipo" },
                { data: "Producto" },
                { data: "DescripcionProd" },
                { data: "OC" },
                //{
                //    data: null,
                //    render: function (data, type, row) {
                //        return '<div style="text-align:center;">' +
                //            '<button type="button" id="BtnEditar" class="btn btn-outline-dark" title="Editar"  onclick="EditarSLA(' + data.IdDocuSale + ')">' +
                //            '<i class="fas fa-pencil-alt"></i>' +
                //            '</button>' +
                //            '</div>';
                //    }
                //},
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ],
            pageLength: 5,
        });
    }

    function ActualizarOP(id) {
        $("#lblTitulo").text("Actualización de OP");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $(".modal-dialog").addClass("modal-lg");

        $('#modal-content').empty();
        $('#modal-content').load('/OrderForm/ActualizarOP/' + id);
    }
</script>