@{
    ViewBag.Title = "EditarTitulo";
    Layout = null;
}

<div class="form-group">
    <div class="col-md-12">
        Título de la OP
        <input type="text" class="form-control" id="EditarTituloOP" name="EditarTituloOP" value="@ViewBag.Titulo" />
    </div>
</div>

<div class="form-group float-right">
    <div class="col-md-12">
        <button id="btnGuardarTitulo" type="button" class="btn btn-primary" onclick="ActualizarTitulo();">Guardar</button>
    </div>
</div>

<script type="text/javascript">    
    function ActualizarTitulo() {
        $.ajax({
            url: "/OrderForm/EditarTituloOP/@ViewBag.ID_DOCU_SALE?Titulo=" + $("#EditarTituloOP").val(),
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                $("[data-dismiss=modal]").trigger({ type: "click" });
                $("#spanTitulo").html($("#EditarTituloOP").val());
                toastr.success("Se actualizó el título", "");
            },
            error: function (source) {
                toastr.error("Error Carga Json Título","");
            }
        });
    }
</script>