@{
    ViewBag.Title = "EliminarObservaciones";
    Layout = null;
}


@using (Html.BeginForm("EliminarComentario", "OrderForm", FormMethod.Post, new { enctype = "multipart/form-data", id = "FrmEliminarComentario", target = "upload_target" }))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="IdComentario" name="IdComentario" value="@ViewBag.IdComentario" />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <div class="main-card card">
                <div class="card-body">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label id="lblEliminar" for="lblEliminar" class="">¿Esta seguro(a) de eliminar el comentario?</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <button type="button" id="btnNoEliminar" class="btn-shadow btn btn-success btn-sm" onclick="NoEliminar()"> NO </button>
                                    <button type="submit" id="btnSiEliminar" class="btn-shadow btn btn-danger btn-sm"> SI </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<iframe id="upload_target" name="upload_target" src="" class="frameHidden" style="display:none"></iframe>
<script>

    function MensajeObservacion(msg, code) {
        if (msg == "OK") {
            if ($("#tabComentario").hasClass("active")) {
                Comentarios();
            }
            if ($("#tabAccion").hasClass("active")) {
                Acciones();
            }
            if ($("#tabSoporte").hasClass("active")) {
                Soporte();
            }
            $("[data-dismiss=modal]").trigger({ type: "click" });
            toastr.warning("", "Se eliminó el comentario.");
        }
        else {
            toastr.success("","El comentario no fue eliminado.");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    }

    function NoEliminar() {
        $("[data-dismiss=modal]").trigger({ type: "click" });
    }
</script>