@{
    Layout = null;
}

<div class="tab-pane tabs-animation" id="tab-content-1" role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="mb-12">
                <div class="card-header card-header-tab-animation">
                    <ul class="nav nav-justified">
                        <li class="nav-item"><a data-toggle="tab" id="tabComentario" class="active nav-link" href="#tab-info"><i class="fa fa-comment"></i> Información General - Tickets</a></li>
                        <li class="nav-item"><a data-toggle="tab" id="tabAccion" class="nav-link" href="#tab-viatico" onclick="Viaticos()"><i class="fa fa-percent"></i> Viáticos</a></li>
                        <li class="nav-item"><a data-toggle="tab" id="tabSoporte" class="nav-link" href="#tab-hora" onclick="HorasTrabajadas()"><i class="fa fa-hourglass"></i> Horas Hombre Trabajadas</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-info" role="tabpanel">
                            <div id="divInfoAdicional"></div>
                        </div>
                        <div class="tab-pane active show" id="tab-viatico" role="tabpanel">
                            <div id="divInfoViatico"></div>
                        </div>
                        <div class="tab-pane active show" id="tab-hora" role="tabpanel">
                            <div id="divInfoHora"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        InfoAdicional();
    })

    function InfoAdicional() {
        $("#divInfoAdicional").empty();
        $("#divInfoAdicional").load("/OrderForm/VerInfoAdicional/@ViewBag.ID_DOCU_SALE?var=" + Math.random());
    }

    function Viaticos() {
        $("#divInfoViatico").empty();
        $("#divInfoViatico").load("/OrderForm/VerViatico/@ViewBag.ID_DOCU_SALE?var=" + Math.random());
    }

    function HorasTrabajadas() {
        $("#divInfoHora").empty();
        $("#divInfoHora").load("/OrderForm/VerHoraTrabajada/@ViewBag.ID_DOCU_SALE?var=" + Math.random());
    }

</script>
