@model ERPElectrodata.Models.PMO
@{
    Layout = null;
}
<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />

<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>

<div class="card" style="width:100%;">
    <div class="card-header-tab card-header">@ViewBag.TipoOP @ViewBag.OP</div>
    <div class="card-body">
        <table id="tablaProductos" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Código de Producto</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Serie Interna</th>
                    <th>Serie Externa</th>
                    <th>Cantidad</th>
                    <th>T. Moneda</th>
                    <th>Precio U.</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Código de Producto</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Serie Interna</th>
                    <th>Serie Externa</th>
                    <th>Cantidad</th>
                    <th>T. Moneda</th>
                    <th>Precio U.</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--Cuadro necesario para enviar archivos Adjuntos si realizar reload de toda la página.-->                
<iframe id="upload_target" name="upload_target" src="" style="display:none"></iframe>
<script type="text/javascript">
    $(document).ready(function () {
        cargarProductos();
    });

    function cargarProductos() {
        $('#tablaProductos').dataTable().fnDestroy();
        $('#tablaProductos').DataTable({
            "order": [[1, "asc"]],
            dom: 'Bfrtip',
            responsive: true,
            ajax: "/OrderForm/ListarProductosOP",
            columns: [
			    { data: "CODART" },
                { data: "DESART" },
                { data: "Marca" },
                { data: "SerieInterna" },
                { data: "SerieExterna" },
                { data: "Cantidad" },
                { data: "TipoMoneda" },
                { data: "PrecioVenta" }
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf'
                    ]
                }
            ]
        });
    }

</script>