@{
//Layout = null;
}

<!DOCTYPE html>

<div class="card">
    <iframe class="afterMain divFind" id="MSRSRenovation" style="height:550px;width:100%"></iframe>
</div>

<script type="text/javascript">
    function GenerateRenovation() {
        window.frames["MSRSRenovation"].src = "/Reporting/OrderForm/RenovationReport.aspx?var=" + Math.random() + "&" + $("#FrmAttendanceByQueue").serialize();
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        GenerateRenovation();
    });
</script>
