@{
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-2">
        <div class="main-card mb-4 card">
            <div class="card-header">Opciones</div>
            <div class="card-body">
                <div id="divOpciones">
                    <center>
                        <button id="btnMantNOC" class="btn btn-block btn-hover-shine btn-sm btn-primary">Mantenimientos Soporte</button>
                        <button id="btnTransferenciaOP" class="btn btn-block btn-sm btn-primary">Transferencia Proyectos</button>
                        <button id="btnSoporteDet" class="btn btn-block btn-hover-shine btn-sm btn-primary">Transferencia Proyectos - Detalle</button>
                        <button id="btnMantProgramado" class="btn btn-block btn-hover-shine btn-sm btn-primary">Mantenimientos Programados</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="main-card mb-4 card">
            <div class="card-header"><span id="spanTitulo"></span></div>
            <div class="card-body">
                <div id="divCuerpo">
                </div>
            </div>
        </div>
    </div>
</div>



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnMantNOC").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Mantenimientos - Soporte');
            $("#divCuerpo").load("/OrderForm/TicketMantenimiento?var=" + Math.random());
        });

        $("#btnTransferenciaOP").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Transferencia de Proyectos a Operaciones');
            $("#divCuerpo").load("/OrderForm/RptTransferenciaOP?var=" + Math.random());
        });

        $("#btnSoporteDet").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Transferencia de Proyectos a Operaciones - Detalle');
            $("#divCuerpo").load("/OrderForm/RptSoporteDet?var=" + Math.random());
        });

        $("#btnMantProgramado").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('Mantenimientos Programados por año');
            $("#divCuerpo").load("/OrderForm/RptMantenimientosProgramados?var=" + Math.random());
        });
        $("#btnMantNOC").click();

    });

</script>
