@{
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<div class="main-card card">
    <div class="card-header">Reporte PM</div>
    <div class="card-body">
        <form id="ParametroOP">
            <div class="form-row">
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdTipo">Tipo OP</label>
                        <select id="IdTipo" name="IdTipo" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="Codigo">Código OP</label>
                        <input type="text" class="form-control" id="Codigo" name="Codigo" style="width:100%">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdPM">Gerente de Proyecto</label>
                        <select id="IdPM" name="IdPM" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdIng">Especialista</label>
                        <select id="IdIng" name="IdIng" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdCliente">Cliente</label>
                        <select id="IdCliente" name="IdCliente" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdEstado">Estado</label>
                        <select id="IdEstado" name="IdEstado" class="form-control" style="width:100%"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="IdTipoProyecto">Tipo de Proyecto</label>
                        <select id="IdTipoProyecto" name="IdTipoProyecto" class="form-control" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="FechaInicio">Fecha Inicio (Cierre)</label>
                        <input id="FechaInicio" name="FechaInicio" class="form-control pull-right" type="text" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="FechaFin">Fecha Fin (Cierre)</label>
                        <input id="FechaFin" name="FechaFin" class="form-control pull-right" type="text" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label><br /></label>
                        <a id="btnBuscarPMO" class="btn btn-warning btn-block" href="/Reporting/OrderForm/ListarProyectos.aspx" target=" _blank">
                        <i class="fa fa-search"></i> Buscar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    function GenerateReport() {

        document.getElementById('btnBuscarPMO').href = "/Reporting/OrderForm/ListarProyectos.aspx?" + $("#ParametroOP").serialize();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#IdTipo").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/TypeDocumentSale/ListarTipoOP",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#IdPM").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountEntity/ListarProjectManager",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#IdIng").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountEntity/ListarOperaciones",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#IdCliente").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Sales/ListarClientes",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#IdEstado").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Sales/ListarEstadosPMO",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        $("#IdTipoProyecto").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/OrderForm/ListarTipoProyecto",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#FechaInicio").kendoDatePicker();
        $("#FechaFin").kendoDatePicker();

        $("#btnBuscarPMO").click(function () {
            GenerateReport();
        });
        //Asignación inicial
        var $newOption = $("<option></option>").val("2").text("ASIGNADO");
        $("#IdEstado").append($newOption).trigger('change');

    });

</script>
