@{
    ViewBag.Title = "Reporte Gráfico";
    Layout = "~/Views/Shared/_LayoutArch.cshtml";
}

<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>

<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<div class="form-row">
    <div class="col-md-2">
        <div class="card main-card">
            <div class="card-header">Opciones</div>
            <div class="card-body">
                <div id="divOpciones">
                    <center>
                        @if (ViewBag.VistaPMO == 1)
                        {
                            <button id="btnProyRelevantes" class="btn btn-block btn-sm btn-primary">Proy Relevantes</button>
                            <button id="btnProyCerrados" class="btn btn-block btn-sm btn-primary">Proy Cerrados</button>
                            @*<button id="btnProyDetCerrados" class="k-button">Det Proy Cerr.</button>*@
                            <button id="btnProyVentas" class="btn btn-block btn-sm btn-primary">Proy Ventas</button>
                            <button id="btnProyServicios" class="btn btn-block btn-sm btn-primary">Proy Servicios</button>
                            <button id="btnProyPorFacturar" class="btn btn-block btn-sm btn-primary">Por Facturar</button>
                            <button id="btnProyGrafico" class="btn btn-block btn-sm btn-primary">Gráficos</button>
                            <button id="btnProyIndicadores" class="btn btn-block btn-sm btn-primary">Indicadores</button>
                        }

                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="card main-card">
            <div class="card-header"><span id="spanTitulo"></span></div>
            <div class="card-body">
                <div id="divCuerpo">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        if(@ViewBag.VistaPMO==1){
            $("#spanTitulo").html('PROYECTOS RELEVANTES');
            $("#divCuerpo").load("/OrderForm/RptProyectoRelevante?var=" + Math.random());
        }else{
            $("#spanTitulo").html('Transferencia de Proyectos a Operaciones - Detalle');
            $("#divCuerpo").load("/OrderForm/RptSoporteDet?var=" + Math.random());
        }

        $("#btnProyRelevantes").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('PROYECTOS RELEVANTES');
            $("#divCuerpo").load("/OrderForm/RptProyectoRelevante?var=" + Math.random());
        });

        $("#btnProyCerrados").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('PROYECTOS CERRADOS');
            $("#divCuerpo").load("/OrderForm/RptProyectoCerrado?var=" + Math.random());
        });

        //$("#btnProyDetCerrados").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('DETALLE DE PROYECTOS CERRADOS');
        //    $("#divCuerpo").load("/OrderForm/RptProyectoDetalleCerrado?var=" + Math.random());
        //});

        $("#btnProyVentas").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TOP PROYECTO DE VENTAS');
            $("#divCuerpo").load("/OrderForm/RptProyectoVentas?var=" + Math.random());
        });

        $("#btnProyServicios").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TOP PROYECTO DE SERVICIOS');
            $("#divCuerpo").load("/OrderForm/RptProyectoServicios?var=" + Math.random());
        });

        $("#btnProyPorFacturar").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TOP PROYECTO POR FACTURAR');
            $("#divCuerpo").load("/OrderForm/RptProyectosPorFacturar?var=" + Math.random());
        });

        $("#btnProyGrafico").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('REPORTES GRÁFICOS');
            $("#divCuerpo").load("/OrderForm/RptGraficos?var=" + Math.random());
        });

        $("#btnProyIndicadores").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('INDICADORES - PROYECTOS CERRADOS');
            $("#divCuerpo").load("/OrderForm/RptIndicadores?var=" + Math.random());
        });

    });

</script>
