@{
    Layout = null;
}

<div class="box">
    <form id="Parametro">

        <div class="box-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cbPM">Project Manager</label>
                        <select id="cbPM" name="cbPM" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cbAño">Año Inicio</label>
                        <select id="cbAño" name="cbAño" class="form-control select2" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cbMes">Mes Inicio</label><br />
                        <select id="cbMes" name="cbMes" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cbAñoFin">Año Fin</label>
                        <select id="cbAñoFin" name="cbAñoFin" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="cbMesFin">Mes Fin</label><br />
                        <select id="cbMesFin" name="cbMesFin" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label></br></label>
                        <button id="btnBuscar" type="button" class="ladda-button mb-2 mr-2 btn btn-warning btn-block" data-style="expand-right">
                            <span class="ladda-label">
                                <i class="fa fa-search"></i> Buscar
                            </span>
                            <span class="ladda-spinner">
                            </span><div class="ladda-progress" style="width: 0px;"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box" style="margin-top:10px;">
    <div class="box-body">
        <iframe id="RSTransferenciaOP" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReport() {
        window.frames["RSTransferenciaOP"].src = "/Reporting/OrderForm/ProyCerrado.aspx?var=" + Math.random()
            + "&cbPM=" + $("#cbPM").val() + "&cbAño=" + $("#cbAño").val() + "&cbMes=" + $("#cbMes").val() + "&cbAñoFin=" + $("#cbAñoFin").val() + "&cbMesFin=" + $("#cbMesFin").val();
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        //var PM = $("#PM").kendoComboBox({
        //    autoBind: false,
        //    dataTextField: "ASSI",
        //    dataValueField: "ID_PERS_ENTI",
        //    suggest: true,
        //    dataSource: {
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/AccountEntity/AssigneByQueue?filter[filters][0][field]=ID_QUEU&filter[filters][0][value]=22&var=" + Math.random()
        //        }
        //    }
        //}).data("kendoComboBox");

        $("#cbPM").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountEntity/ListarProjectManager",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbAño").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Ticket/ListarAños",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };

                },
            },
        });

        $("#cbMes").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Ticket/ListarMeses",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };

                },
            },
        });

        $("#cbAñoFin").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountingYear/ListarAños",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };

                },
            },
        });

        $("#cbMesFin").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/AccountingMonth/ListarMeses",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };

                },
            },
        });

        $("#btnBuscar").click(function (event) {
            GenerateReport();
            event.preventDefault();
        });

    });

</script>

