@{
    Layout = null;
}
<style>
    b {
        color:#F83C50;
    }
</style>
<div class="box">
    <form id="Parametro">

        <div class="box-body">
            <div id="msjAlerta"></div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbPM">Fecha Inicio - Creación OP </label>
                        <input type="text" class="form-control pull-right" id="dtFechaCreacionInicio">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbPM">Fecha Fin - Creación OP </label>
                        <input type="text" class="form-control pull-right" id="dtFechaCreacionFin">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbPM">Fecha Inicio - Soporte OP </label>
                        <input type="text" class="form-control pull-right" id="dtFinSoporteInicio">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbPM">Fecha Fin - Soporte OP</label>
                        <input type="text" class="form-control pull-right" id="dtFinSoporteFin">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbCliente">Cliente</label>
                        <select id="cbCliente" name="cbCliente" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbClienteFinal">Cliente Final</label>
                        <select id="cbClienteFinal" name="cbClienteFinal" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="cbMarca">Marca</label>
                        <select id="cbMarca" name="cbMarca" class="form-control select2" style="width:100%" ></select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="cbClienteFinal">OP</label>
                    <input id="txtOP" name="txtOP" class="form-control" type="text" />
                </div>

                <div class="col-sm-1">
                    <div class="form-group">
                        <label for="cbClienteFinal">&nbsp;</label>
                        <button id="btnBuscar" type="button" class="btn btn-warning btn-sm">
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="box" style="margin-top:10px;">
    <div class="box-body">
        <iframe id="RSSoportesCab" style="height:570px; width:100%;border: 0px #eee solid;"></iframe>
    </div>
</div>

<script type="text/javascript">
    function GenerateReport() {
        window.frames["RSSoportesCab"].src = "/Reporting/OrderForm/SoportesCabecera.aspx?var=" + Math.random()
            + "&OP=" + $("#txtOP").val() + "&cbCliente=" + $("#cbCliente").val() + "&cbClienteFinal=" + $("#cbClienteFinal").val() + "&cbMarca=" + $("#cbMarca").val() + "&dtFechaCreacionInicio=" + $("#dtFechaCreacionInicio").val() + "&dtFechaCreacionFin=" + $("#dtFechaCreacionFin").val() + "&dtFinSoporteInicio=" + $("#dtFinSoporteInicio").val() + "&dtFinSoporteFin=" + $("#dtFinSoporteFin").val();
        //alert("/Reporting/OrderForm/TransferenciaProyectos.aspx?OP=" + $("#txtOP").val() + "&cbCliente=" + $("#cbCliente").val() + "&cbClienteFinal=" + $("#cbClienteFinal").val() + "&cbMarcaED=" + $("#cbMarcaED").val() + "&cbMarcaFAB=" + $("#cbMarcaFAB").val() + "&dtFechaCierreInicio=" + $("#dtFechaCierreInicio").val() + "&dtFechaCierreFin=" + $("#dtFechaCierreFin").val() + "&dtSoporteEDInicio=" + $("#dtSoporteEDInicio").val() + "&dtSoporteEDFin=" + $("#dtSoporteEDFin").val() + "&dtSoporteFABInicio=" + $("#dtSoporteFABInicio").val() + "&dtSoporteFABFin=" + $("#dtSoporteFABFin").val());
        //var a = "/Reporting/OrderForm/TransferenciaProyectos.aspx?OP=" + $("#txtOP").val() + "&cbCliente=" + $("#cbCliente").val() + "&cbClienteFinal=" + $("#cbClienteFinal").val() + "&cbMarcaED=" + $("#cbMarcaED").val() + "&cbMarcaFAB=" + $("#cbMarcaFAB").val() + "&dtFechaCierreInicio=" + $("#dtFechaCierreInicio").val() + "&dtFechaCierreFin=" + $("#dtFechaCierreFin").val() + "&dtSoporteEDInicio=" + $("#dtSoporteEDInicio").val() + "&dtSoporteEDFin=" + $("#dtSoporteEDFin").val() + "&dtSoporteFABInicio=" + $("#dtSoporteFABInicio").val() +
        //    "&dtSoporteFABFin=" + $("#dtSoporteFABFin").val();
        //debugger;
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#msjAlerta").hide();

        $('#dtFechaCreacionInicio').kendoDatePicker();
        $('#dtFechaCreacionFin').kendoDatePicker();
        $('#dtFinSoporteInicio').kendoDatePicker();
        $('#dtFinSoporteFin').kendoDatePicker();

        $("#cbCliente").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/ClassEntity/ListarCompania",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbClienteFinal").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/ClassEntity/ListarCompania",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        $("#cbMarca").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumResultsForSearch: 1,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/SoporteFabricante/ListarFabricante",
                dataType: 'json',
                //type: "POST",
                //params: {
                //    contentType: 'application/json; charset=utf-8'
                //},
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            }
        });

        $("#cbMarcaFAB").select2({
            id: function (e) { return e.id; },
            placeholder: 'Seleccione...',
            minimumResultsForSearch: 1,
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/SoporteFabricante/ListarFabricante",
                dataType: 'json',
                //type: "POST",
                //params: {
                //    contentType: 'application/json; charset=utf-8'
                //},
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            }
        });

        //var PM = $("#PM").kendoComboBox({
        //    autoBind: false,
        //    dataTextField: "ASSI",
        //    dataValueField: "ID_PERS_ENTI",
        //    suggest: true,
        //    dataSource: {
        //        schema: {
        //            data: "Data",
        //            total: "Count"
        //        },
        //        transport: {
        //            read: "/AccountEntity/AssigneByQueue?filter[filters][0][field]=ID_QUEU&filter[filters][0][value]=22&var=" + Math.random()
        //        }
        //    }
        //}).data("kendoComboBox");

        //$("#cbPM").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/AccountEntity/ListarProjectManager",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };
        //        },
        //    },
        //});

        //$("#cbAño").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/Ticket/ListarAños",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };

        //        },
        //    },
        //});

        //$("#cbMes").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/Ticket/ListarMeses",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };

        //        },
        //    },
        //});

        //$("#cbAñoFin").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/AccountingYear/ListarAños",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };

        //        },
        //    },
        //});

        //$("#cbMesFin").select2({
        //    id: function (e) { return e.id; },
        //    placeholder: 'Seleccione...',
        //    minimumInputLength: 0,
        //    multiple: false,
        //    allowClear: true,
        //    ajax: {
        //        url: "/AccountingMonth/ListarMeses",
        //        dataType: 'json',
        //        quietMillis: 100,
        //        data: function (params) {
        //            return {
        //                q: params.term,
        //                page: params.page
        //            };
        //        },
        //        processResults: function (data, page) {
        //            return { results: data };

        //        },
        //    },
        //});

        $("#btnBuscar").click(function (event) {
            GenerateReport();
            event.preventDefault();
        });

    });

</script>

