@{
    Layout = null;
}

<div id="divInformacionProyecto"></div>

<div class=" mb-3 card">
    <div class="card-header">Tickets</div>
    <div class="card-body">
        <ul class="todo-list-wrapper list-group list-group-flush">
            <div id="divTicketAsociado"></div>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/OrderForm/ListarInfoAdicional/@ViewBag.ID_DOCU_SALE",
            type: "GET",
            dataType: "json",
            success: function (source) {
                showDetailsDocuSale(source);
            },
            error: function (source) {
                toastr.error("Error al cargar la información.","");
            }
        });
        
    
        $.ajax({
            url: "/OrderForm/ObtenerTicketsProyecto/@ViewBag.ID_DOCU_SALE",
            type: "GET",
            cache: false,
            dataType: "json",
            success: function (source) {
                mostrarTicketAsociado(source);
            },
            error: function (source) {
                toastr.error("Error al cargar tickets.", "");
            }
        });
    });

    function showDetailsDocuSale(data1) {
        $("#divInformacionProyecto").empty();
        $.each(data1['Data'], function (index, value) {

            $("#divInformacionProyecto").append(
                '<div class="mb-3 card">' +
                    '<div class="card-header">Datos OP</div>'+
                    '<div class="card-body">'+
                        '<div class="form-group">'+
                            '<div class="row">'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Compañía Servicio</div>'+
                                                '<div class="widget-subheading opacity-7">'+(data1['Data'][index]['NAM_COMP'])+'</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Estado</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['NAM_STAT_DOCU_SALE']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">OS</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['OS']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Fecha de Creación</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['DAT_DOCU_SALE']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Tiempo de Expiración</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['EXP_DATE']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>' +
                        '<div>'+
                            '<div class="row">'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Creado por</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['UserReg']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Vendedor</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['Vendor']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Correo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['VendorEma']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Teléfono</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['VendorTel']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Anexo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['VendorExt']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</div>'+
                '<div class="mb-3 card">' +
                    '<div class="card-header">Datos Cliente</div>'+
                    '<div class="card-body">'+
                        '<div class="form-group">'+
                            '<div class="row">'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Cliente</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ClieName']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Dirección</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ClieAddr']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Teléfono</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ClieTele']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Anexo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ClieExte']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="form-group">'+
                            '<div class="row">'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Cliente Final</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['EndClieName']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Dirección</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['EndClieAddr']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Teléfono</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['EndClieTele']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Anexo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['EndClieExte']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>' +
                
                        '<div>'+
                            '<div class="row">'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Contacto</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ContUser']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-4">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Correo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ContCorreo']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Cargo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ContJobT']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Teléfono</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ContTele']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<div class="widget-content p-0">'+
                                        '<div class="widget-content-wrapper">'+
                                            '<div class="widget-content-left flex2">'+
                                                '<div class="widget-heading">Anexo</div>'+
                                                '<div class="widget-subheading opacity-7">' + (data1['Data'][index]['ContExte']) + '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>' +
                '</div>'
            );
        });
    }

       
    function mostrarTicketAsociado(dataCierre) {
        $("#divTicketAsociado").empty();
        $.each(dataCierre['Data'], function (index, value) {
            $("#divTicketAsociado").append(
                '<li class="list-group-item">'+
                    '<div class= "todo-indicator bg-secondary" ></div >'+
                    '<div class="widget-content p-0">'+
                        '<div class="widget-content-wrapper">'+
                            '<div class="widget-content-left mr-2"></div>'+
                            '<div class="widget-content-left mr-3">'+
                                '<div class="widget-content-left">'+
                                    '<img width="42" class="rounded" src="/Content/Fotos/' + (dataCierre['Data'][index]['FotoEspecialista']) + '.jpg" alt="">'+
                                '</div>'+
                            '</div>'+
                            '<div class="widget-content-left">'+
                                '<div class="widget-heading">Especialista</div>'+
                                '<div class="widget-subheading">' + (dataCierre['Data'][index]['Especialista']) + '</div>'+
                            '</div>'+
                            '<div class="mr-4"></div>'+
                            '<div class="widget-content-left">'+
                                '<div class="widget-heading">Código Ticket</div>'+
                                '<div class="widget-subheading"><a href="\\DetailsTicket/Index/' + (dataCierre['Data'][index]['IdTicket']) + '" target="_blank">' + (dataCierre['Data'][index]['Codigo']) + '</a></div>'+
                            '</div>'+
                            '<div class="mr-4"></div>'+
                            '<div class="widget-content-left">'+
                                '<div class="widget-heading">Estado</div>'+
                                '<div class="widget-heading"><div style="color:' + (dataCierre['Data'][index]['ColorEstado']) + '">' + (dataCierre['Data'][index]['Estado']) + '</div></div>'+
                            '</div>'+
                            '<div class="mr-4"></div>'+
                            '<div class="widget-content-left">'+
                                '<div class="widget-heading">Archivo</div>'+
                                '<div class="widget-subheading">' + (dataCierre['Data'][index]['Archivo']) + '</div>'+
                            '</div>'+
                        '</div>'+
                    '</div>'+
                '</li>'
            );
        });
    }


</script>