@{
    Layout = null;
}

<div class="box-body">
    <table class="table table-bordered table-striped" id="tbTraza">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Campo</th>
                <th>Valor Inicial</th>
                <th>Valor Final</th>
                <th>Usuario</th>
                <th>Fecha Creación</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ListarTrazabilidad();
    });

    function ListarTrazabilidad(){
        $('#tbTraza').dataTable().fnDestroy();

        $('#tbTraza').DataTable({
                "order": [[0, "asc"]],
                responsive: true,
                dom: 'Bfrtip',
            ajax: "/OrderForm/ListarTransacciones/@ViewBag.ID_DOCU_SALE",
                columns: [
                    { data: "Tipo" },
                    { data: "Campo" },
                    { data: "ValorOriginal" },
                    { data: "ValorNuevo" },
                    { data: "Usuario" },
                    { data: "FechaRegistro" },
                ],
                buttons: [
                    'csv', 'excel', 'pdf', 'print'
                ]
            });
    }


</script>