@{
    Layout = null;
}

    <table id="tbViaticos" class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Solicitante</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Fecha Creación</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

<script type="text/javascript">
    $(document).ready(function () {

        $('#tbViaticos').dataTable().fnDestroy();

        var table = $('#tbViaticos').DataTable({
            responsive: true,
            ajax: {
                "url": "/OrderForm/ListarViatico/@ViewBag.ID_DOCU_SALE",
            },
            columns: [
                { data: "CODIGOVIAT" },
                { data: "NOMBRE" },
                { data: "MONEDA" },
                { data: "MONTO" },
                { data: "DESCRIPCION" },
                { data: "ESTADO" },
                { data: "FECHACREA" },               
            ],
            buttons: [
                'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>
