@{
//Layout = null;
}
<link href="~/Content/themes/plugin/iCheck/square/blue.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/iCheck/icheck.js"></script>
<link href="~/Content/themes/plugin/select2/select2.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/select2/select2.full.js"></script>
<link href="~/Content/themes/plugin/datepicker/datepicker3.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/datepicker/bootstrap-datepicker.js"></script>
<link href="~/Content/UtilElectrodata.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<link href="~/Content/themes/plugin/DataTables/datatables.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/Buttons-1.4.2/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/Content/themes/plugin/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/ITMS/styles.css" rel="stylesheet" />
<script src="~/Content/themes/plugin/DataTables/datatables.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/buttons.bootstrap.js"></script>
<script src="~/Content/themes/plugin/DataTables/Buttons-1.4.2/js/dataTables.buttons.js"></script>
<script src="~/Content/themes/plugin/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
<script src="~/Content/themes/plugin/toastr/toastr.min.js"></script>
<link href="~/Content/themes/plugin/toastr/toastr.min.css" rel="stylesheet" />

<style type="text/css">
</style>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="font-icon-wrapper font-icon-lg">
                <i class="fa fa-file icon-gradient bg-sunny-morning"> </i>
            </div>
            <div>
                <div class="titleModule"><b>Gestión de Personas</b></div>
                <div class="page-title-subheading">

                </div>
            </div>
            <div class="derecha">
            </div>
        </div>
    </div>
</div>

<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            Personas por Compañía
        </div>
    </div>
    <div class="p-4 card-body">
        <div class="p-1 slick-slider-sm mx-auto">
            <div class="row">
                <div class="col-lg-3">
                    <div class="editor-label">
                        Compañia
                    </div>
                    <div class="editor-field">
                        <select id="cbCompania" name="cbCompania" class="form-control select2" type="text" style="width:100%"></select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="editor-label">
                        Sexo
                    </div>
                    <select class="form-control input-sm select2" name="Sexo" id="Sexo" type="text" style="width:100%">
                        <option value="">Seleccione.</option>
                        <option value="M">MASCULINO</option>
                        <option value="F">FEMENINO</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <div class="editor-label">
                        Tipo Usuario
                    </div>
                    <div class="editor-field" style="width:100%;">
                        <select id="cbUser" name="cbUser" class="form-control select2" type="text" style="width:100%"></select>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
@*<div class="panel panel-primary" style="width:100%;float:left;">*@
@*<div class="panel-heading">
        <span>Personas por Compañía</span>
    </div>

    <div class="panel-body">
        <div class="bodyForm" id="divPersona">
            <div style="width: 100%; margin: 0px auto;"></div>
            <div class="col-md-3">
                <div>Compañia</div>
                <select id="cbCompania" name="cbCompania" class="form-control select2" type="text" style="width:100%" />
            </div>
            <div class="col-md-3">
                <div> Sexo</div>
                <select class="form-control input-sm select2" name="Sexo" id="Sexo">
                    <option value="">Seleccione.</option>
                    <option value="M">MASCULINO</option>
                    <option value="F">FEMENINO</option>
                </select>
            </div>
            <div class="col-md-3">
                <div> Tipo Usuario</div>
                <select id="cbUser" name="cbUser" class="form-control select2" type="text" style="width:100%" />
            </div>
        </div>
    </div>*@
@*<div class="mb-3 card">
    <div class="p-4 card-body">*@

<div class="row">
    <div class="col-lg-12 col-xs-12">

        <div class="main-card card">


            <table id="tablaPersonasC" class="table table-bordered table-striped table-responsive" style="width:100%;">
                <thead>
                    <tr>
                        <th style="width:15%;">Nombres</th>
                        <th>Sexo</th>
                        <th>Celular</th>
                        <th>Celular Personal</th>
                        <th>RPM</th>
                        <th>Correo</th>
                        <th>Fotocheck</th>
                        <th>Cargo</th>
                        <th>Usuario</th>
                        <th>Tipo de Usuario</th>

                        <th width="8%;" class="opciones">Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="width:15%;">Nombres</th>
                        <th>Sexo</th>
                        <th>Celular</th>
                        <th>Celular Personal</th>
                        <th>RPM</th>
                        <th>Correo</th>
                        <th>Fotocheck</th>
                        <th>Cargo</th>
                        <th>Usuario</th>
                        <th>Tipo de Usuario </th>
                        <th width="8%;" class="opciones">Opciones</th>
                    </tr>
                </tfoot>
            </table>
            <div id="pager" class="contentViewPager">
            </div>
        </div>
    </div>
</div>

@*</div>
    </div>*@
@*<div style="width: 100%; margin:15px auto;">
        <div class="box">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                         TABLA DE COMPAÑIA

                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*</div>*@
<!-- EDITAR PERFIL -->
<div class="modal fade" id="modalEditar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="tamModalRenovacion">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-backdrop="false" id="cerrarAsig"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar </h4>
            </div>
            <div class="modal-body">
                <div id="divEditar"></div>
                <!-- CONTENIDO -->
            </div>
        </div>
    </div>
</div>
<!-- EDITAR PERFIL -->
<script type="text/javascript">
    //lista de compania
    $(document).ready(function () {
        //validacion para los combos
        $("#cbCompania").on('change', function (e) {
            var comp = $("#cbCompania").val() == null ? 0 : $("#cbCompania").val();
            var sexo = $("#Sexo").val() == null || $("#Sexo").val() == '' ? 0 : $("#Sexo").val();
            var Tuser = $("#cbUser").val() == null ? 0 : $("#cbUser").val();
            Listar(comp, sexo, Tuser);
        });

        $("#Sexo").on('change', function (e) {
            var comp = $("#cbCompania").val() == null ? 0 : $("#cbCompania").val();
            var sexo = $("#Sexo").val() == null || $("#Sexo").val() == '' ? 0 : $("#Sexo").val();
            var Tuser = $("#cbUser").val() == null ? 0 : $("#cbUser").val();
            Listar(comp, sexo, Tuser);
        });
        $("#cbUser").on('change', function (e) {
            var comp = $("#cbCompania").val() == null ? 0 : $("#cbCompania").val();
            var sexo = $("#Sexo").val() == null || $("#Sexo").val() == '' ? 0 : $("#Sexo").val();
            var Tuser = $("#cbUser").val() == null ? 0 : $("#cbUser").val();
            Listar(comp, sexo, Tuser);
        });

        $("#cbCompania").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/listarCompania/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });
        // lista de Tipo de sexo
        $('#Sexo').select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
        });
        //cargar grilla
        $("#Sexo").on('change', function (e) {
            var se = $("#Sexo").val();
            // Listar(se)
        });
        //lista de tipo de usuario
        $("#cbUser").select2({
            placeholder: 'Seleccione...',
            minimumInputLength: 0,
            multiple: false,
            allowClear: true,
            ajax: {
                url: "/Persona/ListarUser/",
                dataType: 'json',
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page
                    };
                },
                processResults: function (data, page) {
                    return { results: data };
                },
            },
        });

        Listar(0, 0, 0);

    });

    function Listar(compania, sexo, tipoUser) {

        $.fn.dataTable.ext.errMode = 'none';
        $('#tablaPersonasC').dataTable().fnDestroy();

        var tablaPersonas = $('#tablaPersonasC').DataTable({
            "order": [[0, "asc"]],
            responsive: true,
            dom: 'Bfrtip',
            ajax: "/Persona/Listar?idCompania=" + compania + "&Sexo=" + sexo + "&IdTipoUsuario=" + tipoUser + "&PalabraClave=0&IdCuenta=0&UserId",
            columns: [

                {
                    data: null,
                    render: function (data, type, row) {
                        return '<p>' + data.FIR_NAME + ' ' + '<p>' + data.SEC_NAME + ' ' + '<p>' + data.LAS_NAME + '</p>' + data.MOT_NAME + ' ' + '</p>';
                    }
                },
                { data: "SEX_ENTI" },
                { data: "CEL_ENTI" },
                { data: "CEL_PERS" },
                { data: "RPM_PERS" },
                { data: "EMA_PERS" },
                { data: "FOT_PERS" },
                { data: "CAR_PERS" },
                { data: "UAD_PERS" },
                { data: "NAM_TYPE_CLIE" },

                {
                    data: null,
                    render: function (data, type, row) {
                        var opcionc = "";
                        opcion =
                            //'<span  id="' + data.ID_PERS_ENTI + '" title="Editar" class="glyphicon glyphicon-edit" aria-hidden="true" style="color: #345574; cursor: pointer; font-size:15px;" data-toggle="modal" data-target="#modalEditar" onclick="Editar(' + data.ID_PERS_ENTI + ');"></span>' +
                            //'&nbsp; &nbsp; &nbsp;' +
                            //'<span  id="' + data.ID_PERS_ENTI + '" title="Eliminar" class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #BA141A; cursor: pointer; font-size:15px;" onclick="Eliminar(' + data.ID_PERS_ENTI + ');"></span>';
                            '<div class="form-row">' +
                            '<div class="col-md-3" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer"id="btnEditar' + data.ID_PERS_ENTI + '" title="Editar" class="border-0 btn-transition btn btn-outline-secondary" onclick="Editar(' + data.ID_PERS_ENTI + ')" ><i class="fa fa-pencil-alt"></i></button></div>' +
                            '<div class="col-md-3" style="text-align:center"><button type="button" style="font-size:15px;cursor:pointer;color:red"id="btnEliminar' + data.ID_PERS_ENTI + '" title="Eliminar" class="border-0 btn-transition btn btn-outline-secondary" onclick="Eliminar(' + data.ID_PERS_ENTI + ')"><i class="fa fa-trash-alt"></i></button></div></div>';
                        return opcion;
                    }
                },
            ],
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        'excel',
                        'csv',
                        'pdf',
                    ]
                }
            ]
        });
    }

    function Editar(Id) {

        //$("#divEditar").load("/Persona/Editar/" + Id + "?var=" + Math.random());

        $("#lblTitulo").text("Editar");

        $("#btnEditar" + Id).attr("data-style", "expand-right");
        $("#btnEditar" + Id).attr("data-toggle", "modal");
        $("#btnEditar" + Id).attr("data-target", "#miModal");

        $(".modal-dialog").removeClass("modal-sm");
        $(".modal-dialog").removeClass("modal-lg");
        $('#modal-content').empty();
        $('#modal-content').load('/Persona/Editar/' + Id);
    }

    function Eliminar(Id) {
        var params = {
            id: Id
        };
        $.ajax({
            url: "/Persona/EditarEstado",
            data: params,
            type: "POST",
            cache: false,
            dataType: "text",
            success: function (resp) {
                Mensaje(resp);
            }
        });
    }
    function Mensaje(msg) {
        if (msg == "OK") {
            //var title = 'Usuario Eliminado';
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //    "<div style='padding:10px 0px 10px 10px;'>El Usuario ha sido eliminado.</div>" +
            //    "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //    "<button id='btnContinues' class='k-button'>Continuar</button>" +
            //    "</div></div>";
            //closeWinModalPopUp();
            //$("#closebtnmodal").click(function () {
            //    $("#Buscar").click();
            //    closeWinModalPopUp();
            //});

            //$("#btnContinues").click(function () {

            //    $("#Buscar").click();
            //    winPopUpModal(title, body, 400, 140);
            //    closeWinModalPopUp();
            //});

            toastr.success("El Usuario ha sido eliminado.", "Usuario Eliminado'");
            $("[data-dismiss=modal]").trigger({ type: "click" });
            Listar(0, 0, 0);
        } else {
            //var title = 'Mensaje';
            //var body = "<div style='border-bottom:1px dotted #dadada;padding:0px 0px 20px 0px;'>" +
            //    "<div style='padding:10px 5px 10px 10px;'>" + msg + "</div>" +
            //    "<div style='float:right; padding:30px 6px 0px 6px; font-size:0.9em;'>" +
            //    "<button id='btnContinuee' class='k-button'>Continuar</button>" +
            //    "</div></div>";

            //winPopUpModal(title, body, 420, 140);

            //$("#btnContinuee").click(function () {
            //    $("#dlg").hide('200', "swing", function () {
            //        $("#bkg").fadeOut("300");

            //    });

            //});
            toastr.error(msg, "Mensaje");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
        
    }

    function uploadDoneNR(msg, msnErr) {
        if (msg == 'OK') {
            //$('#modalEditar').modal('hide');
            //$('#SmallModalContent').modal('show');
            //$("#SmallModalTitle").empty();
            //$("#SmallModalTitle").text("Mensaje")
            //$("#SmallModalBody").empty();
            //$("#SmallModalBody").append("<div style='padding:10px 0 10px 0;'>" + msnErr + "</div>");
            //$("#SmallModalFooter").empty();
            //$("#SmallModalFooter").append("<div style='float:right;'>" + "<button id='continues' class='k-button'>Continuar</button></div>");

            //var undo = $("#continues")
            //    .bind("click", function () {
            //        Listar(0, 0, 0);

            //        $('#SmallModalContent').modal('hide');
            //    });

            //$("#closebtnmodal").click(function () {
            //});
            toastr.success(msnErr, "Mensaje");
            $("[data-dismiss=modal]").trigger({ type: "click" });
            Listar(0, 0, 0);

           
            //swal({
            //    title: "Mensaje",
            //    type: "success",
            //    text: msnErr
            //}, function () {
            //        Listar(0, 0, 0);
            //}
            //);
            //return false;

        }
        else {

            //$('#mensaje').empty();
            //$('#mensaje').show("show");
            //$("#mensaje").append("<div class='alert alert-danger'><strong>¡Alerta!</strong> " + msnErr + " </div>");
            //setTimeout(function () {
            //    $("#mensaje").fadeOut(5500);
            //}, 1000);

            toastr.error(msnErr, "¡Alerta!");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        }
    }
</script>
