@{
    ViewBag.Title = "Seguridad";
    //Layout = null;
}




<style>
    .navVertical {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .navVertical ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style: none;
        }

            .navVertical ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
                border-bottom: 1px solid #e2e2e2;
                width: 100%;
            }

                .navVertical ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    .navVertical ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    .navVertical ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    #navDT {
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        #navDT ul {
            margin: 0px;
            margin-top: 2px;
            /*border:solid 1px #e2e2e2;*/
            /*background-color:#e2e2e2;*/
            display: inline-block;
            list-style: none;
            padding: 0px;
            width: 100%;
            border-top: solid 1px #e2e2e2;
            /*border-bottom:solid 1px #e2e2e2;*/
        }

            #navDT ul li {
                float: left;
                color: #022A41;
                font-size: 13px;
                margin: 0px;
                padding: 0px;
            }

                #navDT ul li a {
                    text-decoration: none;
                    color: #022A41;
                }

                    #navDT ul li a div {
                        padding: 6px 10px 6px 10px;
                    }

                    #navDT ul li a:hover div {
                        background-color: #022A41;
                        color: #e2e2e2;
                    }

    .activeNavDT {
        background-color: #022A41;
        color: #e2e2e2;
    }
</style>
<div class="tab-content">
    <div class="row">
        <div class="col-lg-2">
            <div class="main-card mb-3 card">
                <div class="card-header">Opciones</div>
                <div class="card-body">
                    <div id="divOpciones" style="padding:5px;">
                        <center>
                            <button id="btnSeguimiento" class="btn btn-block btn-sm btn-primary">Seguimiento</button>
                            <button id="btnSeguimientoTicket" class="btn btn-block btn-sm btn-primary">Tk Estados</button>
                            <button id="btnAtenciones" class="btn btn-block btn-sm btn-primary">Ate Diario</button>
                            <button id="btnCreadoCerrado" class="btn btn-block btn-sm btn-primary">Tk Mensual</button>
                            <button id="btnPrioridad" class="btn btn-block btn-sm btn-primary">Prioridad</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-12" id="divInfoComercial">
                    <div class="mb-3 card">
                        <div class="card-header">
                            <span id="spanTitulo" style="font-size:12.5px"></span>
                        </div>
                        <div id="divCuerpo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="panel panel-default" style="float:left; width:10%;">
    <div class="panel-heading">Opciones</div>
    <div class="panel-body">
        <div id="divOpciones">
            <center>
            </center>
        </div>
    </div>
</div>*@

@*<div class="panel panel-primary" style="float:right; width:89%;">
    <div class="panel-heading">
        <span id="spanTitulo"></span>
    </div>
    <div class="panel-body">
        <div id="divCuerpo">
        </div>
    </div>
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

<script type="text/javascript">

    $(document).ready(function () {

        $("#spanTitulo").html('SEGUIMIENTO DE TICKETS');
        $("#divCuerpo").load("/TicketReporte/Seguimiento?var=" + Math.random());

        $("#btnSeguimiento").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('SEGUIMIENTO DE TICKETS - PENDIENTES DE RESOLUCIÓN');
            $("#divCuerpo").load("/TicketReporte/Seguimiento?var=" + Math.random());
        });

        $("#btnSeguimientoTicket").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('SEGUIMIENTO DE TICKETS POR ESTADOS');
            $("#divCuerpo").load("/TicketReporte/RptTicketSeguimiento?var=" + Math.random());
        });

        $("#btnAtenciones").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('ATENCIONES DIARIAS DEL MES');
            $("#divCuerpo").load("/TicketReporte/Atenciones?var=" + Math.random());
        });

        $("#btnCreadoCerrado").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TICKETS CREADOS Y CERRADOS POR MES');
            $("#divCuerpo").load("/TicketReporte/TicketsCreaCierraMes?var=" + Math.random());
        });

        $("#btnPrioridad").click(function () {
            $("#divCuerpo").empty();
            $("#spanTitulo").html('TICKETS POR PRIORIDAD');
            $("#divCuerpo").load("RptTicketPrioridad?var=" + Math.random());
        });

        //$("#btnRanking").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('RANKING');
        //    $("#divCuerpo").load("/TicketReporte/Ranking?var=" + Math.random());
        //});

        //$("#btnGestionDiaria").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('GESTIÓN DIARIA');
        //    $("#divCuerpo").load("/TicketReporte/GestionDiaria?var=" + Math.random());
        //});

        //$("#btnGestionAnalista").click(function () {
        //    $("#divCuerpo").empty();
        //    $("#spanTitulo").html('GESTIÓN POR ANALISTA');
        //    $("#divCuerpo").load("/TicketReporte/GestionAnalista?var=" + Math.random());
        //});

    });

</script>
