@{
    ViewBag.Title = "Index";
    Layout = null;
}

<style>
    .lock-word {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -470px;
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 100;
    }

    img.circle-border {
        border: 6px solid #808080;
        border-radius: 50%;
    }

    .lock-word span {
        font-size: 100px;
        font-weight: 600;
        color: #e9e9e9;
        display: inline-block;
    }

    .lock-word .first-word {
        margin-right: 160px;
    }

    .middle-box {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -250px;
        margin-left: -200px;
        z-index: 100;
    }

    .lockscreen.middle-box {
        width: 200px;
        margin-left: -100px;
        margin-top: -190px;
    }
</style>

<body class="gray-bg">
    <div style="background-color:beige;">
        <div class="lock-word animated fadeInDown">
            <span class="first-word">PAGINA</span><span>BLOQUEADA</span>
        </div>
        <div class="middle-box text-center lockscreen animated fadeInDown">
            <div>
                <div class="m-b-md">
                    <img alt="image" class="img-circle circle-border" width="150" height="150" src="~/Content/Fotos/@ViewBag.Foto">
                </div>
                <h3>@ViewBag.Nombre</h3>
                <p>Para acceder a esta parte del Sistema, contacte al Administrador. Sistemas&#64;electrodata.com.pe</p>
                <br />
                <p>Copyright &copy; 2017<br />Derechos Reservados ED</p>
            </div>
        </div>
    </div>
</body>
